[2013-07-15 16:38] paulmillr opened #1 "MIT and BSD also allow private use"
You may use MIT stuff without distributing it.

[2013-07-15 16:42] prabirshrestha commented on #1
apache v2 too.

[2013-07-15 16:43] anaisbetts commented on #1
Private use is not distribution, so I don't know that any of these concerns apply with the exception of the AGPL

[2013-07-15 16:48] andypiper opened #3 "List of OSI-approved OSS licenses"
The OSI maintains a list of approved OSS licenses here:

http://opensource.org/licenses/alphabetical

It would be good to see these added to the options, although perhaps with a smaller subset suggested by default.

(there's also the WTFPL but that may not be suitably "family friendly"?)

[2013-07-15 16:51] haacked commented on #3
Thanks for the suggestion. According to our [about page](http://choosealicense.com/about/)

We already link to opensource.org. Perhaps we should have that link point to the URL you provided. If so, feel free to submit a pull request. You can even do it in the browser by going here: https://github.com/github/choosealicense.com/blob/gh-pages/about.md and click Edit.

[2013-07-15 16:51] #3 closed, assigned to nobody

[2013-07-15 16:52] haacked commented on #1
We've tried to list things that are explicitly allowed in the license. But in this case, I think it's an educational benefit to note that every license allows private use with the exception of AGPL.

@paulmillr  or @prabirshrestha would you be interested in submitting a PR?

[2013-07-15 16:55] mitsuhiko opened #5 "Page should warn about GPLv2 and GPLv3 incompatibilities"
There is currently no indication on the page that GPLv2 and GPLv3 are not compatible.  This is especially problematic because the only two versions of the license linked are GPLv2 only and GPLv3 but not "GPLv2 or a later version".

[2013-07-15 17:02] bxt opened #6 "Phrasing "adds a restriction restricting" on front page"
I think the wording  "adds a restriction restricting" is ugly and adds more perceived complexity to GPL licenses. It is found in index.html at: "V3 is similar to V2, but adds a restriction restricting use in hardware that forbids software alterations.".

[2013-07-15 17:05] haacked commented on #6
Mind submitting a pull request? You can edit the page in the browser! Just go to here and click edit. https://github.com/github/choosealicense.com/blob/gh-pages/index.html

Perhaps something like:

Is simpler and more direct.

[2013-07-15 17:06] haacked commented on #6
Ha! You beat me to it. Thanks!

[2013-07-15 17:10] #6 closed, assigned to nobody

[2013-07-15 17:13] haacked commented on #1
BTW, the files to edit (which you can do in the browser) are:
- Apache https://github.com/github/choosealicense.com/blob/gh-pages/licenses/apache.txt
- MIT https://github.com/github/choosealicense.com/blob/gh-pages/licenses/mit.txt

Just need to add

[code]

In the permitted section. Ideally do each one in a separate commit and we can discuss in the PR if any others need it. Thanks!

[2013-07-15 17:38] webmink opened #10 "Sublicensing warning inappropriate for GPLv3"
There's a warning about sublicensing being forbidden for GPLv3 & v2 (and Affero). While this is technically correct, I think a warning is inappropriate as the risk to the license user is minimal.

Clause 10 explains that, instead of you sublicensing the original work,
    "Each time you convey a covered work, the recipient automatically receives
    a license from the original licensors, to run, m

[2013-07-15 17:53] jballanc opened #13 "Add links to additional resources"
Not sure where it would be appropriate on the site to add these, but I think it would be helpful to add links to the Wikipedia pages for the [Bern Convention](http://en.wikipedia.org/wiki/Bern_Convention) (which makes copyright automatic) and [Work For Hire](http://en.wikipedia.org/wiki/Work_for_hire) (the situation where code you write for your job is actually copyrighted to your employer, and no

[2013-07-15 17:56] jballanc commented on #13
Oh, it might also be good to link to the Open Source Initiatives [large list of OSI approved Open Source licenses](http://opensource.org/licenses/alphabetical) or even their [Open Source license FAQ](http://opensource.org/licenses).

[2013-07-15 18:53] jpmckinney commented on #13
@jballanc There is already a link to OSI: http://choosealicense.com/about/

[2013-07-15 19:06] jpmckinney commented on #1
I think it's more useful to note those licenses that forbid private use. Permitting private use is a basic assumption people make about public code.

[2013-07-15 19:09] jballanc commented on #13
@jpmckinney Ah, thanks! Missed that one...

[2013-07-15 19:16] jpmckinney commented on #10
Is there anything incorrect in the statement, re: GPL, "You may not grant a sublicense to modify and distribute this software to third parties not included in the license."? In either case, I think having consistency across license descriptions outweighs being accurate to the last detail.

[2013-07-15 19:23] webmink commented on #10
The key here is to avoid causing concern where there is none necessary for the majority of users. As far as I can see (I may be wrong), it's only the GPL family of licenses that have this language, so the "not sublicensable flag" seems to only apply to them. Since the risk to the normal Github user seems minimal, surely consistency should mean dropping the warning and remaining consistent with all

[2013-07-15 19:29] jpmckinney commented on #10
The GPL's "copyleft" clauses are the most significant ways in which it differentiates itself from other licenses, so either the "Forbidden: Licensing" verbiage needs to stay, or someone needs to propose an alternative way of communicating that GPL is copyleft, whereas most other licenses are not.

Consistency is one thing. Making all licenses appear to be identical is another!

[2013-07-15 19:35] webmink commented on #10
I do agree that the implications of the use of GPL by a project should be highlighted; I was surprised _not_ to see a warning like "all code re-used from this repository must be licensed identically" included.

However, that's not the same issue as this one, which is about sublicenseability being redundant for this license.

[2013-07-15 19:38] gossi opened #21 "Cooperation with tldrlegal.com ?"
Hey guys,

awesome service you are running there. Just a couple of weeks ago I was pointed here: http://www.tldrlegal.com
which pretty much does the same as you. Maybe you want to cooperate somehow, don't know if you already aware of this other website but I hope this hint helps in any way.

Best of luck and thanks for your work
gossi

[2013-07-15 19:48] steko commented on #5
Yeah, in general putting both licenses under the same heading is misleading, clicking on the graphic you get one or the other without any explicit indication of what you are choosing.

[2013-07-15 19:51] haacked commented on #1
@jpmckinney if I understand correctly, you're suggesting remove "private use" from "permitted" and move the entire category (with appropriate change of verbiage) to "forbidden" and then only apply it to AGPL. Right?

If so, would you be interested in submitting a PR for that change?

[2013-07-15 19:57] jpmckinney commented on #1
Will do. "Commercial Use" is "Permitted" in all the licenses, so "Private Use" is a bit redundant - unless people are worried that some readers will think commercial use is permitted but not non-commercial use :P

[2013-07-15 20:01] jpmckinney commented on #10
Ok, then what I'm saying is that, in my opinion, this issue will not be closed without it (or another issue) adding _something_ that describes what makes GPL different on the `/licenses/` page.

If we just remove the "Forbidden: Licensing" part from the GPL's description, which is what this issue is about (if I understand correctly), that would make the GPL look identical to a lot of licenses whic

[2013-07-15 20:08] jpmckinney commented on #1
See #25

[2013-07-15 20:08] haacked commented on #21
Hi @gossi thanks for pointing it out the site!

The way I see it, we're two sides of the same coin. We're focused on answering this question, "I have some source code and want to give it away. Which license do I choose."

Wherease tldrlegal seems to answer the opposite question, "This code has this license, what does it mean?".

I think both are worthwhile and important services.

If you have spec

[2013-07-15 20:08] #21 closed, assigned to nobody

[2013-07-15 20:13] haacked commented on #1
Yeah, we went back and forth on this a bit. While it is a bit redundant, part of the goal is to educate folks who don't understand licenses all that well. A person that already knows what license to choose can probably safely ignore this site.

The challenge for me is it's hard to know what people do or do not know about OSS licenses. That's kind of why we went with the bit of redundancy to make i

[2013-07-15 20:38] jpmckinney commented on #1
I'm happy to keep "Commercial Use". For "Private Use" we either need to (1) add it to all applicable licenses (which is all except maybe AGPL), which is what this issue is about, or (2) remove it from those that currently have it. In terms of choosing between the two options, if it's unclear that "Private Use" is permitted by all the licenses unless stated otherwise, then we should go with the fir

[2013-07-15 21:06] haacked opened #29 "Collapse license families on the licenses page."
The original goal for the [/licenses](http://choosealicense.com/licenses/) list was to group licenses into license families and not list every single one. For example, rather than an entry for BSD 2-clause and BSD 3 clause, we'd just have BSD and in the description we'd offer links to both of them.

However, the list of licenses in the `/licenses` folder populates the dropdown list on github.com.

[2013-07-15 21:09] benjamine opened #30 "Send License as a Pull Request"
To make it even more straitghforward, It would be cool to have button to make this site send a Pull Request to a specific public github repo adding the license as a file, and/or optionally as a new section on the README.md

[2013-07-15 21:25] nacin commented on #29
This makes sense, but what about any differences between individual licenses within a family? While the differences between new BSD and simplified BSD are fairly minor, the differences between GPLv2 and GPLv3 are critical. Some practical examples include: v2 and v3 code is not combinable, only GPLv3 is compatible with Apache 2, Linux (and many other high-profile projects) [is GPLv2](http://en.wiki

[2013-07-15 21:26] afeld opened #33 "Add Creative Commons licenses"
The site only includes CC0, but would be great to include [the others](http://creativecommons.org/licenses/), or explain why (if?) they aren't appropriate for software projects.

[2013-07-15 21:27] afeld commented on #13
Also http://www.tldrlegal.com/

[2013-07-15 21:29] haacked commented on #29
Well one thought we've toyed with was adding a GPL disambiguation page. But writing that is beyond what I have the energy for today. :weary:

If someone were to take that on in an impartial (as impartial as one can be) manner, that'd be ideal. Then we could just link to that. I don't like adding another step before you get to the page, but I kind of think it makes sense in the case of GPL given al

[2013-07-15 21:31] afeld commented on #13
A few more:
- http://en.wikipedia.org/wiki/Comparison_of_free_and_open-source_software_licenses
- http://www.codinghorror.com/blog/2007/04/pick-a-license-any-license.html
- http://www.oss-watch.ac.uk/apps/licdiff/

[2013-07-15 21:44] Waquo opened #34 "add FOSS exception to GPL"
I believe that adding a FOSS exception to the GPL by default is a good idea, and should be added to the featured license.

This is a good example for such an exception. http://www.digirulesolutions.com/drupal/foss

See also these instructions by the FSF on the topic: http://www.gnu.org/licenses/gpl-faq.html#GPLIncompatibleLibs

Is there any good reason to use a vanilla GPL v2 without making it com

[2013-07-15 21:47] benbalter commented on #33
From [the Creative Commons FAQ](http://wiki.creativecommons.org/Frequently_Asked_Questions#Can_I_apply_a_Creative_Commons_license_to_software.3F):

[2013-07-15 22:29] nacin commented on #29
That sounds like an excellent idea. This also makes me think about GPL versus Affero GPL, which probably needs a big fat red warning label. (The currently available license property rules do not do it justice.)

[2013-07-16 04:25] zookatron opened #36 "Add Unlicense"
Please consider adding the [Unlicense](http://unlicense.org/) to the list. A [significant amount of people use this license](https://github.com/search?q=This+is+free+and+unencumbered+software+released+into+the+public+domain&type=Code) and I personally prefer it since I find it even more "simple and permissive" than the MIT license. I'd be happy make a pull request for this if it is likely to be ac

[2013-07-16 05:40] aatxe commented on #30
It's already natively integrated into GitHub on the create a repository page. Anything else would likely be unnecessary.

[2013-07-16 06:00] torbjoernk opened #37 "Readability of license texts"
The contrast of text to background when displaying a license text should be improved.

The text itself has a slightly darker grey as the background.

For the interested visitor and reader the license text should have either a darker text colour or bolder/thicker letters.

BTW: Thanks for that service! Especially the overview of the different licenses is really helpful.

[2013-07-16 09:02] cobyism commented on #30
Yeah, we also make the license chooser visible if you go to create a new file called `LICENSE` or `COPYING` (with or without any file extension, and it’s case insensitive).

![2013-07-16 at 9 56 am](https://f.cloud.github.com/assets/296432/803575/1436cbda-edf6-11e2-80b5-4307585a09af.png)

This, combined with the auto-forking behaviour (with subsequent quick-pull-request being sent) when you go to

[2013-07-16 09:02] #30 closed, assigned to nobody

[2013-07-16 09:34] MaPePeR opened #39 "Rule about military use"
When choosing a licence you should know, that with the wrong license your software/project might be used to harm people or at least might help organisations that harm people.

[2013-07-16 09:36] cobyism commented on #39
Are you able to give some more specific examples of what you believe should be changed on the site?

[2013-07-16 09:39] MaPePeR commented on #39
I think a "rule-dot" for "Military use" should be added, that then is categorized into `Permitted` and `Forbidden`.
Just like "Commercial Use" but with more guns.

[2013-07-16 09:44] cobyism commented on #39
Are there any specific licenses in our list where military use is expressly permitted or forbidden though? I feel like it’s important to keep the comparison dots focused on what each license explicitly requires, permits, or excludes.

[2013-07-16 09:54] kennydude opened #40 "API"
It should have an API for people to hack with :)

For example, just having http://choosealicense.com/licenses/mit.json would be nice.

I would do it, but I don't know if you guys are happy with a Jekyll plugin or not?

:+1:

[2013-07-16 10:03] cobyism commented on #40
Jekyll plugins are not something we can use since the site is hosted using GitHub Pages (where plugins are disabled for security reasons). I do agree with the idea of exposing licenses in a way where machine-consumability is more convenient though, so if there’s a way to do it without a Jekyll plugin I’m sure we’d be open to it :smiley:

[2013-07-16 10:07] cobyism commented on #40
/cc @benbalter Could your [JekyllBot](https://github.com/benbalter/jekyllbot) be a solution for this?

[2013-07-16 10:11] kennydude commented on #40
I thought that would be the case :(

I wish Jekyll itself would allow a template to have multiple outputs

On 16 July 2013 11:07, Coby Chapple notifications@github.com wrote:

[2013-07-16 10:23] tekkub commented on #40
You could, theoretically, make a page like [licenses.html](https://github.com/github/choosealicense.com/blob/gh-pages/licenses.html) that renders json data instead of HTML.  That trick is often used to generate [RSS feeds](https://github.com/tekkub/tekkub.github.com/blob/master/atom.xml) with jekyll.

[2013-07-16 10:49] MaPePeR commented on #39
I think there are no expressly formulated rules for or against military use, but not having this expressly forbidden or permitted has an effect of what the license _actually_ permits/forbids.
"No licence" does not mention anything expressly, nevertheless it has rules assigned with it.

See http://archive09.linux.com/articles/56426 or http://earthethics.org.in/products/peaceful-open-source-license

[2013-07-16 11:46] vsespb opened #41 "License text differs (minor difference related to formating) from original"
License, text, copied via clipboard  differs (minor difference related to formating) from original, **without good reason**

here is original license:
curl http://www.gnu.org/licenses/gpl-3.0.txt|md5sum
d32239bcb673463ab874e80d47fae504  -

here is diff:

[code]

[2013-07-16 12:11] artob commented on #36
:+1:

Another estimate of people using the Unlicense on GitHub, showing new projects being created on an everyday basis: https://github.com/search?q=unlicense&type=Code&s=indexed

[2013-07-16 13:33] camillem opened #43 "Following SPDX standard for license names / IDs"
Hi,
In order to avoid ambiguity and facilitate interactions with other projects, it would be nice to use the de facto standard for license names and IDs as defined by the SPDX project. see https://spdx.org/licenses/
Cheers,
Camille

[2013-07-16 14:18] WhyNotHugo opened #44 "Replace the 2-clause BSD license with the ISC license"
The ISC license is a functionally equivalent and the prefered form of the 2-clause BSD license. [[1](http://en.wikipedia.org/wiki/ISC_license)][[2](http://www.openbsd.org/policy.html)]
There's no point recomending the 2-clause BSD license at this points, even projects initially written under the 2-clause BSD license are now suggesting new code use the ISC license.

[2013-07-16 14:21] WhyNotHugo commented on #39
There are currently no licenses that forbid military use, or gun manufacturing, forest cutting, and plety of other unethical activities. There's no point indicating that no license forbids it, since none of the present licenses forbid ANY of those things.

[2013-07-16 14:27] WhyNotHugo opened #45 "Website requires propietary software"
In it's infinite irony, this website seems to constantly prompt me to install flash. (ie: visit http://choosealicense.com/licenses/mit/, and a "plugin missing" bar will appear on firefox).

[2013-07-16 14:28] benjamine commented on #30
nice, I didn't knew of that feature, thanks!

[2013-07-16 14:30] WhyNotHugo opened #46 ""Copy license text to clipboard" does not work on firefox"
When clickin the "Copy license text to clipboard", the license is not copied.
Running Firefox 22 on ArchLinux.

I'm constantly prompted to install a propietary plugin (#45), so that may be related.

[2013-07-16 14:33] elcuervo commented on #46
I've sent #26 for that exact reason. It's not a "Copy to Clipboard" solution but a good alternative.

[2013-07-16 15:26] gerv commented on #34
The FOSS exception may be suitable for some people, but it significantly changes the effect, and the scope of the copyleft, of the GPL. It effectively makes it a lot more like the LGPL.

[2013-07-16 15:31] benbalter commented on #40
:boom:: #47

[2013-07-16 15:35] gerv opened #48 "Proposed modified workflow: make permissive/copyleft and patents orthogonal"
There's no point producing a patch for this without some agreement, hence an issue rather than a pull request :-)

The initial 3-way choice, while having the desirability of 1-click licensing choice, means that anyone concerned about patents will end up with Apache 2.0, whereas the GPLv3 also has patent language (and, the FSF would say, GPLv2 has an implied patent licence). In fact, the GPLv3's pa

[2013-07-16 15:44] haacked commented on #37
/cc @jasonlong

[2013-07-16 16:04] haacked commented on #46
Yes, the copy license to clipboard requires Flash. @elcuervo I need to find time to code review #26 first. :)

[2013-07-16 16:20] haacked commented on #45
I don't see the irony. Proprietary is a valid life choice as is open source. :wink:

Unfortunately, there's no way to make "copy to clipboard" work across the majority of browsers without using Flash. However, someone opened issue #26 to address that so hopefully we can get that fixed.

If you have time to test that PR or review it, that'd be a great help! Thanks!

[2013-07-16 16:20] #45 closed, assigned to nobody

[2013-07-16 16:20] #40 closed, assigned to nobody

[2013-07-16 16:33] haacked commented on #39
In fact, a license that did forbid any use would not be considered an open source license per the [open source definition](http://opensource.org/osd-annotated)

It's clear in points 5, 6, and 9.

[2013-07-16 16:34] #39 closed, assigned to nobody

[2013-07-16 17:57] WhyNotHugo commented on #45
While propietary is a valid life cycle, it's ironical that a website helping developers to choose Open Source Software license actually relies on propietary software to work correctly.

There's the HTML5 clipboard API, which at least two major browsers implement.

[2013-07-16 19:17] #37 closed, assigned to nobody

[2013-07-16 19:22] haacked commented on #45
Maybe I didn't communicate this well, but the goal of the site is to inform developers about their choices when choosing a license. We don't think developers should just give up their rights to their code willy nilly, hence we include "no license" as an option.

But yes, the site does focus primarily on open source.

That's great! Perhaps you'd be willing to submit a PR so we can use that for brow

[2013-07-16 21:19] tekkub commented on #45
The ZeroClipboard folks (which is what we're using here, of course) have been looking into this stuff recently.  You can see what they've discovered in [their issue](https://github.com/zeroclipboard/ZeroClipboard/issues/171)

[2013-07-16 23:26] Waquo commented on #34
Added PS. See above.

[2013-07-17 05:21] gerv commented on #34
A small Apache-2.0 compatibility exception for GPL 2.0 would be a much more limited change and, if good legalese could be found, might be an excellent idea. But perhaps that's a different 'issue' to be filed :-)

[2013-07-17 06:52] akdjka opened #51 "The wording implies that choosing a non-copyleft license means not caring about sharing and improvements"
The way you present non-copyleft licenses is very, very incorrect.
I'm yet to see an open source project that wouldn't care about improvements. They all want contributions, but permissive ones choose not to try to force others to contribute (for various reasons).

[2013-07-17 07:52] ghost opened #52 "Plase add Beerware license"
Wow great work. I bookmark the page. One license I miss is the beerware license described on wikipedia.

http://en.wikipedia.org/wiki/Beerware

[2013-07-17 08:05] cobyism commented on #51
The three summaries on the landing page are there to highlight three common _deciding factors_ that 99% of people choosing a license are likely to be _primarily_ concerned with—they’re not meant to be exhaustive descriptions.

Can you be more specific about what you believe should be changed? What does the site say that is incorrect?

[2013-07-17 08:29] akdjka commented on #51
The exact part?
"I care about sharing improvements."

There is nothing strictly incorrect in it, copyleft is about sharing. But non-copyleft open source is about sharing exactly as well, so caring about sharing should not be factor in choosing a particular open source license. And presenting a non-difference as a primary difference for 99% of people to base their decisions on is very flawed IMHO.

[2013-07-17 08:34] tekkub commented on #51
Simply adding the word "enforced" or something similar (and perhaps less aggressive sounding?) might be all that's needed here.  The real deciding factor here seems to not be _encouraging_ sharing to happen, but rather _mandating_ that it does.

Heck, maybe something like...

[2013-07-17 08:37] cobyism commented on #51
Would something like:

…be a more correct alternative?

[2013-07-17 08:50] akdjka commented on #51
Well, IMHO 'reciprocal sharing' is a difference between open source and shared source, not copyleft and non-copyleft, so it's not any better.
'enforced sharing' is correct and better than anything that I've had on my mind.

[2013-07-17 13:58] artob commented on #36
This is good to close now since #38 was merged and added the Unlicense.

[2013-07-17 14:40] #36 closed, assigned to nobody

[2013-07-17 16:59] haacked commented on #51
Enforce sounds too strong. Makes me think this guy will show up at your doorstep and make you share.

![](http://1.bp.blogspot.com/_pU9jlgWtrsk/SxW40UwwsfI/AAAAAAAAAY4/H4sMN9VCh7w/s1600/twist.jpg)

How about...

/cc @hoolio, @benbalter

[2013-07-17 17:05] artob commented on #51
Perhaps 'mandate' is the word you're looking for, as per @tekkub's comment?

Mind you, there's not much point using the GPL if one isn't going to enforce its mandates. And the end result of that would indeed be that, yes, some men with guns will show up at your door if that's what it takes. So, 'enforce' is not incorrect.

[2013-07-17 17:07] hoolio commented on #51
At this point, it sounds like we're in agreement on the idea, it's just a matter semantics and whether "require" is different from "mandate" is different from "enforce."

"Require" seems to strike the right balance and seems more colloquial and understandable than the other choices.

[2013-07-17 17:10] artob commented on #51
Right. However, the problem with 'require' is that it could still be considered a (somewhat unpolite) request, whereas ['mandate'](http://www.thefreedictionary.com/mandate) carries enough of an official nuance to it to indicate a legal requirement.

[2013-07-17 17:11] haacked opened #54 "Better handling of angle brackets in licenses"
The licenses we included are intended to be plain text. But since we render them on a website, we have issues with angle brackets. There are two cases we've seen for angle brackets.
1. To denote a template.

[code]
1. To denote a URL

[code]

As of #53 we plan to manually replace angle brackets with square brackets. The problem we've encountered is that these licenses templates are the same one we

[2013-07-17 17:11] benbalter commented on #51
![screen shot 2013-07-17 at 1 04 10 pm](https://f.cloud.github.com/assets/282759/813458/ebf601dc-ef02-11e2-919b-3c829905abf9.png)

That's just wayyy to heavy. Besides, the next sentence reads "require others...". I think it's pretty clear. Especially given that we have ~< 6 words to work with.

Couldn't you also say that non-Apache implies you don't care about patents, or non-MIT you don't care ab

[2013-07-17 17:12] cobyism commented on #51
The accuracy of the statement should take priority, however one thing that I think is important design wise is that whatever phrasing doesn’t push the heading onto three lines:

![2013-07-17 at 6 09 pm](https://f.cloud.github.com/assets/296432/813516/f89cc064-ef03-11e2-8800-dc2b59a6a3d2.png)

[2013-07-17 17:13] cobyism commented on #51
@benbalter Beat me to the concern about visuals. :shakes_fist:

[2013-07-17 17:13] haacked commented on #51
Yeah, I'm fine with keeping it as-is. But here's one alternative that might keep in the spirit of the original while being a little stronger.

[2013-07-17 17:16] benbalter commented on #51
The site's priority isn't accuracy or comprehensiveness. TL;DR Legal and OSI already take care of those two checkboxes respectively. The top goal of the site should be to distill a complex legal decision down to its essential elements... making it as simple as possible for the developer looking to license his project.

![screen shot 2013-07-17 at 1 13 18 pm](https://f.cloud.github.com/assets/28275

[2013-07-17 17:18] haacked commented on #52
While a cheeky license that makes me smile because I love :beer: I don't think it's appropriate for choosealicense.com. It's not recognized by the OSI as an open source license and has no disclaimer of liability. You're better off choosing MIT.

[2013-07-17 17:18] #52 closed, assigned to nobody

[2013-07-17 17:22] haacked commented on #44
Let's continue the discussion in #50

[2013-07-17 17:23] haacked commented on #33
I agree, the Creative Commons site has a great license chooser for licensing non-code works. We ended up replacing CC0 in favor of the simpler UNLICENSE.

[2013-07-17 17:24] haacked commented on #29
@benbalter: have you had time to think about this? :smiley_cat:

[2013-07-17 17:31] afeld commented on #33
Sounds like it's more appropriate for #13 then.  Thanks!

[2013-07-17 18:10] bhuga commented on #54
Turns out we need to do something here. I'm having trouble with the license picker when [http://...] is the same as [variable]. Bleh.

These vary, so I would call this a non-goal. We need them standard; some had `{}` in the originals. I propose:
1. `[name]` is a variable
2. `<http://...>` is a URL. Rendered in web as a link, and as plain text with our without `<>` in copy-paste.
3. `{text}` is a n

[2013-07-17 18:27] benbalter commented on #54
The delimiter is arbitrary, just need to decide on a standard.

:+1:

Got to double check that that doesn't trip up Jekyll, but I think we'll be fine (Jekyll uses `{{`)

I don't want to get in the business of doing more work than we have to. Jekyll has a built in filter `xml_escape` which will convert everything to HTML entities for us, or we could just find and replace the `<`s as `&lt;`s. But do

[2013-07-17 18:31] bhuga commented on #54
There's another option, then: no links, no angle brackets. `<http://fsf.org/blah/>` becomes `http://fsf.org/blah/`.

Or we could go back to the double angle brackets, but only use them for URLs instead of URLs and variables?

[2013-07-17 18:33] benbalter commented on #54
I believe we'd have to escape them though, otherwise they'd get parsed as malformed HTML, right?

[2013-07-17 19:01] bhuga commented on #54
Wait, sorry. Double angle brackets are a no-go on .com, unless we duplicate the search/replace. That okay?

[2013-07-17 19:04] haacked commented on #51
After thinking about this some more, I want to highlight two things.

What @cobyism  said, emphasis mine:

And something @benbalter said:

Wouldn't we all agree that the _essential element_, the primary _deciding factor_ for most people who choose the GPS is _not_ that they want to require that improvements be shared, but that they want the software to be forever free? The word "freedom" is all ov

[2013-07-17 20:45] bhuga commented on #54
I took a stab at this with #55:
1. `<` is just `<` on .com
2. `<` is `[` on choosealicense.com
3. `[` is a variable
4. `{` just is.

[2013-07-17 22:51] tekkub commented on #51
"Freedom" is a terribly vague word, especially if you're trying to explain the differences between the licenses.  It's pretty reasonable to argue that everyone looking at an open source license cares about freedom.  The thing is that the licenses approach it differently.

I'm almost inclined to argue that the GPL text should read "I care about perpetuating my license".  Ugh, this is getting compli

[2013-07-17 22:55] haacked commented on #51
I actually like "perpetuating my license". "Freedom" and "free" is terribly vague.

GPL might be one we can't easily summarize in 6 words. Another idea (just brainstorming) "I prefer copy-left licenses". Now some folks won't know what that means but the click through can explain.

[2013-07-17 22:58] artob commented on #51
Right, and in case they _don't_ know what it means, they'd probably be best off sticking with something simple (e.g. MIT) in the first place.

[2013-07-17 23:00] bhuga commented on #51
:brain::zap:

I insist my code be open source
My code should remain open source
I'd like to prevent private forks

[2013-07-17 23:01] tekkub commented on #51
I actually kinda like that.  If folks pick GPL, they're sorta getting into something a little bit deeper than if they went with MIT.  Perhaps wording it such that they're likely to dig in deeper and understand what copyleft is before they pick it is a good thing.  That sorta falls back to the idea of having a GPL-specific page that explains what the differences are in more detail.  We could explai

[2013-07-19 07:16] henrik opened #57 "Rephrase "Please consult a legal expert"?"
As tweeted:

 "Please consult a legal expert before adopting a software license for your project" in the footer feels like a bit of a cop out.

A disclaimer is fine, but "demystifying" licenses only to say you must talk to a mystic is a little silly.

Perhaps the footer could instead say something more along the lines of the "About" page disclaimer (maybe linked to the disclaimer):

"If you have q

[2013-07-19 15:46] haacked commented on #57
/cc @hoolio any thoughts on this?

[2013-07-19 16:11] haacked commented on #43
Interesting idea! Mind submitting a pull request so we can see exactly what it would entail and discuss the specific change?

[2013-07-19 17:06] jlovejoy commented on #43
I concur!  OSI and Debian have already adopted the SPDX short identifiers and we (the SPDX Legal Team) are in the process of trying to sync with other community lists as well.  For the sake of efficiency and clarity, the more people/projects using the same list and references, the better.  SPDX also has  .txt files and a canonical url for each license (generated from the .txt file) - I don't know

[2013-07-19 17:41] camillem commented on #43
@Haacked Glad you like the idea :-) I won't have much internet access over the week-end but I should be able to send you a PR on monday.

[2013-07-19 22:00] tordanik opened #61 "Bring back CC0"
I was pretty excited to learn that CC0 was among the legal texts available on choosealicense.com and that I could even choose it during repo creation. I love CC0 and advertise it to artists and developers alike: It's attached to the strong Creative Commons brand and equally applies to all types of creative works (unlike the limitation to software found in the Unlicense).

Of course that's just the

[2013-07-20 03:40] haacked commented on #43
@camillem great! I look forward to checking it out.

[2013-07-21 00:05] jyknight commented on #5
Yes, it is _very_ poor to recommend that people who don't know what they're doing license-wise to use GPLv2-ONLY at this point.

If you don't already know about licensing, the sane default for a copyleft license should be GPLv2-or-later, not GPLv2-only.

[2013-07-22 09:55] RalphCorderoy opened #64 "Using GPL is too vague, there are GPLs other than the GNU GPL"
The site refers to "GPL" but there are various GPLs, not just the GNU GPL.  GNU say to refer to it as "GNU GPL":  http://www.gnu.org/licenses/gpl-faq.html#WhatDoesGPLStandFor

BTW, it may be worth spelling out GPL once as many mistakenly think the G stands for GNU whereas it's General.  This is probably another reason they avoid what they think to be tautological:  GNU GPL.

[2013-07-22 10:22] camillem commented on #43
@Haacked Done. (see https://github.com/github/choosealicense.com/pull/63 )

[2013-07-22 15:29] nottrobin opened #65 "What if I don't care about attribution?"
Your most "simple and permissive" license is an Attribution license. Sometimes we literally just want to contribute our work to the public domain, and don't even care about it being attributed back to us. E.g.: http://unlicense.org/

Personally I'd like it if we could promote non-attribution license for those who don't care, because if you want to build up a custom project of 20 or 30 different op

[2013-07-22 15:56] haacked commented on #65
If you go to the "other licenses" page http://choosealicense.com/licenses/ you can see we do list Public Domain as an option.

We chose the UNLICENSE to represent public domain. http://choosealicense.com/licenses/public-domain/

[2013-07-22 18:23] nottrobin commented on #65
I see. So it is there. It's a shame it's not more promoted, but if that's what you think is best, fair enough I guess.

[2013-07-22 22:54] haacked commented on #65
Yeah, we wanted to try and distill the homepage to three representative and popular choices and not bog people down with billions of choices. However, the mere presence of UNLICENSE in the site has heavily promoted the cause. The authors of the license seem to be happy with what we've done so far. :smile:

[2013-07-22 22:54] #65 closed, assigned to nobody

[2013-07-23 09:41] Lennie opened #66 "GPL and disclose of changes"
_The GPL (V2 or V3) is a copyleft license that requires others who modify your code to disclose their changes if they redistribute it in source or binary form_

I'm not sure this explains very clearly what the GPL does.

Basically the GPL makes sure the user of the 'product' will also receive the source and/or modifications. It does not mean the changes need to be made publicly available, only be

[2013-07-23 15:33] weakish opened #67 "Chinese translation"
I've forked it and translated it to Chinese.

https://github.com/weakish/choosealicense.com/tree/gitcafe-pages

Well, not a very strict translation, e.g. I've mentioned AGPL in index.html in my translation.

The Chinese version of website:

http://choosealicense.gitcafe.com/

[2013-07-25 18:07] benbalter opened #68 "Internationalization / i18n / multilingual site"
Would love to see about baking in I18N support to choosealicense.com proper. See #67 and #62

We already have the bulk of the strings in a single file (`_config.yml`), so it should just be a matter of abstracting out some of our variables, as far as I can tell.

Would love to take this on starting in August if there's interest. Would be a great exercise to set a standard for Jekyll L10N, and can i

[2013-07-25 18:09] benbalter commented on #67
We'd have to track as closely as possible to the community-consensus content, but would love to figure out the best way to integrate this with the site (#68) if you could submit your changes as a pull request?

[2013-07-25 21:46] haacked commented on #66
Hmm, mind submitting a pull request with the exact wording you think so we can iterate on it?

[2013-07-26 00:43] paulmillr commented on #61
+1.

See this nice short answer on what is wrong with unlicense http://programmers.stackexchange.com/questions/147111/what-is-wrong-with-the-unlicense

Please change “public-domain” unlicense to cc0.

[2013-07-26 05:04] liks79 commented on #68
It's really good!
I hope 'choosealicense.com' support I18N.
It is very valuable work for open source beginner!

[2013-07-26 05:05] ncoghlan commented on #5
Perhaps the front page could be simplified to explicitly recommend "GPLv2 or later" as it's copyleft option? It's the least likely to cause problems, as the "or later" clause handles both APL and GPLv3 compatibility, and the "GPLv2" base avoids many of the issues associated specifically with GPLv3.

[2013-07-26 11:06] weakish commented on #67
@benbalter I've cleaned up the commit history and put it in a pull request #72

[2013-07-26 11:06] #67 closed, assigned to nobody

[2013-07-26 11:48] weakish commented on #68
@parkr _was_ [not interested in supporting i18N in Jekyll core](https://github.com/mojombo/jekyll/issues/389).

[2013-07-26 12:28] ncoghlan commented on #5
Further elaborating on the rationale for promoting "GPLv2 or later" as the default for strong copyleft:
- Can be combined with Apache Software License software (downstream user chooses to accept GPLv3 for the Apache License compatibility, with additional permissions to relax the GPLv3 back to the standards of GPLv2)
- Can be combined with GPLv2 only software (downstream user chooses to accept GPLv

[2013-07-26 14:45] parkr commented on #68
This looks like a great candidate for use of the [`_data` directory](https://github.com/mojombo/jekyll/pull/1003#issuecomment-21119251) proposed by @benbalter in https://github.com/mojombo/jekyll/pull/1003.

[2013-07-30 07:55] akdjka commented on #51
I find it very disappoiting that the issue hasn't been resolved yet.

[2013-07-30 18:37] haacked commented on #51
@akdjka me too. Got any suggestions?

Here's a few others:
- I care that modifications remain open source.
- I care about reciprocity.
- I care about copyleft

We should remember that there's a blurb underneath the heading that provides more detail. So we don't need to explain everything in the header. Just the key point. And I think it's that changes can't be released under a closed license.

[2013-07-30 18:37] haacked commented on #51
/cc @hoolio or @benbalter any other thoughts?

[2013-08-05 16:01] dan2097 opened #73 "Artistic License 2.0 does not require Disclose Source"
Assuming you do:
 ensure that installation of your Modified Version does not prevent the user
installing or running the Standard Version. In addition, the Modified Version
must bear a name that is different from the name of the Standard Version.

then the Artistic License 2.0 does not require Disclose Source

sources:
http://choosealicense.com/licenses/artistic/
http://osdir.com/ml/licenses.open-s

[2013-08-06 17:59] derks opened #74 "Set Line Width to 78 Characters"
It is pretty common for text editors, and IDE's to default line wrapping to 78 characters.  It can be annoying to have to modify every license because it breaks to 'early', messing with the format.

It would be appreciated to require that the content of all licenses not exceed 78 characters.  I'll be more than happy to submit a pull request if this is something that will be accepted.

[2013-08-06 20:00] haacked commented on #74
Seems fine with me. I'm surprised we're not already at 78 chars. Are all of them wrong? Or just a small set?

[2013-08-06 20:15] derks commented on #74
I checked a few... seems like they are off by one or two... probably 80 characters causing the last word of most lines to wrap at 78 chars.

[2013-08-06 20:29] haacked commented on #74
Yeah, I always thought 80 characters was most common in terminals and such. How'd you pick 78 and not say, 76 or 79? I'm not trying to be confrontational here mind you. Just curious. I'm used to editors that don't line wrap so I'd love to be educated here. :smile:

I guess 78 would make sense if the 80 char count included CR and LF.

[2013-08-06 20:32] artob commented on #74
Back when we formulated the [Unlicense](http://unlicense.org), there was a discussion on whether the hard line wrap should be 78, 76, or 72 characters. We decided to eventually go with the most conservative 72 characters, since that e.g. facilitates copy-and-paste [use in email](http://stackoverflow.com/questions/459281/do-you-use-word-wrapping-within-emails). Just something to consider in case yo

[2013-08-06 20:44] haacked commented on #74
So one thing I'd like to do is keep licenses consistent with what has traditionally been on GitHub. Also, when in doubt, I follow WWMD (What would @mojombo do?). https://github.com/mojombo/jekyll/blob/master/LICENSE is set at 78 chars.

Let's go with `78`. :)

[2013-08-08 18:21] hoolio commented on #57
@henrik -- Point well taken. We'll get this changed.

[2013-08-08 21:21] rtomayko commented on #74
:+1: 78 chars and really appreciate the attention to detail here. Nailing the text formatting on these licenses is one of the main reasons I personally wanted this project to exist in the first place since it's almost always overlooked / not considered important on most license sites. :heart::heart:

[2013-08-08 22:24] henrik commented on #57
Great, thanks!

Sent from my iPhone

On 8 aug 2013, at 20:21, Julio Avalos notifications@github.com wrote:

[2013-08-18 17:55] ghost commented on #61
I'd salute addition of both CC0 and Unlicense. I have no beef in this issue at all, I'd only point out that unfortunately, each of the public domain dedications referenced here have their downsides. Real or not, but disputed. CC0 is not OSI approved, and the reason is around the fact that it explicitly reserves patent rights. An example, its withdrawal thread: http://projects.opensource.org/piperm

[2013-08-18 22:09] ghost commented on #51
- I care that code remains open source.
- I care that code stays open source.
  (less space taken, with @Haacked's first option)

[2013-08-18 23:51] ghost commented on #34
FWIW, +1 on the original idea, and very happy if it was considered.

I believe it would be more useful than strict GPL, in practice I think it's what a number of open source developers intend when using GPL.
OTOH, to be fair, I've also seen that it's prone to potential long discussions, and complicated, at least for me. I could never figure out if the "complication" is only my (IANAL) perception,

[2013-08-18 23:55] ghost commented on #10
If I get this discussion right... @jpmckinney uses the term "sublicensing" to mean "license this code under a _different_ license than this one"? While @webmink considers the concept as implied in GPL licenses language, simply to mean like "give a license when you distribute it". Or, do I misunderstand?

If this is the issue... FWIW personally I agree that the site uses unexpectedly the concept of

[2013-08-19 00:24] ghost commented on #10
I think the cases for a few copyleft licenses can be simplified like:
- MPL covers under MPL only the files which contain the code itself with or without modifications.
- LGPL covers under LGPL what we commonly understand as fork of a project. (that's likely more than MPL, while one can still use the entire project without modifying it in another software licensed differently).
- GPL covers under

[2013-08-19 18:17] ghost commented on #48
FWIW, +1 to both options proposed, any would be better than the current status IMHO. The homepage intends to cover 99% cases (according to goals) and it's implying that if you care about patents, you have AL 2.0.
Entirely agree that permissive/copyleft and patents are orthogonal concerns, and the homepage doesn't fit that.

A 3rd option: (or 2.5 :smile:)
- homepage with two choices, "I want it sim

[2013-08-21 14:28] ghost opened #82 "Add the Zlib license"
I think it'd be great to add the Zlib license, the big thing with that license is the requirement for Modified verisons of the code to be marked as such

http://www.tldrlegal.com/license/zlib-libpng-license-(zlib)

[2013-08-23 01:59] ghost commented on #64
Related to #63

Personally I think the benefit on GPL title is marginal, because the risk of confusion is minimal, in the context of an open source license chooser, of popular licenses, versioned v2 and v3.

[2013-08-23 23:21] ghost commented on #82
I'll note that it's OSI approved. http://opensource.org/licenses/Zlib

If it's acceptable to add it, I'll be happy to submit a pull request.

[2013-08-23 23:58] ghost commented on #5
Currently, the site allows to add a file LICENSE with the license text. That says nothing about headers which may or not contain "or later". How should "or later" be implemented? A text addition to the note on the respective license page helps?

[2013-08-25 22:39] haacked commented on #82
Thanks for the suggestion! Right now we're trying to keep the number of licenses we include to a reasonable number. You can see the [about page](http://choosealicense.com/about/) for our reasoning.

If this is a wildly popular widely used license and I haven't heard of it due to my own ignorance, feel free to back that up with some info and we can always reconsider. :smile:

[2013-08-25 22:39] #82 closed, assigned to nobody

[2013-08-27 15:18] #66 closed, assigned to nobody

[2013-08-29 08:38] akdjka commented on #51
@engelnyst: This is a part of the definition of open source, opening must be irrevocable.

2Choosalicence staff:
Do you have intention to stop misleading people?

[2013-09-04 17:36] derks opened #84 "Provide API to obtain license data"
It would be nice if you could provide a simple API to return the license data via JSON, or even just a standard URL structure that would allow us to obtain just the raw license.  That is actually the reason why I created the following (before this project existed):
- https://github.com/datafolklabs/license

There is another project I maintain called BOSS which builds projects from templates, and s

[2013-09-04 17:53] benbalter commented on #84
@derks Believe this is a dupe of #40, which was resolved in #47. Let me know if you have any trouble consuming the API.

[2013-09-04 17:53] #84 closed, assigned to nobody

[2013-09-04 18:36] derks commented on #84
I see that Issue #47 references the following:
- http://choosealicense.com/javascripts/annotations.js

That URL doesn't provide licenses.  Can you please provide an example of how to pull license data, specifically for an individual license?  I suppose you could turn this issue into "Document How To Access License API".

Thanks.

[2013-09-04 18:46] benbalter commented on #84
#47 exposes all the licenses as http://choosealicense.com/licenses.json. Because of limitations in Jekyll, it'd be hard to expose the licenses individually a `.json` file, for example. Would love help better documenting the API.

[2013-09-04 18:51] derks commented on #84
That URL is getting warmer, the only thing missing is the actual license txt.

[2013-09-04 22:08] benbalter commented on #84
That's unfortunately, the limitation of Jekyll I was alluding to. Having the same content in multiple formats is a bit tricky. You can however, use the [GitHub content API](http://developer.github.com/v3/repos/contents/) to grab the contents of a given file. It may be helpful for us to expose `file_path` within the index as `page.path`.

[2013-09-08 14:51] anshin opened #85 "License text is too light on Linux"
![2013-09-08-1378651547](https://f.cloud.github.com/assets/1342599/1103241/8fb14974-1895-11e3-9edb-22a7a40fd651.png)

It's not impossible to read, but it's fairly unpleasant. I might suggest embedding a fixed-width font.

[2013-09-08 21:58] benbalter commented on #85
@cobyism any thoughts here?

/cc #37, #49

[2013-09-09 01:25] anaisbetts commented on #85
/cc @kneath who has been fighting this bug for _years_ and might have some ideas on what to do about it

[2013-09-09 03:14] tekkub commented on #85
It looks like this is the font stack being used for license text:

[code]

Linux has a long history of rendering Courier like :poop:.  On github.com we're using this for the code browser, `<pre>` blocks inside readmes and comments:

[code]

It looks like Liberation Mono has the same metrics as Courier New, and probably has a pretty good install base on linux.  It seems codestyle.org is down (gone?

[2013-09-09 03:39] haacked commented on #85
thumbs up to "Liberation Mono". Anyone want to submit a PR with that?

[2013-09-09 05:38] anshin commented on #85
@tekkub codestyle.org is returning a [410](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#410) error. I had no idea it existed, so I'm pretty bummed about that.

I'm in favor of Liberation, and it is open according to the [homepage](https://fedorahosted.org/liberation-fonts/).

[2013-09-14 02:34] dantman opened #87 "AGPL does have patent grant"
The [licenses page](http://choosealicense.com/licenses/) lists "Patent grant" under GPLv2, LGPL*, and GPLv3.

However it doesn't list "Patent grant" under AGPL/Affero GPL. But looking at the licence text it looks like the AGPL does in fact include a patent grant like the other GPL licences.

[2013-09-16 18:24] #13 closed, assigned to nobody

[2013-09-16 20:01] haacked commented on #87
Sounds like an oversight. Would you care to submit a pull request with the fix?

[2013-09-16 20:12] #57 closed, assigned to nobody

[2013-09-16 20:40] afeld commented on #73
Curious that [TLDRlegal](http://www.tldrlegal.com/l/ARTISTIC) also designates the license as Disclose Source.  I'm far from an expert on this topic, but is there some language in the license itself that makes it ambiguous?

[2013-09-16 22:29] haacked commented on #73
It's a little confusing. Here's what section 4 a) says:

Then 6 comes along and says:

I think the fact is there are some cases where you kind of are required to distribute with source and others where you are not.

I haven't taken the time to map this out. @hoolio or @benbalter, I think a lawyerly eye here would really help.

[2013-09-17 06:02] henrik commented on #57
Excellent!

[2013-09-18 04:27] afeld opened #92 "Distribution and original authors?"
Saw [this Quora question](https://www.quora.com/MIT-License/If-i-fork-someones-repo-on-github-licensed-under-mit-license-and-make-some-changes-can-i-release-it-under-my-name):

and, at least in my reading, none of the tooltips say specifically yay or nay.  Or does this fall under "Sublicensing"?

/cc @hoolio

[2013-09-18 18:31] hoolio commented on #92
As a lawyer, answering this sort of thing makes me nervous since it starts looking like I'm giving legal advice to strangers and potentially establishing some sort of attorney-client relationship.

The answer is ... sort of.

You're allowed to release the new project under your own name, but the MIT license requires you to keep the copyright attribution notice from the original.

In other words, y

[2013-09-19 05:10] afeld commented on #92
I personally think we are best off providing the "safe" recommendation, which in this case would be to include both copyright statements, no?

[code]

[2013-09-22 02:57] haacked commented on #85
@anshin would you like to submit a PR with Liberation?

[2013-09-22 19:25] anshin commented on #85
I would. I'll have to do some research, and I'll try to submit a PR by tomorrow afternoon.

[2013-09-23 11:28] cobyism commented on #85
Yes, there could be improvements to be made here in font rendering, but really I see this issue boiling down to contrast. I still reckon actually giving the license text a separate, lighter background (thus making the text appear darker and more well-defined) like I suggested in #49 is what is needed here:

![](https://f.cloud.github.com/assets/296432/807137/ff6753d4-ee48-11e2-9097-01d0ae43272a.pn

[2013-09-23 16:31] haacked commented on #85
@jasonlong any thoughts?

@cobyism I thought skeuomorphism is dead and flat designs are all the rage! :trollface:

Personally, if it makes it more readable, I'm all for it. If there's a way to do it so @jasonlong is happy with it, that also gets my vote. :smile:

[2013-09-24 00:36] anshin commented on #85
I agree with @cobyism, though I still think Liberation Mono should be used – if only because it reduces the chance of a misc. font served by the OS. I'm going to wait for a response from @jasonlong before I act.

[2013-09-24 02:03] jasonlong commented on #85
Sorry for the slow response. I'm getting set to move this week and will be online sporadically.

I'm still not sure I'd like to go full #fff on the background, but maybe a super-light beige – something close to white?

[2013-09-24 15:25] cobyism commented on #85
@jasonlong Yeah, I just typed `#fff` when i originally did that as a quick mockup because it was the first thing that came to mind to illustrate the point—if we end up doing that, I completely agree that it should be something in line with the hues the rest of the site uses :+1:

[2013-10-02 10:38] eric-brechemier commented on #33
@Haacked I understand the rationale for software, but I see a confusion between the goals stated and the actual usage on GitHub.

Since this repository is also used as a basis for the drop-down to select a license for new repositories on GitHub (GitHub support redirected me here), some of the Creative Commons license should be included: GitHub repositories are created for documentation, presentati

[2013-10-02 10:46] eric-brechemier commented on #61
I agree that both options should be included, at least in the drop-down in the form to create new repositories on GitHub. I see no reason to replace CC0 with Unlicense when the FSF actually recommends CC0 over Unlicense for Public Domain dedication of software.

[2013-10-03 13:58] benbalter commented on #61
See https://github.com/project-open-data/project-open-data.github.io/pull/135 for a great discussion on the relative merrits of CC0 and Unlicense.

[2013-10-03 16:57] waldyrious opened #96 "Include a "wizard""
The description "Like a Choose Your Own Adventure site" isn't really accurate unless a wizard-like workflow is established to guide users through several choices, reaching the final result. A good example of such a wizard is the one from [WikiMatrix](http://www.wikimatrix.org/wizard.php).

Nothing complex or fancy is needed to implement this. A simple tree of hyperlinked pages would do, similar to

[2013-10-03 18:03] benbalter commented on #96
That is the purpose of the landing page.

![screen shot 2013-10-03 at 2 01 56 pm](https://f.cloud.github.com/assets/282759/1263759/eb4796fc-2c55-11e3-8f10-bc7597db2f45.png)

Here, we've simplified the choice of which license to choose to a single question. It's an adventure, it's just a short lived one. :smile:

[2013-10-03 21:12] waldyrious commented on #96
Yeah, I got that :) – but I really think a full choice tree including all the current qualifiers ("License and copyright notice", "State Changes", "Disclose Source", etc.) would be valuable.

[2013-10-05 18:08] afeld opened #97 "Mix of software and content?"
An example:

I teach a JS class and have all my materials [in a repo](https://github.com/afeld/advanced_js) - both written materials, assignments, etc., and functional code that makes the slide deck itself work.  I want to "properly" open source the whole thing.

What is the best way to handle these cases?  Creative Commons [discourages](http://wiki.creativecommons.org/Frequently_Asked_Questions#C

[2013-10-22 20:36] parkr opened #100 "Add "License Builder""
Just want to throw this out in case it is of interest.

[The Creative Commons website has a license builder](http://creativecommons.org/choose/) which offers a neat form-based procedure for picking a variation of the CC license.

Something similar here would be great for discovery and matching needs perfectly. The homepage of ChooseALicense helps with this a tiny bit (top grid) but only pushes MIT

[2013-10-22 20:40] haacked commented on #100
Thanks for the suggestion.

We considered that, but that's not what this site is about.

In the [about page](http://choosealicense.com/about/) we note:

We're more interested in license non-proliferation than proliferation. If we have so many licenses that some choose your own adventure is required, then I think we've failed.

[2013-10-22 20:40] #100 closed, assigned to nobody

[2013-10-25 16:49] izuzak opened #109 "BSD (3-Clause) License license should populate all placeholders"
Creating a repository with the BSD (3-Clause) License doesn't define values for all placeholders in the license.

Specifically, the `{organization}` placeholder is not replaced with any value, and this has to be done manually after creating the repository:

https://github.com/github/choosealicense.com/blob/gh-pages/licenses/bsd-3-clause.txt#L38

A better approach might be to replace `{organization

[2013-10-25 17:30] bhuga commented on #109
These interpolate correctly on .com again. If we want to update the licenses it's another thing.

[2013-10-25 18:06] haacked commented on #109
@bhuga huh? I didn't understand your comment. Could you clarify?

[2013-10-25 18:08] bhuga commented on #109
We had a bug for a while were almost nothing would get interpolated. Creating a new repo with a BSD-3 now adds a fullname: https://github.com/bhuga/testlicense/blob/master/LICENSE#L1

[2013-10-25 18:11] haacked commented on #109
@bhuga ah! Thanks for fixing that. But this bug is specifically about the `{organization}` field in the BSD-3.

You can see it a few lines into your test license. The suggestion is to change that to `fullname` instead of `organization`. OR, perhaps we change the code on the .com side to fill it in. Which I'm starting to think is preferred because I'd rather not mess with the license texts.

[2013-10-25 18:16] bhuga commented on #109
Ah, so we just missed that one in https://github.com/github/choosealicense.com/pull/55! That's my bad; sorry, I misunderstood.

Should be as simple as updating it to `[fullname]` and re-importing to .com.

[2013-10-25 18:25] haacked commented on #109
So what I'm wondering is, can we make it work by keeping it [organization] here? Or is that just dumb? I'm just a tiny bit wary of changing the text on this site to something it's not in the original.

[2013-10-25 18:32] bhuga commented on #109
We don't replace `[organization]`, just `[fullname]` of the repository owner (because which organization would it be? What if there is none?). So it would read a bit weird for personal ownership; I suppose that whole line would have to be removed, and, well...yuck?

Not sure we can solve this one cleanly and easily.

[2013-10-25 18:46] haacked commented on #109
Well I guess 999 times out of 1000, the person applying this license is probably also the "organization". So maybe we just also replace "[organization]" with the "[fullname]". And the user can correct it.

Or, we could do nothing and let people manually correct it. @benbalter and I figured we should do it automatically because if it's not correct in that 1 time in a 1000, then they probably have a

[2013-10-28 22:19] haacked commented on #54
@bhuga can we close this now?

[2013-10-28 22:19] #54 closed, assigned to nobody

[2013-10-28 23:30] haacked commented on #97
That's pretty much what I would do. It could be as simple as having an MIT license in the root with a brief blurb that it applies to the source code.

For the content, you'd typically have a footer that mentions it's creative commons. See the footer on haacked.com for an example.

[2013-10-28 23:30] haacked commented on #97
Want to submit a PR?

[2013-10-28 23:39] haacked commented on #96
Well, we're hoping to keep the number of licenses low enough that such a thing isn't really necessary. You don't need a "choose your own adventure" game to choose among three licenses. :smile:

We're trying to avoid license proliferation. Most people don't need so much customization of their license, but would be best served by choosing one of the three most popular licenses. Or by a license popul

[2013-10-28 23:39] #96 closed, assigned to nobody

[2013-10-28 23:41] haacked commented on #85
@anshin This was fixed by https://github.com/github/choosealicense.com/issues/93. I'm going to close it now. Comment here if it's still a problem. Thanks for reporting it!

[2013-10-28 23:41] #85 closed, assigned to nobody

[2013-10-28 23:44] haacked commented on #92
Closing this since there's nothing actionable. Feel free to continue the discussion. I'm curious to what @hoolio and @talniv think are best practices in this regard. :smile:

[2013-10-28 23:44] #92 closed, assigned to nobody

[2013-10-29 00:13] haacked opened #112 "Support for translations"
It'd be nice if we could support translations for choosealicense.com. Several PRs have come in that translate the site, but they simply overwrite the English version :scream:

We need a better approach.

The inelegant solution would be to have folders for each language that each pretty much contain the entire site translated to a language and then provide links on the main index to each.

A more e

[2013-10-29 00:14] haacked commented on #67
https://github.com/github/choosealicense.com/issues/112

[2013-10-29 00:15] haacked commented on #112
@benbalter  is way ahead of me. See #68

[2013-10-29 00:15] #112 closed, assigned to nobody

[2013-10-29 00:17] #73 closed, assigned to nobody

[2013-10-29 00:19] haacked commented on #74
@derks: would you be interested in submitting a PR for those that need fixing? We recently updated a lot of them using the plain text version supplied to us by the source. Hopefully there aren't too many that need it.

[2013-10-29 00:20] haacked commented on #46
Closing as we merged #26 already.

[2013-10-29 00:34] haacked commented on #61
Very interesting @benbalter. I see you went with CC0 there. The lack of lawyer vetting is concerning.

After reading that discussion, I'm more inclined to including both, but grouping them under the "Public Domain" family. See #111 for what I mean by grouping them. I'd probably keep Unlicense as the primary one though.

But it would be nice to get some more lawyers involved in vetting Unlicense.

[2013-10-29 00:42] haacked commented on #48
What if we simply added a clause to the GPL description that it also includes patent language?

[2013-10-29 00:45] WhyNotHugo commented on #46
On firefox 24, clicking "Copy license text to clipboard" still does nothing.

[2013-10-29 00:50] haacked commented on #34
As [indicated here](https://github.com/github/choosealicense.com/pull/69#issuecomment-21641265):

I'd rather not start adding exceptions to established licenses to resolve disputes from different organizations for the following reasons:
1. It creates what is in effect a new license. If you have a GPL, you know it's OSI certified. But is GPL with an exception also OSI certified? Maybe. Maybe not.
2

[2013-10-29 00:50] #34 closed, assigned to nobody

[2013-10-29 00:51] haacked commented on #51
I think he meant for new versions. A specific version of open source code is irrevocable, but I can easily close my new additions to the code, unless the code is GPL.

[2013-10-29 01:27] talniv opened #113 "standardize order for required/permitted/restricted buckets"
![screen shot 2013-10-28 at 5 08 55 pm](https://f.cloud.github.com/assets/5177438/1425121/99b9c3ae-402e-11e3-81a8-75b8975bc09d.png)
![screen shot 2013-10-28 at 5 08 14 pm](https://f.cloud.github.com/assets/5177438/1425122/99b9e960-402e-11e3-87b5-19f0ad1d275d.png)
![screen shot 2013-10-28 at 5 08 43 pm](https://f.cloud.github.com/assets/5177438/1425123/99bc1c94-402e-11e3-87f7-d988798e420f.png)

Jus

[2013-10-29 01:28] haacked commented on #46
@hobarrera so the text of the license wasn't selected?

[2013-10-29 01:30] haacked commented on #113
Seems like sloppiness on our part. Want to propose an order? Should we just do it alphabetically?

[2013-10-29 01:38] afeld commented on #97
The outstanding question is: can one license be used for both?  e.g. with code samples, which do those count as?  For MIT license, for example, do you _need_ to specify a different license for the content?

[2013-10-29 02:10] haacked commented on #97
Hmm, seems like MIT is primarily concerned with software. I suppose you could consider your training materials to be part of the software. It seems like you're stretching it though. MIT wasn't intended for content, it was intended for software.

You don't _need_ to do anything. As with most things, the real question is what a court would decide. So what is the scenario here that would require a co

[2013-10-29 02:18] liks79 commented on #112
That's good!
I think so.
Is Jekyll localization support available?
How can I apply it?

Thanks!

[2013-10-29 02:19] haacked commented on #112
@liks79 I'm not sure yet. But I think we'll discuss a solution in #68 and let you know!

[2013-10-29 04:18] weakish commented on #68
Just using subdomain?

A quick and simple (maybe not very elegant approach) is just using subdomains (with separate repositories) .

For example:
- Korean: `http://ko.choosealicense.com`
- Chinese:  `http://zh.choosealicense.com`

Thus, we only need to make sure that:
- Translated sites and main site should link to each other.
- github/{lang}.choosealicense.com has the proper CNAME file (and the r

[2013-10-29 10:38] gerv commented on #34
"It creates what is in effect a new license. If you have a GPL, you know it's OSI certified. But is GPL with an exception also OSI certified? Maybe. Maybe not."

Giving additional permissions on top of an OSI-compatible licence can never make it OSI-incompatible.

"It leads to license proliferation. When you have a well-known license, people are in agreement about what it means. Having to also wad

[2013-10-29 10:42] gerv commented on #48
That would be _slightly_ better, but it would still preserve the idea that you have to choose between "I care about patents" and "I care about sharing improvements", whereas the two concerns are orthogonal.

I still maintain it is no longer good practice in 2013 for anyone to recommend that new OSS projects use a licence without an explicit patent clause. Github should lead from the front here, an

[2013-10-29 16:11] haacked commented on #34
So where do I put this text? In the license? If you choose the GPL and want to add this additional permission, you are free to do it. I don't think we should make this the default. We're not in the business of tweaking licenses.

[2013-10-29 16:25] parkr commented on #68
It'd be way easier to handle if everything were in one repo and simply to ship every translation under `/LOCALE/` (e.g. `/en/`, `/ko/`) with pages for each. It's a lot of duplications, but right now it is the best option, given that Jekyll has no means of handling this.

[2013-10-29 16:36] haacked commented on #68
@parkr Yeah, I'm kind of leaning towards that approach. @benbalter seem good to you?

[2013-10-29 16:38] gerv commented on #34
AIUI, the license chooser helpfully checks in a copy of the license text into your repo. Isn't that right?

If so, you just append it to the bottom of the license file. Once it's been drafted appropriately, of course. I'm sure the FSF has some language; this is hardly an uncommon problem.

You talk of "tweaking" licenses, but this is not changing the GPL - it is an additional permission on top. Th

[2013-10-29 16:42] haacked commented on #34
Yep. But why would we make any exception the default? If you were to ask the FSF what the default should be when someone chooses GPL v2 or GPL v3, what would they say?

I don't have a problem with people adding exceptions to their license. I just don't think we should make that the default.

[2013-10-29 16:45] gerv commented on #34
What would the FSF say? Good question. I suspect they'd say "don't recommend GPLv2 at all; everyone should be using GPLv3". If you are going to go against the FSF on that point, and give GPLv2 as an option, then you shouldn't have an issue with using GPLv2+additional_permission as your default version of the GPLv2 :-)

We could ask them, if you like...

(The change I am suggesting is not required

[2013-10-29 16:47] haacked commented on #34
Ah! Ok, I did not realize this, but upon a more careful reading, I should have.

@benbalter, @talniv, or @hoolio any thoughts on this?

[2013-10-29 17:00] gerv commented on #34
I should clarify something; my draft text above is written as if it were an addition to the Apache License 2.0, which is bogus. We need "the inverse". Let me restate my proposal, to add clarity. I am proposing the language such as the following is appended to the bottom of the COPYING file which is checked in whenever anyone chooses the GPLv2 as their license. This text is based on the boilerplate

[2013-10-29 21:04] benbalter commented on #61
IANAL (officially), but law isn't like organic food, where you need someone
to certify it... all you can do is mitigate risk. In the project open data
thread, which I believe was linked earlier, you'll note that it's gotten
plenty of smart people's eyeballs.

Lawyer's are naturally risk averse, and are always going to prefer CC0 over
something like the unlicense (or Apache or MIT) just because the

[2013-10-30 01:29] liks79 commented on #68
How about using URI separation? (`http://choosealicense.com/{lang}`)

Fo example :
- Korean : `http://choosealicense.com/ko`
- Chinese: `http://choosealicense.com/zh`

[2013-10-30 03:49] parkr commented on #68
@liks79 That's exactly what I was proposing. :)

[2013-10-30 04:33] liks79 commented on #68
@parkr Oh... I'm sorry ;) That's a good idea!  Thanks!

[2013-10-30 06:17] haacked commented on #68
Ok, just need someone to send a PR with at least one translated language. :)

[2013-10-30 06:40] liks79 commented on #68
@Haacked

Ok, The die has been cast!  =)

[2013-10-30 07:30] weakish commented on #68
@liks79  It seems that some js files assumes resources are located in the root directory, thus simply moving all translated files to a sub directory will fail.  I cannot speak javascript. If you've finished Korean translation, please `@`me, so I can just use your modifications.

[2013-10-30 14:30] benbalter commented on #97
Closing, but feel free to reopen if I'm wrong. Don't know that setting the precedent that if you have a question about license implementation, you should open an issue on choosealicense.com... can get into some sticky legal water, among other things like not being even remotely scalable. _This is not an IP legal clinic. Most of us are not lawyers. This is not legal advice. Issues should be limited

[2013-10-30 14:30] #97 closed, assigned to nobody

[2013-10-30 14:37] benbalter commented on #92
/cc #97:

If the issue has been authoritatively decided elsewhere, feel free to open an issue to implement (and ideally link to) that guidance here.

[2013-10-31 10:16] XhmikosR opened #119 "Copy to clipboard doesn't show "Copied" with Firefox"
Chrome works fine, only FF 25+ I tried has this problem.

**Update**

To clarify, @XhmikosR told me that the license text is actually copied just fine, but the button text is not updated to reflect that.

[2013-11-05 10:09] XhmikosR commented on #119
Duplicate of https://github.com/github/choosealicense.com/issues/46

[2013-11-05 10:09] XhmikosR commented on #46
@Haacked: the license text is copied fine, the text in the button isn't updated to reflect this like it does with Chrome.

[2013-11-05 16:12] haacked commented on #46
@XhmikosR Ah! Thanks for the clarification. So this bug says that the text isn't copied. I'm going to keep this issue close and re-open #119.

[2013-11-05 16:13] haacked commented on #119
@XhmikosR Any interest in sending a pull request to fix it?

[2013-11-05 16:16] XhmikosR commented on #119
I already had a looked but couldn't pinpoint the cause.

But 1) I'm not very familiar with coffeescript and 2) I believe the JSHint warnings are relevant.

Especially, `'Choosealicense' is already defined.`

[2013-11-05 21:24] leahbannon opened #128 "Add pros/cons of license components?"
I would find it very helpful if we added a section describing some of the pros/cons of each license component. Or even just illustrative examples (e.g., this would likely require 20-40 extra hours of documentation work because it requires the developers to do x and y... OR ALSO this clause can discourage companies from adopting and building on your code because x). Some burdensome restrictions mig

[2013-11-05 22:24] haacked commented on #74
Oh wait, this was merged already, wasn't it?

[2013-11-05 22:24] #74 closed, assigned to nobody

[2013-11-05 22:24] haacked commented on #74
![Uploading thumbs-up-basketball.gif . . .]()

Thanks!

[2013-11-06 00:10] ghost commented on #34
In practical terms, I believe this proposal is the most significant (pragmatically) improvement and it saves meaningless potential headaches for projects. Thank you for drafting it!

It probably should be done along with a little additional note on GPLv2 page though, if it's done. For example, an addition/footnote to the description on GPLv2 page: "If you choose this license, note that an addition

[2013-11-06 00:39] ghost commented on #92
I think it can be a site improvement, but it's beyond the scope of choosealicense.com, as far as I see. It amounts to how to apply your license over a project that contains open licensed code from someone else. Common occurrence of course, but it would mean expanding the license chooser to a compliance tool...

[2013-11-06 02:37] ghost commented on #109
+1 for using the [fullname] placeholder, for the reason above.

I'm also thinking that if there is another organization with incentive to correct it, they likely have a trademark on the name, which probably means they have other legal tools to enforce proper use of the name.

[2013-11-06 03:03] ghost commented on #100
There are only very few CC licenses. (if we don't count localized versions of course)
The utility of the builder doesn't seem to me about number of licenses, but about clarity of permissions and conditions. And, I think it's awesome too. :smile_cat:

However, CC licenses were drafted intently as a family, to be truly similar except for the points in the license builder; unfortunately (?) open soft

[2013-11-06 14:03] JoshData commented on #61
This can probably be closed now that #126 is merged.

[2013-11-06 16:10] #61 closed, assigned to nobody

[2013-11-06 18:21] talniv commented on #109
Probably I'm misunderstanding, but, @Haacked, can't it be `organization` when there is one, and `fullname` when there isn't?
(clearly, I'm :+1: for populating)

[2013-11-06 23:56] haacked commented on #109
@talniv what do you mean by `organization` in this context?

[2013-11-07 01:23] bhuga commented on #109
I think the problem is that the wording is just awkward for `[fullname]`, which expands either to the name or the organization:

It assumes an organization. Have we changed the license meaningfully if we change it to the following?:

[2013-11-07 02:49] ghost commented on #109
Ah, good point. For the record, small changes exist in BSD licenses in use. The organization name changes, and sometimes slightly more words. Example results of an analysis on Firefox OS included software:
http://projects.opensource.org/pipermail/license-discuss/2012-November/000686.html

Example choice on this issue, from another license project:
https://licensedb.org/id/BSD-3-Clause.html

On Git

[2013-11-16 15:45] weakish commented on #68
@Haacked @benbalter @parkr @liks79  I have made a base for translations, please review my pull request.

[2013-11-19 21:55] wjk opened #133 "Page Display Issue"
I was viewing [the license list](http://choosealicense.com/licenses/) in my Web browser when I found a bug. To reproduce the bug, do the following:
1. Scroll down to the “LGPL” section.
2. Click on “LGPL v3”
3. Click on “LGPL v2.1”
4. Watch as the text below the buttons _vanishes_. See attached screenshot.

![display bug](https://f.cloud.github.com/assets/1915951/1577050/4727fc30-5165-11e3-8b75-d8

[2013-11-20 00:03] #133 closed, assigned to nobody

[2013-11-20 00:04] haacked commented on #133
Thanks for the bug report! I've pushed a fix that should show up soon.

[2013-11-22 05:00] iamnewton commented on #33
I see that this issue is closed, by @Haacked, but this last point by @eric-brechemier seems a valid one.  Any discussion on this?

[2013-11-27 05:43] liks79 commented on #68
@weakish @Haacked @parkr @benbalter

#131
It is a good reference implementation for I18N.
I'll try to apply it for translation for Korean.

But, I am afraid too that copying HTML files...

[2013-11-27 16:47] IQAndreas opened #136 "Should the "additional disclaimer" of the 2-clause BSD license be included?"
The [FreeBSD license](http://www.freebsd.org/copyright/freebsd-license.html) has an extra bit at the end not included in the site's version:

[The Wikipedia article](http://en.wikipedia.org/wiki/FreeBSD_License#2-clause_license_.28.22Simplified_BSD_License.22_or_.22FreeBSD_License.22.29) includes the disclaimer, but also brings out that some projects exclude it.

Should the disclaimer be included,

[2013-11-27 19:57] ghost commented on #33
Also, if I choose to fork a project on Github that is already using CC3.0, I am required to maintain that same license for the derivative work, and thus it would be nice to have that option as a drop-down when creating a new repository.

[2013-11-27 21:28] haacked commented on #136
The version of the license we have is here: http://opensource.org/licenses/BSD-2-Clause

I think the version you have is specific to the Free BSD software. I don't think it's necessary to add this.

[2013-11-27 21:28] #136 closed, assigned to nobody

[2013-11-27 23:09] ghost commented on #33
@hometot  If you refer to CC0 or CC-BY 3.0, you're not required to keep the derivative work under the same license. OTOH, when you fork a project on Github, your fork has all files including the license of the original repository anyway, so it keeps it by default.

[2013-11-29 18:58] WhyNotHugo commented on #46
This issue is different, I have not installed the additional software required for the copy funcionality to work, so the "copy license" button should just select (but nothing at all is happening).

[2013-11-29 23:12] afeld commented on #119
The JSHint warning, while unfortunate, isn't the cause: https://github.com/jashkenas/coffee-script/issues/1507  I think the issue is https://github.com/zeroclipboard/zeroclipboard/issues/268.

[2013-11-29 23:58] afeld commented on #128
Not quite sure I follow... can you give a more concrete example?

You don't think the tooltips on the "rules" cover this?  If you have specific thoughts about which could be more clear, we'd love suggestions.

https://github.com/github/choosealicense.com/blob/edbcc1ca6aef0754565dd7717c00e62ed01df8f8/_config.yml#L5-62

[2013-11-30 00:07] afeld commented on #100
Yeah, I definitely see the argument for this, even if we only limit the set to "well-known" licenses.  That's probably how people are using http://choosealicense.com/licenses/ anyway, but doing the filtering in their brains.  Maybe that's a way to think about it: filtering on that page (or a similar one), vs. a full-blown wizard.

[2013-11-30 00:25] afeld commented on #100
Dupe of #96.

[2013-11-30 05:10] benbalter commented on #100
As @Haacked pointed out, we are purposely biased towards reducing choice.

Faceted search on the `/licenses` page may be helpful to power users, and may be a good addition, but would not target our primary use case.

[2013-12-02 19:10] #113 closed, assigned to nobody

[2013-12-03 01:19] davelab6 commented on #34
+1 to @gerv 's additional permission for GPLv2

[2013-12-03 01:27] davelab6 commented on #51
I suggest,

`I want every copy to be open source.`

![screen shot 2013-12-02 at 20 26 00](https://f.cloud.github.com/assets/261579/1660323/e72e3ef2-5bb9-11e3-9fb7-daeac6d7c535.png)

[2013-12-04 05:42] haacked commented on #51
Hmm, interesting. I kind of like that. @benbalter thoughts?

[2013-12-04 17:24] davelab6 commented on #51
Rationale: I don't think GPL is about sharing. It's about the user being able to deal in the work without restriction, no matter how many hands it went through to get to the user. I don't think copy left is widely understood in the audience of this site.

[2013-12-04 20:36] benbalter commented on #51
The term "copyleft" is too jargony and doesn't do much to demystify for a lay-user.

Copy isn't really the concern here. It's derivative works, which we'd been calling "improvements" to simplify. If you take my GPL'd software, download it, and then don't also post it, you've made a copy, that is not open source. The issue is if you make an improvement to it, and then attempt to distribute it. I li

[2013-12-10 17:04] talniv commented on #51
similar to @benbalter but trying to be clear about distribution of modifications, I suggest something like

[2013-12-10 19:40] davelab6 commented on #51
Uses can be private though, and it's important not to consider people by
implying that the GPL requires publication of changes

[2013-12-11 09:04] akdjka commented on #51
"I want my code to stay open source."
Not really. GPL is about making code of others' open source, as long as it touches yours close enough and is distributed. If you open source your code, it will stay open source, by definition.
"I want all uses of my code to stay open source."
Clearly better, though not fully accurate.
"I want every copy to be open source"
Not accurate either, but this is my fa

[2013-12-11 17:47] haacked commented on #51
It sure is! We have to try to get to the essence if we can. What's the part that someone who doesn't know licensing will care about?

[2013-12-11 18:03] talniv commented on #51
to clarify, this is what I just put forward:

[2013-12-13 16:31] XhmikosR commented on #119
OK after some more digging into this, Firefox doesn't support `innerText` for some reason...

If I do

[code]

works but the "Copied" text is shown indefinitely in Firefox. In Chrome this doesn't show the "Copied" text at all.

[2013-12-13 19:18] haacked commented on #119
Hmm, perhaps something like the following?

[code]

As for Firefox showing it indefinitely, I assume the same change must be made to the place where we make that message go away.

[2013-12-14 05:23] XhmikosR commented on #119
It seems we'll need something like that, yes.

[2013-12-14 05:39] XhmikosR commented on #119
Since we use jquery there must be a way to do it with it that works in most browsers...

[2013-12-14 06:51] afeld commented on #119
`this.innerHTML = ...` can be done w/ `$(this).html(...)` in jQuery.

http://api.jquery.com/html/

[2013-12-14 06:57] XhmikosR commented on #119
@afeld: while this works, the "Copied!" text stays indefinitely in FF...

But it seems to work with IE too. So we need to figure out why FF doesn't reset the button text like the other browsers.

[2013-12-16 18:21] XhmikosR commented on #119
I think we should follow this workflow to work around this issue:
1. use jquery to get the value of the button text, which should be "Copy license text to clipboard"
2. store the above value and use it in `clipboardMouseout` and get rid of `innerText`
3. use jquery again to change the text in the button

[code]

[2013-12-16 18:27] haacked commented on #119
If it works, it sounds good to me. :)

[2013-12-16 18:29] XhmikosR commented on #119
It _should_ work, but my JS skills aren't the best so I mentioned it in case someone else can try doing the above... Maybe @afeld :)

[2013-12-18 18:23] talniv opened #168 "move "Patent Grant" from "Permitted" list to "Required" list"
Hope i'm not resurrecting a resolved issue (I looked and couldn't trace one):

If I'm not misreading the licenses, granting rights to their patents is part of what the contributors are required to do under some of the licenses and therefore belongs under the "Required" list and not the "Permitted" list. (Everybody else is then permitted to _use_ and not to _grant_ those patents)

[2013-12-19 17:40] haacked commented on #168
@talniv Which ones are incorrect? Feel up to submitting a PR? :smile:

[2013-12-20 11:59] PanderMusubi opened #170 "Add LPPL"
Please add LaTeX Project Public License (LPPL)

https://en.wikipedia.org/wiki/LaTeX_Project_Public_License

[2013-12-20 11:59] PanderMusubi opened #171 "Add OFL"
Please add Open Font License (OFL)

https://en.wikipedia.org/wiki/Open_Font_License

[2013-12-20 12:01] PanderMusubi opened #172 "Add GUST Font License"
Please add GUST Font License (GFL)

https://www.tug.org/fonts/licenses/gfl.html

[2013-12-20 16:19] afeld commented on #171
Dupe of https://github.com/github/choosealicense.com/pull/130.

[2013-12-20 16:19] #171 closed, assigned to nobody

[2013-12-29 06:48] afeld commented on #97
Totally understand.  I was using my case as an example for the larger question, which I think is broadly applicable.

[2014-01-03 19:51] doktorbro commented on #172
:-1:

The OFL is the only open-source license specifically designed for fonts. #130

[2014-01-05 12:50] PanderMusubi commented on #172
OK, GFL will probably not be used by new projects. If OFL is going to be added, this one can be closed.

[2014-01-05 12:51] #172 closed, assigned to nobody

[2014-01-15 06:53] hossamzee opened #178 "Multiple languages support"
Loved this project and I would like to suggest that the project can support multiple languages.
# enhancement

[2014-01-21 15:57] davidamichelson commented on #33
I'd like to second the comment by @eric-brechemier. It seems counter-intuitive for github to limit the licenses available just because the imagined use case is for executable code. Github is also an excellent tool for storing encoded data (such as XML). The CC 3.0 licenses are a good fit for such non-executable code. Please add them as a default choice for a repository. (Afterthought: Given that G

[2014-01-21 18:15] haacked commented on #33
Let's be clear, we're not limiting anything. You're free to put any license you want in there. We're just making it easier to add a software license. Consider the previous state of the world when we did nothing. I think what we do today is strictly better.

I agree that having CC licenses in the license chooser would be great. I think that's mostly a GitHub UX issue though. I'll re-open this so we

[2014-01-21 19:02] davidamichelson commented on #33
@Haacked Thank you, you are right that it is not really limited sorry to imply that (one can do as I did and make their own license file and paste in the CC 4.0 text. The convenience of having it in the chooser would be nice though. Thanks!

[2014-01-21 19:07] haacked commented on #33
I hear you. :) I'll look into it. Can't promise it'll happen soon, but I think it's something I'd like to have happen eventually.

[2014-01-22 09:35] eric-brechemier commented on #33
@Haacked No doubt about that. I'll jump on the occasion to thank GitHub again for making open source development so much better.

The problem was largely compounded by the lack of plain text versions of Creative Commons licenses: the legal version of licenses relies heavily on HTML formatting, and it is unclear whether the preamble and disclaimer are part of the license text or not.

I just discov

[2014-01-22 16:41] haacked commented on #33
That's excellent! Good to know.

[2014-01-22 19:22] mindspillage commented on #33
Glad the plaintext versions are helpful, and happy to see the licenses included! To clarify, the preamble and disclaimer are not part of the license--they are included in the license files CC publishes, but while CC has committed not to change the legal code itself after publication, this material may change. (It is also permissible to omit them, but we recommend against it.) What is and isn't par

[2014-01-23 11:08] XhmikosR opened #183 "Refactor source files"
I was wondering if the source files could be refactored a little bit.

Like move the source files in /source/ and css, js, img in source/assets.

Perhaps only make the assets change. What do you think?

[2014-01-23 11:24] XhmikosR commented on #183
You can see how things will be here  https://github.com/XhmikosR/choosealicense.com/tree/refactor-src

[2014-01-27 05:37] haacked opened #187 "Add Google snippets, breadcrumbs, etc."
Now that we have a sitemap, we should probably optimize our search results.

![webmaster tools - structured data - http___choosealicense com_ - google chrome-518](https://f.cloud.github.com/assets/19977/2006330/04db1d04-8715-11e3-8bd5-786c5e17e679.png)

[2014-03-22 04:58] bsdlp commented on #109
[lice](https://github.com/licenses/lice/blob/master/lice/template-bsd3.txt) is apparently using `[project]` in place of `{organization}`. Either way, it would be great if this patch were to be merged or a decision be made.

[2014-04-15 13:30] asb opened #196 ""No license" does not allow commercial or private use"
Currently the [page for "no license"](http://choosealicense.com/licenses/no-license/) marks "Commercial Use" and "Private Use" as permitted, but this is false. You could argue that the Github TOS allow private use (as it explicitly says that you consent to public projects being forkable) but this doesn't apply elsewhere and it's still not something I'd rely on.

[2014-04-15 16:42] benbalter commented on #196
This was previously discussed, but I'm not finding the directly relevant issue (halp?). Two that may provide some context are https://github.com/github/choosealicense.com/pull/115 and https://github.com/github/choosealicense.com/pull/25.

[2014-04-15 22:37] haacked commented on #196
Yeah, this is a good point. Want to submit a PR?

[2014-04-15 22:45] benbalter commented on #196
The counter argument, is that there's always an implied license for _some_ use. You need to distinguish between unlicensed code knowingly posted publicly, and code sitting on my computer, which I neither post nor license.

If the New York Times posts a news story on their website, there's an implied license for private use in that I am allowed to read it, print it, email it to a friend, etc. If I

[2014-04-16 04:18] haacked commented on #196
Thanks for the clarification @benbalter.

[2014-04-19 15:39] daenney commented on #33
Since it's possible to host static content, like a blog or ducmentation through Github Pages I think the other CC licenses should be added to the drop down.

There's also people using Github to collaboratively write books and such.

[2014-05-03 20:23] cubiclesoft commented on #196
Without a license, a developer opens themselves up to lawsuits.  There is a reason that licenses include the words "WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT." and then proceeds to include further statements about no liability.  Lawyers wrote and vetted such language because

[2014-05-05 11:25] erlend-sh opened #198 "Feature request: Choose a separate content license"
Related: #175, #97

GoogleCode lets you choose a separate license for your content. I find it very handy:

![screen shot 2014-05-05 at 13 18 35](https://cloud.githubusercontent.com/assets/583842/2877269/c85ae2f8-d447-11e3-931e-35a2128f5dc8.png)

[2014-05-13 07:48] dexterous commented on #92
If your fork is strictly derivative, i.e. has material modification from original, does the copyright of the upstream author need to be maintained; esp considering the copyright pertains to the entire contents of the repo?

[2014-06-04 21:44] alejandrosantana opened #201 "agpl.txt should be agpl-v3.txt"
Hi.

AGPL and AGPLv3 are two different licenses.
AGPLv3 is GNU license, AGPL (v1) is not.
Your agpl.txt contains the AGPLv3 license, so it should be specified with a '-v3' (like you did with gpl-v2, gpl-v3).

As stated in http://www.gnu.org/licenses/ :

[code]

[2014-06-05 05:41] shiftkey commented on #201
Would you mind putting together a pull request to:
- rename the file to `v3`
- add in a new file with the v1 license

It'd be greatly appreciated!

[2014-06-05 07:58] alejandrosantana commented on #201
Done.
Hope it's all right, not sure about the headers.

[2014-06-16 00:31] benbalter opened #203 "Licenses missing from sitemap"
E.g., http://choosealicense.com/sitemap.xml

@parkr and idea why `jekyll-sitemap` wouldn't include the license files?

[2014-06-16 01:49] parkr commented on #203
They're not `html` files: https://github.com/jekyll/jekyll-sitemap/blob/master/lib/jekyll-sitemap.rb#L11

I'd suggest adding a field to the page which says:

[code]

It's a little confusing ("isn't everything included?") but would allow you to carry on with just TXT files.

[2014-06-16 13:05] benbalter commented on #203
Oh odd. Even though the permalink ends in an implied `.html`?

[2014-06-16 21:10] ciarand opened #205 "licenses.json being ignored breaks the API endpoint"
In #47 and #40 (and at least one other - 80-something?) an API endpoint for retrieving licenses (`/licenses.json`) was discussed. As of f6ce6097c6a9c6bff53c0f145939c91b6d9d3633 that page is no longer being built. Is that intentional? Is there an alternative preferred method of retrieving this information?

[2014-06-16 21:45] benbalter commented on #205
Eeek! Nope. Great catch. That's not intentional. Are you able to submit a pull request to remove line 73 `licenses.json` from the exclude list?

[2014-06-16 23:14] ciarand commented on #205
Yeah, will do

[2014-06-16 23:14] #205 closed, assigned to nobody

[2014-06-17 16:02] benbalter commented on #201
Fixed via https://github.com/github/choosealicense.com/pull/202.

[2014-06-17 16:02] #201 closed, assigned to nobody

[2014-06-17 16:03] benbalter commented on #183
I believe this was resolved via https://github.com/github/choosealicense.com/pull/190, but please speak up if you believe it's still worth visiting.

[2014-06-17 16:03] #183 closed, assigned to nobody

[2014-06-17 16:06] benbalter commented on #29
Fixed via https://github.com/github/choosealicense.com/issues/111.

[2014-06-17 16:06] #29 closed, assigned to nobody

[2014-06-17 16:22] benbalter commented on #198
@erlend-sh this appears to be a feature request for GitHub.com's new repository screen? I'll pass your request along to the appropriate team, but will close here as this is not something that a pull request to `choosealicense.com` could resolve.

[2014-06-17 16:22] #198 closed, assigned to nobody

[2014-06-17 16:24] benbalter commented on #196
Anyone else have a strong opinion on this issue?

[2014-06-17 16:26] benbalter commented on #187
@Haacked can you be more specific?

[2014-06-17 16:27] benbalter commented on #170
Closing in favor of https://github.com/github/choosealicense.com/pull/135.

[2014-06-17 16:27] #170 closed, assigned to nobody

[2014-06-17 16:31] benbalter commented on #168
My interpretation of the licenses properties is that it is from the code consumer's perspective, not the code publisher. If you look at [apache](http://choosealicense.com/licenses/apache/) for example, documenting changes and including copyright are actions required to be undertaken by the downstream user.

If anything, the wording of patent-grant could be changed to be clearer. Perhaps "patent us

[2014-06-17 16:32] benbalter commented on #128
Closing for now. @leahbannon feel free to chime in if this is still relevant.

[2014-06-17 16:32] #128 closed, assigned to nobody

[2014-06-17 16:33] benbalter commented on #178
Closing in favor of the duplicate discussion over in https://github.com/github/choosealicense.com/issues/68.

[2014-06-17 16:33] #178 closed, assigned to nobody

[2014-06-17 16:33] benbalter commented on #119
Is this still an issue?

[2014-06-17 16:34] XhmikosR commented on #119
Yeah.

[2014-06-17 16:34] benbalter commented on #87
Fixed via https://github.com/github/choosealicense.com/pull/197.

[2014-06-17 16:34] #87 closed, assigned to nobody

[2014-06-17 16:37] benbalter commented on #51
Closing as stale, but if there's strong interest in resuming the discussion, please feel free to chime in.

[2014-06-17 16:37] #51 closed, assigned to nobody

[2014-06-17 16:39] benbalter commented on #41
Thanks for opening the issue. Great :eyes:. The minor changes in bracket type facilitates auto population when vendored into github.com.

[2014-06-17 16:39] #41 closed, assigned to nobody

[2014-06-17 16:41] benbalter commented on #5
We could create an entire site dedicated to GPL compatibility. `chooseagpllicense.com`? The best approach would likely be to link out to a GPL compatibility matrix from the GPL licenses' notes, either as a page within this site or externally. Anyone interested in taking a stab at a PR?

[2014-06-17 16:45] benbalter commented on #109
PR over in https://github.com/github/choosealicense.com/pull/208.

[2014-06-17 16:47] benbalter commented on #48
@gerv still interested in seeing this forward?

[2014-06-17 16:47] benbalter commented on #44
Fixed via https://github.com/github/choosealicense.com/pull/50.

[2014-06-17 16:47] #44 closed, assigned to nobody

[2014-06-17 16:48] benbalter commented on #10
Is this issue still relevant?

[2014-06-17 16:53] davelab6 commented on #51
@Haacked said,

I think my suggestion, `I want every copy to be open source.` does that better than the current text which @akdjka thinks is unfair to other licenses. @Haacked said he liked my suggestion; please use it :)

[2014-06-17 16:59] Hawke commented on #10
I certainly found the warning confusing. It could use some clarification about whether 'sublicensing' means that licensees are allowed to re-license with a different license, or whether they're allowed to convey the work to others subject to the same license. (my understanding is that they are, in which case "sublicensing forbidden" is misleading.)

[2014-06-17 17:26] haacked commented on #187
@benbalter you know. SEO and shit. :trollface:

This was more a placeholder to think about it. Here's what it looks like today on Google.

![39](https://cloud.githubusercontent.com/assets/19977/3303861/6f574650-f644-11e3-8a04-17734326fc04.png)

Maybe we could have our three main licenses as headings with very brief summaries in these results.

[2014-06-17 17:51] erlend-sh commented on #198
Thanks.

[2014-06-17 18:17] parkr commented on #203
Right. Jekyll sees them as text files, and it asks the converter for this file (the identity converter in this case) what output extension the file will have and asks if it's `.html`. If not, it gets the :boot:. We could also test the `permalink` attribute in jekyll-sitemap if you like!

Side question: why are the licenses .txt files rather than .html files in this repo, anyway?

[2014-06-17 18:50] benbalter commented on #203
Because the body is text, not HTML.

[2014-06-17 21:26] #109 closed, assigned to nobody

[2014-06-22 19:52] #43 closed, assigned to nobody

[2014-06-22 19:52] #64 closed, assigned to nobody

[2014-06-22 19:58] #5 closed, assigned to nobody

[2014-06-23 12:30] gerv commented on #48
I'm very busy, as can be seen from the delay in commenting here (I was travelling last week), but yes, I'm still interested in taking this forward. How can we do that?

(I don't seem to have power to reopen this ticket.)

[2014-07-02 22:02] webmink commented on #10
I agree with that last comment. The objective of sublicensing is to convey the work to others. The GPL permits this but uses an alternative mechanism. Stating that sublicensing is forbidden communicates that conveying the work is not allowed. Since that's an incorrect impression, it would be better to either reword or (better) remove the statement.

[2014-07-15 06:12] QuLogic opened #211 "HTTPS site does not work"
Attempting to go to https://choosealicense.com fails with an invalid certificate error, because it's only for *github.com. I know the new repo page doesn't link to it, but it would be nice if it worked.

[2014-07-15 14:26] parkr commented on #211
AFAIK, HTTPS for custom domains on GitHub Pages is not possible. You should only access this site via HTTP, never HTTPS.

[2014-07-15 15:34] #211 closed, assigned to nobody

[2014-07-16 00:43] QuLogic commented on #211
Ah, I was hoping you could work some magic within GitHub infra. ;)

[2014-07-18 13:46] gerv commented on #48
benbalter: So where do we go from here? This change would be fairly significant - cutting down the opening options from 3 to 2 - Apache for permissive and GPLv3 for copyleft. Who would need to sign off on that?

[2014-07-22 09:21] Krinkle opened #212 "Links for gpl-v2/v3 from home page shouldn't redirect"
The links to the gpl licenses on the home page on "I care about sharing improvements", "V2" and "V3" should not be redirects.

Especially because meta/javascript redirects are rather slow and quite visible to the user .

[2014-07-25 21:50] dbernar1 opened #213 "www.choosealicense.com doesn't resolve"
Hi,

Looks like I can't go to www.choosealicense.com.

HTH!

[2014-07-26 03:21] benbalter commented on #213
Thanks @dbernar1. Looks like it's missing a CNAME record on the subdomain. I opened an issue with our Ops team to take a closer look.

[2014-07-26 03:21] #213 closed, assigned to nobody

[2014-07-26 03:43] benbalter commented on #213
Quick update: Fixed!

[2014-07-26 03:53] dbernar1 commented on #213
Thanks

##

Dan Bernardic
My contact information is at http://gravatar.com/dbernar1

[2014-07-29 14:30] lsmith77 commented on #51
didn't really seem stale to me. just in the end someone needs to make a call on a final version and that some might need to be someone that can also press the shiny merge button. but there are plenty of good proposals here.

[2014-08-15 04:04] kidchenko commented on #68
Hi, I would like to contribute to the implementation of I18N. You need help?

I am web developer from Brazil. Here not lot speak English for this reason many people have benefited from the translation.

I can start and send a PR?

[2014-09-05 15:47] #212 closed, assigned to nobody

[2014-09-05 17:57] benbalter commented on #203
Fixed via https://github.com/jekyll/jekyll-sitemap/issues/39

[2014-09-05 17:57] #203 closed, assigned to nobody

[2014-09-05 18:19] parkr commented on #203
:boom:

[2014-09-09 08:24] anshin opened #217 "Incorrectly labeled BSD 2-clause"
The OSI page on [BSD 3-clause](http://opensource.org/licenses/BSD-3-Clause) refers to it as both _New BSD_ and _BSD Simplified_, while the [BSD 2-clause](http://opensource.org/licenses/BSD-2-Clause) page doesn't discuss such a title.

[2014-09-09 08:30] anshin commented on #217
Ah. The [BSD 3-clause](http://opensource.org/licenses/BSD-3-Clause) page refers to BSD 2-clause as _Simplified BSD_. This is terrible, but it looks like choosealicense is accurate. I'll close this.

[2014-09-09 08:30] #217 closed, assigned to nobody

[2014-09-10 23:49] darkpixel opened #219 "Integrate w/ GitHub, BitBucket, etc..."
Have a 'sign in w/ GitHub' button, then troll through the public repos for the user and display any existing licenses along with the option to commit a license to a project.

[2014-09-11 00:05] parkr commented on #219
Have you seen addalicense.com?

[2014-09-11 03:10] tekkub commented on #219
This site is just a simple static site hosted using Jekyll and GitHub Pages, the things you propose are probably well outside the scope of this site as it is currently.  It's a great idea though, I second the recommendation to give addalicense.com a try.

[2014-09-11 15:31] #219 closed, assigned to nobody

[2014-09-11 21:32] darkpixel commented on #219
I hadn't run in to addalicense.com--thanks.

[2014-09-18 08:48] r-lyeh-archived commented on #82
this is something quite common nowadays. my upvote for a zlib/libpng license section

[2014-09-18 08:58] r-lyeh-archived commented on #82
specially when i want to perform an addalicense.com with zlib/libpng to all my repos : )

[2014-09-18 09:19] r-lyeh-archived opened #222 "disambiguate source/binary license agreement requeriments"
Some visitors, my coworkers, visited the website for license comparison, and got no answer from a very common question: "if my (closed) software is released, shall it require attribution of the XXX copyright/license agreement?"

A few licenses like MIT, BSD-2 and BSD-3 require the copyright/license agreement to be included both in source and binary distributions. Others, like Boost Software Licens

[2014-09-27 08:12] r-lyeh-archived opened #223 "add boost software license support"
It is basically a BSD/MIT license with no required attribution in binary distributions.
License can be found in http://www.boost.org/LICENSE_1_0.txt

Comparison details here:
http://en.wikipedia.org/wiki/Comparison_of_free_and_open-source_software_licenses

Quoting boost website:
"This license, which is very similar to the BSD license and the MIT license, should satisfy the Open Source Initiative'

[2014-10-17 05:34] ciarand opened #225 "The API only provides an array of license texts now"
Hard to tell, but as an example `curl http://choosealicense.com/licenses.json | jq .[4]` gets:

[code]

I think it used to (#47, #40) give way more detail. Where should I look to re-enable that functionality?

[2014-10-17 06:11] parkr commented on #225
@benbalter with the addition of https://github.com/jekyll/jekyll/pull/2729 now on GHP, you should be able to just re-build this site and it should work.

[2014-10-20 10:38] ThaDafinser opened #226 "Automaticall display permitted/forbidden inside a repo"
Hello,

i like the small overview: http://choosealicense.com/licenses/

Cool would be to display the permitted/forbidden of a license directly inside each github project.
- scan the LICENSE.md
- display it when open the LICENSE or better directly on the Readme page?

[2014-10-20 13:08] benbalter commented on #226
@ThaDafinser thanks for the feedback. It sounds like your suggestions is about github.com, not choosealicense.com. I'll pass your idea along to the appropriate GitHubbers, and will close here. If you have any other suggestions, don't hesitate to email support@github.com any time.

[2014-10-20 13:08] #226 closed, assigned to nobody

[2014-10-27 21:30] benbalter commented on #225
@parkr no dice. `{{ site.licenses | map:"to_liquid" | jsonify }}` works though. (same results locally). Any idea?

[2014-10-27 22:48] parkr commented on #225
@benbalter the `Gemfile.lock` is still on Jekyll 2.3.

[2014-10-27 22:50] parkr commented on #225
Ah! Figured it out.

[2014-11-12 13:27] PanderMusubi opened #228 "More licenses from CTAN"
Here is a list of more licenses that could be supported. http://ctan.org/upload

[2014-11-12 15:22] benbalter commented on #228
@arfon any strong feelings on this?

[2014-11-12 15:38] PanderMusubi commented on #228
Mainly Latex Project Public License is the one to add

[2014-11-12 15:43] arfon commented on #228
Not really. My understanding is that the [LPPL](http://opensource.org/licenses/LPPL-1.3c) is fairly common in LaTeX land.

[2014-11-12 15:47] PanderMusubi commented on #228
If it is common, isn't that a reason to add it?

[2014-11-25 15:25] Pixelfck opened #229 "Add the EUPL (European Union Public Licence) to list of licences to choose from."
It would be most useful, if support for the EUPL was added. There may be some resistance to adding 'yet another licence', but this one is different from most others with regards to its legal status in the EU.

The [European Union Public Licence](https://en.wikipedia.org/wiki/European_Union_Public_Licence) (EUPL) has been created by the [European Commission](https://en.wikipedia.org/wiki/European_C

[2014-11-25 18:28] parkr commented on #229
Is the EUPL legally binding outside member countries of the European Union? If I am a German open-source developer using this license, does it protect the code from American actors (for example)? Additionally, how does the European Commission version this license? Is it compatible with GPLv2 or only v3?

Lots of unanswered questions to suss out, though I'm generally :+1: on this.

[2014-11-25 22:41] Pixelfck commented on #229
_Disclaimer: I'm not a lawyer, so this is just my best effort explanation for this._

EUPL is designed with EU-membership states in mind. This means that it is compatible with the laws in all membership states. All the little details have been solved and the legal translation makes sure that the license has the same juridical meaning across all national legal systems in EU-member states. So, if a

[2014-12-08 21:30] eric-schleicher commented on #33
we also have a desire to attach CC-BY-SA licensing to some of our static content, documentation and manuuals.  <bump>  would be nice to have this supported natively.   gitHub isn't just for software.

[2014-12-17 08:53] mindspillage opened #230 "Recommend a public domain release in "no license"?"
On the front page, someone who just doesn't want to mess with licensing because they don't care might choose "I don't want to choose a license" rather than "I want more choices"--when the closest thing to their desires and intentions might be to release everything into the public domain. To make this easy for people, the "no license" page should probably include at least a mention of or link to th

[2014-12-17 20:00] artob commented on #230
:+1:

[2014-12-17 20:02] benbalter commented on #230
@mindspillage would you like to submit a pull request with the proposed language to get the conversation started (and anchored)?

[2014-12-18 02:18] parkr commented on #230
I would definitely :+1: any increase in emphasis on the Public Domain route.

[2014-12-18 08:58] mindspillage commented on #230
@benbalter sure--and submitted now.

[2014-12-18 20:03] #46 closed, assigned to nobody

[2014-12-18 20:03] #119 closed, assigned to nobody

[2014-12-20 07:23] WhyNotHugo commented on #46
On firefox 34.0.5, clicking the button still does not copy the license - it merely selects it (and the button does not update either). #232 won't fix the main issue here (the license it not being copied).

[2014-12-20 08:23] XhmikosR commented on #46
Can you try the solution I suggest in that PR?
On Dec 20, 2014 9:23 AM, "Hugo Osvaldo Barrera" notifications@github.com
wrote:

[2014-12-20 11:54] XhmikosR commented on #46
Never mind, I tried it and both ways work.

[2014-12-20 12:18] XhmikosR opened #235 "Switching tabs in licenses doesn't work without Flash player"

[2014-12-20 20:03] gjtorikian commented on #46
@hobarrera Can you show a GIF or video of your behavior? I'm on FF 35, OS X, and I can't reproduce:

![but](https://cloud.githubusercontent.com/assets/64050/5516117/322ae046-8840-11e4-9d6f-880ef747c877.gif)

[2015-01-03 02:42] strugee opened #238 "Explain common terms like "copyright", "patent" and "license""
Most people have a basic grasp of licensing-related stuff, but are hazy on the exact details of what the different terms mean. It would be nice if we could have a FAQ or something to explain all of it. I'd send a patch, but I'd like to solicit some feedback on what people think the exact format should be.

Here's a list of things we might want to put on such a page:
- "Copyright"
- "License"
- "Pu

[2015-01-03 02:55] strugee opened #239 "Consider discussing ecosystems with an already predominant license"
I'm not really sure whether this belongs here or not, so I want to have a discussion about it.

It would be nice if we mention somewhere that one consideration might be that if you're working within a particular ecosystem, you might want to consider using a particular license that dominates that ecosystem.

Examples:
- MPL for Mozilla
- EPL for Eclipse
- Apache or (less commonly) the GPL for Andro

[2015-01-03 05:04] bhuga commented on #238
This is a good idea, but I'd like to hear your thoughts on two concerns I have:
- These words mean different things in different jurisdictions. Can we make a definition of "public domain" or "patent" that is meaningful for everyone without misrepresenting for at least some readers?
- How do we expose this information? I think the site would become a little muddy to read if every instance of the wo

[2015-01-03 05:16] bhuga commented on #239
What workflow are you seeing for this?

Is it `I know my ecosystem: help me find a license for it.` ?

Or is it `Here's some more information about the MPL license you're looking at: the mozilla community uses it.` ?

I think I would be okay with the second format, but would fear that adding an "ecosystem route" through the site might dilute the main goals we're after. Rather than educating, it wo

[2015-01-03 05:39] strugee commented on #239
Yeah, this is basically what I meant. I would phrase it as: `I'm undecided, I'll just go with the flow`, but yeah.

I share your concerns; I mostly wanted to see if anyone else didn't.

[2015-01-03 05:54] strugee commented on #238
I think so? I'm not enough of an expert on non-US intellectual property law to say definitively, but I think if we make it general enough we can find a balance. E.g. "patent" could be defined as something along the lines of, "Something that places legal protections on ideas such that the law treats the patented idea similar to how it treats property. Patents " That blurb, while getting the main id

[2015-01-07 13:33] benbalter opened #241 "GPL links no longer valid"
See, e.g., https://travis-ci.org/github/choosealicense.com/builds/46188998

[2015-01-08 13:45] pmackay opened #242 "Describe best practice if including code from other projects"
As GitHub obviously encourages, some projects will include code from other projects. What is the best thing to do in that situation? Should the originator's copyright info in their license be added to the license file in the new project? Something like this? e.g.

[code]

[2015-01-09 06:53] afeld opened #243 "when should licenses be specified in source files?"
I don't know the answer, but would be useful to clarify as part of [an FAQ page](https://github.com/github/choosealicense.com/pull/175#discussion_r9098620).

[2015-01-09 12:41] mbland commented on #243
FYI: I've commented on 18F/hub@703376348b0d738710da48ca7d5fcce91bf0b8b3 that I was trying to follow the advice of http://creativecommons.org/weblog/entry/27094 and the [CC Wiki](http://wiki.creativecommons.org/CC0_FAQ#May_I_apply_CC0_to_computer_software.3F_If_so.2C_is_there_a_recommended_implementation.3F) (which appears to be broken now, but wasn't earlier this week).

[2015-01-09 14:23] benbalter commented on #243
In short, IANYL, but but my suggestion would be to default to `LICENSE.md`, unless the particular text of the license or sidebar implementation instructions (e.g., GPL) suggest otherwise.

Even shorter, RTFM and do whatever the license's implementation instructions (top right of each page) suggests (which defaults to `LICENSE.md`)

[2015-01-09 14:55] mbland commented on #243
The ["How to apply" instructions](http://choosealicense.com/licenses/cc0/) appear to be silent on the issue of license notices in source file header comments, while the [CC Wiki](http://wiki.creativecommons.org/CC0_FAQ#May_I_apply_CC0_to_computer_software.3F_If_so.2C_is_there_a_recommended_implementation.3F) (which is still, unfortunately, down as I write this) explicitly recommends them. I could

[2015-01-09 15:02] benbalter commented on #243
To clarify, in the case of cc0, it states:

Which you are correct in reading that the recommendation is to add a file to the repo root, but not each file.

There's a broader discussion to be had, but adding notices to each file makes sense in formats / times where it's likely that an individual file would be separated from the project. Think a punch card or pamphlet versus a GitHub repo or a book.

[2015-01-09 15:11] afeld commented on #243
_The wisdom of Balter_ :raised_hands:

This is a perfect FAQ answer. Think it's worth adding to the site, if we could find a place for it?

[2015-01-09 15:16] benbalter commented on #243
To me, the instruction that I'd write would be "read the "how to add this license" on the license and do what it says" which doesn't seem worth the pixels. I'd suspect that 90% of the target audience (those unfamiliar with licensing) wouldn't think "oh should I add it to each file?", especially with explicit instructions to the contrary, but I'm not strongly opinionated if it's a significant point

[2015-01-09 15:17] afeld commented on #243
I kinda see the issues as the power-user FAQ anyway :smirk: Thanks!

[2015-01-09 15:17] #243 closed, assigned to nobody

[2015-01-09 16:04] mbland commented on #243
I agree with the punch-card/book analogy, but speaking for myself and not @afeld, I'm seeking resolution regarding the fact that the [CC Wiki](https://wiki.creativecommons.org/CC0_FAQ#May_I_apply_CC0_to_computer_software.3F_If_so.2C_is_there_a_recommended_implementation.3F) (which is live again, yay!) explicitly says this:

[code]

Again, I'm happy to cut 'n run with the LICENSE.md model, as it ma

[2015-01-10 13:42] doktorbro commented on #241
It doesn’t happen anymore. Seems like a temporary issue.

[2015-01-11 19:19] #241 closed, assigned to nobody

[2015-01-15 17:59] strugee commented on #243
Perhaps we could link to these "how to use this license" documents from the licenses list and/or license pages, similar to how we currently link to the raw license source? The FSF, at least, maintains detailed HOWTOs for how to apply each of their licenses.

[2015-02-03 18:15] JeromSar commented on #238
I think it's also important to clarify several other terms which use the word "patent".
For example, the Apache license includes a so called "patent grant", but the term is never further explained. For me, this was confusing and raised several questions:
- What is a patent?
- Does my code automatically have a patent when I publish it?
- What happens when my license includes a patent grant?
- What

[2015-03-07 00:34] tfoote commented on #230
#231 has been submitted and merged. I think this can be closed now.

[2015-03-07 00:41] bhuga commented on #230
Yep! thanks.

[2015-03-07 00:41] #230 closed, assigned to nobody

[2015-03-08 23:32] ghost opened #255 "GNU GPLv3 and GNU GPLv2 under the same name"
I was looking to my favourite version of the GNU GPL and I found myself a bit confused when saw that. :sweat:

I seems that an error has been introduced in the titles. Hope that my issue helped.

![capture](https://cloud.githubusercontent.com/assets/7476441/6548278/88456af0-c5f3-11e4-9587-0d579343e710.PNG)

[2015-03-09 01:35] #255 closed, assigned to nobody

[2015-03-10 22:33] Vdragon commented on #68
Hi,
I would like to contribute Traditional Chinese(Taiwan) version of this great site!

[2015-03-12 12:18] annulen opened #257 "Principal difference between BSD and MIT licenses is not shown"
IANAL, but common interpretation of MIT license is that it does not require you to redistribute license test of original project when you distribute it in binary form (e.g., as a part of derivative work). On the other hand, BSD licenses include specific clause for this case:

For example, if guys from Microsoft use your library in binary distribution of Windows
- for BSD-licensed library, they hav

[2015-03-14 12:06] WhyNotHugo commented on #46
Behaviour has now changed, and I now get a dark grey overlay when hovering the mouse over the copy-license button:

![2015-03-14-090012_1920x1080_scrot](https://cloud.githubusercontent.com/assets/730811/6651613/a0943792-ca28-11e4-8136-65b1ea0b0d75.png)

It wouls seem that now, when hovering the button, an [object](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/object) tag is put inside

[2015-03-14 12:09] WhyNotHugo commented on #45
Still an issue 20 months later. Hovering the mouse over the button puts some an object tag in front of it (flash, I think, though I've no way to be sure), making the browser cover the button in a dark gray overlay and the button unclickable:

![2015-03-14-090207_1920x1080_scrot](https://cloud.githubusercontent.com/assets/730811/6651629/a8f847ba-ca29-11e4-9eb5-94c4ab79e2a0.png)

Stuff like this is

[2015-03-14 15:37] gjtorikian commented on #46
I'm on FF 37 and cannot reproduce that error.

As well, here's a list of current changes from  the last commit to fix this: https://github.com/github/choosealicense.com/compare/6a220e589a25c232125528f0c6ebe0e477777d20...gh-pages

Nothing touches the copy to clipboard code.

[2015-03-15 17:05] WhyNotHugo commented on #46
@gjtorikian:

Can you retry on a clean setup? I'm amazed on how you can't reproduce the issue as time passed, but I've seen consistent (broken) behaviour on different machines and OSs.

[2015-03-15 17:07] XhmikosR commented on #46
I can't reproduce either on any of my Windows 7/8.1 machines with Firefox 37 64-bit and the latest Flash player.

[2015-03-26 18:37] #222 closed, assigned to nobody

[2015-03-27 08:38] wulczer opened #259 "Add the PostgreSQL license"
A lot of Postgres extensions are licensed with the PostgreSQL license, which is similar to the BSD and MIT licenses:

http://www.postgresql.org/about/licence/

http://opensource.org/licenses/postgresql

[2015-03-27 19:07] ghost opened #261 "Licenses for documentations"
Developing a framework or a library implicitly implies to deliver a documentation and many well known frameworks like Qt uses that kind of licenses to cover their documentions.

By going from pages to pages on http://choosealicense.com, i've noticed that it only covers software licenses. I think that i'd be be interesting to also cover documentation licenses like GNU FDL.

Here is a resource i've

[2015-03-28 08:32] strugee commented on #259
If it's similar to the MIT and BSD licenses, why do we need it? Remember, ChooseALicense is about quality, not quantity.

[2015-03-28 09:54] wulczer commented on #259
For example, I mainain a few Postgres extensions, for which the license is "same as PostgreSQL", which means the PostgreSQL license. It's a natural fit for code that's written explicitly for Postgres and might in the future end up in the core distribution.

I guess people could always dual-license, MIT and PostgreSQL.

[2015-03-28 19:29] strugee commented on #259
"PostgreSQL extension" seems like a pretty small niche.

I don't mean to sound rude. Honestly. I just don't see this on choosealicense.com.

[2015-03-30 00:37] benbalter commented on #259
Two questions come to mind for me:
1. Could I license a PostgreSQL extension under MIT, BSD, or a similar license?
2. Would I ever use this license for something other than a Postgres-related project? Should I?

[2015-03-30 00:41] benbalter commented on #261
Most licenses explicitly include documentation (e.g., MIT says "and associated documentation files", Apache says "generated documentation" and "documentation source"). Choosealicense is about making it easier to license software (which includes documentation). I believe for most use cases having a separate documentation license may be over-engineering the problem and will be confusing for folks ne

[2015-03-30 02:53] ghost commented on #261
Yes, I've noticed that some licenses like your examples are giving protection to the documentation files, but some like the GNU GPL (any revision) doesn't cover documentation files.

I thought that explicitly covering documentation licenses on http://choosealicense.com could be interesting for developers, not folks ones as you said and also explain them the purpose of that kind of licenses.

[2015-03-31 13:31] xrchz commented on #10
:+1:

[2015-04-03 07:12] strugee commented on #261
Perhaps we can find a compromise - e.g., we could link to the GNU FDL in the GPL explanation text. Something along the lines of, "unlike many other licenses, the GPL does not cover documentation. Consider licensing your documentation under the GNU FDL, which licenses documentation in a manner similar to how the GPL licenses software."

[2015-04-03 15:35] ghost commented on #261
Yep, it sounds fine to me. No need to create new pages dedicated to documentation licenses but the information is given to the developer.

[2015-04-14 11:49] EmidioStani commented on #229
Is there any news on this ?

[2015-04-28 22:44] josinalvo commented on #51
How about: "I want people to pay it forward" ?
(also, see #260 )

From what I gather, some people would want it to be "I want to require people to pay it forward".
But then, why does the apache licence not say "I want to require contribuitors to license patents for free" or something like that ?

[2015-04-29 20:32] rugk commented on #257
I have researched a bit about this topic and what I found out is that the part for compiled software in the BSD license is unnecessary. This was also the reason why the [ISC license](https://en.wikipedia.org/wiki/ISC_license) was created, which is a modified BSD 2-clause license.

The reason for that is that a revision of the [Berne convention](https://en.wikipedia.org/wiki/Berne_Convention) in 19

[2015-05-20 08:01] unhammer commented on #196
Without granting a license, only the copyright holder can use the code for whatever purpose. So commercial/private use should be in the forbidden column, since the "use" refers to what people _other than the copyright holder_ can do with the code.

Regarding posting code snippets on a blog or whatever, at least here in Norway what matters is if the code is substantial enough to be a "Work". If it'

[2015-05-25 09:42] Pixelfck commented on #229
If I wanted to further this issue, what kind of information would be required?

[2015-05-25 19:04] benbalter commented on #229
I don't think EUPL is a good fit for the project for three reasons:
- It's not very widely used. A quick GitHub code search suggests about 15,000 projects use the license (compare that to even AGPL, [one of the least popular licenses on GitHub](https://github.com/blog/1964-license-usage-on-github-com), which the same search returns half a million results. For from scientific, but at least 1% of pr

[2015-05-27 07:09] stuartpb opened #265 "https://www.choosealicense.com is broken"
The certificate that gets served when requesting choosealicense.com over HTTPS is for github.com, not choosealicense.com.

[2015-05-27 17:40] parkr commented on #265
@stuartpb HTTPS does not work for custom domains over GitHub Pages. Did you expect it to work based on some documentation? If so, please submit a fix for the documentation. Otherwise, expect HTTP-only for CNAME'd GitHub Pages websites.

[2015-05-27 18:27] #265 closed, assigned to nobody

[2015-05-29 09:03] Pixelfck commented on #229
The list of licences to choose from on Github is based upon what choosealicense.com supports. So, those 15,000 projects made the decision to use EUPL despite it not being offered as a choice.

On of the things the EUPL offers, that none of the other licenses included so far do, is an official legal translation into 22 languages. This is a big difference: If a dispute arises over code licensed as G

[2015-06-01 22:11] PESchmitz commented on #229
GitHub is a very important initiative for the EU community of developers and The ECs' EUPL licence should be considered for multiple reasons:
- At the contrary of the permissive MIT etc., the EUPL is copyleft for protecting the code from proprietary appropriation. However, the EUPL is compatible with other most used copyleft licenses: if you consider the EUPL v1.2 that will be adopted soon, it is

[2015-06-02 17:17] benbalter commented on #229
I agree with the points raised. To me the question isn't whether EUPL (or any other license) is a _good_ license. That's not our role. The question is will adding it to the site demystify license usage, to make it easier for developers to quickly and easily license their code. At the point that you have to go into copyleft compatability to explain it's value, while a good license, I presently don'

[2015-06-12 13:21] EmidioStani commented on #229
I do believe that as user/developer, having a license officially translated in 22 languages, I would have more confidence in releasing my software as open source software.

[2015-06-16 11:14] paul23-git commented on #229
@benbalter Actually from a legal point of view GPL might be incompatible to any european developper. As it explicitly states no warranty (I know you can't state that generically in the netherlands for software), and it tries to move all ownership. While in the Netherlands, as well as Germany/Belgium there is a difference between the copyright holder, and the "creator" - who has something called "p

[2015-07-06 11:05] mirabilos opened #268 "Please add The MirOS Licence"
Hi,

what do I have to do in order to get another OSS licence
included into your repository initialisation licence chooser?
It’s a BSD/MIT-ish licence, and one of your users asked me
just now why it was not selectable.

Scope:      works under Copyright law (code, data, docs, media, …)
Long name:  The MirOS Licence
Short name 1:   MirBSD
Short name 2:   MirOS
Reference URI:  https://www.mirbsd.org

[2015-07-06 12:29] waldyrious commented on #268
That's a nice one, @mirabilos. Out of curiosity, can you explain how it differs from [MIT/Expat](http://choosealicense.com/licenses/mit/), [Simplified BSD](http://choosealicense.com/licenses/bsd-2-clause/) and [ISC](http://choosealicense.com/licenses/isc/), and why those were deemed (if indeed that was the case) inadequate?

[2015-07-06 12:46] mirabilos commented on #268
@waldyrious the basic idea was to get the disclaimer worded so that it more closely resembles the other EU licences, in order to not be possibly invalidated due to too broad dis-claims.

Then, of course, there is referring to “work” (extending scope to all there is under copyright law) instead of “software”, as I wish to use this for all my works I publish (graphics and photos too, and I even have

[2015-07-06 14:41] adamretter opened #269 "Add the AGPL license"
Several commercial projects seem to use the AGPL license to both permit Open Source and protect their investment. For example - http://osswatch.jiscinvolve.org/wp/2014/09/10/locked-into-free-software-unpicking-kualis-agpl-strategy/

[2015-07-06 16:13] waldyrious commented on #268
Thanks for the very informative answer. If this becomes more prevalent, I'll definitely consider switching to it rather than ISC which is my preference at the moment. For non-software work, I tend to prefer Creative Commons licenses due to their widespread recognition and easy understanding of the terms.

[2015-07-06 18:35] mirabilos commented on #268
@waldyrious I understand. It’s no problem – we just have different weights to “use a homogenous licence” vs. “wide-spread” (though I recently looked at CC-BY and found it pretty copyleft-y; plus, in my OSS fields, CC-\* is actually the minority).

But this issue is not about getting everyone to switch to it (though I’d not say no to that either ☺) but to get it listed in the “new repo, which READM

[2015-07-07 00:23] strugee commented on #269
I'd like to make somewhat of a radical suggestion and say that we should universally recommend the AGPL instead of GPLv2/v3. If you are using the GPLv2 in the way that it is intended - to ensure the freedom of downstream works - then there is virtually no reason that you wouldn't upgrade to the GPLv3 or even all the way to the AGPL.

IMHO, the main reason that the GPLv3/AGPL hasn't been adopted is

[2015-07-07 07:49] adamretter commented on #269
@strugee From my perspective there is one important difference between GPL and AGPL and I think this website is the perfect place to show that in a simple manner.

[2015-07-07 18:56] strugee commented on #269
@adamretter there is an important difference, yes. But I don't think it's important enough to recommend all three GPLs. The title for the GPL section on the front page says: "I care about sharing improvements." If that's true, why would the user use the GPL instead of the AGPL?

[2015-07-08 16:42] adamretter commented on #269
@strugee well I guess what I am suggesting is that "I care about sharing improvements" is not the right title. For AGPL, you could say "I want to achieve open source vendor lock-in"

[2015-07-08 18:11] strugee commented on #269
@adamretter the way I see it, _all_ the GPL licenses (not just the AGPL) can be used either in the true free software spirit - in the way that the website suggests currently - or it can be used to promote "open source vendor lock-in," as you put it.

We shouldn't encourage the second one, IMO. ChooseALicense is fundamentally about getting people to release their stuff as free software, and the use

[2015-07-08 18:22] strugee opened #270 "LGPL's required column contains confusing "library usage""
The hover-text makes it clear, but just looking at the column, it seems like you're required to use the LGPL'd work as a library.

[2015-07-09 17:05] benbalter commented on #269
@adamretter what do you mean? It's already listed: https://github.com/github/choosealicense.com/blob/gh-pages/_licenses/agpl-3.0.txt

[2015-07-09 19:38] adamretter commented on #269
@benbalter Somehow the buttons on the licenses page did not stand out for me and so I completely missed them. Now you mention it, I see it is here http://choosealicense.com/licenses/#agpl-v3. Sorry for the noise.

[2015-07-13 13:39] #269 closed, assigned to nobody

[2015-07-14 06:51] strugee commented on #51
We could go with "I want to prioritize user freedom." That attacks the problem from a different angle (although it may require the blurb to be adjusted to match).

Yes, it doesn't say _anything_ about how this actually works legally, but I think that captures the intent, right? At least, the intent according to the FSF.

[2015-07-30 07:35] Swizz opened #271 "MIT X11 version forbidden to use trademark"
As the Apache License, The X11 version have the following clause :

[code]

[2015-07-30 16:27] benbalter commented on #271
@Swizz540 can you elaborate a bit further on your observation / what you're proposing?

[2015-07-31 09:10] Swizz commented on #271
@benbalter Oh so sorry, I am not finished my Issue.

Many people don't know the difference between the X11 and the Expat version of the MIT License.

Like the BSD license, can you add both versions of the MIT to show the "Using Trademark Forbidden" for the X11 version.

[2015-08-05 08:09] tthiery opened #272 "Distinguish "License and copyright notice" between code and ui/documentation"
The statement "License and copyright **notice**" has a tooltip "Include a copy of the license and copyright notice with the **code**.". This tooltip targets explicitly the source code. Additional information whether the license need to be mentioned to the end user would be valuable!

[2015-08-05 18:47] benbalter opened #273 "Proposal: "Hidden" licenses"
I'd like to propose that we introduce a new "class" of licenses to choosealicense.com which I'm calling "hidden licenses". Hidden licenses would act just like any other license, except they would not appear on http://choosealicense.com/licenses/.

We get **a lot** of requests to add licenses representing the extremely long tail of license choices out their in the open source community. See https:/

[2015-08-06 06:54] MikeMcQuaid commented on #273
Seems like a good idea to me and well thought through :+1:

[2015-08-06 07:56] arfon commented on #273
Sounds good to me. @benbalter - would this mean the license API could also detect (and return) these hidden licenses when present?

[2015-08-06 15:48] benbalter commented on #273
Yes sir.

[2015-08-06 15:49] arfon commented on #273
THEN LET'S DO THIS! :rocket:

[2015-08-06 15:58] benbalter commented on #273
Implemented via https://github.com/github/choosealicense.com/pull/274.

[2015-08-06 16:18] benbalter commented on #229
In light of https://github.com/github/choosealicense.com/issues/273, I'd be glad to review a pull request which adds the EUPL. :smile:. Thanks all for the additional context.

[2015-08-07 00:26] amateurhuman opened #275 "Request to add Clear BSD license"
Received a request to add the Clear BSD license to the license picker. Since I have no idea where to start with that, and I assume we'd add it to choosealicense if it's in the picker, I am dropping the issue here. Entirely okay with not including it, just want some thoughts on why we wouldn't.

The [3-clause Clear BSD](http://spdx.org/licenses/BSD-3-Clause-Clear.html) reads:

The only differences

[2015-08-07 14:50] benbalter commented on #275
It looks like [there are 1,000 projects using the license](https://github.com/search?utf8=%E2%9C%93&q=%22NO+EXPRESS+OR+IMPLIED+LICENSES+TO+ANY+PARTY%27S+PATENT+RIGHTS+ARE+GRANTED+BY+THIS+LICENSE.%22&type=Code&ref=searchresults).

If this license is an evolved version of the three clause BSD, ideally we'd replace it as the default, but I don't know that it's there yet.

With https://github.com/gith

[2015-08-07 14:50] #273 closed, assigned to benbalter

[2015-08-17 23:45] grantr commented on #275
Just got this request at the Linuxcon booth from a Qualcomm developer (and speaker). He said it was "commonly used by corporations".

[2015-08-18 13:47] benbalter commented on #275
Self-assigned, and will attempt to add as a hidden license next free cycle I get, but if anyone would like to submit a pull request in the interim to kick things off, :metal:.

[2015-08-19 20:50] benbalter opened #281 "Should choosealicense.com include non-OSI approved licenses?"
An issue that came up in https://github.com/github/choosealicense.com/pull/278, should choosealicense.com include non-OSI approved licenses? We have a check as part of the CI, that requires the license be OSI-approved, to at least provide a minimum floor for the long-tail of potential licenses.

A few licenses that this would affect:
- Clear BSD
- WTFPL
- Unlicense
- All CC Licenses

The idea woul

[2015-08-19 21:07] artob commented on #281
@benbalter As we've [discussed previously](https://github.com/project-open-data/project-open-data.github.io/pull/135#issuecomment-23608330), the OSI are unlikely to concern themselves with public domain dedications, so both CC0 and the Unlicense are orthogonal to OSI interests. Can't speak for the other licenses as such.

[2015-08-19 21:29] benbalter commented on #281
Forgot about that discussion. I think you're right, but will leave this open for others to weigh in.

[2015-08-21 19:48] bkeepers commented on #281
Will there be any criteria for accepting a license if it's not restricted to OSI-approved license?

[2015-08-22 16:44] benbalter commented on #281
Revised things a bit in 8c63910 to formalize the whitelist that previously existed for CC0 and the unlicense. This mirrors linguist's approach, which maintains has a license test and maintains a whitelist of approved licenses. I think having tests fail by default for non-OSI approved licenses, and requiring a discussion about whitelisting the license should be healthy for the project and a good co

[2015-08-22 19:33] #281 closed, assigned to nobody

[2015-08-25 08:38] oddcoder opened #284 "cant run the bootstrap"
when I run ./bootstrap I get this error
ERROR:  While executing gem ... (Gem::FilePermissionError)
    You don't have write permissions into the /var/lib/gems/1.9.1 directory.

and when I sudo it I get also another error
Don't run Bundler as root. Bundler can ask for sudo if it is needed, and
installing your bundle as root will break this application for all non-root
users on this machine.

[!] Th

[2015-09-01 00:57] christianbundy opened #285 "ISC license incorrectly recommends email"
Last week I noticed that the ISC license contains the following line, which was added in f89201c7f4e01e5addf2f63302cfc61132ce962d (which was merged in #50):

[code]

The value of the `how` key also contains: "...[email] is optional but recommended.", which I've been unable to substantiate anywhere. Seeing as how an email address is never recommended in any other license (although it's explicitly r

[2015-09-01 02:04] waldyrious commented on #285
Just a quick note: you linked twice to the OSI. You probably wanted the first link to point here: http://www.isc.org/downloads/software-support-policy/isc-license/

[2015-09-01 13:16] benbalter commented on #285
What's the downside of including the email?

[2015-09-01 23:36] christianbundy commented on #285
@waldyrious thanks, I didn't catch that – my link should be fixed now.

@benbalter I think that email addresses can be a good step toward establishing provenance and non-repudiation of the license, but for the sake of consistency I don't think that the ISC should be singled out to be improved with arbitrary modifications (regardless of whether or not they're beneficial).

If the goal of this proje

[2015-09-02 00:56] juanfra684 commented on #285
I don't remember the source of my words. Anyway, I didn't modified the license, that sentence is part of the "how" section.

Feel free to remove "but recommended" because we have not the source with the recommendation.

I'm against the remove of "<<email address>> is optional" because that format (year/name/email) is widely used by individuals.

[2015-09-02 04:46] christianbundy commented on #285
Thanks @juanfra684. Here's a diff of the license text between the OSI's version and your version:

[code]

This policy should be applied unilaterally or not at all – I don't see any reason why the ISC license in particular is subject to arbitrary modifications, or why optional fields should be added. Please don't take this the wrong way, this isn't a personal attack on you or your contribution to

[2015-09-02 20:01] juanfra684 commented on #285
I'm not taking the bug report like a personal attack.

In my opinion, someone should to add the email field to every license in the website. It is optional, more widely used than the canonical form and doesn't break the license. Even the GPL license recommends to include the contact info.

The ISC license derives from the original BSD license, which predates the use of the e-mail as a formal commu

[2015-09-02 20:09] waldyrious commented on #285
FWIW, I agree that including the email would be an improvement, but shouldn't be present in a single license as an exception. I think removing the email from the ISC licence is a sensible move, in the interest of consistency and matching other templates in canonical locations.

A separate PR adding an optional email field to all licenses and/or a note in their "how" fields, is a proposal I'd be in

[2015-09-04 20:55] bkeepers commented on #284
I'm not able to duplicate this. Does this help fix it for you? http://flummox-engineering.blogspot.com.au/2014/05/you-dont-have-write-permissions-for.html

[2015-09-08 16:44] #275 closed, assigned to nobody

[2015-09-08 20:48] waldyrious opened #287 "Is the "category" property redundant with the "variant" one?"
Judging by the descriptions in [_data/meta.yml](../blob/gh-pages/_data/meta.yml), any license with a `category` property automatically qualifies for `variant: true`. That means that there's a redundant property which is maintained manually. I submit that the `variant` property should be removed, and any use of it replaced by whether `category` is set or not.

[2015-09-08 21:05] waldyrious opened #288 "rename "category" --> "family""
Per the description in [_data/meta.yml](../blob/gh-pages/_data/meta.yml). Also, it's more intuitive what it means, IMO.

[2015-09-08 21:10] waldyrious opened #289 "Rename the "Public Domain Dedication" value for the "category" property"
The other values are much simpler:

[code]

Maybe "PD" or simply "Public domain" would fit the remaining entries better.

[2015-09-08 21:37] waldyrious opened #290 "relationship between "tab-slug" and "redirect_from" properties, and the filename is unclear / inconsistent."
They should be harmonized / clarified, and possibly merged (i.e. using the filename instead of the tab-slug property, or renaming the files according to the tab-slug, or something else along those lines).

Here's a table of the current values, to allow a better overview:

| filename | tab-slug | redirect_from | category |
| --- | --- | --- | --- |
| agpl-3.0 | agpl-v3 | agpl | gpl |
| apache-2.0 |

[2015-09-08 21:49] waldyrious opened #291 "Merge "featured" and "hidden" into a single "visibility" property"
Instead of (optional) `featured` and `hidden` properties, which are mutually exclusive, what about using a single `visibility` property, with the values "featured", "hidden", and "normal"?

That would reduce the number of properties, and prevent the (unlikely, but technically possible) eventuality of a license having both "featured" and "hidden" set to true (they can be both present if at least on

[2015-09-08 22:23] benbalter commented on #287
The variant property is used to delineate between the primary license within a category and its variants (e.g., in the GPL category, v2 is the primary license, and v3 and AGPL are variants). Open to suggestions if there's a better way. Thought about "primary" but thought that would be confusing with "featured".

[2015-09-08 22:24] benbalter commented on #288
I'd be :+1: if you're interested in submitting a PR.

[2015-09-08 22:25] benbalter commented on #289
I'd be fine with "public domain". The "dedication" was added when it was just the unlicense to show that it wasn't really a license, but as a family, think "public domain" is sufficient.

[2015-09-08 22:33] benbalter commented on #290
To clarify what the different fields do:
- Filename - The SPDX ID
- Redirect from - Any previous names the license has had (generally pre-SPDX compliance) to prevent breaking old URLs
- Category - means of grouping similar licenses (e.g., GPL, BSD)
- Tab slug - For the UI for the grouping, we need a URL-friendly means of describing / linking to the license. Jekyll doesn't easily expose the filenam

[2015-09-08 22:46] waldyrious commented on #287
Oh. This meaning of variant you describe is actually more in line with what the name suggests. I guess meta.yml needs to be updated accordingly, then. Coupled with #288, this would make the property names more intuitive.

Alternatively, and similarly to #291, we could have a "family-default" property, instead of having two separate properties "primary" and "variant".

[2015-09-08 22:49] waldyrious opened #292 ""using" property should be formatted as a bulleted list, like "required" et. al"
For consistency, and to prevent whitespace changes by text editors.

[2015-09-08 23:27] waldyrious commented on #289
Cool. I'll send a PR as soon as #293 is wrapped up, unless someone gets to it first :)

[2015-09-08 23:54] waldyrious commented on #290
Thanks for the clarifications. I guess I would then suggest merging `redirect_from` into `tab-slug`, calling it simply `slug`, and automatically redirecting from the `slug` string for all licenses. This would preserve all old links except "lgpl-v2.1", which honestly sounds like a reasonable compromise given the simplification gains.

By the way, I'm not sure whether this would cause problems where

[2015-09-09 16:13] benbalter commented on #290
I think this would confuse things more than it would solve them. The slug, is technically the filename (what's seen in the URL). The redirect_from field is a dummy page that Jekyll creates to redirect users from the old URL to the new URL. Further, not all posts with tab-slugs have redirects and vise versa. What are you trying to solve for here?

[2015-09-09 17:59] waldyrious commented on #290
True, and the fact that these would automatically redirect actually makes that association work, even if they aren't the canonical url. It's a pity that html IDs can't contain `.`, otherwise we could harmonize all three :)

In fact, we still can, if we swap things and make the current canonical urls into redirects. To prevent having to define the correspondence manually for each license, we'd need

[2015-09-09 19:18] bkeepers commented on #290
You could use the [`replace` liquid filter](https://github.com/Shopify/liquid/wiki/Liquid-for-Designers):

[2015-09-14 07:32] boucains commented on #33
I'm going to add my vote for CC licenses as well. I have text and informational-website content that is licensed CC-BY-SA.

I understand that this is a lower priority, but it's also low-hanging fruit and easy to include.

[2015-09-19 19:48] bkeepers commented on #235
I am not able to duplicate this. If this is still an issue for you, could you post what OS and browser you are using, and any plugins you have installed.

[2015-09-19 19:52] bkeepers commented on #292
Hi @waldyrious, I'm not sure I understand. Are you talking about this list?

<img width="539" alt="eclipse_public_license_1_0_-_choosealicense_com" src="https://cloud.githubusercontent.com/assets/173/9977905/5801a25a-5ee6-11e5-9b79-5f29bf48c4d2.png">

[2015-09-19 21:59] waldyrious commented on #292
Hi. Yes, I'm talking about that list, but just to clarify, I meant in the yaml/txt files. The change I propose would make the "using" property consistent with the other list-like properties like "required", etc.

For instance, in [epl-1.0.txt](https://github.com/github/choosealicense.com/blob/gh-pages/_licenses/epl-1.0.txt), instead of:

[code]

we'd have:

[code]

...which, as a bonus, makes it m

[2015-09-20 00:29] XhmikosR commented on #235
I don't see how this could be magically fixed. And it's not in fact.

IE 10, no Flash Player installed.

[2015-09-20 00:29] XhmikosR commented on #235
[code]

...when trying to switch tabs.

[2015-09-20 00:31] XhmikosR commented on #235
Note that IE stops parsing JS if it encounters an error. So maybe that could should be in `try/catch` or something.

[2015-09-20 02:52] bkeepers commented on #235
Thanks for the info. I open a pull request to address this.

[2015-09-20 03:44] bkeepers commented on #225
The API here has since been removed and replaced with https://developer.github.com/v3/licenses/

[2015-09-20 03:44] #225 closed, assigned to nobody

[2015-09-20 16:34] #285 closed, assigned to nobody

[2015-09-20 16:41] benbalter commented on #292
Huh. Looks like that creates an array of hashes, rather than a single hash. Didn't realize that would be valid YAML. @waldyrious if you'd like to put together a pull request (I suspect the layout and tests will need to be updated), I'd be glad to review/merge.

**Edit**: If any others (@bkeepers included) have strong opinions one way or the other, please feel free to continue to weigh in. I honest

[2015-09-20 17:11] bkeepers commented on #292
Me either. TIL

[2015-09-20 17:14] #235 closed, assigned to nobody

[2015-10-11 05:09] OmgImAlexis opened #297 "Switch to clipboard.js from ZeroClipboard.js"
Since zeroclipboard requires flash [clipboard.js](https://zenorocha.github.io/clipboard.js/) should be used so people without flash can still use the `copy to clipboard feature`. clipboard.js also takes advantage of the new html5 clipboard APIs. I believe this is what github.com uses now.

[2015-10-11 15:22] benbalter commented on #297
Makes sense. @OmgImAlexis any interest in submitting a pull request?

[2015-10-11 23:07] OmgImAlexis commented on #297
@benbalter sure, just wanted to make sure it was wanted before I did all the work. :+1:

[2015-10-12 06:51] duanev opened #298 "Your Ruby version is 2.2.2, but your Gemfile specified 2.0.0"
[code]

[2015-10-12 15:11] benbalter commented on #298
If you have `rbenv`, `rbenv local 2.0.0`. Otherwise, you can freely modify the `.ruby-version` file to 2.2.2 so long as you don't commit the changes.

[2015-10-13 20:38] zenorocha commented on #297
+1

[2015-10-20 17:28] client9 opened #299 "Using HTTPS results in TLS warning"
TLS Cert is incorrect.

In Chrome:

[code]

and `www` is the same

[code]

[2015-10-24 07:39] strugee commented on #299
@client9 thanks for filing this issue, but I don't think it'll be fixed soon. choosealicense.com is hosted on GitHub Pages. This is a known problem with GitHub Pages and GitHub hasn't seemed interested in fixing it. (Also, technically it's somewhat difficult.)

tl;dr: they know, and don't care. :(

[2015-10-24 17:40] zenorocha commented on #297
Any news on this?

[2015-10-25 04:19] OmgImAlexis commented on #297
Doing this today, had to reinstall OSX so I'm just getting everything setup again.

[2015-10-25 04:53] OmgImAlexis commented on #299
@strugee would it be possible for choosealicense.com to use Cloudflare as a proxy between their universal SSL and Github's SSL?
https://blog.keanulee.com/2014/10/11/setting-up-ssl-on-github-pages.html
https://sheharyar.me/blog/free-ssl-for-github-pages-with-custom-domains/

[2015-10-26 04:44] #297 closed, assigned to nobody

[2015-10-26 04:48] strugee commented on #299
I haven't looked at the links, but I know what you're talking about.

Since GitHub already uses Cloudflare for GitHub Pages I doubt they'll throw another Cloudflare instance in front of it, which would be a hacky solution. Instead I think they'll probably just file an internal ticket about it, which is nice (because then eventually it's fixed for everyone) but also sucks (because then we have to w

[2015-11-02 02:56] bkeepers commented on #292
@waldyrious I'm :cool: with switching the formatting of this list. I'm going to close this in the mean time since it's not currently causing any issues, but feel free to submit a pull request!

[2015-11-02 02:56] #292 closed, assigned to nobody

[2015-11-02 09:48] waldyrious commented on #292
IIRC, I didn't put a PR together when I submitted this issue, because I wanted to wait until my latest PR (#293) got merged, since I'd been "burned" before due to nonresponsiveness to a previous PR (#258) making it go stale and giving me quite some work redoing it almost entirely from scratch. Sorry for not making it clear in this thread. I'm ready to submit a PR if you guys are ready to review an

[2015-11-02 14:19] #288 closed, assigned to nobody

[2015-11-02 14:24] #298 closed, assigned to nobody

[2015-11-02 14:26] #10 closed, assigned to nobody

[2015-11-02 14:43] benbalter commented on #299
This is that ticket. :smile:

GitHub Pages (which hosts this site) does not currently support HTTPS. It's one of our most consistent feature requests, but as you noted, it's a non-negligible technical challenge, especially around custom domains.

[2015-11-02 14:44] benbalter commented on #187
Done via https://github.com/github/choosealicense.com/pull/300 and subsequently https://github.com/benbalter/jekyll-seo-tag.

[2015-11-02 14:44] #187 closed, assigned to nobody

[2015-11-02 15:57] #168 closed, assigned to nobody

[2015-11-19 06:15] strugee commented on #299
@benbalter out of curiosity, what's preventing you guys from doing this for non-custom domains? CloudFlare already supports TLS termination, so why can't you just deploy TLS on your origin servers and issue redirects? Obviously custom domains are way harder - but why is `*.github.io` an issue? Scalability? Mixed content?

Just wondering. Thanks for being responsive :)

[2015-11-19 19:23] benbalter commented on #299
Making it a great experience for users with all levels of technical and security knowledge. Mixed content is a big part. There's also a question of where the encryptions is stripped (FWIW, we don't use CloudFlare). And that's just for github.io. When you start thinking about custom domains and cert material, things get complicated fast. We want to do it right.

[2015-11-19 19:23] #299 closed, assigned to nobody

[2015-11-19 22:24] strugee commented on #299
@benbalter oh, I thought you used CloudFlare as your CDN. Guess you have your own then (nice!). Thanks for the response!

[2015-11-22 10:54] IonicaBizau opened #309 "Can I build a website with similar CSS?"
First of all, thanks for the nice stuff that is here! :sparkles:

I'm building a site that provides a nice API for listing and understanding software licenses, and I want to make sure I can take some CSS from `choosealicense.com` (especially the home page: the big title and the blue `{ description }`).

Since it's open-source, probably it's fine, but I want to be 100% sure I'm not doing it wrong.

[2015-11-22 17:15] waldyrious commented on #292
Weird, I'm pretty sure github used to generate a backlink to the actual PR, not just the commits. Anyway, here's the PR, for future reference: #306.

[2015-11-22 19:23] bkeepers commented on #309
Hi @IonicaBizau! Check out the [license info here](https://github.com/github/choosealicense.com#license); the content for this website is CC-BY-3.0, and the underlying source code, including CSS, is MIT.

I'm just curious, what kind of software licenses?

Good luck!

[2015-11-22 19:23] #309 closed, assigned to nobody

[2015-11-22 19:25] bkeepers commented on #291
Sounds reasonable to me. I'm going to close this for now since it's not really causing any issues, but we will gladly look at a pull request that does this.

[2015-11-22 19:25] #291 closed, assigned to nobody

[2015-11-22 20:22] waldyrious commented on #291
@bkeepers I suppose that's a sign that github may need to start supporting extra functionality for issues? ;) I.e. marking as feature request vs. bug, and closing vs. resolving, etc.

I'll look into submitting a PR soon. Was just waiting for feedback from you guys, really.

[2015-11-23 04:45] IonicaBizau commented on #309
Should be OK, then. Thanks!! :cake:

@bkeepers Mainly open-source licenses, but anybody will be able to add new licenses (via the GitHub workflow). I will share a link when my app is ready, but if you have superpowers, you can check out my private repos and you will find it. :grin:

[2015-11-23 16:22] benbalter commented on #309
@IonicaBizau have you seen https://developer.github.com/v3/licenses/ (which is powered by the licenses in this site)?

[2015-11-23 22:29] benbalter opened #310 "Should the copyright notice on the artistic license refer to the license itself or the project it licenses?"
In https://github.com/github/choosealicense.com/blob/gh-pages/_licenses/artistic-2.0.txt#L29, the 2nd line of the license, replaces [the standard](https://opensource.org/licenses/Artistic-2.0):

with:

(Which gets mail-merged when programmatically added to a project)

In every other license I know of, a copyright notice on the first or second line is intended to refer to the project as a whole, no

[2015-11-23 23:05] mlinksva commented on #310
I'm fairly certain that notice refers to the license document itself. The GPL family has likewise.

_Edit:_ Certain. On opensource.org licenses that are templates with copyright notice for licensed code to be filled in have some (inconsistent but fairly clear) notation of such. Many instances of the full Perl Foundation copyright notice for the license itself -- https://github.com/search?utf8=%E2%

[2015-11-23 23:20] benbalter commented on #310
Looking at the text of the GPLs, I trust @mlinksva and am fine reverting it back to the original text, unless there's any objection (but likely wont get to a PR until next week at the earliest, as it's a Holiday here in the :us:).

[2015-11-30 20:42] IonicaBizau commented on #309
@bkeepers Yes, I saw that. I built a site to display licences and optionally fill the copyright data using querystring parameters and optionally show available paragraph-by-paragraph explanations, maintained by the community.

Example:

I open-sourced all the things: http://showalicense.com/
You can check out the code at https://github.com/IonicaBizau/showalicense.com :sparkles:

Thanks! :cake:

[2015-12-17 05:51] mithro opened #313 "Open hardware licenses and choosealicense.com?"
The choosealicense.com site is pretty awesome!

I was wondering with the growth of open hardware (which are increasingly hosted on github) if it would make sense to add another link in the "My content isn’t code." section for hardware projects. I would have sent a pull request but I couldn't figure out were the right place to link too would be, there doesn't seem to be a similar site - the "best"

[2015-12-24 12:02] stapelberg commented on #313
+1.

I was about to submit a pull request for the CERN OHL, just so that it can be detected by https://github.com/benbalter/licensee and exposed by the GitHub license API as a consequence :). Would such a PR be accepted?

[2015-12-29 17:55] mlinksva commented on #313
By [use](http://www.oshwa.org/oshw-community-survey-2013/#section5) (2013, but license use changes slowly; anyone with data better in recency or other dimension, please share) the major copyleft family options are CC-BY-SA and GPL. Note the most recent versions of those recently were [made compatible](https://creativecommons.org/weblog/2015/10/08/46186) in a limited (one-way) fashion. The CERN and

[2016-01-02 15:47] xuv opened #314 "Add Free Art License"
[Free Art License 1.3](http://artlibre.org/licence/lal/en/)

[2016-01-02 20:17] strugee commented on #314
@xuv what does this license cover that the licenses already on ChooseALicense don't? Note that we already suggest Creative Commons for non-code works.

[2016-01-02 20:39] xuv commented on #314
In terms of author's right, there is a difference between roman based code and english based code. This license was written in France and as such integrates a roman based version of the author's right such as the non-transferable moral rights while still being copyleft and compatible with a CC-BY-SA for example. Because of its European origin and particularity, it is sometimes the preferred choice

[2016-01-04 14:51] benbalter commented on #314
@xuv thanks for starting the discussion. How would you explain to a developer releasing their first open source project (with no background in copyright or open source licensing) why they should prefer the free art license ver CC-BY-SA?

[2016-01-04 14:54] benbalter opened #315 "Document how to propose that a new license be added"
And how to evaluate if it should be:
- How to do a GitHub code search
- The site's philosophy
- Objective criteria for notoriety / differentiation (?)
- How to do it practically

[2016-01-04 14:56] benbalter commented on #313
Opened https://github.com/github/choosealicense.com/issues/315 as a tracking issue to document and discuss, but at first glance, I don't see any reason not to add hardware licenses as hidden assuming they achieve some baseline for notoriety/adoption/differentiation.

[2016-01-04 17:17] xuv commented on #314
@benbalter I would say it like this:
Compared to the CC-BY-SA, the Free Art License is much shorter text to read. It is written in a form that is easier to understand by anyone, without most of the usual lawyer vocabulary, while still having the same properties and benefits. The text of the license also ends with a user guide. All these benefits come because it was mostly written by artists and cr

[2016-01-04 18:08] mlinksva commented on #315
On objective criteria point, could take others' decisions, e.g., must have an [SPDX identifier](http://spdx.org/licenses/) _and_ appear on at least one approved free/open license list out of https://opensource.org/licenses/alphabetical http://www.gnu.org/licenses/license-list.en.html (the free ones) http://opendefinition.org/licenses/ (non-software).

All licenses (except of course "no license") w

[2016-01-06 08:08] strugee commented on #314
The immediate concern I see is that it doesn't have any of the "usual lawyer vocabulary"... yes, that makes licenses harder to read, but it's there for a reason and I worry that the Free Art License would be harder to enforce in court. (That being said, I'm certainly not an expert.)

[2016-01-06 15:24] xuv commented on #314
@strugee "usual lawyer vocabulary" was maybe not the best comment from me regarding this license. It has been reviewed by lawyers and they have not made any remarks regarding this. It was a way for me to emphasize its easier reading. To compare, the MIT license is also easier to read than similar ones.

But I can ask the creators if there is any examples where the license may have already been cha

[2016-01-06 19:09] strugee commented on #314
Ah, OK. Gotcha.

[2016-01-08 14:53] xuv commented on #314
I've asked the creators about any case where the Free Art License had been tested.

To their knowledge, there is only one case, that was solved rapidly, which involved [a musician](https://fr.wikipedia.org/wiki/Ehma) that had his music used in a documentary aired on french television, but that was not credited. Credits were added immediately after the complain and displayed in later broadcasts of

[2016-01-18 16:59] sieversMartin commented on #228
+1 for adding the LPPL (at least the recent version 1.3c). This is a standard license for all LaTeX extensions. More information can be found at: https://latex-project.org/lppl/

[2016-01-18 20:35] benbalter commented on #315
Fixed by https://github.com/github/choosealicense.com/pull/316.

[2016-01-18 20:35] #315 closed, assigned to benbalter

[2016-01-18 21:41] benbalter commented on #314
@xuv based on [our new license criteria](https://github.com/github/choosealicense.com/blob/gh-pages/CONTRIBUTING.md#adding-a-license), the Free Art License will need an SPDX ID, but since it's on the OD list of approved licenses, once it has an SPDX ID, we can add it.

[2016-01-18 21:44] benbalter commented on #228
Based on [our new license criteria](https://github.com/github/choosealicense.com/blob/gh-pages/CONTRIBUTING.md#adding-a-license), if someone would be interested in putting together a pull request, we can add LPPL-1.3c (which I believe is what was originally approved.

[code]

[2016-01-18 21:45] benbalter commented on #229
If anyone is still interested in adding the EUPL license, based on [our new license criteria](https://github.com/github/choosealicense.com/blob/gh-pages/CONTRIBUTING.md#adding-a-license), it is eligible, if someone submits a pull request to add it.

[code]

[2016-01-18 21:45] #229 closed, assigned to nobody

[2016-01-18 21:48] benbalter commented on #259
Based on our [new license criteria](https://github.com/github/choosealicense.com/blob/gh-pages/CONTRIBUTING.md#adding-a-license), the Postgres license can be added, if anyone is willing to submit a pull request to do so.

[code]

[2016-01-18 21:48] #259 closed, assigned to nobody

[2016-01-18 21:51] benbalter commented on #268
Based on [our new license criteria](https://github.com/github/choosealicense.com/blob/gh-pages/CONTRIBUTING.md#adding-a-license), MirOS meets two of the three requirements, in that it has an SPDX identifier and is OSI (and OD) approved, but [a GitHub code search](https://github.com/search?q=miros+filename%3ALICENSE&type=Code) shows fewer than 200 projects using the license, and thus I don't believ

[2016-01-18 21:51] #268 closed, assigned to nobody

[2016-01-18 21:55] benbalter commented on #313
As discussed, please see the [updated criteria for adding a new license](https://github.com/github/choosealicense.com/blob/gh-pages/CONTRIBUTING.md#adding-a-license). I don't believe the TAPR or CERN licenses have SPDX IDs yet.

[2016-01-18 22:09] mirabilos commented on #268
Ben Balter dixit:

This is a BSD-style licence, i.e. it is reproduced in each individual
file (more generally, work) it applies to; BSDish projects usually do
_not_ carry a separate LICENCE file, so you will have to search for a
string, such as…

[code]

… which is AFAICT unique to The MirOS Licence, in all files, in every
project, to find projects using them.

That being said, I’d be (positively)

[2016-01-19 14:07] EmidioStani commented on #229
Hello I just submitted the pull request: https://github.com/github/choosealicense.com/pull/320

[2016-01-19 17:25] benbalter opened #321 "Note filename should be SPDX ID in contributing instructions"

[2016-01-19 17:26] benbalter opened #322 "Catch invalid SPDX IDs when looking for the SPPX name"
[code]

[2016-01-19 17:29] benbalter opened #323 "Make licenses hidden by default"

[2016-01-20 02:08] mlinksva commented on #196
Re-opening. The current properties of "no license" aren't aligned with their use for actual licenses, which concern express permissions and requirements/prohibitions conditioning/scoping those. I'll open a PR later to address.

[2016-01-20 02:49] mlinksva commented on #33
Per our [new explicit criteria](https://github.com/github/choosealicense.com/blob/gh-pages/CONTRIBUTING.md#adding-a-license) two CC licenses are eligible to be added, should anyone wish to work on a pull request to do so.

[code]

[code]

[2016-01-20 15:42] #322 closed, assigned to benbalter

[2016-01-20 17:24] #323 closed, assigned to benbalter

[2016-01-22 00:38] xuv commented on #314
@benbalter Just submitted to SPDX. Will inform you of response.

[2016-01-28 17:30] mlinksva opened #328 "Test for presence of BOM in license files"
Byte order mark in file causes file to not be rendered, eg

http://choosealicense.com/licenses/eupl-1.1.txt

instead of (with BOM removed)

http://choosealicense.com/licenses/eupl-1.1/

Alternatively test for correctly rendered license HTML files. That particular example fixed in #327

[2016-01-28 22:01] #196 closed, assigned to mlinksva

[2016-01-28 22:15] #321 closed, assigned to benbalter

[2016-01-29 01:00] sieversMartin commented on #228
I initiated a pull request. The LPPL 1.3c made it into the project. When will I be able to choose it for Github projects?

[2016-01-29 02:03] mlinksva commented on #228
@sieversMartin not soon, if (as I assume) you mean choosing from the drop-down when you add a LICENSE file to a repo. I believe the licenses there correspond to to the licenses displayed (ie hidden:false) at http://choosealicense.com/licenses/

I suspect including every license currently in this project's /_licenses (and the many more that could be added) would be taken require UI work. Just a gue

[2016-01-29 02:03] #228 closed, assigned to nobody

[2016-01-29 14:44] ionas opened #331 "Recommend AGPL3, LGPL3 and GPL3"
AGPL3, GPL3 and LGPL3 really differ.

My gut feeling tells me most of the projects on github want either AGPL3 or LGPL3 and possibly not GPL3 (that would be for the tiny fraction that are "desktop" or "mobile" open source binary/packaged/distributed/standalone apps)
- GPL3 enforces share-back on software that is being distributed as a package or binary (App Store, Download, Install, whatever)
- AG

[2016-01-29 17:49] mlinksva commented on #331
I suspect the first premise was weighed with another:

I actually agree with your analysis for the most part that LGPL or AGPL might better represent ends that projects wanting to force sharing might have, but GPL is vastly more popular so highlighting that is very non-judgemental relative to practice/conventional wisdom.

I haven't looked closely at copyleft licenses on choosealicense.com yet but

[2016-01-29 17:56] #328 closed, assigned to nobody

[2016-01-29 18:26] ionas commented on #331
A helping page should HELP with choosing a good license (be it AGPL3, LGPL3, MIT or CC0 for instance) for future projects. Because of that I'd offer AGPL3 / LGPL3 / GPL3 next to each other. Picking GPL for something like wordpress might be good for the wordpress.com corp but is certainly not good for the community project contributors that are not involved with wordpress.com as it mis-advertises w

[2016-01-31 17:30] bkeepers opened #335 "Feedback from John Sullivan talk on license choosers"
John Sullivan from FSF gave a great talk at FOSDEM on license choosers. He had some helpful observations and recommendations for choosealicense.com that I've attempted to summarize here:
- Make the agenda explicit. Any attempt to simplify and summarize options will have implicit biases, so at least name them.
- MIT
  - Being the first one listed puts it in a (potentially) privileged position
  - T

[2016-01-31 17:37] bkeepers commented on #335
The [README](https://github.com/github/choosealicense.com#immediate-goals) lists the immediate goals, but it may be worth further clarifying. In a comment at the end of the session, I described our agenda as (in this order):
1. Get project maintainers to choose a license (which means simplifying as much as necessary)
2. Reflect consensus of community and license authors as accurately as possible

[2016-01-31 21:00] #310 closed, assigned to nobody

[2016-02-01 18:10] mlinksva commented on #335
Seems like reasonable feedback. I can begin to implement, or rather continue to implement, once #336 which addresses the lack of GPLv3 examples, is merged.

As I've [mentioned elsewhere](https://github.com/github/choosealicense.com/issues/331#issuecomment-176884853), I'd rather not have GPLv2 at all on the home page. That would solve needing to try to differentiate between v2 and v3 on the home pa

[2016-02-03 01:52] mlinksva opened #341 "Fix CI tests breaking post Jekyll 3 upgrade"
Add jekyll-coffeescript, escape tags in script elements. Forthcoming.

[2016-02-03 18:08] #341 closed, assigned to nobody

[2016-02-04 20:40] wking commented on #270
Fixed by #343?  Although [there's a still work to do around this](https://github.com/github/choosealicense.com/pull/343#issuecomment-180033612), so we might want to leave this issue open until that is completed.

[2016-02-05 19:54] mlinksva commented on #270
This specific issue fixed by #343. Related development in #344.

[2016-02-05 19:54] #270 closed, assigned to nobody

[2016-02-09 17:06] #1 closed, assigned to nobody

[2016-02-12 22:34] #284 closed, assigned to nobody

[2016-02-12 22:55] mlinksva commented on #257
The difference is not so clear. MIT:

This does not exclude binary distributions. At most, it is unclear whether they are included. It's best practice to include MIT notices with binary distributions in any case, eg as discussed at https://www.quora.com/Does-the-MIT-license-require-attribution-in-a-binary-only-distribution

The difference is that BSD licenses (excluding 0BSD) explicitly require no

[2016-02-12 22:55] #257 closed, assigned to nobody

[2016-02-13 00:53] mlinksva commented on #271
I believe @Swizz you're proposing that we add http://spdx.org/licenses/X11.html

It might marginally qualify to be added, as it is on https://www.gnu.org/licenses/license-list.en.html and
https://github.com/search?utf8=%E2%9C%93&q=%22shall+not+be+used+in+advertising%22+filename%3ALICENSE&type=Code&ref=searchresults finds > 1k uses, but quick inspection shows many of those uses are variations, whic

[2016-02-13 00:53] #271 closed, assigned to nobody

[2016-02-21 18:08] mlinksva commented on #290
I don't see need for nickname going away, and redirects are needed to not break links. tag-slug is gone and the documentation is a bit clearer. Is there anything else that can be done to address the lack of clarity you noted, @waldyrious? If you think so, please re-open and explain. Thanks!

[2016-02-21 18:08] #290 closed, assigned to nobody

[2016-02-21 22:18] waldyrious commented on #290
I'll have to recreate a table like the one on top, to see if there's any redundancy or opportunities to complete (and hopefully automate) partial patterns. I will reopen if I manage to do so.

[2016-02-23 04:07] mlinksva opened #355 "Description and nickname on individual license pages"
Individual license pages don't display the license description or (if available) nickname provided in the front matter of files in `_licenses`, e.g., http://choosealicense.com/licenses/eupl-1.1/ and https://github.com/github/choosealicense.com/blob/gh-pages/_licenses/eupl-1.1.txt

This info seems somewhat useful, especially if one gets to an individual license page through a search engine rather t

[2016-02-24 01:14] #33 closed, assigned to nobody

[2016-02-24 01:56] mlinksva opened #356 "license title not cover copy button when long title, wide screen"
I meant to open https://github.com/github/choosealicense.com/commit/7e64d9e15b352708db9ad71d955703a91d6dd509 as a PR for review rather than pushing directly to gh-pages.

Opening this issue in case someone wishes to suggest a better way, rather than reverting and opening PR.

[2016-02-24 09:01] RasmusMalver commented on #33
I'd like to express my support for adding CC licences, despite Creative Commons themselves discourating it (thank you for the link, @benbalter). The very simple reason is this: All three of the suggested licenses on [Choose a License](http://choosealicense.com/) (and most of the other available ones) are based upon and focused on the american “copyright” principle. I know it's been spread across t

[2016-02-24 09:41] daenney commented on #33
@Rasmis It's already been added, see PR #353

[2016-02-24 09:43] RasmusMalver commented on #33
@daenney Oh. But it's not in the drop-down-box and it's not possible to add it when opening a repository. That's how I got here. I looked at it, and googled “github cc-by-sa”. After reading this thread and posting my reply, I chose the GNU and altered the generated license file.

[2016-02-24 20:05] mlinksva commented on #33
@Rasmis I imagine you get those impressions from most CC licenses including "attribution" in their names, but they aren't true historically or relative to popular open source licenses.

CC licenses started off being based on US law even more explicitly than any software license -- their 1.0 versions included extracts from U.S. copyright law. They've undergone a process of internationalization, as

[2016-02-24 20:32] RasmusMalver commented on #33
@mlinksva, I get where you're coming from. Yes, Creative Commons is american too, and yes, the inclusion of the copyright notice can be seen as attribution. But as a european lawyer I know that copyright notices, ©, ® and ™ are all a bit meh. Unlike author's right, they can be traded and transferred. And the heavy un-changeable text block is a bit like a chain letter.

CC is recognised by several

[2016-02-28 16:46] mlinksva commented on #313
Addressed with #359

[2016-02-28 16:46] #313 closed, assigned to nobody

[2016-02-28 16:46] mlinksva commented on #261
Addressed with #359

[2016-02-28 16:46] #261 closed, assigned to nobody

[2016-03-03 06:03] germaino commented on #331
Hi,
It is never mentioned that GPL3 has strong installation requirement ? which make a big difference versus GPL2. Am I wrong ?
BR

[2016-03-03 06:33] mlinksva commented on #331
@germaino it's mentioned on the current home page as "V3 is similar to V2, but further restricts use in hardware that forbids software alterations." This sentence is going away as GPLv2 is going away from the home page soon, see #362.

If you're interested in the details of how GPLv3 deals with device lock-down, read the license or an explanation at http://copyleft.org/guide/monolithic/#x1-810009.

[2016-03-03 20:38] mlinksva commented on #335
[Abstract](https://fosdem.org/2016/schedule/event/license_pickers/), [video](http://video.fosdem.org/2016/ud2218a/pick-a-peck-of-license-pickers.mp4)

I'm mildly surprised http://home.ccil.org/~cowan/floss/ wasn't mentioned. It's the best.

At about 48 minutes someone claims to be surveying developers of projects that have _changed_ their projects' licenses. Would love to know who this is or bette

[2016-03-07 23:33] #356 closed, assigned to nobody

[2016-03-07 23:34] jlovejoy commented on #314
Hi there, we intend to add this license to the SPDX License List, but need to first sort out how to handle the 8 variations/translations they list on their website.  I have contacted the license stewards and will let you know when I here back :)
- Jilayne (SPDX Legal co-lead)

[2016-03-08 00:46] mlinksva commented on #287
I'm not a huge fan of 'family' or 'variant'. To avoid not 100% correct characterizations I'd go with 'grouping' and 'grouping-default', as the purpose is really to group and control grouping display for choosealicense.com/licenses. But I don't think it's worth fiddling with these property names at this time, so closing. If anyone really wishes to make a pull request along above lines, feel free.

[2016-03-08 00:46] #287 closed, assigned to nobody

[2016-03-10 04:21] #289 closed, assigned to nobody

[2016-03-10 04:32] mlinksva opened #367 "Test for markdown in fields that will cause it to be rendered unparsed"
https://github.com/github/choosealicense.com/commit/a4f990fe54640d495ee6752f43eb472121200d79 an example of fixing. Previous state should not have passed tests.

[2016-03-10 15:08] benbalter commented on #367
Alternatively, we could run the fields through the `markdownify` filter. Depends on if you want markdown, HTML, or only plain text in the metadata fields.

[2016-03-12 19:19] #367 closed, assigned to nobody

[2016-03-14 16:10] wolftune opened #370 "Update choosealicense's license to CC 4.0"
It's updated enough to tell everyone else to use 4.0, how about updating the site's content itself to use 4.0?

[2016-03-14 16:17] wolftune commented on #331
I think the lack of obvious clarity about what the AGPL is here is still likely to result in many people who actually desire the AGPL to end up not recognizing it as the thing they want. There needs to be some level of really obvious statement somewhere that if people want to require sharing for software accessed over a server, they need AGPL. Otherwise, people will be misled.

[2016-03-14 19:00] mlinksva commented on #370
I plan to do this, but need to clarify the content and source licensing of the project overall first. I'll leave this open til then and reference in upcoming PR.

[2016-03-14 19:02] ionas commented on #331
@wolftune exactly! The debate between free as in freedom and free as in beer (or copyleft vs public domain-ish) is one thing. If someone chose a copyleft license the one should be well informed on its implications and NOT misled by GPL vs AGPL.

[2016-03-14 19:03] mlinksva commented on #335
John Sullivan seems to like the changes so far https://twitter.com/johns_FSF/status/709408622258864130 though there's still quite a bit more to do.

[2016-03-19 20:34] MattTheNub opened #375 "Add PDM"
Since there is CC0 and The Unlicense, The [CC Public Domain Mark](https://creativecommons.org/about/pdm) should also be included.

[2016-03-19 21:19] mlinksva commented on #375
Thanks for the suggestion! It seems logical, but ... the CC PDM doesn't qualify, per https://github.com/github/choosealicense.com/blob/gh-pages/CONTRIBUTING.md#adding-a-license
- No SPDX ID

It probably meets the 'approved' criterion though it is an odd case, as well as the use criterion https://github.com/search?utf8=%E2%9C%93&q=%22http%3A%2F%2Fcreativecommons.org%2Fpublicdomain%2Fmark%2F1.0%2F%2

[2016-03-19 21:19] #375 closed, assigned to nobody

[2016-03-26 20:54] waldyrious opened #377 "Add list of projects using the ISC license [WIP/RFC]"
I'm not creating a PR yet because I'm still collecting projects to figure out which 3 examples would be a good representative sample. Here's what I've got so far:
- [redisent](https://github.com/jdp/redisent/blob/master/LICENSE) ("a no-nonsense Redis client for PHP")
- [bundy](https://github.com/bundy-dns/bundy/blob/master/COPYING) ("an integrated authoritative DNS and DHCP server")
- [geojson.io]

[2016-03-26 21:36] mlinksva commented on #377
3 programs that are well known, at least among *nix developers/admins:
- https://github.com/tmux/tmux/blob/master/COPYING ... but they didn't modify the template and fill in <author>
- https://www.sudo.ws/repos/sudo/file/tip/doc/LICENSE
- https://source.isc.org/cgi-bin/gitweb.cgi?p=bind9.git;a=blob;f=COPYRIGHT;hb=HEAD

Found with a [wikidata query](https://query.wikidata.org/#SELECT%20%3Fproject%2

[2016-03-28 00:51] waldyrious commented on #377
Nice, thanks for the additional data and for the Wikidata query example. I hope the interface for those gets more intuitive sometime soon :) I have some questions regarding those:
- The tmux situation seems to be similar to ISC's kea as pointed above (especially given the disclaimer "THIS IS FOR INFORMATION ONLY, CODE IS UNDER THE LICENCE AT THE TOP OF ITS FILE." in the LICENSE file). Are we able

[2016-03-28 13:05] waldyrious commented on #377
I've created [a category on the English Wikipedia](https://en.wikipedia.org/wiki/Category:Software_using_the_ISC_license) based on the Wikidata query, and also added [OpenStreetMap's iD](https://github.com/openstreetmap/iD) to the list above.

[2016-03-28 16:20] benbalter commented on #377
No, that's not currently possible via the API.

[2016-03-28 16:36] mlinksva commented on #377
@waldyrious you're right, the ideal example uses are straightforward and none of the three I pointed out are. (BTW, the license notice in each file/one for a repo is something some people feel strongly about one way or the other; I don't.)

I think the ISC projects and OpenBSD are also not straightforward.

Thanks for adding the ISC category on English Wikipedia. Also for all your work on Wikipedi

[2016-03-28 17:02] waldyrious commented on #377
Thank you both for the comments. At this point I've reached the limit of what info I can collect or what suggestions I can make. I'll need help addressing the two checkboxes that are still open. Can you guys comment on those?

Afterwards we should agree on a list of tools to present as examples. I'm not strongly opposed to complex licenses; I think we're going to have to find a balance between pop

[2016-03-28 17:08] waldyrious commented on #377
A possible option is mentioning ISC being the [default license for new Node.js projects](https://github.com/npm/npm/commit/2f608fa), rather than picking a single node.js package. But that would deviate from the format we've been using for the examples (name+link only)...

[2016-03-28 17:21] mlinksva commented on #377
I think default for Node.js projects and for OpenBSD both face the same problem -- deviation from concrete LICENSE file example.

Given the existing candidates and tradeoffs you've explained, I'd probably go with documentationjs,  node-semver, and OpenStreetMap iD ... all straightforward and somewhat popular, and a somewhat good mix of projects.

[2016-03-28 17:56] waldyrious commented on #377
Agreed, sounds like a good compromise to me, although I'm somewhat bummed about tmux and sudo. Anyway, shall I make a PR?

[2016-03-28 18:03] mlinksva commented on #377
Yes, please do make a PR.

[2016-03-29 06:30] #377 closed, assigned to nobody

[2016-03-29 16:51] mlinksva opened #380 "No clear message on why to choose an open source license"
Except implied by "lets people do anything they want" etc on the home page, and further buried in http://choosealicense.com/no-license/

[2016-03-31 00:58] mlinksva opened #381 "Less clear cut situations, perhaps a FAQ"
Feedback received: choosealicense.com is fine for clear-cut situations, but hard to understand implications if chooser wants to do something else later. Examples given:
- make a proprietary version
- offer support

First maybe could be addressed by noting explicitly which licenses allow proprietary derivatives, though that's a mouthful. Second there are no direct implications, but existence of que

[2016-04-01 17:09] mlinksva commented on #355
@LeoFNaN thanks for coming up with this! Seems reasonable to me for the description. I don't think hover-over to see nickname often shorter than "nickname" is very reasonable. But maybe the nickname could be in the title area of the hover over box, rather than the duplicative "Description"?

[2016-04-01 17:48] waldyrious commented on #355
As a user, I would expect the description to appear in a paragraph below the title and before the full text of the license. I can't see any good reasons to use a "hover to see" mechanism when we could just plainly add the text there.

By the way, the nickname could be in the sidebar, before the usage instructions.

[2016-04-01 19:42] mlinksva commented on #355
I generally dislike hovering or clicking to see, but in this case I like that it would very crisply separates the summary from the license text.

Of course the description could also go in the sidebar. Maybe that's the easiest thing to do.

[2016-04-02 01:49] mlinksva commented on #355
Would you like to make a PR implementing in the sidebar?

[2016-04-02 02:46] mlinksva commented on #355
@LeoFNaN I'm not getting that error. Did you follow the steps in https://github.com/github/choosealicense.com#run-it-on-your-machine ? If there's some way the documentation or something else could be improved to avoid other contributors getting that error, I'd like to do so.

[2016-04-02 17:42] mlinksva commented on #355
The family shouldn't be displayed. It's used for grouping on /licenses but isn't 100% accurate taken as facts about licenses.

The copy button is useful for pasting into an editor, but download with conventional filename seems useful too. Maybe another button, "Download as LICENSE.txt" or similar?

Please do open a separate issue about the error you've gotten and I'll try to reproduce.

[2016-04-02 17:49] mlinksva commented on #355
Note the download could be created with javascript, like described in http://cwestblog.com/2014/10/21/javascript-creating-a-downloadable-file-in-the-browser/ or alternately Jekyll would have to output a bare LICENSE.txt file for each license. The latter would be slightly nicer as bare license texts would have URLs.

[2016-04-02 19:48] devGHBot opened #383 "Conversion error when running the site locally"
_Summarized (continued from another topic)_

Let me state my lack of Jekyll know-how and as @mlinksva said this can help for any future contributors.

Following [Run it on your machine](https://github.com/github/choosealicense.com#run-it-on-your-machine) (Win7) to view some changes for a PR (see #355 ) when executing _script/server_ I get this error:

`Conversion error: Jekyll::Converters::Scss en

[2016-04-02 21:28] waldyrious commented on #355
I really like your proposal overall @LeoFNaN, with the caveats pointed out by @mlinksva. I also like the option to have urls for the bare licenses. Moving "how to apply" to the bottom also seems like a good choice to me, assuming a workflow where one would learn about the license first, and then decide to use it.

[2016-04-02 21:37] mlinksva commented on #355
I'm not thrilled with moving how to apply down because it'd often be below the fold and distant from the copy and/or download actions. Longer term I wonder if it'd make sense to reserve the sidebar for actions and application documentation (button(s) and how to apply) and description into the main column, but clearly separated from the license text. Permissions/conditions/limitations could be arra

[2016-04-02 21:43] waldyrious commented on #355
I wouldn't mind the usage instructions being presented in a popup/tooltip format, and thus fit next to the copy/download buttons, in a single line on the sidebar. As in: copy | download | how to apply?

That said, I also like the idea of "reserving the sidebar for actions and application documentation (button(s) and how to apply) and description into the main column"

[2016-04-04 08:57] waldyrious commented on #355
I love it :) great work!

[2016-04-04 15:44] mlinksva commented on #355
Indeed, it looks great. I don't think the Description heading is needed, nor the dash(?) before Nickname.

[2016-04-04 20:21] waldyrious commented on #355
Nor the word "nickname" itself, I suppose.

[2016-04-05 05:52] mlinksva commented on #355
@LeoFNaN create another PR. I just merged #382

[2016-04-05 05:58] mlinksva commented on #355
Regarding the nickname, I think it's useful to display. Maybe in the new PR try without any label. That might work decently.

[2016-04-07 18:28] xuv commented on #314
Hello @benbalter and others.

Thx to the work of the SPDX list and @jlovejoy, I'm pleased to announce here that the Free Art License has been added to the [SPDX list](https://spdx.org/licenses).

After discussion with the license creators, the french version of the license is the canonical one.
https://spdx.org/licenses/LAL-1.3.html

But [English](http://artlibre.org/licence/lal/en/), [Portuguese]

[2016-04-07 18:35] mlinksva commented on #314
Great. @xuv do you want to create a pull request adding LAL-1.3?

[2016-04-07 18:39] xuv commented on #314
@mlinksva Could possibly work on that. Will take me a while though. But when completed, I'll make a PR. If anyone else does it in the meantime, I'm also fine with it ;)

[2016-04-07 20:06] waldyrious commented on #377
I'll use this issue to continue listing projects using this license, until a better database is available. (I could add entries to Wikidata, but I suspect entries without a Wikipedia article are kind of a grey area, depending on the popularity of the project.)
- [Vis](https://github.com/martanne/vis/blob/master/LICENSE)
  ("a vim like text editor")
- [node-heapdump](https://github.com/bnoordhuis/n

[2016-04-07 20:36] mlinksva commented on #377
@waldyrious you're more than welcome to use this issue, though I think Wikidata is the right place longer term. There should be a WikiProject FLOSS (or similar) there, but it seems there isn't yet.

Also useful, https://directory.fsf.org/wiki/Main_Page

The Vis LICENSE file is pretty interesting -- very clear and helpful on noting files using and terms of code taken from other projects -- but unfo

[2016-04-07 21:33] waldyrious commented on #377
I've worked a bit on (English) Wikipedia's [category structure](https://en.wikipedia.org/wiki/Category:Free_software_by_license) to have a complete list of categories for each of the licenses covered by choosealicense. Eventually I'll propose adding an automatic link to the category corresponding to each license. Right now I'm [only missing the MS-RL and Unlicense](https://docs.google.com/spreadsh

[2016-04-07 21:36] waldyrious commented on #377
Btw, the FSF directory is an awesome resource! Too bad they don't expose clean [query URLs...](https://directory.fsf.org/wiki/Special:RunQuery/Query_license?query=true&Query+license[License][58]=ISC&Query+license[License][is_list]=1&sf_free_text=&wpRunQuery=Run+query)

For future reference, I'll dump below the current results that are categorized as exclusively ISC-licensed:

| Project link | Desc

[2016-04-07 22:37] mlinksva commented on #377
For software in Debian, there's also https://codesearch.debian.net/perpackage-results/License%3A%20ISC%20path%3Adebian%2Fcopyright/2/page_0 but something more comprehensive is needed. http://upsilon.cc/~zack/talks/2016/2016-01-31-fosdem-compliance.pdf has one interesting vision.

[2016-04-08 13:13] waldyrious opened #387 "Reorder rules in license pages and elsewhere to match the sequence permissions/conditions/limitations"
I'm planning on submitting a PR doing this as soon as #386 is settled.

[2016-04-08 20:10] mlinksva opened #388 "List all licenses in _licenses at bottom of /licenses (or /about?) for discoverability"
I believe this has been suggested multiple times but the latest is https://github.com/github/choosealicense.com/pull/386#issuecomment-207289224

This would simply be a list of links rather than an inline description of each license as done for select licenses on /licenses

[2016-04-08 20:23] benbalter commented on #388
Are you suggesting we also list the hidden licenses? How does that fulfill the site goal:

[2016-04-08 20:40] mlinksva commented on #388
Yes, I am suggesting that. The filter happens mostly in presentation:
- only 3 on home page
- several more on /licenses
- the rest (that pass our criteria for adding to the repo, not all licenses) in some less visible but still discoverable on the web place

If licenses not on the home page or /licenses aren't ever going to be discoverable from the site anywhere, it seems we should tighten up the

[2016-04-09 15:37] #331 closed, assigned to nobody

[2016-04-09 16:07] ionas commented on #388
What about making it mostly/more a single page rather than a linked one. No reason to have so many sub pages aside hiding reasonable options.

# Choose an open source license

## { Which of the following best describes your situation? }

`CURRENT CONTENT`

## { I want more choices } ~~{ What if none of these work for me? }~~

• Insert http://choosealicense.com/licenses/
• Still not found what you

[2016-04-09 16:10] ionas opened #389 "Add variants"
- GPL2 -> You may also consider EUPL
- MIT -> You may also consider BSD

etc... people would have to dig for more details themselves.

[2016-04-09 16:12] ionas commented on #387
Actually the order conditions > permissions > limitations is really a welcome refresh. So no thanks.

[2016-04-09 16:15] ionas commented on #238
distribution, installation, service should also be cleared.

[2016-04-09 16:17] ionas commented on #68
- The issue is not a technical one but one of keeping stuff up to date.
- To have languages you will need tagged revisions of the page. Then you can link a revision (and available translation).
- It will also slow down revisions. So I'd rather see the dust settle more around what the site should actually show.

[2016-04-09 22:27] waldyrious commented on #387
@ionas I'd like to hear your rationale for preferring that sequence. I feel like permissions > conditions > limitations makes a lot of sense semantically, per the explanation offered by @mlinksva in #361.

[2016-04-10 21:29] mlinksva commented on #387
Hmm, the refresh was in the order stated in the title, so I'm confused by your comment @ionas, please do explain.

I believe what @waldyrious is proposing to do here is what I said I hadn't gotten to in #361 --

Add to that `_data/rules.yml`

[2016-04-10 22:06] ionas commented on #387
I reconsidered and I share your point. Just to share my rational anyway:
- I don't consider licenses (or IP) to be a legitimate thing. It is a legal for sure, however.
- As long as it is legal to create licenses/patents and hold copyright I think to those yielding out licenses to 'their' software, the most important part is the conditions part, NOT the permissions part. See Zed Shawn's rant on the

[2016-04-11 17:52] mlinksva commented on #387
@ionas thanks for explaining. I'm pretty sympathetic to your rationale: IP is bad, some of the conditions present in open source licenses should instead be regulations, and what is covered by those regulations determined through the usual means of regulation, not by the whim of developers and their employers. But furthering this kind of argumentation is way outside the scope of choosealicense.com.