[2016-04-11 18:51] mlinksva commented on #389
Not seeing lots of similar choices is a feature, not a bug -- https://github.com/github/choosealicense.com/pull/320#issuecomment-177515633 "The more choices we present, the more cognitive overhead we require"

I'll leave this open though and consider listing licenses with the same features someplace innocuous, perhaps on individual license pages.

[2016-04-11 18:59] mlinksva commented on #388
A single page version of choosealicense.com would merit a bit more design than just stacking the current material, but it's something I'm thinking about.

[2016-04-11 19:08] mlinksva commented on #68
I'm very interested in making this happen but have yet to digest the various possible approaches. Self-assigning for now as a reminder to do that digesting.

[2016-04-11 19:14] htstudios commented on #389
Thats good too!

[2016-04-14 21:20] mlinksva commented on #335
Probably http://www.cs.wm.edu/~denys/pubs/ICSME'15-LicensingSurvey-CRC.pdf which mined 12 million public projects listed via the GitHub API, from which 381,161 Java projects were identified, of these 16,221 projects were randomly selected. The commit histories of selected projects (1,731,828 commits spanning 4,665,611 files) were used "to identify the commits where licenses were added or changed"

[2016-04-15 18:58] mlinksva commented on #68
In https://github.com/github/choosealicense.com/network/members I noticed a couple translations through forks published on separate websites:
- https://github.com/webfatorial/escolhaumalicenca.com.br - http://escolhaumalicenca.com.br/
- https://github.com/mickaelandrieu/choisirunelicence - ~~`http://www.choisirunelicence.com/`~~ _https://mickaelandrieu.github.io/choisirunelicence_

Glad people wer

[2016-04-20 17:56] bconry commented on #377
With regard to

I do have some clues.  :)

While most ISC projects are licensed using the ISC License, Kea is licensed using the MPL 2.0.  Just to keep things confusing, there are other exceptions as well.

Regarding the list of @isc-projects repos:
[kea](https://github.com/isc-projects/kea) - MPL 2.0
[kea-contrib](https://github.com/isc-projects/kea-contrib) - MPL 2.0
[forge](https://github.com/i

[2016-04-20 18:20] waldyrious commented on #377
Thanks @bconry! I hope to be able to add those to a proper central repository sometime soon.

@mlinksva could this be an idea for another project by github? i.e. what's-the-license? :) Ideally something merging the properties of a wiki and a database -- probably built on top of [Wikibase](https://www.mediawiki.org/wiki/Wikibase)?

[2016-04-20 23:36] mlinksva commented on #377
Yes, thanks @bconry. bind9-stats is curious -- the README says same license as Perl 5 (Artistic or GPL), but LICENSE contains the text of BSD-2-clause.

@waldyrious :) I concluded a recent talk saying that there should be more sharing of licensing evaluations. BTW I wanted to use the Node.js ISC default you mention above as an example in https://github.com/github/choosealicense.com/pull/394 but co

[2016-04-21 07:37] waldyrious commented on #377
@mlinksva besides that commit, I used [this link](https://github.com/npm/npm/blob/master/doc/misc/npm-config.md#init-license) as a reference on [Wikipedia](https://en.wikipedia.org/wiki/ISC_license) -- I don't know it that helps.

[2016-04-21 16:58] mlinksva commented on #377
Thanks, that link is better, but ideally would have some explanation to serve as a good example of community license preference.

Tangentially, a new specialized interface for Wikidata is somewhat helpful, though its features really need to be in the default interface: http://tools.wmflabs.org/sqid/#/view?id=P275 (license property)

[2016-04-22 18:44] mlinksva commented on #383
@LeoFNaN sorry I've not had a chance to test on Windows yet.

But looking closer, I bet the problem is that the files in `_sass` are symbolic links -- "../assets/vendor/normalize-css/normalize.css" and "../assets/vendor/qtip2/jquery.qtip.css" are not supposed to be the contents of the files, but rather the paths the symlinks point to.

Probably something is not supporting symlinks. Are you on a FA

[2016-04-22 20:56] benbalter commented on #383
I believe this is the problem. We used symlinks to allow us to bower in sass-based assets, which at least at the time, didn't have a good alternative.

[2016-04-24 16:29] #383 closed, assigned to nobody

[2016-04-24 16:31] mlinksva commented on #383
@LeoFNaN please reopen this if I failed to fix it. Thanks for reporting!

[2016-04-24 17:28] waldyrious commented on #238
For future reference, individual entries in this glossary should be linkable, and linked from pages on the site where they are used.

[2016-04-25 14:10] benbalter commented on #238
Just thinking through implementation, we could have a `terms.yml` file in the `_data` folder, expose it as JSON, and have a client-side script to make any use of the word on the site a tooltip using the existing tool tip library that's already loaded.

[2016-04-25 17:42] waldyrious commented on #238
Rather than a custom script, why not use the build system to replace all instances of those terms with HTML `<abbr>` tags?

[2016-04-25 22:17] ionas commented on #238
@waldyrious
`<arconym>`, deprecated and not fitting.
`<abbr>`, abbreviation not deprecated but not really fitting.
What abotu `<dfn>` https://developer.mozilla.org/en/docs/Web/HTML/Element/dfn

[2016-04-28 16:15] mlinksva commented on #355
Fixed by #399. Thanks @LeoFNaN!

[2016-04-28 16:15] #355 closed, assigned to nobody

[2016-04-28 17:09] kfogel opened #401 "New feature: Suggest license directly from site to third-party repository?"
It would be wonderful if one could go to http://choosealicense.com/, pick a license, and click a button to create a new pull request that suggests that license to a currently unlicensed third-party repository.

For example, today I ran across this repository on GitHub: https://github.com/ys/forked (the code behind the very useful [Stargazers forks](http://forked.yannick.io/) web service).  The rep

[2016-04-28 18:48] mlinksva commented on #401
I've wanted this to use and to point others to, eg when I wrote https://github.com/github/choosealicense.com/commit/72f852f4ebf5f668c622356a152c3ea41a902884#diff-4b7241b75e16fdab61fb0f7ff4fa6f7fR25

I imagine (but have made zero attempt to verify) that it'd be possible to implement all of this on choosealicense.com with client side javascript, perhaps using https://github.com/philschatz/octokat.js

[2016-04-28 18:53] kfogel commented on #401
@mlinksva, how on earth did you see this so fast?  +1 on all the above.

Nice changes, btw.  Particularly liked the s/protection/restriction/ ! :-)

[2016-05-05 19:07] ShaneCurcuru commented on #401
Yes, this would be a killer feature for choosealicense.com - it allows the larger community to help guide projects and propose license suggestions directly, which is much more effective when it's presented within the github flow to the un-licensed repository maintainers.

Note that it would be nice to see a brief boilerplate in the long description of the PR that told the recipient what the change

[2016-05-05 19:12] ShaneCurcuru commented on #381
These are both important questions, and there are probably a half-dozen other similar issues we could all come up with to help people choose.

Rather than creating all the content here, perhaps a better solution is to provide the rough framework of questions to ask - like the existing bullet lists - and then provide pointers to existing organizations that work to provide that kind of education alr

[2016-05-05 19:34] ShaneCurcuru opened #404 "Add limitations: suitable-for-code | suitable-for-creative options"
While non-software.md addresses the question of how different licenses are meant (or not meant) for code vs. docs/other things, it's not yet captured as structured data in the license files.

The simplest proposal is adding limitations: suitable-for-code, suitable-for-creative

suitable-for-code means it's recognized as applicable for software code or other places where you'd find patents and othe

[2016-05-05 20:57] mlinksva commented on #404
This would not be appropriate for `limitations:`, which list things licenses explicitly don't grant.

A new `categories:` field might work, but I'm pretty skeptical of separating code from 'creative', especially using the latter word. Most 'software' licenses are just fine for 'creative' works. Something capturing 'not-recommended-for-software' might be more acceptable, but patent exclusions can b

[2016-05-05 23:25] mlinksva commented on #401
https://github.com/issues?q=choosealicense.com finds some issues and pull requests across github.com referencing choosealicense.com, many asking a project to add a license. I wonder if there's anything to be learned from these interactions, e.g., to inform a brief boilerplate.

[2016-05-08 15:45] Kwpolska commented on #388
Also, where are all the licenses now? Why are BSD licenses and others hidden?

[2016-05-08 23:08] ionas commented on #388
@Kwpolska there are already two licenses placed very prominently[1] that allow free-riding listed (MIT and Apache 2.0) - what would BSD offer over those?

However I did suggest to make it a single page (e.g. _{I want more choices}_), that would re-list many licenses like AGPL3, LGPL2, BSD, and others.

[1]: I'd swap Apache with GPL2 IMHO, to make that unbalance more even, just the positions... or

[2016-05-09 15:04] benbalter commented on #388
Just a bit of context, on the historic vision, in case it's helpful, when the concept of [hidden licenses](https://github.com/github/choosealicense.com/issues/273) was introduced, the idea was that for say, 60% of developers, they'd land on `choosealicense.com` and one of the three licenses on the home page would suit their needs, without having to drudge through an infinite list of licenses permu

[2016-05-09 17:35] ionas commented on #388
Except that I don't agree. Reducing choice-in-your-face is not demystification but exactly(!) the opposite. It is mystification. The nature of things IS complex. Tiny differences may make you reconsider. Differentiating between so called "power users" and "edge cases" and "mainstream" is a strategy of mystification, already.

The article you linked shows that its not about demystification but abou

[2016-05-09 17:44] ionas commented on #388
So this would be my updated suggestion:

# Choose an open source license

## { Which of the following best describes your situation? }

`CURRENT CONTENT`

## { Couldn't find what you are looking for? Select something that fits: }

`FILTERABLE GRID/LIST` (think Foundation / TWBS customization page)

## { My project isn’t software }

• Insert http://choosealicense.com/non-software

## { I want more

[2016-05-09 17:58] Kwpolska commented on #388
:+1: for the above. Right now, the page shows 7 choices, three of which are variants of the GPL license, which stifles innovation and leads to wheel reinvention through limiting the use of all the open source software that chose the GPL license outside of code that uses a license approved by some [weird RMS guy](https://www.google.com/search?q=st+ignucius&tbm=isch) and his foundation (that certain

[2016-05-09 19:15] mlinksva commented on #388
/ starts with permissive, /licenses starts with copyleft, together they're a compromise, see https://github.com/github/choosealicense.com/pull/386#issuecomment-207579290

I find it humorous that @ionas who thinks AGPLv3 is what one wants, and @Kwpolska who thinks copyleft stifles innovation agree that showing all licenses on the single/home page would be a good thing. Frankly neither of you are in

[2016-05-09 19:21] Kwpolska commented on #388
Which is exactly the reason for our request: my beliefs are different than yours or @ionas’s, or any other software developer’s. You should showcase all options and let people decide from themselves.

If I were building an **opinionated** pickALicenseApprovedBy.chriswarrick.com (not a real place), I would definitely add a lot of GPL copyleft criticism. But I’d rather build a site that showcases ev

[2016-05-09 19:31] ionas commented on #388
Well, while I don't agree on the innovation rhetorics and would claim its the opposite way long term, twofold:

A) @Kwpolska and me are maybe on the same page because we prefer demystification, choice and considerations over just taking what you get.

B) Also I don't agree at the whole concept of 'target audience' as pointed out earlier. 'target audience' judges upon groups made up by you/us for w

[2016-05-10 17:04] mlinksva commented on #388
@Kwpolska @ionas tell me what options we aren't showing that **substantively** differ from those on /licenses. The only thing I see mentioned above are BSD licenses (what's the substantive difference from MIT?), GPLv2 (v3?), and WTFPL (Unlicense?). Yes we all can point out some trivia about them. But choosealicense.com does have a target audience -- people who need help choosing a license. If you

[2016-05-10 17:11] #388 closed, assigned to nobody

[2016-05-10 17:31] benbalter opened #407 "Appendix indicators should have hover help text"
Like when you hover over the icons elsewhere:

![screen shot 2016-05-10 at 1 30 43 pm](https://cloud.githubusercontent.com/assets/282759/15156090/694f5dd8-16b3-11e6-8a21-70077b63b301.png)

[2016-05-10 17:33] mlinksva commented on #407
Pointer on where to look to begin implementation from https://github.com/github/choosealicense.com/pull/406#issuecomment-218225779

[2016-05-10 17:46] #407 closed, assigned to nobody

[2016-05-10 18:10] ionas commented on #388
I can't judge if something substantial is missing, nor do I want to (my political point of view on licenses is that you should not make the choice for others).

I am no legal expert thus that is what I am looking for on this page/app/info site: A filterable and well structured approach to licenses available and their features and being able to compare them and learn about specific features.

This

[2016-05-12 19:52] mlinksva opened #410 "Difference between GPLv3 and LGPLv3 not modeled"
"The table shows no difference between GPLv3 and LGPLv3?" - https://twitter.com/weigandtLabs/status/730676399678324736

It's true, we don't make any attempt to model the different scopes of derivative works that license conditions apply to. I don't know of any attempt to model these differences (pointers wanted). I've seen many times where the differences are important, people categorize licenses,

[2016-05-12 19:57] mlinksva commented on #404
Closing as I don't see anything actionable right now but feel free to re-open or open new issues or pull requests.

[2016-05-12 19:57] #404 closed, assigned to nobody

[2016-05-13 09:22] waldyrious commented on #410
Unless such qualifiers happen often enough across the included/eligible licenses, I am not sure defining specific fields for them is a good architectural choice. I like how Wikipedia does with comparison tables, where they use "yes", "no" and "partial" cells, with references (footnotes) to explain what the "partial" refers to. This is also the approach used by caniuse.com, IIRC. If I'm reading you

[2016-05-13 16:01] mlinksva commented on #410
(4) above just means any subtle differences need to be described in the description field and couldn't be rendered in any table (well, descriptions could be parsed...), ie no change.

If I were designing this fresh (call it option 5) it'd be machine-readable and allow for non-boolean fields. Each of permissions/conditions/limitations would be a dictionary rather than an list. (And I'd probably mak

[2016-05-14 20:56] mlinksva opened #412 ""hold liable" found horribly confusing"
https://twitter.com/richardfontana/status/731542765637652484

I'm not sure whether this comment is in reference to:
- The heading "Hold Liable" on http://choosealicense.com/appendix/
- The description currently displayed with a tooltip: "Software is provided without warranty and the software author/license owner cannot be held liable for damages."
- Implication that the concept makes for an inaccu

[2016-05-14 23:13] sandeepraju opened #413 "Is there a reason why BSD was removed from the list of licenses"
I see that the page here (http://choosealicense.com/licenses/) no more lists the BSD license. Is there any specific reason why it was removed?

[2016-05-14 23:22] mlinksva commented on #413
BSD-2 and 3-Clause as well as ISC were removed from /licenses/ in https://github.com/github/choosealicense.com/pull/386 because they aren't substantively different from MIT and more redundant choices adds cognitive overhead for someone learning about and choosing an open source license.

They're all still on the site linked from http://choosealicense.com/appendix/ and if you prefer one of them, pl

[2016-05-14 23:22] #413 closed, assigned to nobody

[2016-05-19 21:45] tjwebb commented on #33
+1

[2016-05-21 14:43] Alhadis commented on #242
+1. I'd like to know this myself, specifically how authors of abandoned works should be attributed in derived and heavily-modified codebases.

[2016-05-24 16:21] mlinksva commented on #242
@pmackay @Alhadis for MIT (and most open source licenses) you have to keep copyright notices and copies of licenses. This is true whether a project is "abandoned" (assume you mean unmaintained) or not.

You CAN add your own copyright notice (and even license, if the original license is compatible), but you don't have to.

This explains various patterns you see, like

and

and

and

If there are co

[2016-05-30 17:27] Alhadis commented on #242
@mlinksva Okay, different question, and I'm not sure if this is the place for it... but since you're site staff, I have an impetus to ask:

Would GitHub allow the transfer of my repositories to a willing maintainer if I dropped dead, if I explicitly stated it in a will, or something?

I know, stupid question. [But this PR got me thinking](https://github.com/github/linguist/pull/3027), and I realis

[2016-05-30 23:09] mlinksva commented on #242
@Alhadis definitely good to think ahead and not a stupid question at all. It is a bit out of scope for this issue and this repo. You should submit your question at https://github.com/contact.

Now my unsolicited and probably obvious advice that doesn't directly answer your question:
- Make sure your projects are unambiguously released under an open source license. Yes there will be some friction o

[2016-06-04 23:01] mlinksva commented on #412
Perhaps. Maybe @richardfontana (who raised this on twitter) would like to explain.

[2016-06-05 00:12] orome opened #427 "BSD missing"
Was BSD removed for some reason? I don't see it on either of the pages listing license options.

[2016-06-05 00:26] parkr commented on #427
Hey, did you see https://github.com/github/choosealicense.com/issues/413? I think it provides an adequate answer but write back if not!

[2016-06-05 11:54] orome commented on #427
@parkr: The reasoning in #413 makes no sense. The title of the site notwithstanding, I expect it is being used as a reference as well a license selection, so _any widely used license should be prominently listed_. Moreover, for anyone like me who used the site to choose the BSD when it was listed, its more than a bit of "cognitive overhead" to come bask to the site and find its no longer a choice.

[2016-06-05 17:39] mlinksva commented on #427
I understand your complaint. I hate it when information moves around or disappears from sites. I usually deal with it through the likes of https://www.google.com/#q=site%3Achoosealicense.com+bsd and http://web.archive.org/web/*/choosealicense.com/licenses but this is overhead.

But the main purpose of the site is what the title says, not to serve as a reference. The set of licenses featured on the

[2016-06-05 17:39] #427 closed, assigned to nobody

[2016-06-05 18:49] orome commented on #427
That makes sense, given the purpose of the site. But I didn't see a path from the main page to the appendix (or any path to BSD-3 at all for that matter). Some kind of link from the main page would not only address that, but also expand the utility of the site. I understand the desire to keep things narrowly focused on "choosing"; but a simple "reference" or "comprehensive list" link to the append

[2016-06-06 17:39] mlinksva commented on #427
There is a path, but it's long and non-obvious... / -> /licenses -> /about (link at bottom of /licenses) -> /appendix

Not sure it's the right thing to do, but I made a PR that attempts to improve your use case as you say "without compromising for diluting its primary purpose", see #428 and further feedback most welcome.

[2016-06-10 00:25] mlinksva opened #431 "Hard to find this repo from site"
It's mentioned on /about but something in footer might be appropriate.

Maybe change add "and you" to " Curated with <3 by GitHub, Inc." and link to the repo? Our add a "Source" link next to "About"?

A GitHub logo is often used to link to a project repo, but that means bringing in octicons files into the project, not sure if worthwhile.

[2016-06-10 00:31] mlinksva commented on #431
As suggested by @saraford, thanks!

[2016-06-10 08:26] waldyrious commented on #431
I rather like the "and you" approach!

[2016-06-12 22:47] mlinksva commented on #431
Another (perhaps complementary) approach is a link to edit the page being displayed. Maybe that would generate lots of spurious pull requests for this site, but maybe worth trying anyway. How-to: http://ben.balter.com/2015/09/13/github-pages-edit-button/

[2016-06-13 08:46] waldyrious commented on #431
Even better :D Sort of an "edit this page" link, like Wikipedia ;)

[2016-06-13 18:26] mlinksva opened #433 "Improve this page link"
As noted in https://github.com/github/choosealicense.com/issues/431#issuecomment-225465094

Opening a new issue to track as suggested by @saraford in https://github.com/github/choosealicense.com/pull/432#issue-160012085

[2016-06-13 18:27] mlinksva commented on #431
Fixed by #432

[2016-06-13 18:27] #431 closed, assigned to saraford

[2016-06-13 18:27] mlinksva commented on #431
& above improve this page option is a new issue: #433

[2016-06-14 14:00] benbalter opened #434 "Expose licenses listed on `/licenses` in a machine-readable format"
Since https://github.com/github/choosealicense.com/commit/5052d34b11ab414259942f0b6e2c5195fb89b5dc there is no machine-readable way to distinguish the prominence of e.g., MIT from WTFPL.

Before we had:
- Featured
- Normal
- Variant
- Hidden

Now we have:
- Featured
- Everything else

When used elsewhere, e.g., the GitHub API, licensee, it'd be useful to have the prominence implicit in the  hard c

[2016-06-14 14:02] benbalter commented on #434
cc https://github.com/github/choosealicense.com/pull/398

[2016-06-14 15:34] odinthenerd commented on #223
why is this closed and still no boost license? no required attribution is important for embedded system with no display for example. Plus boost is in everything.

[2016-06-14 16:23] mlinksva commented on #223
@porkybrain re-opening. Feel free to make a pull request to fix. Thanks!

[2016-06-14 16:44] mlinksva commented on #434
I did think about ordering by # of conditions and filtering by hidden to make #386 but felt it just made the source for that page more obscure. But sure, having the ordering specified in the front matter of licenses.html or perhaps _config.yml could be useful so that ordering is available if someone wants to do something else with it. I'll think about that and maybe make a PR.

I'll make a PR shor

[2016-06-14 18:19] #434 closed, assigned to nobody

[2016-06-24 08:22] waldyrious commented on #377
@bconry how should [kea's COPYING file](https://github.com/isc-projects/kea/blob/master/COPYING) be changed to reflect the MPL 2.0 license that you mentioned above?

[2016-06-24 08:51] waldyrious commented on #377
@bconry also, does bind9-stats use the [Artistic License 1.0](https://en.wikipedia.org/wiki/Artistic_License#Artistic_License_1.0)? That's the one used by Perl 5, according to the actual text of the license, even though v2.0 seems to be preferred according to the article I linked ("The OSI recommends that all developers and projects licensing their products with the Artistic License adopt Artistic

[2016-06-24 14:45] bconry commented on #377
@waldyrious regarding bind9-stats...
First, since the reference is to Perl version 5.12.4 it is definitely referencing the Artistic License 1.0 with the option to use the license from any later version of Perl 5.  I just checked Perl 5.25.2 and it's still using the Artistic License 1.0.
Second, I have just spoken with Michael Richardson and the inclusion of LICENSE appears to have been accidental.

[2016-06-24 14:50] bconry commented on #377
@waldyrious regarding [kea's COPYING file](https://github.com/isc-projects/kea/blob/master/COPYING), doesn't it already specify the MPL 2.0 (at least for those things not covered by other licenses)?

[2016-06-24 18:17] waldyrious commented on #377
Thanks for the clarifications @bconry. There are slight differences in the text of the Artistic Licence 1.0 from https://opensource.org/licenses/artistic-license-1.0, https://opensource.org/licenses/Artistic-Perl-1.0 and http://dev.perl.org/licenses/artistic.html (the latter matches [the version on the git repository](http://perl5.git.perl.org/perl.git/blob/HEAD:/Artistic)). Can you confirm which

[2016-06-24 18:31] bconry commented on #377
@waldyrious I have confirmed that, aside from whitespace, there are no differences between the 'Artistic' file in the perl-5.12.4.tar.gz ( http://www.cpan.org/src/5.0/perl-5.12.4.tar.gz ) and the version found at the current git HEAD ( http://perl5.git.perl.org/perl.git/blob_plain/HEAD:/Artistic ).

[2016-06-25 00:31] waldyrious commented on #377
@bconry yes, that's correct; as I said, the version in http://dev.perl.org/licenses/artistic.html does match the version on the git repository. The actual differences in content lie between that version and the two Artistic License 1.0 pages hosted by the Open Source Initiative, i.e. https://opensource.org/licenses/artistic-license-1.0 and https://opensource.org/licenses/Artistic-Perl-1.0. If thes

[2016-06-26 18:52] walchko opened #437 "Identify which licenses are viral so it is clearer"
I like your review of licenses, but it isn't clear to me looking at either the text or the bullets on the [license page](http://choosealicense.com/licenses/) which ones are viral. It should be clearer that if you choose AGPL or GPL, they require source code release for all code which uses/touches your code. This could limit sharing, because people, groups, or companies may not what to be forced to

[2016-06-26 19:53] mlinksva commented on #437
"Viral" is taken by copyleft fans as a pejorative description. Using the term would not help the site's aim to be a "non-judgemental".

You're right though, the difference between [A]GPL and LGPL is not adequately modeled. There's an issue for that: https://github.com/github/choosealicense.com/issues/410

The difference is noted in the description of each license (search for "larger work").

I app

[2016-06-26 19:53] #437 closed, assigned to nobody

[2016-06-26 20:06] walchko commented on #437
sorry, never took "viral" as pejorative but descriptive.

I guess I am too simple, because "larger work" doesn't really mean anything to me ... it is vague and not clearly defined. New people may not understand the nuances between these. Maybe define what "larger work" means? At the end of the day I know:
- AGPL - touch AGPL code via network, all source code released
- GPL - link to a GPL library,

[2016-06-26 20:13] mlinksva commented on #437
FWIW you can read about longstanding debate over the term in https://en.wikipedia.org/wiki/Viral_license ... personally I think it's too bad copyleft advocates haven't embraced the term as aspirational.

I also welcome pull requests for improved descriptions and entries for a potential glossary https://github.com/github/choosealicense.com/issues/238

[2016-07-06 20:39] mlinksva opened #441 "Annotating license texts with license rules"
[Comment/question today](https://github.com/github/choosealicense.com/pull/320#issuecomment-230746990) about whether EUPL-1.1 is accurately described reminded me to file this enhancement idea.

For each license, license rules could be annotated with ranges of text in the license pertinent to the rule. Highlighting of ranges could be turned on/off on individual license pages by selecting in the lic

[2016-07-06 20:52] waldyrious commented on #441
This would be great! :+1:

[2016-07-10 12:17] waldyrious commented on #377
@bconry I believe I might have figured out what's happened. It turns out there ate not two, but three variants of the Artistic License 1.0. SPDX calls these "[Artistic License 1.0](http://spdx.org/licenses/Artistic-1.0.html)", "[Artistic License 1.0 w/ clause 8](http://spdx.org/licenses/Artistic-1.0-cl8.html)" and "[Artistic License 1.0 (Perl)](http://spdx.org/licenses/Artistic-1.0-Perl.html)". He

[2016-08-04 17:31] SKY51717 commented on #380
# 380

[2016-08-10 19:57] svenevs commented on #413
Would it be appropriate to bring back a choice of GPL v2 or v3?  My understanding (as a non-legal expert) is they are quite different.  Different enough to stir a enough banter online as to whether it should even be v3 instead of a different name...

Realistically, all of these licenses can be included manually with minimal effort.  I just feel that having a GPL v2 as well as GPL v3 option would a

[2016-08-10 21:38] mlinksva commented on #413
@svenevs inspiring users to search online and compare GPLv2 and GPLv3 falls squarely under "adds cognitive overhead" if anything does. People who want to try to discern the differences between these licenses from reading online banter are not in the main target audience for a site helping people to choose a license, perhaps for the first time and without lots of background knowledge.

For you or f

[2016-08-18 07:46] svenevs commented on #413
Well, when you put it that way I couldn't agree more x0

Thanks for sending that link along, that was a very well put together document.  Dense, but very thorough!

[2016-08-20 19:57] Wuzzy2 opened #444 "Website claims that copyright forbids using software"
From http://choosealicense.com/no-license/:

Wait, what? Even not _using_? I am not a lawyer but this seems surprising to me. But is this actually true? And even if such a restriction applies, is it actually because of copyright law? Or maybe its because of something else?

My gut feeling tells me this claim is false because by the same logic, we would not be allowed by copyright law to “use” copy

[2016-08-20 20:02] Wuzzy2 opened #445 "No License page is vague about copyright"
I am not really happy with the No License page http://choosealicense.com/no-license/.
It is written in a way that makes it seem that copyright works exactly the same globally.
This is obviously false, as there are different copyright laws in different countries.

Asking you to go into the national details if of course a bit too much but at least it should be acknowledged that copyright is not the

[2016-08-21 18:36] mlinksva commented on #444
The website doesn't make the claim the title of this issue claims, but I can see how one could get that meaning. One doesn't need permission of the creators/copyright holders for everything. Various limitations and exceptions to their 'exclusive rights' exist, though not much one can count on, especially worldwide. Probably worth noting that on this page.

Use/using isn't a copyright term (those a

[2016-08-22 18:55] #387 closed, assigned to nobody

[2016-08-23 14:45] Wuzzy2 commented on #444
It's not about “reader satisfaction” but to make sure the text is not misunderstood.

But thanks for looking into this.

[2016-08-30 18:39] waynebeaton opened #449 "EPL 1.0 not appearing in license lists"
I swear that the EPL used to be an option in the license selection drop-down for a new GitHub repository, but it's not showing up anymore.

AFAICT, the license file meets the criteria outlined on the CONTRIBUTING page.

I don't see how the list of licenses is being fed to GitHub. What do I need to do to make this happen?

[2016-08-30 20:07] mlinksva commented on #449
The license is at http://choosealicense.com/licenses/epl-1.0/

The license selection drop-down on GitHub eventually (via benbalter/licensee, which vendors github/choosealicense.com) is informed by changes here.

The change you noticed is due to https://github.com/github/choosealicense.com/pull/386

See #413 and #427 for similar discussion.

I can't promise anything but I'll pass along the desire o

[2016-08-30 20:07] #449 closed, assigned to nobody

[2016-08-30 20:20] mlinksva commented on #449
BTW @waynebeaton since I see that you're on the Eclipse Foundation staff, I look forward to adding the next version of the EPL when it is eventually done; made me check the [mailing list](http://dev.eclipse.org/mhonarc/lists/epl-discuss/msg00070.html). Also very nice to see the new [contributor agreement](https://www.eclipse.org/legal/ECA.php) utilizing the DCO!

[2016-08-30 20:56] waynebeaton commented on #449
I cannot figure out how to even navigate to the EPL page on the site. Am I just not seeing it? Is there an actual link on the site?

The notion expressed in #386 that the EPL isn't a license that "anyone should choose unless they already know about them because they're in the relevant communities" is incorrect. I just did a quick search to compare hits of the EPL vs the AL and while there are cert

[2016-08-30 22:13] scopatz commented on #413
I am posting this here on [the suggestion](https://twitter.com/arfon/status/770408199270699008) of @arfon.

**Disclaimer:** This is not about the contents of the choosealicense.com website, which I veiw as disitnctly outside of my perogative.

Rather, this is about the inability of users to select more than the handful of licences at http://choosealicense.com/licenses/ from the drop down when crea

[2016-08-30 22:45] arfon commented on #413
👋 @scopatz, thanks for taking the time to write up this issue and outlining why the difference between MIT and BSD matters so much for the academic community.

@mlinksva and I have just been talking this through and we agree that the current behaviour of the dropdown can be improved for those users who know _a priori_ what license they want to use.

I don't believe it's going to be to difficult to

[2016-08-30 22:49] kyleniemeyer commented on #413
In addition to agreeing that eliminating commonly used licenses seems like a not-great decision, I'm now considering changing away from the MIT license to BSD 3-clause for my projects—thanks to @scopatz I'm now aware of some important differences.

If the goal is to reduce cognitive load, I don't see why simply bolding certain common licenses, while still making a wider selection available, doesn'

[2016-08-30 22:55] mlinksva commented on #449
Eclipse and Clojure are pretty big communities, so I'm not surprised that EPL gets lots of hits. Why should someone who is just learning about open source licenses and not in one of those communities (and maybe others I don't know about) learn about EPL?

It isn't linked prominently but can be gotten to at http://choosealicense.com/appendix/ which is linked from the top of http://choosealicense.co

[2016-08-30 23:19] michaelaye commented on #413
There are many ways to reduce cognitive load with today's web technologies. Removing very relevant options seems like overkill and not the right way.

[2016-08-30 23:22] waldyrious commented on #413
By the way (and sorry if this is a little off-topic) I recently came across [an interesting text](https://urchin.earth.li/~twic/The_Amazing_Disappearing_BSD_License.html) that traced the evolution of BSD licenses towards permissiveness (from 4 clauses to 0 clauses), where the "1-clause BSD" matches pretty closely (though maybe not legally? IANAL) the [ISC license](http://choosealicense.com/license

[2016-08-30 23:40] scopatz commented on #413
Thanks a ton @arfon (and all who :+1:). Soon is definitely good enough for me!

[2016-08-30 23:50] mlinksva commented on #413
@waldyrious interesting and seems to date from [2005](http://web.archive.org/web/20050307174729/http://urchin.earth.li/~twic/The_Amazing_Disappearing_BSD_License.html).  0-clause BSD ([0BSD](http://landley.net/toybox/license.html)) is now a thing. 1-clause BSD as described there is more permissive than MIT/ISC since it has no conditions for non-source copies.

Thanks to everyone for sharing their

[2016-08-31 00:27] waldyrious commented on #413
Actually, that license seems to be primarily promoted by a single person/project, so I'm not sure I would call it "a thing" :)

As shown in [this commit](https://github.com/landley/toybox/commit/ee86b1d), the project's license was changed from ISC to a (then unnamed) simpler "license" following [this proposal](http://lists.landley.net/pipermail/toybox-landley.net/2013-March/004589.html).

The lice

[2016-08-31 07:24] ilayn commented on #413
If you don't mind the wording, [WTFPL](http://www.wtfpl.net/) has been a sort of "0-clause" license for a long time already. However, FSF warns about [patent treachery](https://www.gnu.org/licenses/license-list.en.html#WTFPL)

[2016-08-31 07:52] inoas commented on #413
While I don't share the rant parts on GPL and don't see the reason for the big wall of text on popularity (which should not be the foundation of judgement) @scopatz I do share your core point that I want to emphasis:

This alone should warrant that we put 3C-BSD alongside MIT.

**_And to be clear about one thing:**_ _Popularity is only one factor (Monopoly is popular, adolf was sadly popular, Mc D

[2016-08-31 21:36] askmatey commented on #413
[The BSD License Problem](https://www.gnu.org/licenses/bsd.en.html)

[2016-08-31 21:42] jeffhammond commented on #413
Fortunately, everyone else knows what BSD actually means and it is described in e.g. https://en.wikipedia.org/wiki/BSD_licenses.

Not everyone insists on painting the bike-shed navy and yellow...

[2016-08-31 21:51] arfon commented on #413
OK, thanks for the feedback all. As I outlined in [above](https://github.com/github/choosealicense.com/issues/413#issuecomment-243605410) we're going to work on a fix for this and make it more straightforward for people who know already know the license they want to use to select it.

There have been some very good comments in this thread but there is also some less helpful language. As a result I

[2016-09-10 17:53] #444 closed, assigned to nobody

[2016-09-10 17:54] #445 closed, assigned to nobody

[2016-09-12 20:22] strugee commented on #401
See also addalicense.com (which is broken, but still)

[2016-09-17 15:04] #223 closed, assigned to nobody

[2016-09-18 20:30] burn2delete opened #454 "Add Microsoft Public License"
Hello, could we get MS-PL added to the site?

[2016-09-18 20:50] mlinksva commented on #454
Hello, it is on the site, see http://choosealicense.com/licenses/ms-pl/ linked from http://choosealicense.com/appendix/

If there are any errors in its description, please file a new issue or submit a pull request. Thanks!

[2016-09-18 20:50] #454 closed, assigned to nobody

[2016-09-26 20:27] waldyrious opened #457 "Suggestion: add a diagram of the spectrum to the /licenses page"
[This image](https://commons.wikimedia.org/wiki/File:Software-license-classification-mark-webbink.svg), used in the Wikipedia article "[Free software license](https://en.wikipedia.org/wiki/Free_software_license)", would be a good choice IMO, or something along those lines. This would make it more evident what the page aims to provide.

![](https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/

[2016-09-26 20:37] waldyrious opened #458 "Suggestion: replace "provenance" in the /licenses page"
It would be better to use a word more people are used to (or can guess the meaning of), like "origin" or "authorship".

[2016-10-01 21:15] mlinksva commented on #458
Authorship is too narrow. I really like provenance because it captures documentation of both ownership and other processes that open source licenses can require. Origin might work if it's interpreted really broadly, but at the same time seems really vague. I'm closing this but feel free to make a further argument.

[2016-10-01 21:15] #458 closed, assigned to nobody

[2016-10-01 21:35] mlinksva commented on #457
It'd need some design work but I think an image like that would work better on a (not yet existing) page for people wanting more background eg a glossary discussed in #238. I don't think this is immediately actionable so closing but feel free to continue discussion. Thanks for the suggestion!

[2016-10-01 21:35] #457 closed, assigned to nobody

[2016-10-01 22:00] waldyrious commented on #458
I'm not sure what meanings "provenance" would provide that "origin" would fail (or not be as effective) to provide. Can you expand a little on what you mean by "other processes that open source licenses can require"?

[2016-10-22 02:50] luke-jr opened #460 "Promotes the SIL OFL which is non-free"
The OFL doesn't allow sale of the font by itself, so it doesn't meet the free software definition and shouldn't be promoted. The MIT and GPL licenses are popular among fonts.

[2016-10-22 05:00] mlinksva commented on #460
It meets our [criteria](https://github.com/github/choosealicense.com/blob/gh-pages/CONTRIBUTING.md#adding-a-license). Note https://www.gnu.org/licenses/license-list.en.html#Fonts

It is also listed on https://opensource.org/licenses/category

Convince FSF and OSI that it is non-free/open and maybe we can remove it here.

Closing, but please say if I missed something.

[2016-10-22 05:00] #460 closed, assigned to nobody

[2016-10-22 05:05] mlinksva commented on #460
I see in https://github.com/googlei18n/noto-fonts/issues/758 that you know all that and disagree.

I agree with davelab6, that ship has sailed. He's been working on free fonts for over a decade. If there was a non-theoretical problem with SIL OFL I'm sure he'd be the first to say.

[2016-10-25 09:00] tajmone opened #461 "Antivirus blocks some website pages"
While navigating choosealicense.com I was surprised to discover that my antivirus (VIPRE) blocked the GPL 2.0 webpage:

http://choosealicense.com/licenses/gpl-2.0/

It reporeted

So far, only this page was blocked. Is there something different about it? Was the website hacked?

Just thought I let you know.

[2016-10-29 19:24] mlinksva commented on #461
@tajmone thanks for reporting this. There doesn't seem to be a problem with the material in the repo or being served. A colleague has reported a false positive to the vendor you mentioned.

[2016-10-29 19:24] #461 closed, assigned to nobody

[2016-10-29 19:28] mlinksva opened #463 "`source:` isn't a consistent source of truth"
As noted in #462 our license texts don't all match precisely the texts their `source:` fields point to. I'd like to fix that eventually, probably by treating license texts curated by SPDX as canonical.

[2016-11-12 23:21] ArcaneNibble opened #464 "Possibly add 0BSD license"
I would like to see the [0BSD](https://opensource.org/licenses/FPL-1.0.0) license cataloged in the appendix. Without it, the downstream Licensee project mis-detects 0BSD as the ISC license. The 0BSD license is basically the ISC license without requiring a copyright notice.

The 0BSD license meets criteria 1 and 2 for adding a license according to the CONTRIBUTING.md, but I'm not sure if it meets c

[2016-11-13 02:30] mlinksva commented on #464
@rqou thanks for reporting this. Could you also file an issue at https://github.com/benbalter/licensee/issues and point out the exact license text you're getting a false indication of ISC for? I tried and didn't get a match against either text in https://spdx.org/licenses/0BSD.html or https://opensource.org/licenses/FPL-1.0.0

It may be that adding 0BSD here is the right solution for licensee, but

[2016-11-13 12:05] waldyrious commented on #464
I would love if we could somehow agree (ISC, @landley, SPDX and OSI, and choosealicense.com by extension) in a standard progression for the BSD-style licenses, along the lines described in [The Amazing Disappearing BSD License](https://urchin.earth.li/~twic/The_Amazing_Disappearing_BSD_License.html). This would simplify the nomenclature, reinforce the BSD-style license "brand", and clarify the mea

[2016-11-15 09:32] ArcaneNibble commented on #464
According to the licensee developers, there is no mis-detection occurring there with the latest version of the code. In order to correctly detect 0BSD, it just has to be added here.

[2016-11-15 18:59] mlinksva commented on #464
@waldyrious I highly doubt that coordination is going to happen. It also doesn't matter that much. Lots of unconditional licenses might be very slightly confusing, but they present no other problems, in contrast with the far more numerous licenses with various conditions. If the differently named FPL or a BSD-0 ever get added to SPDX and enough adoption, we could add them too.

In the meantime, cl

[2016-11-15 18:59] #464 closed, assigned to nobody

[2016-11-28 17:48] ulgens commented on #33
#353 doesn't close this issue. There is no option for 'CC-BY-SA-4.0' in license selection dropdown yet.

[2016-12-04 10:32] s72785 opened #465 "differentiate X11 and Expat"
On http://choosealicense.com/appendix/ you list MIT although there is different versions [as pointed out](https://en.wikipedia.org/wiki/MIT_License#Variants).

I suggest renaming to "Expat License (sometimes called the MIT license)"[^1] or at least adding "(Expat License)" to the title as this one is approved by OSI and maybe listing X11 separately.

In case you ask "why would this be useful":
* g

[2016-12-05 01:57] mlinksva commented on #465
Thanks for the suggestions, @s72785. One by one:

1. X11 likely meets our [criteria](https://github.com/github/choosealicense.com/blob/bba25c9cbb64dc7e960b1a3fed6c9e80b1568f7c/CONTRIBUTING.md#adding-a-license), has been discussed previously https://github.com/benbalter/licensee/issues/98 but nobody has made a pull request. Feel free to follow up.
2. Also at https://github.com/benbalter/licensee/is

[2016-12-05 01:57] #465 closed, assigned to nobody

[2016-12-09 06:32] astorije opened #466 "MIT license liability contradiction"
At http://choosealicense.com/:

<img width="305" alt="screen shot 2016-12-09 at 01 26 38" src="https://cloud.githubusercontent.com/assets/113730/21039795/8e103262-bdae-11e6-806f-ed55cc323760.png">

And at http://choosealicense.com/licenses/:

<img width="792" alt="screen shot 2016-12-09 at 01 27 38" src="https://cloud.githubusercontent.com/assets/113730/21039815/b816d336-bdae-11e6-9325-8f35cdd873e

[2016-12-09 07:18] lee-dohm commented on #466
If you hover over the "Hold liable" text you get this tooltip which echoes the text in your first image:

<img width="317" alt="screen shot 2016-12-08 at 11 15 23 pm" src="https://cloud.githubusercontent.com/assets/1038121/21040829/3af9ee36-bd9c-11e6-95e4-a623795caecf.png">

I agree that the label "Hold liable" coupled with the red dot is a bit confusing though. I suspect that this is a more clear

[2016-12-09 08:41] waldyrious commented on #412
As described in #466, it appears the wording "Hold liable" can be confusing as a negated sentence.

My suggestion would be to use an explicit negation in the header, i.e. "Not hold liable". Maybe even more specific, to dispel all doubts: "Not hold authors liable".

More generally, it could make sense to include a verb in every property short name, even if only for consistency of phrasing. For inst

[2016-12-09 13:30] inoas commented on #412
As for the table column name, maybe one of these:
- `No Liability`
- `Excused Liability`
- `Liability excused` (Edit 2)
- `Excused of Liability` (Edit 2)

~~(Edit:) Also `Patent Use` Column is confusing in a similar way as it exists twice but implies different things!~~ (Edit 2:) Latter has already been addressed on http://choosealicense.com/appendix/ vs the older https://twitter.com/benbalter/sta

[2016-12-09 23:26] mlinksva commented on #466
I don't see a contradiction, but please point out exactly if I'm missing something.

Maybe you're pointing out that the MIT short description on the home page reads like the limitation on liability is a license condition ("as long as...") rather than a limitation (a licensee doesn't lose their license if they try to hold licensors liable, rather they just are highly unlikely to succeed in holding

[2016-12-09 23:50] lee-dohm commented on #466
The part that made me dig in to this is that the explanation text for the MIT License itself ends with "don't hold you liable" and then the phrasing under Limitations is "Hold liable". From my layman's perspective, without the context that Limitations is meaning limitations on the licensee, the two phrases by themselves appear to be negations of each other. This is why it was confusing to me. I ad

[2016-12-10 00:44] inoas commented on #466
Maybe we can add a cross ontop of a red octagon, so that it looks like a stop sign, instead of just a red bullet/circle/ball. that would *communicate* `hold liable: no`

[2016-12-10 00:44] inoas commented on #412
Or see https://github.com/github/choosealicense.com/issues/466#issuecomment-266162532

[2016-12-10 03:20] richardfontana commented on #412
A licensee can't "hold" a licensor liable. That's something _maybe_ a court would do. That's partly why I find this "hold liable" expression confusing. It's not legally accurate. In fact it seems unidiomatic even to speak of a court "holding" a party liable.

There are other problems as well. Lots of FLOSS licenses and their proprietary cousins have these limitation-of-liability provisions and (ty

[2016-12-11 21:35] inoas commented on #412
Isn't warranty something more specific than liability?
Would `Limited Liability Provision` work as a column name (then with inverted booleans?)

[2016-12-12 18:24] benbalter commented on #466
In my mind, it's a limitation, in that you *cannot* hold the publisher liable. Just as if it listed "commercial use" as a limitation, you could not use it for commercial use.

[2016-12-12 18:27] benbalter commented on #412
To note, if the tense here changes [we should change all the other limitation tenses](https://github.com/github/choosealicense.com/blob/gh-pages/_data/rules.yml#L35-L44) (although I think the tense/wording is as clear as it's going to get, FWIW).

If anything, we could just call it "liability', which would then parallel "trademark use" and "patent use" as restricted downstream activities.

[2016-12-12 18:43] lee-dohm commented on #466
So can we just be explicit with it? "Cannot hold publisher liable"

[2016-12-12 18:46] benbalter commented on #466
See my comment over in https://github.com/github/choosealicense.com/issues/412#issuecomment-266510347. The other liabilities are "trademark" and "patent use". Since these are limitations, we'd want to change all three to "cannot use trademarks" "cannot use patents". Here, "patents", "trademarks" and "liability" are three limitations (in the sense they are things you can't do, as indicated by the r

[2016-12-12 18:55] lee-dohm commented on #412
I like this idea :+1:

[2016-12-12 21:59] mlinksva commented on #412
@benbalter @lee-dohm I like `liability` for the tag and "Liability" for the label, consistent with other tags as you note.

@richardfontana I could see adding a warranty field to go along with liability so as to reduce confusion and increase accuracy. BTW I thought almost all (except WTFPL) public copyright licenses have both, but searching the ones cataloged here, it seems MS-PL and MS-RL do not

[2016-12-18 23:02] astorije commented on #466
Well, I didn't even know there was a tooltip!

I guess it makes sense when you are used to it, but new readers (which are somewhat target audience of this website), it's confusing: the first was I saw when I was browsing about the MIT license was "don't hold you liable" on the homepage and "Hold liable" in the licenses page.

The fact that "Hold Liable" is in the "Limitations" category and therefo

[2016-12-19 19:02] mlinksva commented on #272
Thanks for reporting this long ago. #469 changes 'code' to 'software' in the tooltip you note. The notice condition of most open source licenses applies to any distribution, not only source code. Probably the distinction you're suggesting calling out is based on the interactive user interface language in GPL-2/3.0. I don't think this should be called out as an additional condition given the granul

[2016-12-19 19:27] tthiery commented on #272
Thanks for the clarification and your work in general!

[2016-12-19 19:27] #272 closed, assigned to mlinksva

[2016-12-25 19:46] #412 closed, assigned to nobody

[2017-01-11 11:33] Merovex commented on #33
Exclucing CC licenses assumes all works on Github are software related. Some may not use Github for software

[2017-01-11 11:56] inoas commented on #33
@eric-brechemier

In general github undervalues non-code parts of repositories or even non-code repositories. The discussions I have been having with github staff in the linguist repo made clear that they don't value "prosa" except maybe if it is nerd-compatible (aka TeX), thus .rst (Sphinx Documentation) didn't make it into the language-stats/bar, nor will SVG (media assets). One effect is that d

[2017-01-11 12:38] waldyrious commented on #33
I fully agree with @inoas. Git was created as a "stupid" content tracker, and tracks any text content (not necessarily code) with pretty much equal proficiency. Prose may benefit from [semantic newlines](http://rhodesmill.org/brandon/2012/one-sentence-per-line/), but even without it, the downsides are minimal. There's even great support for binary data as well.

I think if GitHub fully embraces th

[2017-01-11 18:12] haacked commented on #33
While I'm no longer working on this area of GitHub, I do want to chime in with some original context. In my opinion, it's not that GitHub undervalues these parts. As a track host for a "soft skills" track at QCon, I especially value these contributions. :smile:

It's more about focus. GitHub has traditionally focused on providing support for coders and code to try and ensure a stellar experience t

[2017-01-11 18:17] davidak commented on #33
@Haacked thanks for your response here.

Can you inform the team working on github.com to look at this issue? Maybe they can tell their opinion and  an estimate when it could be implemented.

[2017-01-11 18:35] stuartpb commented on #33
Wouldn't it be enough to just use an `<optgroup>` in the license dropdown for this?

[2017-01-11 18:57] stuartpb commented on #33
Also, and I recognize [this comment](https://github.com/github/choosealicense.com/issues/33#issuecomment-188164496) is almost a year old, but:

If you want to add a Creative Commons license to your GitHub-generated initial commit, you should leave the LICENSE dropdown blank (anything else would only serve to introduce brief garbage in your repo's historical metadata), and then run this command bel

[2017-01-11 22:43] Merovex commented on #33
That might work unless you're using Markdown. I ended up dumping the legal code into a LICENSE.md and then reformatting...so the numbering is all off.

I write novels as a hobby (I'm not good enough to do so for profit). I write in Markdown and compile via a self-authored Ruby gem into PDF (for Createspace) and Mobi (Kindle). I have kept my novel's source code in a repository (SVN, then GIT) since

[2017-01-12 13:19] inoas commented on #33
@stuartpb well opt-groups would need to group things, optgroups in `<>`:

[code]

... where media would cover graphics (icons, symbols, photos, pictures, artwork, fonts, animations), videos, sound (effects, music)

... data would be for big amounts of data, basis for statistical analysis, deep learning, look-up-tables, etc

* * *

But in essence a licenses can be recommended to best cover certain

[2017-02-04 16:58] jeromecc opened #478 "Internationalization"
Hi!
I belong to a French open source collective called [LibreHealthCare](https://librehealthcare.org).
We are considering starting a translation of choosealicence.com
Would it be possible to make this project "I18N" friendly, allowing the use of translation files?
If other people are thinking about translating this site, please let me know.
Thanks.

[2017-02-04 20:50] mlinksva commented on #478
Hi @jeromecc, closing this as a duplicate of #68, let's continue the discussion there.

We haven't settled on an approach to making the site i18n friendly. I'd love to but could use help figuring it out.

Note that there's an existing but outdated French translation (in a fork, not using any i18n facility) as noted in https://github.com/github/choosealicense.com/issues/68#issuecomment-210596788 th

[2017-02-04 20:50] #478 closed, assigned to nobody

[2017-02-05 07:30] mlinksva commented on #68
Jekyll plugin https://github.com/untra/polyglot seems to generate copies of an entire site, including collections (as used here for `/licenses/`), under `/{language-code}/` for each language configured, without any duplicate source files. I haven't looked deeply, but it seems to be the only Jekyll i18n plugin that does this -- others seem to require a file for each page for each language -- as wou

[2017-02-05 11:56] miqmago opened #479 "How to specify EUPL in new project"
I want to start a new project and I would like to choose EUPL license but in the dropdown "Add a license" there is no possibility to do it, even though the license is listed in https://choosealicense.com/appendix/.

How can I specify EUPL when I create a new github repo?

[2017-02-06 01:38] mlinksva commented on #479
Copy the license text from https://choosealicense.com/licenses/eupl-1.1/ (you can use the "copy license text to clipboard" button, or select and copy the text manually) into a file called `LICENSE` after creating the repo.

[2017-02-06 09:32] miqmago commented on #479
Thanks, that's what I did, but I wanted to know if there is the possibility to choose it from the github interface dropdown.

If I understand, the way you say means that 6 steps have to be done:
1. choose a repo with no license (or with any other license),
2. create a file called LICENSE (or open the file),
3. in a new window, open the link (that I have to remember where it is, maybe more steps ne

[2017-02-06 18:11] mlinksva commented on #479
No there isn't currently the possibility to choose EUPL-1.1 from the drop down. I'll pass along your request.

[2017-02-06 18:11] #479 closed, assigned to nobody

[2017-02-06 18:18] miqmago commented on #479
Thanks, this is worst than I thought, as if I select a license in the dropdown, the selected license will appear in the repo first page, linked to the selected license and I haven't found the way to change it.

[2017-02-06 18:24] mlinksva commented on #479
If you've selected a different license, edit the `LICENSE` file: replace the license text there with the license text of the EUPL-1.1.

[2017-02-06 18:31] miqmago commented on #479
Oh! great, thanks! I thought that it was already changed but in fact it was not...

[2017-02-15 16:29] willin opened #481 "LICENSE not match"
https://github.com/js-cool/leader.js.cool/blob/master/LICENSE

what i use in the project is `Attribution-NonCommercial-ShareAlike 4.0 International`

but project page shows: ***CC-BY-SA-4.0***

<img width="356" alt="wx20170216-002830 2x" src="https://cloud.githubusercontent.com/assets/1890238/22983963/dca07750-f3de-11e6-9d95-63c190ff8455.png">

[2017-02-15 16:43] mlinksva commented on #481
@willin license detection on GitHub is handled by [licensee](https://github.com/benbalter/licensee/) please add your report to https://github.com/benbalter/licensee/issues/116. Thanks!

[2017-02-15 16:43] #481 closed, assigned to nobody

[2017-02-19 22:34] strugee opened #483 "HTTP Strict Transport Security"
Please deploy HTTP Strict Transport Security to choosealicense.com, preferably with a long lifetime and with a submission to the preload list. https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Strict-Transport-Security

Cheers!

[2017-02-20 21:53] mlinksva commented on #68
The Jekyll no-plugin i18n solution being worked on in https://github.com/github/open-source-guide/pull/295 for a related site may eventually be applicable here. Watch that if you're interested.

[2017-02-20 22:11] mlinksva commented on #483
Thanks for the suggestion @strugee. I've passed it along to the team in charge of infrastructure for GitHub-maintained GitHub Pages sites. Closing this issue as there's nothing that can be done to fix it in the repository itself. I'll drop a note here if I hear it has been implemented.

[2017-02-20 22:11] #483 closed, assigned to nobody

[2017-02-20 22:19] strugee commented on #483
:thumbsup: thanks!

[2017-02-22 23:52] #410 closed, assigned to mlinksva

[2017-03-01 01:11] mlinksva commented on #483
@strugee HSTS is now deployed for choosealicense.com with 1 year lifetime thanks to @parkr and others.
[code]

[2017-03-02 06:35] hook321 opened #485 "Add StopNerds Public License"
[http://stopnerds.org/license/](http://stopnerds.org/license/)

[2017-03-02 16:47] mlinksva commented on #485
@hook54321a thanks for the suggestion, but it doesn't look like this license meets our [criteria](https://github.com/github/choosealicense.com/blob/gh-pages/CONTRIBUTING.md#adding-a-license) (SPDX ID, on one or more of OSI, FSF, Open Definition approved lists, >1000 repos).

[2017-03-02 16:47] #485 closed, assigned to nobody

[2017-03-04 18:41] mlinksva commented on #463
Implementation needs tests. Would detect and help us avoid issues such as #310 #486 #488

If we can manage to use SPDX as the canonical source of license texts, then we don't need the `source` field at all, as SPDX URLs can be constructed from `spdx-id`.

[2017-03-05 22:45] benbalter commented on #463
See https://github.com/github/choosealicense.com/pull/489. I wrote a quick script to vendor in the license text from the SPDX API. The biggest change is the lack of line wrapping (doesn't affect the site or Licensee), and we'll need to normalize the merge fields, if we wanted to go that route.

[2017-03-14 18:20] bkeepers opened #490 "Differentiation of licensing resources on /about/"
From John Sullivan at FSF re https://choosealicense.com/about/:

resources, and think that some differentiation would be good there -- maybe some statement that these are the two places that people generally look to for license evaluations.

cc @zacchiro

[2017-03-15 03:03] apotheon opened #493 "AL2 description"
The description of the Apache License 2.0 on the index of the choosealicense.com website reads:

This is inaccurate, in that it is markedly different from the MIT License.  It contains several restrictions the MIT License lacks, including a NOTICE file restriction and a requirement for bookkeeping related to changes made to the source code, and it has significant license compatibility problems (in

[2017-03-15 18:49] #490 closed, assigned to nobody

[2017-03-23 19:37] MicahZoltu opened #496 "Can no longer choose CC0 on GitHub."
My understanding is that GitHub populates its list of licenses on new repositories from here.  I used to be able to select CC0 as a license, but it appears that I no longer can.  I [found this issue](https://github.com/github/choosealicense.com/issues/413), which appears to be related, but it ended by being locked with a comment pointing at this statement:

That was 7 months ago.  What is the stat

[2017-03-23 20:42] mlinksva commented on #496
@MicahZoltu https://github.com/github/choosealicense.com/pull/386#issuecomment-207579290

As to the new repo license drop-down on github.com, I'll pass your feedback along. Enhancement of that UI is something we're discussing, but I can't make any promises.

I'm going to close as there's nothing immediately actionable in this repo, but feel free to comment further.

[2017-03-23 20:42] #496 closed, assigned to nobody

[2017-03-23 22:55] christianbundy commented on #464
I hate to bump this after a few months of peace and quiet, but I just wanted to resolve this point:

Nobody on my team (or the OSI's board) had ever heard of the 0BSD when the FPL was being reviewed, so we were all surprised to hear that the 0BSD had skipped OSI approval and jumped straight to SPDX for an identifier. I don't want to rehash [all of the issues](https://lists.spdx.org/pipermail/spdx-

[2017-03-25 20:17] landley commented on #464
I appear to have missed the earlier round of this...

On 03/23/2017 05:55 PM, Christian Bundy wrote:

The name "zero clause BSD" was part of a strategy to promote public
domain equivalent licensing
(https://en.wikipedia.org/wiki/Public_domain_equivalent_license) by
coming up with a both corporate friendly and hobbyist friendly version.
This is necessary because post-GPLv3 too many programmers are

[2017-03-26 12:41] othree opened #498 "Add Vim License"
Vim uses a special GNU GPL [compatible][1] license called: [Vim License][2].
There are many Vim scripts [use][3] [the][4] [same][5] license.
I think it will be great if you can provide (and detect in GitHub).

[1]:https://github.com/vim/vim/blob/master/runtime/doc/uganda.txt#L115-117
[2]:https://github.com/vim/vim/blob/master/runtime/doc/uganda.txt#L24-L105

[3]:https://github.com/tpope/vim-pathog

[2017-03-26 17:56] BenjaminHoegh opened #499 "What License to choose...."
What license do I need to choose to make sure that nobody sell the code to others and that is a one-license so they need to pay again to use the system in a new place ?

And can somebody please make the descriptions of the diffrent licenses to a language normal people can understand?? now I have ask 7 persons and nobody can answer me what it means, all they say are it can mean multiple things

[2017-03-26 20:17] mlinksva commented on #498
@othree, thanks for the suggestion.

Deployment of this license seems highly variable, with lots of text added before and after in examples I've seen -- these wouldn't be detected. Can you verify that it meets our [criteria](https://github.com/github/choosealicense.com/blob/gh-pages/CONTRIBUTING.md#adding-a-license) for cataloging a license here, and point out some examples that use only the [lice

[2017-03-26 20:26] mlinksva commented on #499
What you want isn't an [open source license](https://opensource.org/osd-annotated), which must permit free redistribution and use (see points 1 and 6 at the link), so it's out of scope for this project.

Note you [don't have to choose a license](https://choosealicense.com/no-license/) at all but should be aware of the implications.

Given what you want, you may wish to find and work with a lawyer

[2017-03-26 20:26] #499 closed, assigned to nobody

[2017-03-26 20:38] BenjaminHoegh commented on #499
so no one of those will make this?

 - License does not expire.
 - Can be distributed in 1 project
 - Can be distributed and / or packaged as a code or binary product (sublicensed)
 - Commercial use allowed
 - Can modify source-code but cannot distribute modifications (derivative works)
 - Support provided
 - Attribution to software creator must be made

[2017-03-26 21:21] mlinksva commented on #499
@HawkonDK I can see why people are telling you different things -- the features you put in the comment above are completely different form the ones you noted when you filed the issue.

In any case, there's no open source license stipulating the following:

See point 3 of https://opensource.org/osd-annotated -- an open source license must permit distribution of derivative works.

It's totally OK to

[2017-03-26 22:33] BenjaminHoegh commented on #499
Oh okay my fault

just a little ting...
"This license explicitly states that it does NOT grant you trademark rights, even though licenses without such a statement probably do not grant you any implicit trademark rights."

when it say "you" are that me or the person there use the open source ??

[2017-03-27 00:03] mlinksva commented on #499
"You" in those descriptions would be the licensee, the user of the software under an open source license. However, the descriptions really ought to make sense whether the reader is a licensor, licensee, or both, so I've proposed some edits in #500. Thanks!

[2017-03-27 03:45] christianbundy commented on #464
Thanks Rob, I appreciate your post. There's a lot to unpack there, and I'd like to first point out that I absolutely agree with you on the need for an ultimately permissive license. I'd like to think that we're both on the same side of this issue.

I think there are only two points that need to be covered on this specific issue (although you're always welcome to email me for anything tangential):

[2017-03-27 17:36] landley commented on #464
On 03/26/2017 10:45 PM, Christian Bundy wrote:

I think we are.

It's an obvious thing to do, as in "it's clearly where the industry
needs to go next". If the John The Ripper license had existed at the
time (or the various other doing-the-same-thing ones I haven't saved
links to), I would have used that (and advocated renaming _that_ 0BSD
for the reasons stated last email). But it didn't, and bein

[2017-04-06 17:27] benbalter opened #501 "Enable probot-stale for this repo"
Any objection to / thoughts on enabling [the probot-stale](https://github.com/probot/stale) integration for this repo to help clean up stale issues?

/cc @bkeepers

[2017-04-06 17:33] mlinksva commented on #501
I don't mind stale issues. Honestly, I like them. When a legitimate decade old bug finally gets resolved in an open source project, I'm tickled. Here, all of the ones open I intend to resolve eventually. But if it's bad form to keep issues open with no timeline for resolution/I have terrible taste, feel free to enable bot or otherwise mass close.

[2017-04-06 17:34] #501 closed, assigned to nobody

[2017-04-19 22:07] dhimmel opened #503 "Accuracy of statement on unlicensed multi-contributor repos?"
Currently the [no license page states](https://github.com/github/choosealicense.com/blob/749f888114dc092e8b6b19cfca0eb492722ddaa1/no-license.md):

I'm not sure the bold sentence is correct. From my understanding, the multiple contributors will become joint authors. As the article [Copyright in Open Source Software](https://doi.org/10.5033/ifosslr.v2i1.30) explains:

So as long as you are a joint a

[2017-04-20 01:27] mlinksva commented on #503
Hi, thanks for bringing this up!

IANAL either, but have wondered about joint authorship and why it seems to get next to no play in open source. It's occasionally mentioned (the article you cite is a good example), but nothing definitive ventured (e.g, the only unambiguous situations mentioned in that article are sole copyright, whether through assignment or in the case of collective works; a simi

[2017-04-20 15:12] dhimmel commented on #503
@mlinksva thanks for your detailed thoughts.

On one hand, I think either of the following modification would be more accurate:

On the other hand, I like the forcefulness of "nobody starts including you"... I'm just not sure it's universally accurate, although you've convinced me its at least possible in many jurisdictions and circumstances. And I agree the ambiguity and non-deterministic determi

[2017-04-20 19:44] blahah commented on #503
I agree with all of the above, and think that a change to use *less certain language* would be helpful. Copyright is already so widely misunderstood, to the great detriment of us all. choosealicense.com generally does a great job of cutting through that, but clarity shouldn't come at the expense of accuracy. If something is more complex than a single succinct sentence can accurately capture, I thi

[2017-04-21 14:50] dhimmel opened #505 "Newlines between each sentence in markdown source"
Currently, the markdown sources for this repo do not use any newlines within paragraphs. This makes diffing unwieldy: any change affects at least an entire paragraph. Conflicts become more difficult to resolve.

When using Git to track prose, I've found the best solution is to have a single sentence per line. In the past, word wrapping was the preferred solution, but there is a high upkeep burden

[2017-04-21 15:46] mlinksva commented on #505
I'm not a fan of one sentence per line. It makes for a jarring editing experience. `--word-diff` is what I do instead. Happy to get over it if one sentence per line takes over the world, but I haven't seen much of it so far.

[2017-04-21 17:21] dhimmel commented on #505
`--word-diff` works well for viewing changes, but it doesn't address the underlying issue: git is still a newline-based version control system. If two individuals change separate sentences in the same paragraph without newlines, there will be a conflict that must be manually resolved.

This certainly won't be the case anytime soon. I adopted the practice after seeing [this tweet](https://twitter.c

[2017-04-21 21:36] waldyrious commented on #505
@mlinksva could you elaborate a bit on that? I'm not sure I see what you mean.

@dhimmel I suspect you haven't read http://rhodesmill.org/brandon/2012/one-sentence-per-line/ yet -- I'm guessing you'll like it :)

[2017-04-22 01:11] mlinksva commented on #505
Paragraphs look like verse in the editor and maintaining newlines after each sentence is another thing to keep in mind while editing.

Merge conflicts are rare in this project. I can see the discipline being a net win for a project with lots of prose and a high level of churn.

[2017-04-22 13:25] waldyrious commented on #505
@mlinksva I see what you mean. Indeed, ideally one would want to introduce newlines after every clause (e.g. breaking in commas, semicolons, parenthesis, dashes, etc.), which I agree may require actual discipline and some more thinking about the structure of sentences -- which isn't necessarily a bad thing!

But even breaking only entire sentences using periods as delimiters (which is considerably

[2017-04-24 00:25] mlinksva commented on #505
I'd rather not here until and unless this becomes a more widely adopted practice, preferably with strong evidence for its benefits. I don't see it used in other and more heavily prose-based projects using git. Advocates should create a site or repo documenting the benefits gained by projects (complemented by lab experiments, even better, way too few of those on syntax and similar topics that peopl

[2017-04-24 00:25] #505 closed, assigned to nobody

[2017-04-24 00:34] mlinksva commented on #503
"Risk" is already uncertain. The previous sentence, for maximum accuracy, also should include various caveats. I want to keep the direct wording. Risk is accurate, adding may merely makes sentence mushier, and last thing I want is for someone to read and go on a futile quest to figure out how they may not be at risk for using code from others that they don't have a license to; this is simply a was

[2017-04-24 00:34] #503 closed, assigned to nobody

[2017-04-24 07:16] othree commented on #498
Hi

Sorry I almost forgot about this issue.
I have checked the criteria, yes Vim fits:
* SPDX Identifier: Vim
* GNU's free licenses <https://www.gnu.org/licenses/license-list.en.html#Vim>
* More than 1000 results
    * <https://github.com/search?utf8=%E2%9C%93&q=%22vim+license%22++filename%3ALICENSE&type=Code>
    * <https://github.com/search?utf8=%E2%9C%93&q=%22same+as+vim%22&type=Code>

I think

[2017-04-24 17:17] mlinksva commented on #498
@othree thanks for that info. On the "simple type" no, that wouldn't be detected; licensee only matches full copies of licenses (and optionally license IDs in package files, but not brief statements in a `LICENSE` file in any case).

I suspect we should add producing 3 solid (not trivial or totally unknown projects) and straightforward (using just the license text, that could be detected) examples

[2017-04-24 17:24] mlinksva opened #508 "Add 3 nontrivial and regular/detectable uses to criteria for cataloging a license"
Extracting from https://github.com/github/choosealicense.com/issues/498#issuecomment-296753533

Current criteria are at https://github.com/github/choosealicense.com/blob/b356254902142b07e897c31cdf505c6ca8dbcbcd/CONTRIBUTING.md#adding-a-license in case anyone wants to propose wording to add above in a comment or a PR.

Note related documentation of `using` field at https://github.com/github/choosea

[2017-05-17 13:28] tuespetre commented on #238
I agree with @JeromSar; I am pretty ignorant when it comes to licensing and I don't have a clue what 'patent rights' means in this context or how they apply. I was hoping to find an explanation here. 😉

[2017-05-30 13:37] mzeinstra opened #513 "Add official license compatibility"
Some licenses have official 1-way license compatibility like the new EUPL V1.2: http://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32017D0863

Can we add explicit license compatibilities to the dataset?

I'm also wondering if there could be a loop in those explicit compatibility clauses that license A can be licensed under licence C because the compatibility goes A -> B -> C.

[2017-05-30 18:23] mlinksva commented on #513
Hi @mzeinstra compatibility is useful info for people choosing a license or whether to use a project under a particular license. Despite this, I've not tried to add because:

- it's kind of an expert topic
- need a precise definition of compatibility
- there aren't many sources of authority to defer to (explicit compatibility clauses, FSF's statements)
- some explicit compatibility clauses are com

[2017-05-30 21:43] #508 closed, assigned to nobody

[2017-06-06 01:04] johnjago opened #515 "Unlicense examples include a project that is now MIT licensed"
https://choosealicense.com/licenses/unlicense/

stacktrace.js is listed under "Who's using this license?", but it has since been [relicensed](https://github.com/stacktracejs/stacktrace.js/commit/a9e4d53d7f3388f8f7e6d1ddae048293bf5afab3) and should no longer be listed.

Perhaps we could replace it with [Kakoune](https://github.com/mawww/kakoune), a text editor based on Vim. It is released under the

[2017-06-06 06:28] mlinksva commented on #515
@johnjago thanks for pointing that out. Kakoune is already the third example! :smile:

Any other ideas?

If you'd like to make a pull request to fix, the file to edit is https://github.com/github/choosealicense.com/blob/gh-pages/_licenses/unlicense.txt

[2017-06-09 15:22] #515 closed, assigned to nobody

[2017-06-10 19:44] Helianthella opened #518 "CC0 license differs from the official one"
* https://choosealicense.com/licenses/cc0-1.0/
vs
* https://creativecommons.org/publicdomain/zero/1.0/legalcode.txt

<br>

Diff: https://www.diffchecker.com/4rG1VpXM

<details><summary>click to expand</summary>

[code]

</details>

[2017-06-20 19:41] mlinksva commented on #518
The difference is all optional text. #488 adds the optional text. See there for other questions to address before merging.

[2017-06-20 20:09] adamvoss commented on #242
I like having a file called ACKNOWLEDGMENTS(.txt|.md)? and it is [what is mentioned in `special-files-in-repository-root`](https://github.com/kmindi/special-files-in-repository-root), but I have not really seen standardization on this front (NOTICE, ThirdPartyLicences.txt, etc.) and that repo used to rank higher than it does now in search results.

[2017-06-20 20:25] adamvoss opened #521 "Documentation section of Non-Software Licenses has no links."
https://choosealicense.com/non-software/#documentation

It states "Any open source software license or open Creative Commons license", however it offers no assistance in finding those.  Technically a couple of Creative Commons licenses were mentioned in the previous section (data/media), but only by short name (ex. CC-BY-4.0) so uninformed users likely won't even know they are Creative Commons lic

[2017-06-20 20:38] mlinksva commented on #521
Thanks for the close read @adamvoss. Let me know if #522 helps.

[2017-06-20 20:55] #521 closed, assigned to nobody

[2017-06-23 16:26] dlecan commented on #259
See https://github.com/github/choosealicense.com/pull/524

[2017-06-30 04:06] wisn opened #525 "Add Common Public Attribution License"
I found that someone wants to add an attribution in the end-user program. I mean, the developer wants to add an attribution like "Powered by [insert name here]" in the user website (since the software is a web framework).

After read some license, I think [CPAL](https://spdx.org/licenses/CPAL-1.0.html) suitable. How about this?

[2017-06-30 22:44] mlinksva commented on #525
That's the point of CPAL. It's pretty controversial and never got much traction. See a 2016 overview of the history of "open source badgeware" at https://lists.opensource.org/pipermail/license-review/2016-June/002851.html

Closing this as I don't think you're proposing adding CPAL to this repo/site, but if you want to follow up on that see [our criteria](https://github.com/github/choosealicense.co

[2017-06-30 22:44] #525 closed, assigned to nobody

[2017-07-08 00:08] maverick74 opened #528 "Compare between 2 or 3 Licenses"
In the appendix we have almost all licenses for compare, but it would be good if the user could be able to compare just 2 or 3 licenses chosen by him side by side.

Having the characteristics of just 2 or 3 will make them more easy to compare :)

[2017-07-08 00:19] maverick74 opened #529 "Combine 2 or 3 Licenses"
What if someone has a software that is composed by other softwares that happen to have different licenses? Or if one wants to simply combine 2 or 3 licenses?

It would be good to be able to combine 2 or 3 licenses and see with what one ends up (the permissions, restrictions, etc)

tldrlegal.com License Summary page is a great way to present the Can/Cannot/Must conditions

[2017-07-08 01:33] mlinksva commented on #528
I can see how this would be useful, but have no clever ideas for a nice UI for selecting licenses to compare. If someone wants to contribute ideas or prototype, perhaps as a dedicated page, would be fun.

I don't have any plan to work on this and will probably close after a week to give some visibility for other comments or someone who wants to take it on.

[2017-07-08 01:42] mlinksva commented on #529
Thanks @maverick74. You've hinted at very different situations, each of which is potentially complex. "Combining" licenses is almost never the right way to think about either of them, nor variations.

For using code from other projects, which may be under different licenses, there's already #242

Dual or other multi-licensing is an advanced topic that someone choosing a license for a project doesn

[2017-07-08 01:42] #529 closed, assigned to nobody

[2017-07-11 16:30] maverick74 commented on #528
here's an idea :)

![compare](https://user-images.githubusercontent.com/14912461/28078968-8bb5a552-665e-11e7-9b67-163d6c15710b.png)

[2017-07-11 16:40] maverick74 commented on #529
Doesn't combining licenses always result in the sum of the attributes of all the licenses involved?

If so, using most of the system as for compare (that i just uploaded in #528 ), could give the user an idea of the "resulting license" from the licenses combined

[2017-07-11 17:15] mlinksva commented on #529
It depends what you mean by "combining licenses". I wouldn't think in those terms at all.

Some projects are offered under disjunctive dual (or greater) licenses, eg for a long time Firefox was [available under](http://website-archive.mozilla.org/www.mozilla.org/mpl/MPL/boilerplate-1.1/mpl-tri-license-txt) MPL-1.1/GPL-2.0/LGPL-2.1 -- the /s are really ORs, not ANDs.

Some projects incorporate code

[2017-07-19 14:34] ganesshkumar opened #531 "TLDR - Terms and Conditions"
I would like to apology first as this is not a issue related to choosealicense. However, I have a problem which the developers and users of choosealicense will be interested in.

My problem is as `Terms and Conditions` page on websites and applications get complicated, we need some open source solution to make common users to understand them. Something like choosealicense but for Terms and Conditi

[2017-07-19 17:13] mlinksva commented on #531
Hi @ganesshkumar good idea. It sounds a lot like https://github.com/tosdr/ -- you might want to collaborate with them.

Closing this as there's nothing to do in this repo, but feel free to continue discussing, and good luck!

[2017-07-19 17:13] #531 closed, assigned to nobody

[2017-08-18 10:28] ReSearchITEng opened #533 "Public Domain Licenses like Unlicensed are missing"
Public Domain Licenses like Unlicensed are missing, even if they are available on github's dropdown box list of licenses.

[2017-08-18 16:35] benbalter commented on #533
The unlicense is available at https://choosealicense.com/licenses/unlicense/ (via https://choosealicense.com/appendix/).

[2017-08-18 23:40] #533 closed, assigned to nobody

[2017-08-19 23:50] niftylettuce opened #534 "Expose as a NPM package for license dictionary purposes"

[2017-08-20 00:03] niftylettuce commented on #534
Nevermind, found the lovely work of @sindresorhus once again at https://github.com/sindresorhus/spdx-license-list

[2017-08-20 00:03] #534 closed, assigned to nobody

[2017-09-12 10:33] lqez commented on #68
@mlinksva any updates? I'm interested in this issue for translating into Korean.
If anyone can suggest a right way to make this I18N, we can do it together.

[2017-09-12 17:48] mlinksva commented on #68
@lqez thanks for the ping! I was waiting to see a completed and deployed translation of github/open-source-guide to dig into how that is done and see whether it is the best way forward here. Looks like there's one that is [close](https://github.com/github/opensource.guide/pull/434).

If you're super eager to get started and don't mind maybe reorganizing things later, feel free to fork the repo and

[2017-09-17 16:26] JafarAkhondali commented on #68
@mlinksva @benbalter
Hi, thanks for you amazing job. We wanted to do the exact thing you have done in Persian until i saw your website so we planned to do the localization only and get a domain (thanks to you). As you know the problem is the lacking of translation files and making the forked repository update, So is it possible for you to give us a more accurate deadline for adding support for I18

[2017-09-17 20:39] mlinksva commented on #68
@JafarAkhondali thanks, really appreciate your interest. 🎉  Unfortunately, the most _accurate_ statement about a deadline is that there isn't one. I do promise to look into whether we can copy the mechanism being used for opensource.guide translations once a completed one is deployed.

Another way to help now, other than forking and translating in place, which I admit isn't ideal, would be to do a

[2017-09-17 22:11] JafarAkhondali commented on #68
@mlinksva Thanks for your fast response, After googling and reading some discussions  on github repos's, a link catch my eye:
[https://www.sylvaindurand.org/making-jekyll-multilingual/](https://www.sylvaindurand.org/making-jekyll-multilingual/)
I liked it because:
- No plugin
- SEO
- Language selector
- Full translation
- Gives full customization on the code easily, and works nice if we want to do

[2017-09-19 03:29] jmini opened #536 "Add Eclipse Public License version 2.0 (epl-2.0)"
The Eclipse fundation has published a new version of the Eclipse Public License (epl).

Press release:
https://www.eclipse.org/org/press-release/20170829eplv2.php

Text:
https://www.eclipse.org/org/documents/epl-2.0/index.php

The list in choosealicense.com (and on GitHub) should be updated.

[2017-09-19 16:11] mlinksva commented on #536
@jimini if you (or anyone else) is interested in making a pull request to add EPL-2.0, see instructions at https://github.com/github/choosealicense.com/blob/gh-pages/CONTRIBUTING.md#adding-a-license

[2017-09-19 20:15] jmini commented on #536
Thank you for your clarification, there is work to do and I propose to use this issue to track the record.

For point 3:

I am not sure how I manage to sort out version 1.0 instead of version 2.0 in the search.
Version 2.0 was published last month, but it should now be preferred to 1.0.
And EPL in general has 128k results on GitHub.

[2017-09-19 20:20] jmini commented on #536
Point 2:

See: https://opensource.org/licenses/alphabetical

[2017-09-19 20:25] jmini commented on #536
Point 1:

Discussion is on going:
https://lists.spdx.org/pipermail/spdx-legal/2017-August/002134.html

[2017-09-19 20:42] mlinksva commented on #536
There's probably some short string that's unique to 2.0. I'd expect something like https://github.com/search?utf8=%E2%9C%93&q=filename%3ALICENSE+%22separate+file+or+files+made%22&type= should work but that's only turning up 1 result, which can't be right (note without "made", it finds 21k results, which is about right -- that string is in MPL-2.0). Anyway, given problems of verifying exactly and t

[2017-09-20 03:42] jmini commented on #536
Point 4:

The first two that comes to mind are:

JUnit 5 (Java testing Framework)
https://github.com/junit-team/junit5

OpenJ9 (IBM open-source donation of the J9 JVM)
https://github.com/eclipse/openj9

I guess a lot of EPL-1.0 projects are in the process of migrating (especially those on the Eclipse Release train). So I will update this list when I see that these projects have migrated.

[2017-09-20 07:40] jcayzac commented on #496
Any news on this? @mlinksva

[2017-09-20 21:56] mlinksva commented on #536
https://github.com/eclipse/openj9/blob/master/LICENSE is not a good example for these purposes -- the (excellent) project is dual licensed and lots of info besides the EPL-2.0 text is included in that file -- so it doesn't add to "straightforward LICENSE files which serve as examples newcomers can follow and that could be detected by licensee if it knew about the license"

I'm sure there will be o

[2017-10-09 12:41] jmini commented on #536
Official License document available:

* [HTML](https://www.eclipse.org/org/documents/epl-2.0/EPL-2.0.html)
* [TXT](https://www.eclipse.org/org/documents/epl-2.0/EPL-2.0.txt)

[2017-10-10 00:15] JafarAkhondali commented on #68
@mlinksva Sorry for late response, I've read your provided link, They use Crowdin to sync GitHub with Crowdin using a CLI script but we don't that anymore since crowding created Integration with GitHub.
I've also found another reference for [multilangugae](https://www.sylvaindurand.org/making-jekyll-multilingual/) website in Github pages with Jekyll. So using these two i almost created a multi lan

[2017-10-17 10:03] leifg opened #541 "The Ruby License"
I understand that choosealicense is not an open source license directory looking for completeness.

So I'm not sure if the [Ruby License](https://spdx.org/licenses/Ruby.html) fits in. The Ruby language at least is licensed under it, and as it seems some gems make use of it as well.

[2017-10-17 20:55] mlinksva commented on #541
I seem to recall that most software under the Ruby License is also available under other licenses as well.

Suspect the Ruby license might technically [qualify](https://github.com/github/choosealicense.com/blob/gh-pages/CONTRIBUTING.md#adding-a-license) to be cataloged here, though it might be hard to find 3 notable projects that use a wholly unmodified version of the license text (which is needed

[2017-10-18 22:44] dolmen opened #542 "Literal brackets in license text"
The text of the Apache 2.0 license on choosealicense.com has three lines different from the text at http://apache.org/licenses/LICENSE-2.0.txt

[code]

Note: The same problem appears also when initialising a new repo on GitHub, but I don't know where to report this issue.

[2017-10-18 23:17] mlinksva commented on #542
Hi, I'm pretty sure this has been reported before, but I can't find a reference now. The reason is that the fields in the example notice in the trailer of Apache-2.0 (and *GPL) are not filled out in a deployed `LICENSE` file (they're intended to be used elsewhere, eg in source headers), but GitHub (which indirectly sources license texts from this repo) uses `[]` to fill in fields which are suppose

[2017-10-18 23:22] mlinksva commented on #542
Hmm, now that I look again, those use angle not square brackets in the original texts, so there's no good reason to substitute curly brackets. I'll make a PR shortly to fix.

The only other license cataloged here with the difference reported here is ECL-2.0, which is an Apache-2.0 derivative.

[2017-10-18 23:39] wking commented on #542
You may be thinking of #417 or #494.

[2017-10-19 15:50] benbalter commented on #542
I believe https://github.com/github/choosealicense.com/issues/54 and https://github.com/github/choosealicense.com/pull/55 should explain the technical limitations at play (if any) here.

[2017-10-19 23:40] wking commented on #542
Can we re-title this issue “Literal brackets in license text“ or some such?  It's not really Apache-specific.

And is resolving this issue really up to this repo?  I can't find GitHub's template-replacement logic here, and it may not be in a public repo at all or have public docs [besides these][0].  We could use the upstream licenses unchanged if the template-replacer whitelists the [known fields

[2017-10-20 01:14] mlinksva commented on #542
@wking true, title changed. I'm going to see whether the technical limitations pointed out by @benbalter above are still at play. That will determine whether this issue will just be closed, or will be closed by a pull request to this repo. :smile:

[2017-10-22 18:25] makhomed opened #546 "Text of GNU General Public License version 3 is different from official license text"
Text of license https://choosealicense.com/licenses/gpl-3.0/
is different from official GPLv3 license text located at https://www.gnu.org/licenses/gpl-3.0.txt

Can you please fix this issue?

[2017-10-22 18:41] mlinksva commented on #546
This is being worked on in #543

[2017-10-23 19:07] pketh commented on #84
https://choosealicense.com/licenses.json 404s, is there a newer way to get license data via JSON?

[2017-10-23 19:18] benbalter commented on #84
https://developer.github.com/v3/licenses/ is an API of the license data from choosealicense.com

[2017-10-24 15:58] benbalter commented on #542
Did some digging into how the variables are interpolated within GitHub:

* For the actual rendering, we just use Mustache (meaning it looks for `{{{variable}}}`)
* Prior to rendering, we call `body.gsub("[", "{{{").gsub("]", "}}}")` to prepare the template for mustache
* We also have a process which uses `/(\[|\{\{\{)(?<field>.+?)(\]|\}\}\})/` to match fields (to prepare the HTML previews), but th

[2017-10-24 16:22] wking commented on #542
On Tue, Oct 24, 2017 at 03:58:45PM +0000, Ben Balter wrote:

Can't we escape those in ‘License#mustache_template’ too?

[2017-10-24 16:25] benbalter commented on #542
Yes, but:

1. When Jekyll renders the template it would render them as HTML tags
2. We'd be committing the escaped text to the repo, meaning it'll diverge from the known license text

[2017-10-24 16:40] wking commented on #542
On Tue, Oct 24, 2017 at 09:25:46AM -0700, Ben Balter wrote:

Maybe I'm not understanding something.  I was expecting we'd use the
upstream text (with raw <, etc.) in _licenses/*.txt here (just like we
do now [1]).  Anything that wants to consume raw text can continue to
consume it (however that works now).  Anything that wants Mustache
Markdown can consume mustache_template, which would insert {{{

[2017-10-24 17:52] benbalter commented on #542
@wking I forgot we switched the licenses to .txt. You're aboslutely correct (and [we escape tags anyway](https://github.com/github/choosealicense.com/blob/gh-pages/_layouts/license.html#L48)) 👍

[2017-10-25 06:41] makhomed commented on #546
Issue  #543 is Merged, but text of licenses still have differences:

[code]

[2017-10-25 16:39] #542 closed, assigned to nobody

[2017-10-25 16:45] mlinksva commented on #546
As described in #543, the https links were only introduced on the gnu.org site last month. I'm not sure they really intended to change the canonical license text, which ought not change, so am not going to make that change here right away.

[2017-10-25 16:45] #546 closed, assigned to nobody

[2017-10-25 19:30] benbalter commented on #542
https://github.com/benbalter/licensee/pull/231

[2017-10-31 04:44] nasirkhan opened #548 "Localization"
Is there any option to localize the https://choosealicense.com platform? if so, how can i contribute?

[2017-10-31 05:05] mlinksva commented on #548
The only option right now is to fork and translate in place on the fork as mentioned at https://github.com/github/choosealicense.com/issues/68#issuecomment-328930491 ... assuming we eventually have a better i18n mechanism it's possible that l10n would merit a separately maintained fork anyway.

For now I'm closing this as a duplicate of #68. Please subscribe to that for and make updates there. Tha

[2017-10-31 05:05] #548 closed, assigned to nobody

[2017-11-01 10:44] waldyrious commented on #377
@bconry could you confirm that bind9-stats is intended to be released under the license SPDX calls "Artistic License 1.0 (Perl)" as described in my last comment above? I'd like to submit a PR updating the [LICENSE file](https://github.com/isc-projects/bind9-stats/blob/master/LICENSE) accordingly.

[2017-11-01 13:33] bconry commented on #377
@waldyrious I'm getting @vrisk to help me look at this.  It appears that the copyright might be misattributed, which needs to be cleared up before licensing can be settled.

[2017-11-02 21:21] mlinksva commented on #496
Update -- though there's no UI to choose CC0-1.0 from, you can load the license up in the chooser with the following (replace `<user>` and `<repo>` with yours):

[code]

[2017-11-24 13:48] lukateras commented on #536
At this moment I could only find one major project that would be properly identified by Licensee:
https://github.com/eclipse/smarthome/blob/master/LICENSE

[2017-11-24 15:06] jmini commented on #536
This is probably true, but not providing the possibility to create a new repository with EPL v2 will not help the adoption.
In my humble opinion EPL v1 should be removed from the possibilities (for new repos).

[2017-11-24 22:21] mlinksva commented on #536
#554 is a WIP PR which would eventually lead to EPL-2.0 showing up in place of EPL-1.0. Needs more examples (please continue to drop those here, or on the PR) and SPDX to publish a record for EPL-2.0.

[2017-11-25 08:16] jmini commented on #536
For completeness, this issue is also tracked in the Eclipse Foundation Bugzilla: [Bug 522547](https://bugs.eclipse.org/bugs/show_bug.cgi?id=522547) (the Bugzilla record is basically a placeholder/pointer, the discussion should continue here)

The complete list of tasks regarding the EPL-2.0 Rollout can be seen by analyzing the [dependency tree of Bug 519789](https://bugs.eclipse.org/bugs/showdepen

[2017-11-25 20:55] wking commented on #536
On Sat, Nov 25, 2017 at 08:16:07AM +0000, Jérémie Bresson wrote:

I think ‘EPL-2.0’ has officially been accepted for the next SPDX
License List release based on [1].  I'm not sure what the timeframe
for that release is.

[1]: https://lists.spdx.org/pipermail/spdx-legal/2017-October/002246.html

[2017-11-30 18:37] SicroAtGit opened #556 "BSD License "All rights reserved" - Why does this work?"
I think there are a lot of people here who are well versed in copyright and licensing, so I would like to ask the following question:

Why can the clause "All rights reserved" be used in the open source license "BSD"? The open source license gives other people rights to the work. Therefore, "All rights reserved" can no longer be used, in my opinion. I don't understand. Can somebody explain this to

[2017-11-30 18:39] benbalter commented on #556
See https://ben.balter.com/2017/11/28/everything-an-open-source-maintainer-might-need-to-know-about-open-source-licensing/#copyright-versus-the-right-to-use.

[2017-11-30 20:45] SicroAtGit commented on #556
The "All Rights Reserved" has therefore nothing to do with the rights granted by the open source license to other people.

After I searched Wikipedia for "All rights reserved", I read that the rights reservation notice was necessary earlier: https://en.wikipedia.org/wiki/All_rights_reserved#Obsolescence
Therefore, I assume that the BSD license text only contains the rights reservation notice becau

[2017-11-30 20:54] #556 closed, assigned to nobody

[2017-12-04 23:56] surfmuggle commented on #381
I was wondering if there is such a thing like a "trivial code".  For example i am grateful to have found [`performance.js`](https://github.com/bgrins/devtools-snippets/blob/master/snippets/performance/performance.js)  but it has only 78 sloc to get information from an api. Although the readme contains this line

I am still uncertain if this is enough; according to my understanding of no-license co

[2017-12-05 10:02] jmini commented on #536
The correct PR for integration of `EPL-2.0` in the spdx list ist: https://github.com/spdx/license-list-XML/pull/499 (See also [Bug 527842](https://bugs.eclipse.org/bugs/show_bug.cgi?id=527842) at the Eclipse Foundation).

[2017-12-06 02:47] mlinksva commented on #68
Ran across recent Spanish translation not in forks network: https://github.com/Eligelicencia/eligeUnaLicencia

[2017-12-06 17:32] carzacc opened #557 "Update EUPL to 1.2"
It has been a while since the EUPL 1.2 has been published and the new version isn't yet on choosealicense

[2017-12-06 17:37] mlinksva commented on #557
See #523 it needs SPDX to publish ID for the license and 3 examples.

[2017-12-08 17:52] codingjoe opened #558 "Apache 2 short version"
Hi there,

I think it's kind of odd, to add the entire Apache 2 license to your work. Especially since the license defines a way how that should be done in the appendix.

Following the instruction the only thing that should be added is:
[code]

Sadly, this isn't even recognized by Github within the license detection. I would really like to see that change in the future. I believe this is the wrong

[2017-12-08 18:13] mlinksva commented on #558
Read the appendix and notice you quoted carefully, in particular "this file". The notice is for including in source files.

If you don't believe me, look at what Apache Foundation projects do, eg:

- https://github.com/apache/httpd/blob/trunk/LICENSE (the full license text)
- https://github.com/apache/httpd/blob/trunk/server/apreq_cookie.c (the notice text in a comment)

[2017-12-08 18:13] #558 closed, assigned to nobody

[2017-12-08 18:49] mlinksva commented on #381
@surfmuggle might be worth including in eventual FAQ, but the answer wouldn't be definitive. You might be _curious_ about free software lore such as https://www.gnu.org/prep/maintain/html_node/Legally-Significant.html#Legally-Significant and concepts like https://fairuse.stanford.edu/overview/fair-use/four-factors/#too_small_for_fair_use_the_de_minimis_defense but beyond curiosity, talk to your ow

[2017-12-11 09:05] codingjoe commented on #558
@mlinksva I do believe you, don't worry ;)
It's just very bewildering that one would need to include it into every file. It's just a lot of work :/
Thanks for the clarification 👍

[2017-12-16 01:36] mlinksva commented on #558
@codingjoe only some projects mandate per-file notice; see http://lu.is/blog/2012/03/17/on-the-importance-of-per-file-license-information/ for example rationale. Per file notice has probably declined with relatively granular packages as expected unit of code reuse, but I don't know of any study on this. A related newer idea is to include SPDX ID (or license expression if more complicated) in each

[2017-12-19 16:27] js-choi commented on #33
The WHATWG has possibly run into this issue during the transition of its specifications for HTML, etc. from CC0 to CC-BY (whatwg/sg#51). They are unable to get GitHub to correctly display those specifications’ repository licenses as not CC0.

**Edit**: The bug that WHATWG encountered is probably not this bug but is probably actually benbalter/licensee#247.

[2017-12-19 16:28] domenic commented on #33
To be clear, I'm mostly speculating that the auto-recognition code not working is due to the same root cause as the license chooser not displaying CC-BY. Maybe they are separate bugs.

[2017-12-19 16:30] domenic commented on #33
Oh hey, nevermind, it works if you use the plaintext version:

- https://github.com/domenic/test-license-stuff/tree/master works (displays CC-BY-4.0 in the header alongside commits/branches/releases/contributors)
- https://github.com/whatwg/sg does not work (no license in the header)

[2017-12-29 23:22] #536 closed, assigned to nobody

[2017-12-29 23:53] wking opened #561 "FSF approved from the mock-FSF API at wking/fsf-api?"
Looking over the code near #560, I noticed that we're [scraping the FSF HTML][1] to determine FSF approval.  SPDX recently decided to display “FSF Free/Libre?” on [their license list][2], and after [some discussion][3], I talked them into mocking up [an FSF API][4] (although spdx/tools [currently vendors the detailed list][5]).  Ideally the FSF would be maintaining the API (or any API), but until

[2017-12-30 00:23] mlinksva commented on #561
I'd welcome such a PR.

I'd be nice if the API were at some unlikely to change URL, since GitHub Pages doesn't do HTTP redirects. Not a requirement.

[2017-12-30 00:31] wking commented on #561
On Sat, Dec 30, 2017 at 12:23:37AM +0000, Mike Linksvayer wrote:

Even if I am able to transfer primary maintainership to someone more
official, I can commit to mirroring the canonical location in my
GitHub pages for at least the next year or so.  And I'm happy to
transfer to a more canonical location now if you have any suggestions.

If the FSF steps up and provides their own API though, it may o

[2017-12-30 00:41] lukateras commented on #536
Amazing! Thank you a lot.

[2018-01-03 19:57] #561 closed, assigned to nobody

[2018-01-04 22:17] mlinksva commented on #557
https://choosealicense.com/licenses/eupl-1.2/

[2018-01-04 22:17] #557 closed, assigned to nobody

[2018-01-11 23:22] rajesh-nayak-cms commented on #496
@mlinksva  Did anyone try this workaround described above? It did not work for me.

[2018-01-12 00:46] mlinksva commented on #496
@rajesh-nayak-cms I've tried it personally. If you send details on what you're seeing to https://github.com/contact you should get help, or confirmation that you've found a bug that I haven't been able to trigger. :smile:

[2018-01-12 14:11] rajesh-nayak-cms commented on #496
Please see attached.
![selection](https://user-images.githubusercontent.com/34520390/34878557-8b981b30-f778-11e7-964f-d472699fdec1.jpeg)

[2018-01-12 17:32] mlinksva commented on #496
@rajesh-nayak-cms the workaround mentioned at https://github.com/github/choosealicense.com/issues/496#issuecomment-341561904 is for an existing repository. I don't believe there's a similar workaround for the new repo form. But you can create a new repo without a license and then use the workaround to add CC0-1.0.

[2018-01-12 22:17] rajesh-nayak-cms commented on #496
Can you please elaborate "load the license up in the chooser "?  Not seeing it.

[2018-01-12 23:50] mlinksva commented on #496
@rajesh-nayak-cms go to https://github.com/rajesh-nayak-cms/test/community/license/new?branch=master&template=cc0-1.0 (I filled in values for your username and a repo I see you have called `test`).

You should see CC-1.0 on the page, ready for you to review and submit.

[2018-01-14 10:26] bluemix commented on #68
any updates?

[2018-01-14 15:04] rajesh-nayak-cms commented on #496
Worked! Thanks for your support

[2018-01-14 20:15] mlinksva commented on #68
Micro-update: @bkeepers pointed out https://github.com/electron/electron-i18n (internationalization for another GitHub-maintained site) to me ... I haven't gotten around to see what it would take to set up that arrangement for this project yet, but it's on my list to evaluate. Thoughts and hints welcome.

[2018-02-06 02:55] lukejanicke commented on #33
Looking forward to CC licenses being added to the chooser. But after reading all this, I can see the confusion it might cause with new software developers thinking CC licenses are a good choice for their code.

For a website hosted on GitHub Pages, the site repository could be licensed with MIT (or whatever) and the website “content” licenced with CC. The repository could hold an MIT license and t

[2018-02-06 10:45] Merovex commented on #33
IANAL, but I do have a law degree and studied IP law. Perhaps Ben Balter
should weigh in? MIT will conflict with CC such that the more permissive
license would hold.

Software an non-software content are both intellectual property. Both are
protected by copyright law. Both are licensable. MIT permits commercial use
with derivation, which appears to be an analog to CC BY 4.0. If I then lob
a CC BY-

[2018-02-11 14:35] DigiBytes commented on #441
Cool

[2018-02-15 23:27] mlinksva commented on #68
Another micro-update: some translations of opensource.guide are now live (scroll to the bottom at that link for a chooser) using a simpler approach than referred to above http://mikemcquaid.com/2018/02/14/translations-with-rails-and-jekyll/ is a personal blog post about how it was done and why.

I hope to see whether this approach will work for choosealicense.com soon, but as usual any thoughts we

[2018-02-20 04:50] answerquest commented on #496
I found this thread while searching similarly like @rajesh-nayak-cms . I'll use the workaround for now, but I support @MicahZoltu 's point. When I click the info icon, I get the <choosealicense.com> site and it's not even explaining any of the other licenses mentioned in the dropdown.

When I click on the link under "My project isn't software", [this page](https://choosealicense.com/non-software/)

[2018-03-03 08:16] zlocorp commented on #33
I try to use plaintext version of [CC BY NC SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode.txt) and it don't display such a CC BY SA 4.0, that parse and display correctly.

Anyone try this too?

[2018-03-09 14:06] katrinleinweber commented on #68
Hello! I can't speak to the technical details, but once the "gates open" so to speak, I'd be happy to start the German version :-)

[2018-03-28 12:47] boelle commented on #33
i could use the creative common in the license picker too

i have a repro that is both software and hardware...

[2018-03-28 15:32] voxpelli opened #576 "CLA-link not working, cla.github.com doesn't exist anymore?"
I went looking for your CLA that's linked to in eg. this project:

It was added in https://github.com/github/choosealicense.com/commit/c0fe6e3dededc7b52063f6f629229667381e3412#diff-6a3371457528722a734f3c51d9238c13, but when one navigates to the site at https://cla.github.com/ one only sees:

[2018-03-28 16:53] mlinksva commented on #576
Thanks for this report @voxpelli.  We removed the CLA requirement but missed a reference to it in CONTRIBUTING. Will be fixed with #577

[2018-03-28 16:57] #576 closed, assigned to nobody

[2018-04-06 11:53] Eagle3386 opened #578 "Can't choose any EUPL license for my repository"
While I did recognize  GitHub and ChooseALicense.com both support EUPL-1.2 nowadays (even chose this particular one only because of the information provided by the latter), I seem unable to set any version of the EUPL as the license for my repository:

- It's not available within the `Add a license` drop-down when [setting up a new repo](https://github.com/new), neither bei entering "European", "E

[2018-04-06 15:46] mlinksva commented on #578
It may not be available yet, see https://github.com/github/choosealicense.com/pull/523#issuecomment-355418428 for how you can check. However, you can add the license text to your repo in a file called `LICENSE`, regardless of whether github.com detects and displays an indicator. As Ben wrote to you over at https://github.com/benbalter/licensee/issues/288 you can [contact support](https://github.co

[2018-04-06 15:46] #578 closed, assigned to nobody

[2018-04-13 16:52] geyerbri commented on #33
@zlocorp I too have that issue with trying to use [CC BY-NC-SA-4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode.txt) and it not being recognized.

[2018-04-13 17:42] boelle commented on #33
@Haacked could we have this issue open again

people have given very good reasons for allowing CC license's to be an option

[2018-04-24 10:12] buggymcbugfix opened #585 "Question: permissive licence but with copyright notice—a contradiction?"
First of all apologies if this is the wrong place to post this. Feel free to close the issue and point me to a better place if you can. I am also happy to open a pull request with the answer (once I find one) if this is something that would help others.

I am wondering—I often see work under a permissive licence like the MITL but in conjunction with a copyright notice, e.g.

Are these two incompat

[2018-04-24 13:35] benbalter commented on #585
@vimuel See https://ben.balter.com/2017/11/28/everything-an-open-source-maintainer-might-need-to-know-about-open-source-licensing/#copyright-versus-the-right-to-use.

[2018-04-24 13:46] buggymcbugfix commented on #585
@benbalter Fantastic, that makes complete sense. Do people here feel it's worth adding a note of this to the website?

[2018-04-27 01:37] matbrgz commented on #112
No news about this? How about use some gem plugin?

[2018-06-06 02:29] ghost commented on #370
Is this still planned?

[2018-06-08 13:56] 1000i100 commented on #68
I've made a french translation for AGPLv3 resume : https://demo.mycelia.tools/#{%22userMode%22:%22page%22,%22panels%22:{%22details%22:%22big%22},%22selected%22:%22licence%22}
src : https://framagit.org/mycelia/mycelia-front-app/blob/master/staticApp/default/config.yml#L124

[2018-06-14 23:10] mlinksva commented on #370
In the fullness of time, when it's worth bugging past contributors. It's not as simple as updating the license, as explained at https://github.com/spdx/spdx-spec/issues/3#issuecomment-397374675 (in response to the same request in another project...). Not worth keeping this issue open.

[2018-06-14 23:10] #370 closed, assigned to nobody

[2018-06-14 23:15] mlinksva commented on #585
Not clear where such would be added to site so closing this with a reference to #238 as a reminder to possibly address it in a glossary or the like.

[2018-06-14 23:15] #585 closed, assigned to nobody

[2018-06-14 23:18] mlinksva commented on #528
Reasonable idea, but I don't foresee implementing. Maybe someone would be interested in adding the ability to hide/unhide licenses from the appendix table would be one way to get a similar feature without an entirely new UI. Closing, but feel free to comment, or open a new issue, or a PR...

[2018-06-14 23:18] #528 closed, assigned to nobody

[2018-06-14 23:23] mlinksva commented on #493
Apologies, I never acknowledged this here, though looks like I did reference it in #429. What constitutes "similar" or "markedly different" is debatable, but I'd like to eliminate the home page description you're mentioning by removing Apache-2.0 from the home page.

If you want to suggest an alteration in the meantime, feel free to suggest here or make a PR.

[2018-06-14 23:24] mlinksva commented on #498
Closing this since it's over a year old. There doesn't seem to be much demand for adding the Vim License. Feel free to comment, or just make a PR to add the Vim License if you feel it can meet our criteria. Thanks!

[2018-06-14 23:24] #498 closed, assigned to nobody

[2018-06-14 23:27] mlinksva commented on #513
Good suggestion, but I don't plan on working on it. If anyone creates an external authority on compatibility we might be able to ingest that. Feel free to comment, open a new issue or PR, etc.

[2018-06-14 23:27] #513 closed, assigned to nobody

[2018-06-14 23:28] mlinksva commented on #541
Seems there's not much demand for adding the Ruby License. Feel free to comment, or add a PR if anyone wishes to pursue adding it with evidence that it meets our criteria. Thanks!

[2018-06-14 23:31] mlinksva commented on #466
#467 made some related changes responding to #412. If anyone thinks there's still a distinct outstanding issue here, feel free to comment. Thanks!

[2018-06-14 23:31] #466 closed, assigned to nobody

[2018-06-15 18:47] apotheon commented on #493
Ideally, I'd like a more fully permissive license with a patent clause to be included at whatever level you raise patent concerns, such as the [COIL](http://copyfree.org/content/standard/licenses/coil/license.txt), but I don't think anything that fits those requirements also meets the qualifications for inclusion in the choosealicense.com list.

I have a lot of commentary I could add to the discus

[2018-06-17 21:43] mlinksva commented on #401
For awhile it's been possible now to construct a URL to suggest a license to a third-party repo:

`https://github.com/{USER|ORG}/{REPO}/community/license/new[?template={LCASE_SPDX_ID}]`

The template parameter is optional; use to preselect a license, previously mentioned at https://github.com/github/choosealicense.com/issues/496#issuecomment-341561904.

Background:
- https://blog.github.com/2017-0

[2018-06-21 20:27] tomeks666 commented on #84
https://api.github.com/licenses lists only 12 licenses while there is clearly more. E.g ms-pl is not listed, but using https://api.github.com/licenses/ms-pl I get its record. Is this something by design or a bug?

[2018-06-21 20:52] wking commented on #84
Seems like a bug to me.  I checked for the `Link` header [GitHub uses for pagination][1], and didn't see it:

[code]

so I think something is broken in the backend, or there are undocumented query parameters for filtering `/licenses` or something...

[1]: https://developer.github.com/v3/guides/traversing-with-pagination/

[2018-06-22 20:46] mlinksva commented on #84
Pretty clearly https://api.github.com/licenses is returning the 12 licenses cataloged here without `hidden: false`.

I'll pass on the feedback above to those maintaining the relevant API and documentation.

[2018-06-22 21:42] wking opened #591 "Document Unlicense compatibility issues?"
There's previous discussion of this in #33, #38, #61, #126, #496, docopt/docopt.rs#1, project-open-data/project-open-data.github.io#135, etc., but a number of projects have issues with the Unlicense, and it can lead to Unlicense code being judged incompatible (e.g. [here][1]).  On the other hand, I expect there are also projects that would take issue with CC0's [explicit lack of a patent grant][2]

[2018-06-22 21:53] mlinksva commented on #591
I don't know of anything that can be stated clearly and non-judgmentally. If there's an unconditional option that's less unambiguously problematic for software than CC0-1.0 and causes people to throw fewer hypothetical fits than Unlicense, happy to add it and maybe make more prominent. Related: https://github.com/github/choosealicense.com/issues/464#issuecomment-260733246

Closing for now as I don

[2018-06-22 21:53] #591 closed, assigned to nobody

[2018-06-22 22:13] wking commented on #591
We can point out that some projects have rejected Unlicensed code, pointing to cases like [this one][1].  That's doesn't mean we agree with those decisions, and we wouldn't be (directly) pointing out issues with the Unlicense.  We'd just be pointing out that not everyone considers the Unlicense universally compatible (which may seem surprising to users interested in a public-domain dedication).  O

[2018-06-24 06:21] rishacha commented on #433
Is this still open? Can I take this up?

[2018-06-24 16:23] mlinksva commented on #433
@rishacha yes.

[2018-06-24 21:11] rishacha commented on #433
Shall I add it to the sidebar ?

[2018-06-25 15:04] #433 closed, assigned to nobody

[2018-07-01 10:42] SicroAtGit opened #594 "Licensing already published code"
What should I do if a code has already been published without a license and now needs to be published with a license? I am the copyright holder.

Should the copyright notice look like this?
[code]

Or like this?
[code]

Or like this?
[code]
It would be nice if someone could explain it to me.

[2018-07-02 15:10] benbalter commented on #594
@SicroAtGit we can't provide legal advice or speak to the particular's of your project, but https://ben.balter.com/2015/06/03/copyright-notices-for-websites-and-open-source-projects/ may be able to provide some general guidance on open source copyright notices.

[2018-07-02 15:28] mlinksva commented on #594
FWIW if you're asking about the copyright line to include in the MIT text itself for your project's LICENSE file, I've never seen a note about when the license was first offered added in such a context. It is nice to note such where people really interested in the project's history can find it, eg in one or more of release notes for the first open source release, a blog post, or the README or othe

[2018-07-02 15:28] #594 closed, assigned to nobody

[2018-07-06 14:30] dogherpes opened #596 "DO NOT DOWNLOAD! REDSHELL SPYWARE!"
DOWNLOADING THIS WILL INSTALL MALWARE NAMED REDSHELL SPYWARE ONTO YOUR COMPUTER. DO NOT DOWNLOAD!!

[2018-07-07 08:46] SicroAtGit commented on #594
@benbalter: As far as I know, general information about the use of copyright notes is allowed. Your great blog article (thanks for that), to which your link refers, already informs about such general information.

@mlinksva: Okay, thanks. The information about when the licensing was added is usually not noted in the copyright line, but elsewhere (e.g. in the release notes).

[2018-07-18 16:58] mlinksva commented on #464
I just happened to notice there's also an MIT-0/MIT No Attribution also independently published at least twice, in 2010 and more recently, various background links in https://github.com/spdx/license-list-XML/pull/632.

[2018-07-18 18:21] landley commented on #464
On 07/18/2018 11:58 AM, Mike Linksvayer wrote:

Cool. The "John the Ripper" project from Openwall has a similarly cut down
FreeBSD variant, and they refer to an earlier project in their wiki.

http://openwall.info/wiki/john/licensing

The concept is quite straightforward. I detailed my reasons for using the
variant I did (conforms to corporate expectations to navigate approval process
more easily)

[2018-07-20 02:39] #493 closed, assigned to nobody

[2018-07-20 02:39] #48 closed, assigned to nobody

[2018-07-20 02:39] #239 closed, assigned to nobody

[2018-07-20 02:39] #335 closed, assigned to nobody

[2018-07-20 02:39] #380 closed, assigned to nobody

[2018-07-24 19:05] apotheon commented on #51
### Justification

I'm here, in a closed discussion, because @mlinksva specifically suggested that I add my thoughts here with regard to the current state of the copyleft summary's phrasing.  I hope what I have to say helps.

### TL;DR

This is a wall-of-text analysis of the discussion, points raised, and my thoughts on the matter.

The best options I've seen so far seem to be variations of one of

[2018-07-24 21:17] waldyrious commented on #51
Just my two cents: I think using positive language (I want to ensure X) is preferable to negative language (I want to prevent Y). That's the same reason that justifies the use of "protective" (instead of "restrictive") as the opposite of "permissive".

The third option (deferring the definition to "copyleft") should not be considered IMO, for the reasons you mentioned yourself (it just kicks the c

[2018-07-29 23:46] davelab6 commented on #51
+1

+1

(2) also has "variations" that matches your "derivatives" and I think scope is important; using any license by definition perpetuates it ;)

Thus I suggest:

[2018-08-04 17:41] apotheon commented on #51
This has problems regarding implied exclusivity of the sentiment and other issues I think I already addressed.

This is not as problematic for purposes of accuracy and identifying the actual difference, as I think I already mentioned.

I really wish people would address all the identified problems before re-introducing a problematic formulation.  You obviously have reasons to prefer your suggested

[2018-08-05 19:13] waldyrious commented on #51
I was hoping we could first agree on moving ahead with one general direction (hence my proposal to focus on option 2) and then refine it. I was under the impression that my previous comment (especially the bit about option 3) was in line with what you wrote yourself. Do you have objections to drop at least that option from the list?

I am afraid that trying to discuss the complexities of all 3 opt

[2018-08-06 05:33] apotheon commented on #51
I agree that just using the word "copyleft" and leaving it up to readers to have any clue what it means can be problematic in ways the other two options I identified are not problematic, so no, I don't have any objection to dropping that.

Your proposed language did not strike me as related to what I indicated as an "option 2" enough to make me think it was an attempt to refine its language.  Much

[2018-08-06 21:41] waldyrious commented on #51
Precisely, it wasn't -- sorry if I wasn't clear about that. I don't actually feel qualified to refine the language (other than offering my interpretations as a layman, for what that might be worth), but as an end-user of licensed software, and someone moderately familiar with open source licensing, I believed I could offer an informed opinion on which of the 3 final options in your comment (after

[2018-08-06 22:23] mlinksva commented on #51
I read this entire thread again, thanks for the additional recent contributions!

I think @davelab6's old [suggestion](https://github.com/github/choosealicense.com/issues/51#issuecomment-29675819) of `I want every copy to be open source.` is the most accurate of them all (derivatives are copies, just not verbatim copies). There is a slight irony in using the term open source here. :smile: There's

[2018-08-07 02:10] davelab6 commented on #51
Re single rights holder dual licensing: "I want every copy made to be open
source"?

[2018-08-07 02:12] davelab6 commented on #51
"I want it to protect users' freedom."?

Software isn't a subject, it's a class of object.

People are subjects who enjoy freedom.

[2018-08-07 22:07] waldyrious commented on #51
Just a note about the "it": my reading of the sentence "I want it simple and permissive" doesn't associate the "it" with neither the license nor the software, but rather to a generic state of affairs, as in "I want things simple and permissive."

This is what feels more natural to me, probably also due to the leading question, "Which of the following best describes your situation?", and due to the

[2018-08-08 15:28] apotheon commented on #51
I'm not sure whether this will surprise anyone, but:

While I might quibble with some of the language and judgements @mlinksva used to arrive at his conclusion, I find the final conclusion presented at least somewhat acceptable, given the challenges involved in trying to make everyone happy-ish with the results of this exercise:

* I want it simple and permissive.
* I want it to protect software f

[2018-08-08 15:33] apotheon commented on #51
@davelab6 - I think the point you raised is a point of contention over "Free Software" philosophy itself, actually.  On one hand, your statement is probably an acceptable point to raise about the problems of copyleft licensing from the point of view of copyfree licensing proponents, so I'm not sure that really detracts from the appropriateness of the phrasing @mlinksva proposed.  On the other hand

[2018-08-11 00:24] lgarron opened #602 "Preload HSTS"
choosealicense.org has HSTS due to #483.

It would be great to go all the way and preload HSTS: https://hstspreload.org/?domain=choosealicense.org

Steps would be:

- [x] Serve an HSTS header with a value of `Strict-Transport-Security: max-age=63072000; includeSubDomains; preload`
- [ ] Make sure `choosealicense.org` can be accessed from curl/golang? (this times out from HQ).
- [ ] Submit to https

[2018-08-11 20:51] mlinksva commented on #51
Thanks for pointing out some additional ways the language on the home page is a smidgen clunky or ambiguous. I'd like to fix this (which requires more than just changing the GPL heading), indeed I was interested in more discussion on this issue largely because I'm planning to enable [translations](https://github.com/github/choosealicense.com/pull/586) soon, and one way to make that easier and bett

[2018-08-12 16:10] parkr commented on #602
@lgarron Hello! At the moment, we don't have a way to allow users to configure HSTS. Also, I see you have `choosealicense.org` in your issue, but I believe we're talking about `choosealicense.com` in this repo, right?

I took a look at a chromium hstspreload checker locally and it seems we have some extra work to do if we are to support this:

[code]

[2018-08-13 18:32] lgarron commented on #602
Ah, yes. Both, preferably. :-D

[2018-08-14 17:36] apotheon commented on #51
@mlinksva - I'm glad this has some value.  I worry at times that I might just be bikeshedding.

[2018-08-26 22:59] Ayshine opened #606 "multiple licence"
Hi,
My new repository will contain sketch notes and codes. So, sketch nodes need a non-software license and software license. I couldn't find a way to add both. Is there a chance I can do that? Or will there be an upgrade so we can do that?

[2018-08-26 23:18] mlinksva commented on #606
See https://choosealicense.com/non-software/

It's easiest to use a single "software" (actually more broadly applicable) license for everything in a repo, and you might want to think about whether that could work for your particular case.

There are lots of different ways multiple licenses could apply to various bits in a repo. Just accurately note in the README what those licenses are and exactly

[2018-08-26 23:18] #606 closed, assigned to nobody

[2018-09-10 20:56] colosi opened #607 "Create clear standard instructions for adding LGPL to a GitHub repository"
It would be ideal if all instructions and flows provided by GitHub matched each other and were what was created when you generate a new repository with a license template included or at least if choosealicense made it clear that you should ignore the GNU instrucitons and the basic license flows in the case of the LGPL, where a few extra steps should be taken.

1. GNU says to put the GPL in COPYING

[2018-09-10 21:13] mlinksva commented on #607
It'll be detected as LGPL. The code that does this is in https://github.com/benbalter/licensee/blob/1961b0e82d6c92242f5403d7fd41c5053aa3f8d5/lib/licensee/projects/project.rb

On your points 1 and 2, I agree the instructions here could be more consistent. I'll leave this open until it is fixed.

Point 3 can't be addressed in this repository. I'm not sure it's a big practical problem; LGPL will be d

[2018-09-10 21:23] colosi commented on #607
Sorry, it was not from a blog.  It is a help article - https://help.github.com/articles/adding-a-license-to-a-repository/

[2018-09-22 14:05] dionyziz commented on #33
I'd like to license the projects for my papers (which are in LaTeX) under Creative Commons. I know I can do this manually, but it would be convenient to have it as a license choice. If you don't want software engineers to be confused about the suitability of Creative Commons to their software repositories, you can only display the Creative Commons license if the major language of the repository ha

[2018-10-01 18:59] lqez commented on #68
It looks like https://github.com/github/opensource.guide could be a good example of how Jekyll page translated.

[2018-10-01 20:09] mlinksva commented on #68
@lqez yes there's a start on that in https://github.com/github/choosealicense.com/pull/586 ... I haven't had a chance to look at it since August but hope to come back to it soon.

[2018-10-19 06:37] mlinksva commented on #401
FYI: https://github.com/github/choosealicense.com/pull/610 has an implementation of this, hoping to merge soon but welcome feedback.

One obvious feedback might be to support non-github.com sites: I don't see why that wouldn't be possible, given support for a license suggestion URL like the above and a repository license API.

[2018-10-21 21:40] #401 closed, assigned to nobody

[2018-10-26 15:22] msklvsk commented on #33
CC-BY-SA-4.0 gets recognized, but its non-commercial counterpart CC-BY-**NC**-SA-4.0 does not. It is arguably more important for non-commercial licenses to be shown in a nice digestible github way.
Or is it a [benbalter/licensee](https://github.com/benbalter/licensee) issue?

[2018-10-26 16:14] msklvsk commented on #33
CC-BY-SA-4.0 gets recognized, but its non-commercial counterpart CC-BY-**NC**-SA-4.0 does not. It is arguably more important for non-commercial licenses to be shown in a nice digestible github way.
It seems to be a benbalter/licensee [issue](https://github.com/benbalter/licensee/issues/343).

[2018-10-31 20:31] st-pasha opened #620 "Is "No-License" page accurate?"
https://choosealicense.com/no-permission/

In particular, I'm worried about the following sentence in the first paragraph:

It is my understanding that under the US law, copyright can either belong to a single party, or owned jointly by several authors ([17 U.S. Code § 201](https://www.law.cornell.edu/uscode/text/17/201)). If there is a repository with some initial body of code, and another person

[2018-11-01 02:46] mlinksva commented on #620
Previously covered at https://github.com/github/choosealicense.com/issues/503#issuecomment-295531160

[2018-11-01 02:46] #620 closed, assigned to nobody

[2018-11-02 09:57] rettinghaus opened #623 "Add ECL 2.0"
Please add support for Educational Community License
https://opensource.org/licenses/ECL-2.0

[2018-11-02 18:07] mlinksva commented on #623
Already added by #494 live at https://choosealicense.com/licenses/ecl-2.0/

[2018-11-02 18:07] #623 closed, assigned to nobody

[2018-11-14 16:10] landley commented on #464
The naming confusion has been cleared up, it's now consistently "Zero Clause BSD" (SPDX short identifier 0BSD).

http://lists.opensource.org/pipermail/license-review_lists.opensource.org/2018-November/003830.html

[2018-11-14 21:24] lgarron commented on #602
@parkr: Is it alright if I add an the HSTS header for `choosealicense.com` now?

[2018-11-15 16:21] parkr commented on #602
@lgarron Sure!

[2018-11-15 20:23] lgarron commented on #602
I set the header today!

Still requires WWW support to preload.

[2018-11-29 15:32] fharper commented on #33
Would love to have CC included in the choices.

[2018-12-01 04:17] mbraga24 opened #626 "Do I need to copyright my code/app if I intend to sell it ? (I've already made it private)"
If someone could help me out with the following, it'd be greatly appreciated.

So here is the story:
for my final project at school I created a MVP web app based on an idea I had a time ago. The app is specifically targeting the company I work with, it's a customer service review app only to be used inside this company/store. So far I have shared my idea with a lady from the marketing team and a g

[2018-12-01 20:19] mlinksva commented on #626
@mrdbrg your questions are well beyond the scope of this project. You should discuss the particulars of your situation with your own lawyer. In general you might want to increase your familiarity with what copyright does and doesn't cover, what is needed to obtain it, and how it copyright might relate to other topics like patents, trade secrets, and agreements that you might have with a school or

[2018-12-01 20:19] #626 closed, assigned to nobody

[2018-12-03 01:00] mbraga24 commented on #626
Thank you for your answer @mlinksva. I was kind of expecting my questions to be too specific.
Thanks again!

[2018-12-29 23:09] twilligon opened #629 "Mention licenser CLI script"
I wrote a [shell script](https://github.com/milkey-mouse/scripts/blob/master/licenser) that can fetch licenses from this repo straight into a `LICENSE` file, just like GitHub does it when you check the "Initialize repository" box. Perhaps this is just shameless self-promotion (in which case sorry for wasting time & an issue) but would it be useful to link to it somewhere on choosealicense.com or i

[2018-12-29 23:50] mlinksva commented on #629
Thanks for letting us know @milkey-mouse ... I've run across other scripts that use data from this repo to select/populate licenses from the command line. I don't think we have a good place to document right now on the site/in the repo but this issue is a good start. I'm going to close for no immediate action, but try to remember to note similar scripts here and maybe document more prominently at

[2018-12-29 23:50] #629 closed, assigned to nobody

[2018-12-30 07:57] sepatus88 opened #630 "Master"
Copyright farzli hasni othman
https://sepatus@github.com/

[2019-01-02 19:13] #630 closed, assigned to nobody

[2019-01-08 19:04] jabl opened #634 "MIT license doesn't match the one on SPDX"
If one compares the licenses at https://choosealicense.com/licenses/mit/ and https://spdx.org/licenses/MIT one sees that they are not identical.

The difference is the optional phrase "(including the next paragraph)" in the second paragraph. Which, I guess, is optional, but it would be nice if github would recognize a license with this optional part as a MIT license.

[2019-01-08 19:15] mlinksva commented on #634
choosealicense.com doesn't have any optional/alternate markup; even if we eventually ingest license texts from SPDX (#489) we probably wouldn't include optional text.  Licensee (the library used by GitHub for license detection) would need to be optional text aware in any case -- simply adding optional text here would likely cause it to not detect licenses without (as is far more common) the option

[2019-01-08 19:15] #634 closed, assigned to nobody

[2019-01-12 11:42] wizardbyron commented on #68
Come on, this discussion has taken for years. Let's close it and make it work first Please!
BTW, The Chinese translation isn't available any more.
Is there anything I can help ?

[2019-01-12 16:16] liuchong commented on #496
Thanks @mlinksva

[2019-01-13 00:34] mlinksva commented on #68
Apologies, I simply haven't gotten back to #586 yet, but aim to.

It looks like the Chinese content is still in https://github.com/github/choosealicense.com/pull/72 but that was from 2013; I imagine lots of strings have changed since then.

[2019-01-13 01:06] mlinksva opened #636 "Test that license texts match SPDX plain license texts"
We should have a test that each license text in `_licenses` is the same as the plain text license in the SPDX collection to automate the requirement described at https://github.com/github/choosealicense.com/blob/gh-pages/CONTRIBUTING.md#adding-a-license

The test could clone spdx/license-list-data and compare each license we have cataloged in this project. Many existing licenses would probably hav

[2019-01-13 03:45] wizardbyron commented on #68
Thanks for reply, I found the Chinese content is hosting on http://choosealicense.online/

[2019-01-24 16:17] krmoore opened #637 "Create feature to filter known licenses by attributes"
As a new user of the site, it would be very helpful if there was a way to limit the list of licenses in the appendix based on license attributes (permissions/conditions/limitations), so that it's easier to compare all of the licenses that fit a user's criteria.

For example, if I wanted to see only licenses that had both the "disclose-source" condition AND NOT the "trademark-use" limitation, it wo

[2019-01-26 20:10] mlinksva commented on #637
I think this could be done/would be feasible without adding much in the way of visible UI elements to the appendix. One possibility previously mentioned at https://github.com/github/choosealicense.com/issues/528#issuecomment-397466701 -- toggle include all licenses/include only licenses with a given attribute/include only licenses without a given attribute -- by clicking on attribute column header

[2019-02-07 18:02] alexis-michaud commented on #33
@mlinksva Would you consider re-opening the issue, or pointing to a new space where this topic is being discussed? There are quite a lot of relevant comments that would deserve to be addressed, not?

[2019-02-11 10:41] ghost opened #642 "Add 0BSD License"
https://github.com/spdx/license-list-XML/pull/768

<img width="953" alt="screen shot 2019-02-11 at 6 16 24 pm" src="https://user-images.githubusercontent.com/440298/52558164-86695700-2e2c-11e9-8981-75e4c5e4b914.png">

This seems to be missing from your list, which I was under the impression was pulled from SPDX license XML (it's already there).

Ref: #464

[2019-02-11 10:48] jhabdas commented on #464
@landley Could you please help me drive this home by updating [this page](https://landley.net/toybox/license.html) with the official title per the referenced link? I think the WTFPL does a good job making the title clear by _italicizing it_ on the [about page](http://www.wtfpl.net/about/).

I sent up [a pull](https://github.com/spdx/license-list-XML/pull/768) to have the name changed on the SPDX l

[2019-02-11 10:59] ghost commented on #464
@landley Could you please help me drive this home by updating [this page](https://landley.net/toybox/license.html) with the official title per the referenced link? I think the WTFPL does a good job making the title clear by _italicizing it_ on the [about page](http://www.wtfpl.net/about/).

I sent up [a pull](https://github.com/spdx/license-list-XML/pull/768) to have the name changed on the SPDX l

[2019-02-11 18:53] mlinksva commented on #642
The catalog here is checked against the SPDX list (eg that a given license exists and we're using the same naming) but only includes a small subset of licenses in the SPDX list since we do additional work to describe the attributes of each license cataloged here. I welcome a PR to add any license here that meets all of our [criteria](https://github.com/github/choosealicense.com/blob/gh-pages/CONTR

[2019-02-11 23:57] landley commented on #464
Please don't ask SPDX to change, they approved the license first. OSI made a mistake and I lobbied OSI to undo that mistake, largely by arguing that SPDX approval came first. (After I'd been using it for years, of course.) If OSI didn't manage to quite undo their mistake completely... who cares?

I've been using the zero clause bsd name for years. "Zero Clause BSD", "BSD Zero Clause", and "0BSD" a

[2019-02-12 00:24] landley commented on #464
Sorry, there's been so much arguing about the name in the past, I may be a bit gun shy now it's resolved. :)

[2019-02-12 06:31] jhabdas commented on #642
Thanks @mlinksva. Given GH isn't the only SCM depot out there would you possibly make an exception or adjustment to criteria 3 to add BitBucket, GitLab and Gitea?

[2019-02-12 06:34] jhabdas commented on #642
Here's 431+ licenses using an alternate name. How can I tell the total number?

https://github.com/search?q="Free+Public+License+1.0.0"+filename%3ALICENSE&type=Code

[2019-02-12 06:38] jhabdas commented on #642
Here's another 135 https://github.com/search?q="Zero-Clause+BSD"+filename%3ALICENSE&type=Code

[2019-02-12 06:40] jhabdas commented on #642
So without a possibility for an "exact search" I recon there's plausibility here and criteria 3 is met, especially considering I could also run searches on BitBucket, GitLab etc.

[2019-02-12 06:47] jhabdas commented on #642
Here's 431+ licenses using an alternate name:

https://github.com/search?q="Free+Public+License+1.0.0"+filename%3ALICENSE&type=Code

And another 135 or so https://github.com/search?q="Zero-Clause+BSD"+filename%3ALICENSE&type=Code

Considering "exact search" doesn't turn up all the results does BlackDuck have something which might help? Or does it make more sense to also include GitLab, BitBucket e

[2019-02-12 06:50] ghost commented on #642
Fair enough:

- Here's 431+ licenses using an alternate name: https://github.com/search?q="Free+Public+License+1.0.0"+filename%3ALICENSE&type=Code
- And another 135 or so https://github.com/search?q="Zero-Clause+BSD"+filename%3ALICENSE&type=Code
- 634 with "0BSD" https://github.com/search?q=%220BSD%22+filename%3ALICENSE&type=Code

Considering "exact search" doesn't turn up all the results does Bla

[2019-02-12 09:48] jhabdas commented on #642
And I learned [today on npm.community](https://npm.community/t/0bsd-license-should-be-a-valid-spdx-license-expression/5277/3?u=balibebas) 0BSD SPDX code [was recently added](https://github.com/npm/cli/commit/f63a0d6cf0b7db3dcc80e72e1383c3df723c8119) to NPM so lets join the party! :D

[2019-02-12 09:50] ghost commented on #642
And I just learned [today on npm.community](https://npm.community/t/0bsd-license-should-be-a-valid-spdx-license-expression/5277/3?u=balibebas) 0BSD SPDX code [was recently added](https://github.com/npm/cli/commit/f63a0d6cf0b7db3dcc80e72e1383c3df723c8119) to NPM so we can expect 1000 no sweat. /cc @landley

[2019-02-12 17:25] mlinksva commented on #642
Thanks for your research @jhabdas. Feel free to open a PR to add 0BSD if you'd like to take a stab at it.

[2019-02-13 08:53] jhabdas commented on #642
@landley could you help me identify 2 noteable projects besides your own using 0BSD or the former license name in order to help me satisfy the [contributing guidelines](https://github.com/github/choosealicense.com/blob/gh-pages/CONTRIBUTING.md#adding-a-license)?

[2019-02-13 08:55] ghost commented on #642
@landley could you help me identify 2 noteable projects besides your own using 0BSD or the former license name in order to help me satisfy the [contributing guidelines](https://github.com/github/choosealicense.com/blob/gh-pages/CONTRIBUTING.md#adding-a-license)? Don't think [mine](https://www.npmjs.com/package/toxic-swamp) counts yet. ;)

[2019-02-13 09:41] waldyrious commented on #642
Ideally [this listing](https://libraries.io/search?licenses=0BSD&order=desc&sort=stars) from libraries.io would be helpful, but the results seem to be quite unreliable.

That said, I did find https://github.com/m-labs/smoltcp (around 700 stars, FWTW as a measure of notability) and https://github.com/nazar-pc/PickMeUp (~570 stars). The latter lacks an actual LICENSE file, though. There's only a ref

[2019-02-13 10:37] ghost commented on #642
Thanks @waldyrious. Pull submitted. We'll see what the author says. As an aside I'm curious to know what is necessary to have 0BSD also start showing up in the GitHub UI:

<img width="196" alt="screen shot 2019-02-13 at 6 23 03 pm" src="https://user-images.githubusercontent.com/440298/52705578-30c4b400-2fbe-11e9-8c0a-859ae5cce035.png">

When I copy the exact license text and push a commit up it do

[2019-02-13 18:46] mlinksva commented on #642
To show up in the GitHub UI the license has to be added in this repo, then vendored in licensee (which GitHub uses for license detection), then a new version of licensee cut, then that new version of licensee deployed on GitHub, then finally a detection has to be triggered in a particular repo (e.g., license file added/edited, or manually via support), and license text in repo has to be a near exa

[2019-02-14 09:43] ghost commented on #642
Pull opened

[2019-02-15 23:04] #642 closed, assigned to nobody

[2019-02-27 17:49] andrewhavens opened #646 "Add information on compliance requirements"
Hello! Thank you for making this website. It is such a great resource! The only thing that I feel is missing is some information on the compliance requirements. It is really, really difficult to find information on what is required of you when using or modifying a particular open source project. For example, what is required of you if you choose to use some code from a project which uses GPLv2? I

[2019-03-12 19:48] mlinksva commented on #646
How to comply isn't the primary topic of this project but it is relevant when choosing a license. There's a new compliance guide out that might have the kind of information you're looking for (but in general, read the pertinent licenses and talk to your lawyer 😬)  -- see https://www.finos.org/blog/announcing-the-open-source-license-compliance-handbook and https://github.com/finos-osr/OSLC-handbook

[2019-04-03 10:02] Jarcionek opened #653 "Apache License 2 is not recognised"
Hi,

I have created a repository a while ago and I have added an Apache 2 license. I have done it the way it was described at http://www.apache.org/licenses/LICENSE-2.0, however GitHub is not recognising it and on the list of my repositories shows that this repository has license "Other":

https://github.com/Jarcionek/Map-To-Object-Converter/blob/master/LICENSE.txt
https://github.com/Jarcionek?tab

[2019-04-03 16:17] mlinksva commented on #653
GitHub only recognizes the full license text in a LICENSE.* file. The text you've used is intended for source files. Note the word "this file"! 😄

[2019-04-03 16:17] #653 closed, assigned to nobody

[2019-04-03 16:44] Jarcionek commented on #653
Oh, fair enough, silly me :)

[2019-04-09 13:50] xiaohuilam opened #655 "Apply the inclusion for 996ICU License"
Can we merge The 996 Prohibited License (Aka: 996ICU License) to Github choosealicense.com's list?

--

*reference resources:*
- [996.icu repository](https://github.com/996icu/996.ICU)

[2019-04-13 01:55] travi commented on #636
The latest SPDX version changes the [text of the MIT license](https://spdx.org/licenses/MIT.html#licenseText) slightly, compared to [the version currently on choosealicense.com](https://choosealicense.com/licenses/mit/). Do you have plans for how you want to handle old and new versions of licenses that change over time?

I use [spdx-license-list](https://github.com/sindresorhus/spdx-license-list)

[2019-04-13 18:06] mlinksva commented on #636
@travi thanks for pointing that out. The change is the optional text added at https://github.com/spdx/license-list-XML/commit/ca17b9160aab8acce72fe62720e63f68a782406b#diff-a3960b442eb635386ec51a5d6d15af2d

For better or worse SPDX doesn't AFAIK distinguish between optional but not usual and optional but preferred text, and outputs all optional text in https://github.com/spdx/license-list-data/blob

[2019-04-14 02:33] Pzoom522 commented on #655
Seconded!

[2019-04-15 15:16] benbalter commented on #655
Please see https://github.com/github/choosealicense.com/blob/gh-pages/CONTRIBUTING.md#adding-a-license for instructions on requesting a license be added.

[2019-06-01 00:13] mlinksva commented on #655
Feel free to open a PR when/if the requirements cited above are met.

[2019-06-01 00:13] #655 closed, assigned to nobody

[2019-06-20 11:30] reversi-fun opened #662 "Where does the difference conditions between AFL-3.0 and OSL 3.0 come from?"
AFL-3.0 and OSL-3.0 are almost same license terms, why are the conditions of use different?
The difference between AFL-2.1 and OSL-2.1 may not be propagated by mistake?

 * spdx-id: AFL-3.0,title: Academic Free License v3.0
[code]
 * spdx-id: OSL-3.0,title: Open Software License 3.0
    * conditions:
      - disclose-source
      - network-use-disclose
      - same-license (it OK from term  "c)")

[2019-06-20 17:19] reversi-fun opened #663 "Generate json file compatible with "FSF License Metadata API""
In order to make your data more reusable, please generate the file shown in the title.

"FSF License Metadata API" is defined in the following site.
It is a convenient data format that can be reused.
https://wking.github.io/fsf-api/licenses-full.json

That data format can associate the license identifiers with the catalog name and "tags".
For example,
[code]
Please have a look at the data I made f

[2019-06-20 17:40] mlinksva commented on #662
Hi @reversi-fun you're right, the only difference should be that AFL-3.0 does not have `same-license` and OSL-3.0 does. Both should have `disclose-source` and `network-use-disclose`.

If you'd like to submit a pull request with this correction please do. Otherwise I'll do so tomorrow.

[2019-06-20 18:43] reversi-fun commented on #636
My tool may help this issues.
I tried using my tools to compare with SPDX plain license text.

The two enhancements will make it easier to test continuously.
   * Generate json file compatible with "FSF License Metadata API" #663.
      https://github.com/reversi-fun/license_doc_similality1/blob/master/config/choosealicense-attrs.json

   * From choosealicense.com/_licenses/, except for the header

[2019-06-20 18:54] reversi-fun commented on #662
I am satisfied with the fact that I can tell you that my tools have detected this issues.
And I'm glad if it becomes the motivation of the following enhancement:
 * Generate json file compatible with "FSF License Metadata API" #663

I will not update(pull request) your's file.

[2019-06-20 19:42] mlinksva commented on #662
My quick assessment 2 hours ago was wrong in any case! The difference in the texts is very small

[code]

but the result is that one does not need to disclose source in the case of AFL-3.0 as such works can be distributed under a different license that does not require source disclosure. It's not particularly intuitive, but see the explanation of the author of both licenses at https://rosenlaw.com

[2019-06-20 19:42] #662 closed, assigned to nobody

[2019-06-24 20:16] mlinksva commented on #663
Hi @reversi-fun I'm reluctant to add another data format which others might rely on without thinking through it a bit. The FSF API was created as a stop gap measure by @wking since the FSF doesn't have an easily machine readable version of their list, see https://github.com/wking/fsf-api

However, I welcome this issue because it got me thinking...I suspect it'd be entirely feasible to split out th

[2019-06-25 09:57] reversi-fun commented on #663
@mlinksva, Thanks to response.
I seems that You want to implement it with license metadata in yoies own format.
OK, I request the following for your license metadata:
 * "Tags" list element is Attribute that defined by you or others.
    - not ["FSF/libre","choosealicense.com/patent-use"] , but ["libre","patent-use"]
 * Ability to map one-to-many license names.
 * Manage a namespace-qualified name

[2019-07-29 09:56] mfernandes61 commented on #496
Try this 'clunky' work-around. If you create a license.txt or license.md you will have a
license button appear.
Click on it and click on one of the 'wrong' licences. Examine URL for page.
Edit end of URL to have the template=cc0-1.0 as mentioned above. Hit enter
and the CC licence appears...

[2019-09-01 12:31] Gitnicole23 opened #682 "I have a free account"
It seems you have been charging me for my account, I never signed up for an account I would have to pay for !

[2019-09-03 14:09] benbalter commented on #682
@Gitnicole23 this is the issue tracker for the choosealicense.com website. If you [contact GitHub support](https://github.com/contact) they should be able to help you get things straightened out with your GitHub account. 😸

[2019-09-03 14:09] #682 closed

[2019-09-10 20:16] David263 opened #684 "What if none of the licenses work, part 2"
Quite a few licenses are listed on this website, and it is clear that open software needs to have a proper license/copyright. Part 1 of "what if none of the licenses work" is to choose one anyway.

But Part 2 (this Issue) has to do with choosing a different license from all that have been suggested: should I create my own license or choose one that github doesn't list at all?

I'll be very specifi

[2019-09-16 06:01] mlinksva commented on #684
Don't make up your own license unless you're utterly convinced that whatever you wish to propose is a large improvement _and_ are willing to put in a _lot_ of work to get it reviewed and accepted by your lawyer and various OSS community license bodies.

Zlib is probably the briefest of licenses with some form of "state changes", see https://choosealicense.com/appendix/ ... so good choice.

[2019-09-16 06:01] #684 closed, assigned to nobody

[2019-10-03 14:40] maeichris commented on #437
In my experience, this aspect of GPL/AGPL is the most significant clause that might lead a business to avoid choosing to use a piece of open source software.  Thus, the goal of this site is not really fulfilled if the main reason a large group of people would avoid using a piece of open source software is not indicated here.

Basically, GPLv3 section 5c indicates the mere use of a GPL component ma

[2019-10-10 03:25] YSZeng opened #688 "Can you explain the double licensed ?"
Dual licensed under the MIT and GPLv2 licenses.
I don't understand how to comply with double license.

[2019-10-11 00:33] frink commented on #464
I don't understand why Github would want to participate in politics here... I see 0BSD and WTFPL quite regularly. They just aren't recognized which requires me to dig into the LICENSE file. Why would they want to get into politics?

Oh right!!! - Microsoft owns Github - They only like MIT and Apache 2.0

I think I'm going to switch some of my projects to 0BSD - I urge anyone and everyone intereste

[2019-10-11 00:39] mlinksva commented on #464
@frink there isn't any politics here. WTFPL is recognized, see https://github.com/search?utf8=✓&q=license%3Awtfpl&ref=simplesearch

0BSD will be eventually when a new version of licensee is released and deployed.

[2019-10-11 16:16] landley commented on #464
It's been up on https://choosealicense.com/licenses/0bsd/ with toybox as an example for months now, but I'm not sure what github recognizing the license _means_ exactly. I had to do https://github.com/landley/toybox/commit/b31192fd73b382358b1deb33dc6c4cf4ce9c613f because I was told the title line saying it's 0bsd confused github's license recognizer, but there's nothing on the https://github.com/l

[2019-10-11 16:53] landley commented on #464
Ah, I see.  A recognized repo will name the license in that link. https://github.com/torvalds/linux and https://github.com/tytso/e2fsprogs aren't recognized, and neither were the first 13 repos that came up in github.com/explore, but the 14th (https://github.com/go-debos/debos) is recognized.

So that's what it looks like.

[2019-10-11 23:15] mlinksva commented on #688
I don't see a good place to cover in this site, but figure out whether the dual license situation is that a project is offered under both, meaning you could pick one to comply with (`MIT OR GPL-2.0`) or it contains some material under each license in which case you need to comply with both (`MIT AND GPL-2.0`).

[2019-10-11 23:15] #688 closed, assigned to nobody

[2019-10-13 02:35] antdog1982 commented on #238
Owner disc.  or creater rights/disclaimer

[2019-10-13 04:14] antdog1982 commented on #238
Copyright is your right to something you created or inherited or purchased.  These days they have so many loop holes which I dont think is the way it should be done.   If you have created or establish some sort of asset that has value of any sort that could have a great impact (change your life,have royalty's) should not be abled by any circumstance  change  ownership unless you have a  verbal  ha

[2019-10-13 05:31] frink commented on #464
@landley - Yes. That's my beef. Doesn't show up properly...

It doesn't seem like choosealicense.com and github.com are not in sync with one another. Don't know what the cause is... Could be politics. Could be oversight. Could be a lot of things... Just dunno...

If I start a new project here and click to add a licence, Github bolds **Apache 2.0**, **GPL 3.0**, and **MIT**... Then followed by the

[2019-10-13 19:32] mlinksva commented on #464
I can tell you exactly what the causes are.

Why 0BSD is currently not yet detected on github.com: (1) Licenses get added here, (2) then vendored in licensee, (3) then a new release of licensee is cut, (4) then licensee version is upgraded for github.com. We're presently at (3). You can watch for new releases at https://github.com/licensee/licensee if you want to be alerted when (3) is done. When

[2019-10-14 22:03] Muffo commented on #33
I agree this should be reopened.

[2019-10-20 16:23] Lonami opened #689 "Alternatives to MIT"
The post [**Deprecation Notice: MIT and BSD** *it's time to retire thirty-year-old academic licenses*](https://writing.kemitchell.com/2019/03/09/Deprecation-Notice.html) ([WayBack Machine link](https://web.archive.org/web/20191017102718/https://writing.kemitchell.com/2019/03/09/Deprecation-Notice.html)) has a few good points as to why new software might want to avoid licenses like MIT or BSD, and

[2019-10-28 00:38] mlinksva commented on #464
FYI https://api.github.com/licenses/0bsd and https://github.com/search?utf8=%E2%9C%93&q=license%3A0bsd&ref=simplesearch now work.

For existing repos one can https://support.github.com/contact and ask for re-detection.

[2019-10-31 13:43] peterducai opened #693 "mention missing packages"
please mention requirements before running bootstrap... on my Fedora 31 i had to install

thanks

[2019-10-31 13:56] peterducai commented on #693
also missing gems

[code]

[2019-10-31 13:57] peterducai commented on #693
but even after that i'm stuck with licensee gem on

[code]

[2019-10-31 20:39] nschonni commented on #693
That is a little buried but is a general Jekyll thing https://jekyllrb.com/docs/installation/other-linux/

A bunch of those look like they should have been covered by the Gemfile https://github.com/github/choosealicense.com/blob/gh-pages/Gemfile

[2019-10-31 20:52] mlinksva commented on #693
`script/bootstrap` as stated in https://github.com/github/choosealicense.com/tree/8a290cffad311dbb45db1074a0a42ffecfb2964f#run-it-on-your-machine should install the needed gems.

I don't think detailed platform specific requirements should be spelled out in this repo but I can imagine a link to https://jekyllrb.com/docs/installation/ could be helpful; feel free to make a PR.

[2019-10-31 23:16] mlinksva commented on #689
A first step for additional lax permissive licenses pertinent to this repo would be https://github.com/github/choosealicense.com/blob/gh-pages/CONTRIBUTING.md#adding-a-license

Feel fee to open individual issues or PRs for such licenses.

[2019-10-31 23:16] #689 closed, assigned to nobody

[2019-11-04 19:11] vinniefalco commented on #223
Pressing the New repository button in the GitHub UI still does not list Boost as a choice in the License dropdown.

[2019-11-04 19:14] vinniefalco opened #694 "MIT License is not the most permissive"
The problem with the MIT License is the imprecise language about attribution appearing in compiled forms. In my opinion the MIT License should be removed from the front of https://choosealicense.com/ and replace with the Boost Software License, which has greater acceptance especially in the embedded community and is generally a superior permissive license than the MIT license.

Note that projects

[2019-11-04 19:33] mlinksva commented on #694
I would love references to these!

[2019-11-04 21:10] mloskot commented on #694
@mlinksva Will comparative analysis of BSD, MIT and others vs BSL that actually had motivated and driven the design of BSL do?

- BSL vs MIT: http://www.crystalclearsoftware.com/cgi-bin/boost_wiki/wiki.pl?Boost_License/MIT_License

- BSL vs BSD: http://www.crystalclearsoftware.com/cgi-bin/boost_wiki/wiki.pl?Boost_License/BSD_License

All BSL requirements listed at https://www.boost.org/development

[2019-11-05 23:45] mlinksva commented on #694
I'm well aware of how they compare and contrast. I am specifically interested in "many policies which forbid the MIT license but allow the Boost one" of which I imagine exist but don't have knowledge of.

[2019-11-07 18:08] glenfe commented on #694
@mlinksva I sent an e-mail to you (BCC'd @vinniefalco).  Let me know if you're looking for additional information and I'll see what more I can share about the issue.

[2019-11-09 22:05] mlinksva commented on #694
@glenfe I'd love public documentation, but still very interesting, thanks for sharing.

The relationship of the github.com/new license drop-down and this repo is indirect. I can't make any product promises, and if any were to happen it wouldn't be immediate. However, three followups:

1. Is there a C++ community licensing policy that is public and could be linked to along with others on https://ch

[2019-11-18 18:37] mlinksva commented on #694
See https://github.com/github/choosealicense.com/pull/698

[2019-11-23 22:37] #518 closed, assigned to nobody

[2019-11-25 21:08] ranolfi commented on #437
Note that these assertions are false and based on a poor understanding of the AGPL.

The AGPL has one single additional clause to the GPL, and that is: If you don't release your software but make it available over a network, this is considered a form of distribution and thus you're required to release it as open source. That doesn't mean that anyone who is **_consuming_** your program over the net

[2019-12-02 21:14] ankane opened #701 "Apache 2 license requires NOTICE file"
Hey, thanks for this great project!

From the Apache 2 [license docs](https://www.apache.org/dev/apply-license.html):

From how I interpret it (based on the `LICENSE` text), the file should contain:

[code]

It'd be great to include this on the Apache 2 license page. Also, according to the FAQs, this file can be named `NOTICE` or `NOTICE.txt`.

[2019-12-02 22:29] mlinksva commented on #701
That's documentation for Apache Software Foundation projects. It is not mandatory for maintainers choosing to release their projects under Apache-2.0 to add a NOTICE file.

As far as what ASF project NOTICE files should contain, click on MUST: http://www.apache.org/legal/src-headers.html#notice

I don't think there's anything to add for this project, which aims to help people choose Apache-2.0 (or

[2019-12-02 22:29] #701 closed, assigned to nobody

[2019-12-02 22:39] ankane commented on #701
My bad, you're right, it is optional for non-Apache projects. From [this page](https://www.apache.org/licenses/LICENSE-2.0#apply):

[2019-12-03 22:50] trangngo1801 commented on #694
#698

[2019-12-03 22:58] trangngo1801 commented on #663
#636

[2019-12-05 11:23] sebbes333 opened #703 "Improved user experience: choosealicense.com/appendix"
First, I really love this page: [https://choosealicense.com/appendix](https://choosealicense.com/appendix)

One way it can be improved is to include some "yes/no/undefined" check-boxes along the top of the table.
When you eg: check the box above: "Same License" it brings all "same licenses" to the top & grays out all other licenses.
* If you check several boxes, only those licenses with ALL checke

[2019-12-05 17:45] mlinksva commented on #703
Thanks! This issue is similar to #637 ... I think it describes the most feasible fix for 637 anyway. I'm going to add a help wanted label, as I'd love to see someone take a stab at implementing.

[2019-12-07 13:56] trangngo1801 commented on #703
#703

[2019-12-09 10:27] sebbes333 commented on #637
Similar: #703
(For future readers)
(AHA! it automatically makes a link here when it's mentioned, smart! :)

[2019-12-10 23:31] dcousens commented on #607
When you specify the license as `GNU Lesser Public...` when creating a new repository on GitHub,  it only creates a license file with the LGPL additions.   The GPL is NOT included.

As mentioned by @colosi,  to provide users with the LGPL license,  [GNU recommends](https://www.gnu.org/licenses/gpl-howto.html) that you:

I think the @GitHub default of only including the LGPL additions,  but complet

[2019-12-24 20:20] evilhell9911 opened #708 "good issue"
Guy github make me hot

[2019-12-24 22:00] mlinksva commented on #607
In #709 I specified only COPYING for GPL-3.0 so as to make the instructions between the [L]GPL-3.0 consistent.

As to the behavior on github.com, this repository can only address this to a very limited extent: the license picker can't add multiple files at this time, and this repo isn't a place to fix that. I've changed the Lesser GPL 3.0 metadata to make it less likely it will be arrived at throu

[2019-12-26 20:01] #607 closed, assigned to nobody

[2019-12-27 17:55] #694 closed, assigned to nobody

[2020-01-01 17:29] aapeliv opened #712 "choosealicence.com has an invalid TLS certificate"
choosealicence.com (note the second "c" in "licence") that redirects to choosealicense.com has the certificate for github.com, which brings up a warning screen

[2020-01-01 21:11] mlinksva commented on #712
True, choosealicen**c**e.com does have the certificate for github.com, though I don't get a warning screen on either current Firefox 71.0 or Chrome 79.0.3945.86. What software is bringing up a warning screen for you @aapeliv?

cc @lgarron who might plausibly have some insight on how much of a problem this is and whether it is feasible to correct at this time.

[2020-01-01 21:13] mlinksva commented on #712
Ah, http://choosealicence.com redirects to https://choosealicense.com therefore no warning screen, but https://choosealicence.com obtains warning screen.

[2020-01-01 22:19] aapeliv commented on #712
I get the warning on Firefox (both latest stable as all as dev edition), and mobile Safari (iOS 13.3).

[2020-01-02 13:33] htgoebel opened #713 "GNU "… or later" licenses are missing"
Please add the "… or later" variant for all GNU licenses. Effected are at least
* AGPL 3.0 https://github.com/github/choosealicense.com/blob/gh-pages/_licenses/agpl-3.0.txt#L605
* GPL 2.0 https://github.com/github/choosealicense.com/blob/gh-pages/_licenses/gpl-2.0.txt#L279
* GPL 3.0 https://github.com/github/choosealicense.com/blob/gh-pages/_licenses/gpl-3.0.txt#L610
* LGPL 2.1 https://github.com/

[2020-01-02 17:31] mlinksva commented on #713
Adding duplicate license texts here won't help github.com disambiguate "only", "or-later", or unspecified applications of GPL family licenses -- there is no difference in the license text.

I see that you have specified or later in source code headers eg https://github.com/debops/yaml2rst/blob/39ac2ed3c055a2eda5438117c5ae54b7be559919/yaml2rst/__main__.py#L12 and package metadata https://github.com

[2020-01-02 17:31] #713 closed, assigned to nobody

[2020-01-23 12:05] O330oei opened #718 "Missing"
Missing packages

[2020-01-23 18:16] #718 closed, assigned to nobody

[2020-02-13 02:26] bebleo commented on #703
I'd be interested in having a go at this, but is there an idea as to how to handle columns that have more than two possibilities (yes/no) being filtered?

One possibility, that lacks some of the elegance of @sebbes333 solution, would be to use a filter button along with a modal popup.
* In cases where there are only two possibilities (yes or no) a user can select one or none.
* In cases where ther

[2020-02-18 16:44] garricode commented on #33
It's important to include more options for non-software repositories. For example, some new web developers create non-software repositories without commercial purpose on mind.

However, the Creative Commons Zero 1.0 license shows Commercial under Permission.

![creativecommonzerov1 0](https://user-images.githubusercontent.com/16749350/74756574-5f611480-523a-11ea-87d2-2fc1303c875f.png)

Licenses th

[2020-02-18 20:00] alexis-michaud commented on #33
There is a range of Creative Commons licences. The one you (@garricode) cite allows commercial uses (this is the most permissive license: ZERO) but all the licenses that contain the mention 'NC' (non-commercial) do not allow commercial uses. So it *would* really be useful to have CC licenses offered: the full range (CC-0, CC-BY, CC-BY-SA, CC-BY-NC-ND, etc).

https://creativecommons.org/licenses/

[2020-02-18 20:25] garricode commented on #33
I was aware of it, thank for the mention, but I appreciate the right wording a lot. Yes, I find it really useful have those.

[2020-02-21 20:17] mlinksva commented on #703
@bebleo I think a toggle https://github.com/github/choosealicense.com/issues/637#issuecomment-457862147 could just step through however many possibilities exist in a column. Even with just yes/no there are three states (all, only yes, only no...actually four, but "none" makes no sense).

I'm not thrilled with a modal popup but another UI option offering finer-grained control might be a second head

[2020-03-05 13:51] Epistol commented on #33
Adding my piece to it, not all repos are software only, I made a repo with my blog articles and wanted to set up a creative common no commercial use (you can guess why).

[2020-03-05 18:52] jupp0r opened #724 "Apache license not recognized"
Hi,

I have the problem that a license file in my repository is not recognized as Apache 2.0.

https://github.com/LogMeIn/asyncly/blob/master/LICENSE

What triggers automatic recognition of the license by github?

Thanks!

[2020-03-05 19:26] jupp0r commented on #724
Sorry moved to licensee issue.

[2020-03-05 19:26] #724 closed, assigned to nobody

[2020-03-07 16:13] bean5 commented on #703
The downside to this is that there are not very many options. There are combinations that will result in no standard license file that you can simply copy.

[2020-03-07 16:15] bean5 commented on #389
I think it is a bug since BSD is probably pretty common.

Showing it as a variant is a feature, though.

[2020-04-04 11:24] TomBrien commented on #33
Also wanting to strongly suggest that CC BY-NC-SA-4.0 and non-commercial licences be bought into the scope of this project. GitHub is a leading platform for development of scientific manuscripts and also documentation projects. In these cases something like CC BY-NC-SA-4.0 is often the desired licence and GitHub should support the clear displaying of the licence.

Furthermore, I would suggest that

[2020-04-04 15:15] davidak commented on #33
GitHub is a platform for open source development. Licenses which restrict the usage like non-commercial licences are not open source. It's extremely dangerous to not differentiate them. It prevents collaboration across projects.

[2020-04-04 15:26] geyerbri commented on #33
This is an inaccurate description of "open source."

[2020-04-04 15:29] TomBrien commented on #33
I agree somewhat with the comment about open source although as above I don’t think it’s the right definition.

There is a very large difference between not differentiating and not mentioning any non-commercial licences on a website which sets out to help people make an informed decision when choosing a licence.

Actually having had a think on this I think what I’m after is actually a clearer diff

[2020-04-04 15:58] Merovex commented on #33
Github has not been solely about open source for some time now. It is owned by Microsoft. As with any good platform, it has outgrown its original intent if it was ever intended only for open source.

It's disappointing that this has been closed for seven years during that evolution, and it appears there is no interest in reviving it.

[2020-04-10 00:17] jayaddison opened #729 "Update GPL links to point to SPDX pages without deprecation warnings"
The [choosealicense.com GPLv3 page](https://choosealicense.com/licenses/gpl-3.0/)'s sidebar currently links to the [SPDX license page for ID `GPL-3.0`](https://spdx.org/licenses/GPL-3.0.html).

That SPDX page shows a discouraging warning that the license has been deprecated since [SPDX License List Version 3.0](https://web.archive.org/web/20171230141353/https://spdx.org/licenses/) (released 2017-1

[2020-04-10 16:15] #729 closed, assigned to nobody

[2020-04-14 13:16] Elizaberh opened #733 "0x3C3600718f906ef9baE7E87F228f919C597E0DA2"

[2020-04-14 15:15] #733 closed

[2020-04-24 10:26] darkmorpher commented on #536
Update? You can now choose it via UI on GitHub but it's not listed on the list at https://choosealicense.com/licenses

While it is posted on https://choosealicense.com/licenses/epl-2.0 , you have to know the link with no other mention of it on choosealicense

[2020-04-24 17:11] benbalter commented on #536
@darkmorpher EPL 2.0 was added via #554. The site has three tiers of licenses, those that are on the home page, those that are on `/licenses` and those that are in [the appendix](https://choosealicense.com/appendix/). EPL 2.0 is in the last category.

Per [the project goals](https://github.com/github/choosealicense.com#goals), we try not to overwhelm viewers with a long laundry list of licenses, b

[2020-04-24 17:28] mmilinkov commented on #536
Ben, the EUPL and EPL are completely different licenses.

[2020-04-24 17:32] benbalter commented on #536
👋😄 Hello @mmilinkov! Apologies for the typo. Updated my comment to reflect EPL, not EUPL.

[2020-04-27 15:09] Leedehai opened #734 "Support Business Source License (BSL)?"
Hi, I'm wondering if you'd consider the Business Source License.

It is used by [MariaDB](https://mariadb.com/bsl11/), etc.
A brief blog [here](https://blog.adamretter.org.uk/business-source-license-adoption/).

The core feature of BSL, loosely speaking, is that it allows users to "use" the software freely for non-commercial use, and that the user has to **pay for commercial use**.

It allows deve

[2020-04-27 15:43] mlinksva commented on #734
Interesting license but doesn't meet our [criteria](https://github.com/github/choosealicense.com/blob/gh-pages/CONTRIBUTING.md#adding-a-license).

It may eventually be added to the SPDX license list, see https://github.com/spdx/license-list-XML/issues/995

Even if it did meet our criteria for adding, the license's templated frontmatter means instances of it wouldn't be detected by licensee which v

[2020-04-27 15:43] #734 closed, assigned to nobody

[2020-04-27 15:43] nschonni commented on #734
BSL is Boost Software License in SPDX https://spdx.org/licenses/BSL-1.0.html, although there is a pending PR to get it added https://github.com/spdx/license-list-XML/issues/995

[2020-05-05 08:06] darkmorpher commented on #636
@mlinksva

I should mention that slightest change in texts trips up [licensee/licensee](https://github.com/licensee/licensee) and fails recognition.

For example:
GNU hosted text: https://gnu.org/licenses/old-licenses/gpl-2.0.txt
SPDX version: https://raw.githubusercontent.com/spdx/license-list-data/master/text/GPL-2.0-only.txt

[GNU hosted text](https://raw.githubusercontent.com/movabletype/movab

[2020-05-05 16:56] mlinksva commented on #636
@darkmorpher licensee can recognize both the GNU hosted text and SPDX version. You're pointing to a non-master branch in the MT repo. There is no license or copying file in the master branch in the root, that's why no license is detected. If you find a bug that you can reproduce in licensee, please open an issue in the licensee repo.

[2020-05-16 10:09] sschuberth commented on #636
IMO this is not a desirable goal as long as SPDX tampers with the original plain text version (if any) of a license, also see https://github.com/spdx/license-list-data/issues/44. This is because SPDX does not take a plain-text license as-is, but regenerates it from its own XML representation (as also described in the original post of this issue).

[2020-05-17 22:05] mlinksva commented on #636
@sschuberth yes I'm well aware of that. As I've written before (but am too lazy to search for now) I'd love to see the SPDX plaintext renderings be as close to the canonical plain text version of licenses, and have over the years contributed a few small fixes toward that.  As I wrote in the issue comment above:

[2020-06-02 12:14] simonrepp opened #739 "License addition criterion 3 disregards the decentralized nature of git and open source"
The [Adding a license](https://github.com/github/choosealicense.com/blob/gh-pages/CONTRIBUTING.md#adding-a-license) page states criteria for the addition of new licenses to https://choosealicense.com, among these it reads:

At this point I'd like to quote the tagline of this repository:

If the site is non-judgemental about licenses, I think it should also not judge their relevance based on one si

[2020-06-02 21:48] waldyrious commented on #739
@simonrepp I fully agree that it would make sense to include more code hosts in the criterion for measuring a license's adoption. But it's not just a matter of rewording that criterion — we need to provide an easy way to validate it.

GitHub ends up being a reasonable proxy for the adoption metric, since it's the most popular host, and therefore one would assume that, by the law of large numbers,

[2020-06-02 22:20] simonrepp commented on #739
@waldyrious Thanks for sharing your thoughts!

My main idea here is to not overengineer/-specify the requested proof of relevance for applications - 1,000 repositories is a huge number anyway and whoever attains that kind of adoption will probably be able to compile a reasonable listing (which as you propose sums up to a total) from a few sources/platforms, and most likely that will be in the form

[2020-06-02 22:40] waldyrious commented on #739
I was concerned about that as well as I wrote my comment above. However, I think you would agree that including the 3 or 4 major platforms would be sufficient to include most of such communities, at least to the degree that they may affect the scale of adoption we're talking about here. If a hyper-specialized community prefers obscure platform X and uncommon license Y, it doesn't seem likely that

[2020-06-03 01:30] mlinksva commented on #739
Choosealicense.com is really not the place "to allow new, innovative licenses to have a voice and gain popularity". 1000 repos is a very high bar for a random new OSS license, of which there are many, but if such a new license _really_ adds value, it can be demonstrated by such adoption, and will blow past 1000 repos.

I'm fine with considering evidence of adoption in repos on other public hosts,

[2020-06-03 06:39] Quantumplation opened #740 "Add the Hippocratic License"
Not sure if it's been brought up before, but I'd love to see the details of this license added to choosealicense.com:

https://firstdonoharm.dev/version/2/1/license.html

[2020-06-03 08:36] simonrepp commented on #739
@waldyrious

For specific url *suggestions* I fully agree, that will make it easy for the suggested platforms themselves, and easier to deduce method for those not listed, which is great! A *fixed set* of specified (and therefore exclusively allowed) platforms however, will make it easy for the listed ones and *impossible* for anything that is not considered by us now, meaning again someone like m

[2020-06-18 07:24] niyumard opened #743 "The term "software" is used for cc-by-sa-4.0"
The explanations for Permissions, Conditions and Limitations when the mouse hovers the items under each section use the word "software" whereas material should be used, here: https://choosealicense.com/licenses/cc-by-sa-4.0/

[2020-06-21 22:12] mlinksva commented on #743
CC 4.0 licenses happen to use the term material, but arguably it's a better term for all licenses, as not only software might be licensed. Though the focus of this site is OSS, the last word being software...I don't feel very strongly. Conceivably we could replace "software" with "licensed material" throughout https://github.com/github/choosealicense.com/blob/gh-pages/_data/rules.yml

Welcome othe

[2020-06-21 22:15] mlinksva commented on #740
It doesn't meet our current [criteria](https://github.com/github/choosealicense.com/blob/2467d15902778467310e720c18794fbf4ddefedb/CONTRIBUTING.md#adding-a-license) for adding a license. Thanks for the suggestion!

[2020-06-21 22:15] #740 closed, assigned to nobody

[2020-06-21 22:58] #739 closed, assigned to nobody

[2020-06-22 08:28] waldyrious commented on #743
IMO by including non-software licenses like the CC ones, it ceases being reasonable to use default terminology that's software-related. Changing "software" to "material" or "licensed material" in `rules.yml` seems appropriate and doesn't sound like it harms readability/clarity.

[2020-06-23 12:07] johnny608 opened #745 "Is it possible to add Fair License to choosealicense?"
[Fair License](https://en.wikipedia.org/wiki/Fair_License)
This license appears to pass rule 1 and 2 in CONTRIBUTING.md, but i dont think it passes rule 3. (searching for fair license in github code search happens to be disputed)
Is this license possible to be added to choosealicense?

[2020-06-23 16:02] mlinksva commented on #745
https://github.com/search?q=filename%3ALICENSE+%22provided+that+this+instrument+is+retained%22 is an approximation, gets 132 results.

It does otherwise qualify. If you'd like to make a PR to work out the other details, I'm happy to leave it open until it meets the usage threshold (which may be a long time).

[2020-07-14 08:41] yawnoc opened #754 "Add "MIT No Attribution" (pending requirements)"
"MIT No Attribution" is what it says on the tin: the MIT license minus the attribution condition. I think it is a good license to use instead of WTFPL (lacks a no-warranty clause), the Unlicense ([probable legal issues in Germany](https://softwareengineering.stackexchange.com/a/147120 "What is wrong with the Unlicense?")), and CC0 (not designed for software and [does not waive patents](https://ope

[2020-07-14 16:24] mlinksva commented on #754
99% agreed (dubious about the Unlicense parenthetical) but anyway MIT-0 be a good addition when it meets the criteria. Feel free to open a pull request if you'd like to ready the addition.

[2020-07-20 10:32] alissonbovenzo opened #755 "Purpose : Multi-language"
Can i start develop something to translate to another languages ?
i guess this can help more ppl and developers without fluent english!

[2020-07-21 03:05] nschonni commented on #755
Duplicate of https://github.com/github/choosealicense.com/issues/68

[2020-07-21 03:08] #755 closed, assigned to nobody

[2020-07-23 17:34] jlumbroso commented on #607
@mlinksva Respectfully, I think you implemented the wrong solution to this thread.

Although @colosi discusses standards in terms of the choosealicense.com workflow, their concern seems to be to make sure that the licenses are properly detected. That sounds like a [licensee](https://github.com/licensee/licensee) issue, not a choosealicense.com issue.

Next, I disagree with @dcousens that the previ

[2020-07-24 12:12] sify21 opened #758 "license yaml format issue"
The `using` part of the license.txt looks weird to me. It's an array of single-element map like this
[code]
why not just use a single map like this
[code]
or an array of structered map
[code]
It makes the deserialise code boilerplate, for e.g in Rust I have to declare this field like
[code]
When using this `using` field, I have to iterate the vector, during which I have to iterate the single-eleme

[2020-07-24 19:44] mlinksva commented on #758
Looks like this dates back to first use of yaml for storing the example uses at caa47fb00ce56df0181fb1a5c399ef067f9b5183 in 2013.

I agree a simple map would be simpler and serve just as well.

Seems very low priority, but if you want to make a PR that switches to using a simple map and passes all tests, please go for it.

[2020-07-27 17:32] #743 closed, assigned to nobody

[2020-07-28 17:45] victorwestmann commented on #68
Just found out that the Brazilian Portuguese version of it already exists and it is available in the address http://escolhaumalicenca.com.br/ 💚💛

[2020-08-08 12:42] uqsme opened #761 "<!-- removed -->"

[2020-08-09 20:40] mlinksva commented on #761
MulanPSL-2.0 likely does not yet meet our usage requirements -- https://github.com/search?q=%22Mulan+PSL+v2%22+filename%3ALICENSE obtains 89 hits -- but should otherwise qualify. See https://github.com/github/choosealicense.com/blob/21b959fc2858835884a9fa2966a34f60502b0eeb/CONTRIBUTING.md#adding-a-license for details on the requirements.

Feel free to open a PR for adding this license, and we'll m

[2020-08-12 04:09] ianharrd69 commented on #761
I own it

[2020-08-13 18:16] dwalluck opened #762 "License in apache-2.0.txt is missing initial newline causing content and checksum to differ from official upstream file"
Compare checksum and content of the generated file to https://www.apache.org/licenses/LICENSE-2.0.txt. They should match.

[2020-08-22 13:27] TechnicianLP commented on #712
Adding a "www." to the url (ie. https://www.choosealicense.com/ ) causes the warning screen as well

[2020-08-26 20:12] No0Mercy opened #763 "@linda_sameer@hotmail.com Gititup"

[2020-08-26 20:13] No0Mercy commented on #763
@linda_sameer
@github-cla @S3odeey

[code]

[2020-08-26 20:28] #763 closed

[2020-08-27 08:27] tloimer opened #764 "License text in cc-by-4.0.txt contains disclaimer from website creativecommons.org"
The license text in _licenses/cc-by-4.0.txt is surrounded by text that does not form part of the license. The text beginning with `Attribution 4.0 International` until the second line with equal signs, `==========...`, and at the end of the file, from the last line consisting entirely of equal signs until the end of the text, should be deleted.

In my opinion, the text that should be deleted is a

[2020-08-31 17:39] mlinksva commented on #754
Approved http://lists.opensource.org/pipermail/license-review_lists.opensource.org/2020-August/004917.html and already up at https://opensource.org/licenses/MIT-0

For notable projects, it'd be fine to include one from AWS, but preferably not the repo for the license itself. 😄

I got 344 projects just now for the query above. Will be interesting to see if that grows significantly post-approval, as

[2020-09-01 15:26] yawnoc commented on #754
I'm a pessimist, so I doubt there will be quick growth without a promotion to drive the uptake. I estimate at least 2 years to reach the threshold; I hope I am proven wrong.

Some MIT-0 repositories with at least 20 stars (at the time of writing):

| Repo | Stars | Forks | Link |
| --- | --- | --- | --- |
| [miniaudio](https://github.com/mackron/miniaudio) | 1k | 76 | [LICENSE](https://github.com/

[2020-09-03 22:04] mlinksva commented on #693
I think this was addressed by #765. If further documentation is needed, feel free to make a PR.

[2020-09-03 22:04] #693 closed, assigned to nobody

[2020-09-04 21:56] mlinksva commented on #764
We try to stick closely to the texts that are widely used. Many licenses include bits (mostly trailing) that are not part of the license, and we don't cut those out. https://creativecommons.org/licenses/by/4.0/legalcode.txt includes the ones you point out.

[2020-09-04 21:56] #764 closed, assigned to nobody

[2020-09-04 22:06] mlinksva commented on #762
Adding an extra newline (or any number of extra newlines) in this repo doesn't result in the generated file having an extra newline, I think due to the way some Ruby library (the site is rendered with Jekyll) splits front matter from content. In any case, I'm not worried about it -- I don't know of any in the wild license matching that only uses the exact checksums of licenses or doesn't have a he

[2020-09-04 22:06] #762 closed, assigned to nobody

[2020-09-10 20:38] marknguyen92 opened #766 "hihi"
hhhhhhhhhhhhhhhhhhhhhhhhiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii

[2020-09-17 19:01] Brian-Seattle opened #773 "Add Linux Foundation"
https://www.linuxfoundation.org/resources/open-source-guides/

[2020-09-17 19:53] mlinksva commented on #773
I'm not sure what you're proposing. Please read our [CONTRIBUTING](https://github.com/github/choosealicense.com/blob/gh-pages/CONTRIBUTING.md) and README files for background on what choosealicense.com is and how to contribute.

[2020-09-17 19:53] #773 closed, assigned to nobody

[2020-09-17 20:35] Brian-Seattle commented on #773
I'm proposing including the Linux Foundation which is either the largest or
one of the largest open source repositories in the world, in terms of
companies and market capitalization based on open source licenses.

Plus Apache, which has an even simpler model than MIT.
https://www.apache.org/licenses/LICENSE-2.0

On Thu, Sep 17, 2020 at 12:53 PM Mike Linksvayer <notifications@github.com>
wrote:

[2020-09-17 21:02] mlinksva commented on #773
This repo only catalogs licenses, not organizations. There's actually another project inspired by this one for the latter, see https://github.com/ShaneCurcuru/chooseafoundation

I'm not sure how Apache-2.0 could be characterized as simpler than MIT, but in any case it's already cataloged here, see https://choosealicense.com/licenses/apache-2.0/

[2020-09-29 02:31] thor174 opened #774 "Model–view–controller"
https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller?wprov=sfla1

[2020-10-05 18:03] #758 closed, assigned to nobody

[2020-10-13 14:43] reisraff opened #783 "Missing versions of GPL, like v2"
Missing various versions of licenses in the https://choosealicense.com/licenses/ page

[2020-10-13 15:20] waldyrious commented on #783
That's intentional — see [CONTRIBUTING.md § Adding a license](https://github.com/github/choosealicense.com/blob/gh-pages/CONTRIBUTING.md#adding-a-license) and [about.md § Not comprehensive](https://github.com/github/choosealicense.com/blob/gh-pages/about.md#not-comprehensive) for the rationale.

[2020-10-13 15:44] reisraff commented on #783
Ok get it, would be awesome though, to let the https://choosealicense.com/appendix/ more visible.

[2020-10-16 19:29] #783 closed, assigned to nobody

[2020-10-22 07:52] Juaneduardo1 opened #785 "licinse ."

[2020-10-22 14:58] #785 closed, assigned to nobody

[2020-10-30 15:12] StEvUgnIn commented on #313
Now might be a very good time to reassess CERN OHL https://spdx.org/licenses/

[2020-11-25 21:16] fizzyade opened #792 "Using your license files in another project"
Hi,

I'm currently working on a GPLv3 application for macOS which allows users to create DMG files easily and generate DMG files from the command line as part of an automated build process. (https://github.com/fizzyade/dmgee)

I've used your site many times in the past to download licenses and I love the rendering of the metadata you inject as it's clear and easy for people to understand.

Given t

[2020-11-28 02:33] mlinksva commented on #792
Yes. However, note that the license texts themselves are each under their own copyright. Everything else in this repo is indeed under CC-BY-3.0.

[2020-11-28 02:33] #792 closed, assigned to nobody

[2020-11-29 04:29] Enterprises-Gracida-Veracruz opened #794 "https://blog.google/products/maps/Database • Firebase • Currents • Facebook.Java.Links++ multi-graphql"

[2020-11-29 04:29] Enterprises-Gracida-Veracruz commented on #794
<com.firebase.google.project.facebook>http://business.facebook.com/pub/home/victor-hugo-sánchez-gracida

[2020-11-29 04:30] Enterprises-Gracida-Veracruz commented on #794
https://developer.android.com/codelabs/activity-recognition-transition?hl=en&continue=https%3A%2F%2Fcodelabs.developers.google.com%2F%3Fcat%3DAndroid%2520Things

[2020-11-29 04:48] #794 closed

[2020-12-08 10:23] n8willis opened #795 "Font license recommendation (OFL) needs updating to include SPDX 3.8 additions"
SPDX 3.8 updated the identifiers for the Open Font License (OFL) to distinguish between the two variations "with RFN clause" and "with no RFN clause". (See https://github.com/spdx/license-list-XML/pull/965 for details.)

That was done because the Reserved Font Name (RFN) clause is a licensor-chosen optional clause, but choosing to invoke it for a project substantially changes the compliance requir

[2020-12-08 18:09] mlinksva commented on #795
There's no difference in the license texts, right?

I think we'll have to handle in the same way we do -only and -or-later for *GPL, see https://github.com/github/choosealicense.com/blame/50e1c110548545b3ec5072442942be2548a76a48/_includes/sidebar.html#L27-L29 #563 #421

Welcome thoughts/corrections/a PR!

[2020-12-09 19:05] n8willis commented on #795
Correct; the text of the license has not changed; this reflects a choice that the licensor makes solely via their copyright statement / license-declaration. The sidebar presentation definitely looks like an appropriate approach.

[2020-12-13 19:01] mlinksva commented on #795
I see, the text of the license is not changed, but there would be added text following the (c) in a LICENSE file for a project with a RFN. I hadn't looked closely enough at first--the SPDX XML files capture this. Thus it would be possible to catalog -no-RFN and -RFN as separate "licenses" here. That might be the right thing to do longer term.

Based on https://github.com/search?q=filename%3ALICENS

[2020-12-18 05:24] #795 closed, assigned to nobody

[2021-02-02 01:48] dudy5 commented on #10
The 'Sublicense' in GPL actually means 'relicense', See FSF'FAQ of GPLv3:
http://gplv3.fsf.org/wiki/index.php/FAQ_Update#What_does_.22sublicense.22_mean.3F

[2021-02-02 17:37] Steven9482 opened #802 "Chico"

[2021-02-02 18:25] #802 closed, assigned to nobody

[2021-02-17 03:46] wylie39 opened #804 "Dark Mode"
The current version of choosealicense.com does not support dark mode.
Any thoughts on adding that functionality. I am willing to step up and make a PR.

[2021-02-17 07:17] mlinksva commented on #804
I'd be OK with a dark mode PR, but would probably defer to someone who knows more about design (just about anyone) than me.

[2021-02-18 16:17] freemin7 opened #805 "The Unlicense is not allowed to be used inside Google, however an equivalent license 0BSD is."
When you promote the Unlicense you should be aware that it's reception in legal circles is not great. [Source](https://en.wikipedia.org/wiki/Unlicense#Reception)

Instead i suggest you promote the 0BSD license. Both licenses are public domain equivalent licenses, so they are interchangeable, however licensing ones code under 0BSD makes it easier for companies to use it, as the BSD license family i

[2021-02-27 21:10] #754 closed, assigned to nobody

[2021-03-02 10:45] KOLANICH opened #807 "Extract licenses dataset as a submodule"
Hi.

Extracting the licenses dataset with minimal amount of other files will make it more convenient to be used in other projects. Here is the repo https://github.com/KOLANICH/GitHub_licenses_dataset where I have stripped everything unneeded. (All merges are lost and the history is lianearized since it seems like `--prune-empty` doesn't work on nonlinear histories, so I just exported everything in

[2021-03-04 17:03] whilein opened #808 "What about internationalization?"
Could you add the ability to change the language, please?

[2021-03-04 17:38] nschonni commented on #808
Duplicate of https://github.com/github/choosealicense.com/issues/68, but the title might be better if it was renamed there

[2021-03-08 17:14] xtaran opened #809 "Please add the original Artistic License and the GPLv1 as used by Perl and most of the Perl Community"
I wanted to add a pull request for adding the Perl communities most used license combination known as "the same license as Perl itself" (i.e. Artistic License or GNU GPL version 1 or later) to https://choosealicense.com/community/, but noticed that only the Artistic License 2.0 is part of https://choosealicense.com/appendix/, neither the Artistic License 1.0 nor the Artistic License 1.0 as used by

[2021-03-12 19:46] mlinksva commented on #809
I don't think Artistic 1.0 is a good fit for the communities page as it isn't recommended by anyone, as far as I know. The links on the communities page point to both a recommendation/documentation of standard practice for a community, as well as the relevant license.

Feel free to make PRs to add Artistic-1.0 or GPL-1.0 if they meet our [criteria](https://github.com/github/choosealicense.com/blob

[2021-03-12 19:46] #809 closed, assigned to nobody