[2021-03-12 19:51] mlinksva commented on #807
Thanks @KOLANICH I appreciate that keeping the dataset completely separate would be elegant, but I don't think it can be made to work for this repo given that it needs to drive a website which is published with Jekyll, which is not terribly flexible on data/content file structure (not a knock on Jekyll, it's tuned to purpose).

I'll also eventually be restructuring the data a bit to better support

[2021-03-12 19:51] #807 closed, assigned to nobody

[2021-03-12 19:52] mlinksva commented on #808
Closing as duplicate of #68 which does remain open because I intend to get to it eventually.

[2021-03-12 19:52] #808 closed, assigned to nobody

[2021-03-12 20:15] mlinksva commented on #805
I presume by promote you're referring to listing on https://choosealicense.com/licenses -- it was added there to fill out the spectrum from the strongest copyleft to public domain equivalent -- in the latter category, at the time the only other option was CC0-1.0 which is more problematic for software due to its express non-grant of a patent license.

That source quotes me from many years ago sayi

[2021-03-12 20:23] nschonni commented on #808
@mlinksva it might be good to update the title up #68 to something like "Internationalization / i18n / multilingual site" just as a catch all of things that people would likely search for if they try looking before opening an issue

[2021-03-12 23:50] freemin7 commented on #805
I know that there is an ongoing debate whether 0BSD derives from a BSD or the ISC license. In this discussion i favor Rob Landley, creator of the 0BSD license which claims he derived it by changing a BSD license (he should know). But as you say the distinction is irrelevant other than to trigger annoyance in people to involved in the discussion.

A short search for "0BSD" vs "MIT-0" on GitHub show

[2021-03-13 00:25] mlinksva commented on #805
There's no debate about the derivation of 0BSD, only what to call it -- and the debate is long over, 0BSD is a fine name, I only brought it up here since you mention derivation -- it's derived from the ISC license used by OpenBSD -- it's derived from the license used by a BSD, not derived from a BSD license. 😄 See https://lists.spdx.org/g/Spdx-legal/message/1287 and also https://github.com/github/

[2021-03-13 06:18] KOLANICH commented on #807
I don't understand what you mean under that.

If you mean that directory layout cannot be changed, but if Jekyll tolerates symlinks, the easy solution is that submodule is created in an another directory (i.e. `dataset`), and then `_licenses` can be a symlink to `dataset/licenses` and `_data` can be symlinked to `dataset/schemas`.

[2021-03-13 21:04] erc20pixel commented on #805
Ok so can u give me your opinion and what you would do?.  The .Sent from my Galaxy
-------- Original message --------From: freemin7 ***@***.***> Date: 3/12/21  6:50 PM  (GMT-05:00) To: "github/choosealicense.com" ***@***.***> Cc: Subscribed ***@***.***> Subject: Re: [github/choosealicense.com] The Unlicense is not allowed to be used inside Google, however an equivalent license 0BSD is. (#805)
I kn

[2021-03-15 08:27] landley commented on #805
A friend pointed me at this thread.

There's no "ongoing debate" about where 0BSD comes from, the history is at the bottom of https://landley.net/toybox/license.html . It was derived from the openbsd suggested template license (which was itself derived from ISC, yes), and I got permission from Kirk McKusick to call it a BSD license at Ohio Linuxfest in 2013 (and later went back and got it it in wr

[2021-03-18 08:58] landley commented on #805
I also note https://android.googlesource.com/platform/external/toybox/+/5d35ee244cee3 was applied recently: I have no idea what it means, but it _mentions_ CC0 and Unlicense in android legal plumbing.

The trick to understanding the bug numbers is https://landley.net/toybox/faq.html#b_links by the way.

[2021-03-19 12:14] Andre601 opened #813 "Add the WTFPL license?"
While it can be debated if [WTFPL](http://www.wtfpl.net) is a license suitable to use in projects (Some agree, others don't) is it still a Open Source license with clear rules and guidelines, even tho these guidelines are essentially "There aren't any".

~~The only *condition* found is, that you should rename the project if you make changes to it. So a condition is probably "no redistribution of c

[2021-03-19 12:41] Andre601 commented on #813
License is already in the appendix after looking closer

[2021-03-19 12:41] #813 closed, assigned to nobody

[2021-03-28 16:32] jab opened #816 "Replacing MIT and BSD recommendations with Blue Oak"
I just saw https://writing.kemitchell.com/2019/03/09/Deprecation-Notice.html, which explains why MIT and BSD licenses should no longer be used for new work, and recommends using the [Blue Oak license](https://blueoakcouncil.org/license/1.0.0) instead. I immediately checked choosealicense.com, and when I didn't see mention of this there, I checked this issue tracker, and finally am creating a new i

[2021-03-28 17:40] kemitchell commented on #816
Thanks for mentioning, @jan. I'll watch this issue.

[2021-03-28 18:08] nschonni commented on #816
https://github.com/github/choosealicense.com/blob/gh-pages/CONTRIBUTING.md#adding-a-license
Looks like it meets 1, but likely none of the others

[2021-04-04 02:56] TheInterestingSoul commented on #761
now 2289 hits. all [conditions](https://github.com/github/choosealicense.com/blob/21b959fc2858835884a9fa2966a34f60502b0eeb/CONTRIBUTING.md#adding-a-license) listed are met.

3 notable projects:
https://github.com/opengauss-mirror/openGauss-server
https://github.com/OSCPU/NutShell
https://github.com/gzu-liyujiang/Android_CN_OAID

[2021-04-05 02:28] mlinksva commented on #816
Happy to catalog BlueOak-1.0.0 here when it meets criteria linked to above.

For convenience a [crude search](https://github.com/search?q=filename%3ALICENSE+%22Blue+Oak+Model+License%22) currently gets 506 hits.

[2021-04-05 03:46] mlinksva commented on #761
Fixed by #818

[2021-04-05 03:46] #761 closed, assigned to nobody

[2021-04-05 04:45] ahmadrasyidsalim opened #820 "ruby-3.0 - can't run on local"
[code]

[2021-04-05 06:10] #820 closed, assigned to nobody

[2021-04-05 06:49] ahmadrasyidsalim opened #822 "ruby-3.0 - no error bundle update, but now can't serve"
[code]

[2021-04-05 07:10] mlinksva commented on #822
I can't replicate that, but I do get https://github.com/jekyll/jekyll/issues/8523 which I'll make a PR to fix.

[2021-04-05 08:32] ahmadrasyidsalim commented on #822
Even after webrick is installed, I still got the same
[code]

[2021-04-08 03:14] R-BLIP885 commented on #822
☆

[2021-04-08 04:26] mlinksva commented on #822
Ok, I was able to reproduce on Debian. Someone else had the same [problem](https://stackoverflow.com/questions/65539326/is-the-pathutil-ruby-gem-compatible-with-jekyll-v3-9-0-and-ruby-v3-0-0). Full stack trace below. The cause isn't obvious to me, but presumably a jekyll issue that can't be fixed in this repo.

[code]

[2021-04-08 04:33] mlinksva commented on #822
Ah, it's a common (and planned) ruby 3 issue, should've spotted that. The fix is in pathutil at https://github.com/envygeeks/pathutil/pull/5 so this will persist (on platforms where pathutil uses that particular code) until that gem gets updated.

[2021-04-11 21:43] Andre601 opened #825 "License-chooser similar to creativecommons' version"
[chooser]: https://creativecommons.org/choose/

[site]: https://choosealicense.com

[mit]: https://choosealicense.com/licenses/mit/
[gpl]: https://choosealicense.com/licenses/gpl-3.0/
[wtfpl]: https://choosealicense.com/licenses/wtfpl/

[community]: https://choosealicense.com/community/
[non-software]: https://choosealicense.com/non-software/

[others]: https://choosealicense.com/licenses/
[licens

[2021-04-12 19:06] mlinksva commented on #825
Feel free to create/prototype something like this, though I can't promise to use it on choosealicense.com. I dislike the CC license chooser, would rather they just present the licenses available as a spectrum. That's probably a big part of why choosealicense.com/licenses is how it is. 😄

The site is non-judgmental as to what characteristics an open source license should have, largely meaning it's

[2021-04-12 19:06] #825 closed, assigned to nobody

[2021-04-18 19:02] okenwa103 commented on #602
Please do the needful sir.

[2021-04-18 19:09] okenwa103 commented on #441
Okenwa103

[2021-04-20 02:41] ergpopler commented on #805
Also, the Unlicense is INVALID in some countries such as Germany, and has unclear meaning in some other countries, such as Australia.

[2021-04-23 13:14] Abas70-sodo opened #826 "A"
‏تذكر أن الشخص الصحيح لن يمل منك ابداً ♥️.
𝙧𝙚𝙢𝙚𝙢𝙗𝙚𝙧 𝙩𝙝𝙖𝙩 𝙩𝙝𝙚 𝙧𝙞𝙜𝙝𝙩 𝙥𝙚𝙧𝙨𝙤𝙣 𝙬𝙞𝙡𝙡 𝙣𝙚𝙫𝙚𝙧 𝙜𝙚𝙩 𝙩𝙞𝙧𝙚𝙙 𝙤𝙛 𝙮𝙤𝙪

[2021-04-23 18:55] #826 closed, assigned to nobody

[2021-04-23 20:40] JonDouglas opened #827 "Provide OSI approval information on license details / summaries"
Would it be helpful to add some type of metadata or OSI stamp to the licenses? The list of licenses from https://spdx.org/licenses/ or https://opensource.org/licenses/alphabetical have columns to provide each license some means of showing it was [OSI Approved](https://opensource.org/licenses). This is a helpful piece of information when looking at a license.

Quick mockups:

![image](https://user-

[2021-04-23 20:52] mlinksva commented on #827
It's an interesting idea. We already have tests looking for OSI (or FSF, or OK) approval; this info could be moved into license metadata (which would itself be tested) and thus rendered. I'd probably suggest text rather than logos.

[2021-05-03 00:50] kerahui opened #828 "issues licence"

[2021-05-03 00:51] #828 closed, assigned to nobody

[2021-05-19 18:56] johentsch commented on #33
This is still an issue. `CC BY-NC-SA 4.0` is not displayed and cannot be shown as a shield/badge.

[2021-05-19 19:44] lorib55xx commented on #33
I tried to add , please check to see if I applied it correct.
Thank you for your time

Lori

On Wed, May 19, 2021, 2:57 PM Johannes Hentschel ***@***.***>
wrote:

[2021-05-20 00:47] johentsch commented on #33
Thank you. I don't know what you applied or what you wanted me to try but for me nothing has changed.

[2021-05-21 10:58] Andre601 opened #830 "Improve landing page of choosealicense.com by listing the appendix somewhere more visible"
I mentioned this in #825 before but want to make this issue now.

The current main page (landing page) of choosealicense.com is heavily in favour of common Open source licenses.
While this might not be a big deal on first look does it essentially prevent other, lesser-known yet still valid, licenses from ever being discovered.
This case of playing favours is really bad, especially since there bein

[2021-05-21 11:00] Andre601 commented on #827
Maybe a simple SVG logo with hover text could also do the trick? I don't see any real appeal in some text saying stuff like "OSI approved"

[2021-06-04 04:06] 1hi1ok commented on #830
0x8578Eb576e126f67913a8bC0622e0A22EBa0989A

[2021-06-06 17:15] mlinksva commented on #830
The page name is not `all-licenses`. 😄 I realize you'd like the site to have a different UI. Thanks for the feedback, but I'm not willing to make such a change right now.

[2021-06-06 17:15] #830 closed, assigned to nobody

[2021-06-12 14:50] Pukimaa commented on #804
Ok because it is an easy fix I will make a PR

[2021-06-12 20:48] Pukimaa commented on #804
Made a simple Dark Mode PR. I dont wanted to do it too complicated so I just used a `@media` to check if the User has activated Dark Mode. You could also possibly add a Dark Mode Button too. (should be simple)

[2021-06-13 13:40] Aspie96 commented on #816
(**I am not a lawyer and this is not legal advice**)

I strongly disagree with this.

It is better to suggest well known and widely used licenses.

The Blue Oak license is rarely used (and when it is used, it's mostly as a template for other licenses).

Also, consider the idea that Mitchell might be a bit biased about this. The opinion of other lawyers too is needed.

I am not a lawyer, but as evi

[2021-06-13 14:03] Aspie96 commented on #816
Note: I am not against merely listing the license when it does meet the necessary criteria.
But I believe the *suggested* licenses on the homepage should be the most common ones and ones which have been evaluated and accepted by the FLOSS community as a whole. The most influential entities for evaluation are the FSF (steward of the free software definition), OSI (steward of the open source definit

[2021-06-13 14:07] Aspie96 commented on #827
I do not think it is necessary and it would suggest a bias in favour of OSI approval (over, for instance, FSF approval).

If it is added, I think a similar information must also be provided for FSF approval (and possibly GPLv3 compatibility).

[2021-06-13 14:14] Aspie96 commented on #805
(**I am not a lawyer and this is not legal advice**)

This has been discussed by OSI: https://lists.opensource.org/pipermail/license-review_lists.opensource.org/2020-May/004870.html

According to Pamela Chestek, as well as Till Jaeger, the Unlicense contains license language and would therefore be interpreted as a license where public domain is inapplicable. And even if it didn't have such languag

[2021-06-13 14:15] Aspie96 commented on #745
I'd like to point out this license, while considered free, only mentions "use of the work".

Licenses with more detailed language are to be preferred.

[2021-06-13 20:35] waldyrious commented on #745
@Aspie96 could you give an example of an interpretation of "use of the work" that would make the license non-free? Not that I'm disagreeing, just making sure I understand your reasoning.

[2021-06-13 21:00] Aspie96 commented on #745
(**I am not a lawyer and this is not legal advice**).

I don't consider it nonfree.

I am just pointing out other licenses are a bit more clear about what they allow.

The word "use" is, in some cases, used to mean "run" a copy of a software (for which a license is not even required). What you need a license for is modify and distribute the software.

The license is considered FLOSS and that indic

[2021-06-13 22:46] lorib55xx commented on #745
Thank you I really don't know the difference unless you point it out. I think this is above my knowledge any comments are helpful. Thank you. I don't really understand the difference.

[2021-06-13 22:47] lorib55xx commented on #745
How or why ended up here ??

[2021-06-13 22:50] Aspie96 commented on #745
I was just looking at issues on this repo.

[2021-06-13 22:51] Aspie96 commented on #745
The difference between what?

Anyways, my comments are a bit off topic. But not completely.

I don't oppose to adding the Fair License if it ever qualifies. I provided my commits in case in the future it is discussed to add it among the suggested licenses (instead of just the list).

[2021-06-14 09:30] waldyrious commented on #745
I realize I too should have been more explicit in my wording. I didn't mean to imply that I felt you considered the Fair License to be non-free. I was just trying to understand what, in your view, could be ambiguous about it in a way that could be problematic for its usage as a FLOSS license.

If I understand correctly, your concern is that its extreme conciseness could lead it to not be interpret

[2021-07-03 17:47] faloi commented on #68
Any updates on this one? I'd like to contribute with the Spanish translation. 😄 🇦🇷

[2021-07-03 19:58] erc20pixel commented on #68
Me Casa su Casa.......     //** Ascendaviation **Sent from my Galaxy
-------- Original message --------From: Federico Aloi ***@***.***> Date: 7/3/21  1:47 PM  (GMT-05:00) To: "github/choosealicense.com" ***@***.***> Cc: Subscribed ***@***.***> Subject: Re: [github/choosealicense.com] Internationalization / i18n / multilingual site (#68)

Any updates on this one? I'd like to contribute with the Spa

[2021-07-06 04:32] cauerego commented on #805
thanks @landley for chimming in here and sharing all you work.

sorry everyone else for digging into the "thanks" hole, but i'm also thankful for every single other contribution in this thread.

ironically, this post will probably break the trend and be mostly useless to everyone!

just wanted to say thanks, for now. 😘

[2021-07-14 23:22] x13a opened #837 "0BSD licence doesn't have a title"
Hello.

The problem is simple. 0BSD license doesn't have a title. There was [commit](https://github.com/github/choosealicense.com/pull/643/commits/bab9f14fa93405fead73948946c8ca9c2b62c1c5) when it was remove because SPDX doesn't have it too. Without a title or the help of github, I suppose, people can't understand what the license it is. If add a title to the license, github shows it as `Other`. T

[2021-07-15 00:50] mlinksva commented on #837
Could you point out where you've seen this?

I've tested locally, and licensee (which GitHub uses) tolerates either `0BSD` or `BSD Zero Clause License` or even `BSD Zero Clause License (0BSD)` added to the top since it knows those are the SPDX ID and name, even though they aren't part of the canonical license text.

I'd rather not make changes to license texts here that aren't reflected in the SPD

[2021-07-15 00:50] #837 closed, assigned to nobody

[2021-07-15 00:54] mlinksva commented on #837
Nevermind, found it at https://github.com/x13a/go-launch/commit/f7e43221ed3e6e4bdcef54a0f3426d1e6f27d10a

I see you had `Zero-Clause BSD (0BSD)`. If instead you used one of the options above, it would have been detected.

[2021-07-15 08:18] x13a commented on #837
Oh. Its is my fault. I have used a title from [opensource.org](https://opensource.org/licenses/0BSD) and have not tried to use SPDX id or name. Thank you very much for the explanation)

[2021-07-19 07:26] balupton commented on #816
How do you expect other licenses to make headway, if the monopolised licenses are the only ones granted listing?

However, if you are stating that all should be listed, however only some should be suggested - then I'm not sure who this suggestion is intended serve, at the end, the license suggested to me, should be the one that meets my checkboxes as a maintainer — if two licenses are equivalent h

[2021-07-27 23:40] MichaelAgarkov opened #839 "Fix the license text in the BSD 4-Clause License"
In the 3rd clause it says:
[code]
Instead of the project name, it should say the name of the creator, so it should say [name] or [fullname] instead of [project].

[2021-08-03 18:43] MichaelAgarkov commented on #839
I created a [pull request](https://github.com/github/choosealicense.com/pull/842)

[2021-08-05 20:57] waldyrious commented on #837
spdx/license-list-XML#1297 has been merged, so perhaps this could be reopened.

[2021-08-06 02:00] #839 closed, assigned to nobody

[2021-08-06 16:29] mlinksva commented on #837
Thanks for the SPDX and followup here #843 PRs. LGTM so I'll go ahead and merge without reopening this.

[2021-08-06 16:33] mlinksva commented on #839
Hi @MichaelAgarkov apologies for not getting to this sooner. I think either works, it's really up to the licensor to stipulate the acknowledgement. I'm agnostic about what the default should be. If anyone else wants to speak up for why it should be changed to `[fullname]` happy to consider merging #842.

[2021-08-06 17:58] waldyrious commented on #839
IMO "project" implies a group, and "fullname" implies an individual. Either possibility is valid for the attribution, depending on the case, but the former sounds more likely to apply to open source projects, which typically (or hopefully) receive contributions from multiple people. For this reason, I'd favor "project" if we had to pick between the two. That said, if there's a more generic term we

[2021-08-06 18:21] waldyrious commented on #837
@mlinksva I'm thinking we should update the usage examples for this license to include at least one that has the title. None of the current ones do:

- [PickMeUp](https://github.com/nazar-pc/PickMeUp/blob/master/copying.md)
- [smoltcp](https://github.com/m-labs/smoltcp/blob/master/LICENSE-0BSD.txt)
- [Toybox](https://github.com/landley/toybox/blob/master/LICENSE)

From a quick search, [gatsbyjs/ga

[2021-08-06 18:29] MichaelAgarkov commented on #839
Yeah, I agree. It's fine then, thank you for explaining.

[2021-08-10 19:17] mlinksva commented on #837
@waldyrious I don't feel strongly, am basically fine with 3 examples that can be copied without leading users astray and from projects that have some level of popularity/maintenance/renown and ideally from different maintainers and languages. So I don't think any changes are necessary but if you want to fine-tune, perhaps including an example with both title and notice, one with neither, and one w

[2021-08-12 23:57] beantaco opened #847 "The "state changes" license condition wording is too vague"
The wording of the license condition "state changes" is too vague.
https://choosealicense.com/appendix/#document-changes

Does this mean anyone who modifies material must provide a diff from an unmodified version, provide a list of each change, or simply state when the most recent change was made? My reading of this made me (incorrectly) believe anyone who modifies code must maintain a list of cha

[2021-08-13 08:31] TejasAvinashShetty opened #848 "Add LaTeX Project Public License"
See http://www.latex-project.org/lppl.txt

[2021-08-13 14:07] mlinksva commented on #848
Already cataloged in this repo https://choosealicense.com/licenses/lppl-1.3c/

[2021-08-13 14:07] #848 closed, assigned to nobody

[2021-08-13 19:29] waldyrious commented on #837
That sounds perfect. I'll submit a PR.

Btw, interestingly, the first two of the existing examples don't seem to be detected by licensee (the header isn't shown in GitHub). I suppose the title might give the matcher additional confidence.

[2021-08-13 19:32] mlinksva commented on #837
The LICENSE files of the first two existing examples simply haven't been changed (thus re-detected) since 0BSD became known to licensee, thus aren't being shown in the GitHub UI. Licensee can definitely detect them (or tests in this repo would fail 😄 ).

[2021-08-13 19:32] waldyrious commented on #837
Ah, that's reassuring. I was indeed a little puzzled by the difference in detection.

[2021-08-19 12:22] romain-jacob commented on #33
People here may find this repo interesting as a work-around for CC licenses on GitHub:
https://github.com/santisoler/cc-licenses

[2021-08-21 22:30] nytpu opened #853 "Adding hardware licenses to Non-Software Licenses"
Adding an open hardware license section to the Non-Software licenses page is very beneficial, especially since there seems to be a lot of outdated and fragmented information about them on google.

It looks like bigger open hardware companies like Adafruit and Sparkfun use the CC BY-SA for most of their stuff, but I think the [CERN OHL v2](https://ohwr.org/project/cernohl/wikis/home) family of lice

[2021-08-23 19:36] mlinksva commented on #853
Those searches are overly inclusive, they obviously include a lot of non-CERN-OHL-* materials. Here are searches probably unique to each license, for github.com anyway:

* https://github.com/search?q=%22this+CERN-OHL-P%22+filename%3ALICENSE&type=Code (162 results)
* https://github.com/search?q=%22this+CERN-OHL-W%22+filename%3ALICENSE&type=Code (77)
* https://github.com/search?q=%22this+CERN-OHL-S%

[2021-08-23 19:40] mlinksva commented on #847
I take "state" and "documented" to be general rather than vague 😆 but happy to consider other language that doesn't imply detailing changes.

IIRC the GPLv3 requirement is similar in spirit to most other licenses with this condition, with the exception of Artistic-2.0, LPPL-1.3c, and maybe Vim.

[2021-08-28 05:55] Bigcuz420 opened #855 "ehhhm the text is not updated yet I think and some other stuff needs some adjustments"
ehhhm the text is not updated yet I think and some other stuff needs some adjustments

_Originally posted by @Pukimaa in https://github.com/github/choosealicense.com/issues/833#issuecomment-898670553_

[2021-08-28 15:06] #855 closed

[2021-09-11 16:13] MichaelAgarkov commented on #804
Dark mode was added, and it works for me. As I understood it turns itself on if your default system theme is dark

[2021-09-11 16:40] Pukimaa commented on #804
Yes it does

[2021-09-17 19:15] xenoterracide opened #863 "Add Artistic 2.0"
Title says it all? I'd like to see Artistic 2.0 added, one benefit of this license is that it says explicitly that you may not change the text of the license.

[2021-09-17 19:21] mlinksva commented on #863
It's been cataloged here since the beginning of this site/repo, or very nearly so https://choosealicense.com/licenses/artistic-2.0/

[2021-09-17 19:21] #863 closed, assigned to nobody

[2021-09-17 19:31] xenoterracide commented on #863
I don't see it here https://choosealicense.com/licenses/, which is why I created this, so perhaps that can be fixed? because I couldn't find it.

[2021-09-17 19:40] nschonni commented on #863
It's on the [appendix](https://choosealicense.com/appendix/) linked to at the top of that page

[2021-09-22 11:56] sskras commented on #816
Quoting 2:

Just wrote to <licensing@fsf.org> an application to review the `BlueOak-1.0.0`.

[2021-09-28 20:01] Luckystrike25 opened #865 "Dai contract"
0x504209d4525c79ab82374074ac1750e345ce0f5367262e691007ebf0d04912c6

[2021-09-28 20:02] Luckystrike25 commented on #865
--- title: MIT License spdx-id: MIT featured: true hidden: false description: A short and simple permissive license with conditions only requiring preservation of copyright and license notices. Licensed works, modifications, and larger works may be distributed under different terms and without source code. how: Create a text file (typically named LICENSE or LICENSE.txt) in the root of your source

[2021-10-04 07:20] char0n opened #871 "Extending the instructions for applying Apache 2.0 license"
Hello,

First of all, thank you for the project! I've been wondering if you'd be interested in PR which extends the instructions for application of Apache 2.0 license. I went through a research and I've written an article which clarifies couple of things around Apache 2.0 license. The PR would contain the information from the article.

https://vladimirgorej.com/blog/how-to-apply-apache2-license-to

[2021-10-06 10:21] sskras commented on #816
I received the `[gnu.org #1760802]` ticket there.
GNU volunteer <[ineiev](mailto:ineiev@gnu.org)> updated state of the review on 30 Sep 2021:

[2021-10-09 12:47] LoganTann commented on #68
Any update in this issue ? It's opened since 2013, and I'd love to see a french translation of this website !

[2021-10-09 23:24] mlinksva commented on #68
Thanks for the ping @LoganTann. Nothing concrete, though totally coincidentally a couple days ago a colleague and I discussed pairing on this, so please continue to watch this issue and thanks for your patience.

[2021-10-09 23:29] mlinksva commented on #871
Depends on what you have in mind. If you have a _concise_ patch for the `how:` or `note:` fields I'm happy to consider it, though no promises.

Thanks for pointing out https://infra.apache.org/licensing-howto.html and the end of your post. Might be worth considering linking that.

[2021-10-31 17:07] mlinksva commented on #804
Fixed by #833

[2021-10-31 17:07] #804 closed, assigned to nobody

[2021-11-14 13:46] char0n commented on #871
Hi @mlinksva,

Well linking the article would be best. It describes the common patterns of Apache 2.0 miss-application a provides a guideline how to apply the Apache 2.0 license properly

At least adding https://infra.apache.org/licensing-howto.html, to `how` field would be great. Not many people are aware of this document and a lot of wrong assumptions and made because of this. I can issue a PR i

[2021-11-18 14:56] temalcode opened #904 "Use relative units for fonts (rem, em)"
Hello,

I see that this website uses pixel values on "application.scss" file. I suggest to convert pixel values used for fonts and spacing to relative fonts like "rem'" or "em". This will lead to accessibility of the site and rank higher on Google.

Thank you

[2021-11-19 20:43] mlinksva commented on #904
I'm not very familiar but guess this is documented/recommended in places like https://www.w3.org/WAI/WCAG21/quickref/?showtechniques=144#resize-text ?

I'd welcome a pull request that implements this best practice.

[2021-11-19 20:45] mlinksva commented on #871
@char0n OK such a PR would be welcome.

[2021-11-23 11:51] char0n commented on #871
@mlinksva PR has been issued https://github.com/github/choosealicense.com/pull/905

[2021-12-04 20:31] mlinksva commented on #871
https://github.com/github/choosealicense.com/pull/905#issuecomment-986088515

[2021-12-04 20:31] #871 closed, assigned to nobody

[2021-12-13 20:43] Mart-Bogdan opened #908 "Please add GPL v2"
Why there are no GPLv2 on this site?

It's still a widely used license, for example by Linux Kernel and Telegram.

[2021-12-13 20:45] nschonni commented on #908
Duplicate of https://github.com/github/choosealicense.com/issues/783

[2021-12-13 20:49] Mart-Bogdan commented on #908
Oh I see now. it is present on this URL https://choosealicense.com/licenses/gpl-2.0/

it's just not on /licenses/

That's good. thanks for your effort.

[2021-12-13 20:49] #908 closed, assigned to nobody

[2021-12-21 14:05] sema0703 commented on #713
https://github.com/github/choosealicense.com/blob/spdx-license-templates/_data/fields.yml

[2021-12-21 15:22] arcogabbo opened #909 "spdx_id mismatching"
Visiting https://spdx.org/licenses/ i saw a mismatch between github REST API identifiers and SPDX ones.
For example GPLv3 has "GPL-3.0-only" as identifier on SPDX but fetching url `https://api.github.com/licenses/gpl-3.0-only` gives error 404. Also the url `https://api.github.com/licenses/gpl-3.0` gives a spdx_id field of `GPL-3.0` instead of `GPL-3.0-only`.

[2021-12-24 20:01] mlinksva commented on #909
GPL-3.0 could be -only or -or-later, in both cases, GPL-3.0 is still accurate as the material may be used under that license. The texts aren't any different.

[2021-12-24 20:01] #909 closed, assigned to nobody

[2021-12-26 22:47] sema0703 opened #913 "It"
chrome-distiller://e36045cf-dfce-4855-a1be-445547fd1f81_1bdfdfa402c862bdc4b85d36c962aa09ed27ee675c68df29ab80e58bebb1e42a/?title=Senior+Software+Engineer%2C+Archiving+%26+Data+Services+-+Remote&url=https%3A%2F%2Fapp.trinethire.com%2Fcompanies%2F32967-internet-archive%2Fjobs%2F46292-senior-software-engineer-archiving-data-services-remote

[2021-12-27 15:15] arcogabbo commented on #909
But in the spdx licenses list page i linked you, the spdx_id that github uses for gpl is deprecated (see bottom of the page). I'm writing a software that uses spdx identifiers and seeing github using some deprecated spdx identifiers is quite annoying. I hope this can be fixed.

[2022-01-01 20:12] erc20pixel opened #919 "Please help with license. My goal is that everyone is treated fairly and has the same chance to bring to this earth love and positive change. Absolutely no negative intentions ALLOWED"

[2022-01-01 20:54] #919 closed

[2022-01-01 21:26] erc20pixel opened #920 "Release my licence"

[2022-01-01 21:26] erc20pixel commented on #920
Release licence

[2022-01-03 01:51] erc20pixel opened #923 "Upland"
chrome-distiller://e9b09ccd-60f9-43ba-91ab-e488b4e00d84_7c5e2a85cd8a1d560c1538820b3f344f30828cf5759bf0778d5f041fe6776024/?title=Uphold+pricing+policy+%E2%80%93+Uphold+Help+Center&url=https%3A%2F%2Fsupport.uphold.com%2Fhc%2Fen-us%2Farticles%2F360038604752

[2022-01-03 01:51] erc20pixel commented on #923
[]()

[2022-01-03 01:52] erc20pixel commented on #923
@Erc20pixel

[2022-01-03 01:52] erc20pixel commented on #923
- - [ ] ![FII37qjWUAEZhWN.jpeg](https://user-images.githubusercontent.com/77096768/147895062-f520dbef-6074-4da6-bf53-647715e2827e.jpeg)

[2022-01-05 20:31] erc20pixel opened #927 "Debug"
https://github.com/binance/binance-spot-api-docs/blob/api_order_count/.gitignore

[2022-01-05 20:42] erc20pixel opened #928 "Gnugnu"
https://github.com/binance/binance-api-swagger/releases/tag/v1.1.0

[2022-01-13 19:01] KenG-pro opened #930 "slow moving"

[2022-01-13 19:25] #930 closed

[2022-01-15 07:36] hellbill opened #931 "1057 (1080×2400)"
![354fe8335368c73bc0c7a0c259eee02112443cfc.jpeg](https://user-images.githubusercontent.com/77804079/149613836-94fbe796-31e4-499d-adb4-46095b30698f.jpeg)

[2022-01-15 08:35] Tyler887 commented on #928
@github, immediately delete this issue.

[2022-01-15 08:38] Tyler887 commented on #923
@github, this shall be deleted. I am not telling others whether it was reported by me or not, for privacy reasons.

[2022-01-16 08:52] vhscom opened #932 "Add Server-Side Public License (SSPL)"
https://www.mongodb.com/licensing/server-side-public-license
https://spdx.org/licenses/SSPL-1.0.html

This license is notable enough to have its own Wikipedia page so it should probably be added here too. Please note this license is the spiritual succesor to AGPLv3 and also based on GPLv3 with a modified section 13 to explicitly prevent what AGPL tried to in the first place:

![Screenshot from 202

[2022-01-16 10:08] Tyler887 commented on #932
@vhscom, this license is not osi nor fsf approved. For open source network services I recommend the AGPL which **is** FSF approved. Read the [contributing guidelines](https://github.com/github/choosealicense.com/blob/20d853259a9412aa7a0d6f6d9bc0f098f38266d9/CONTRIBUTING.md).

[2022-01-18 20:21] #932 closed, assigned to nobody

[2022-01-20 21:24] riskable opened #933 "Missing license option for software that generates hardware"
What sort of license would be appropriate for something like https://github.com/riskable/void_switch ?  It's software that generates hardware (3D printable objects).  I want it to be free for non-commercial use (businesses have to pay) and to require that changes/forks remain open source.

If I made it say, GPL then businesses could use the software freely to 3D print and sell the switches without

[2022-01-22 22:13] mlinksva commented on #933
I don't know that a license to do exactly what you describe exists.

CC-BY-NC-SA is kind of like that, but not exactly, since NC is not technically open, and doesn't require source. 😄

Might depend on what you mean by "generated by the software"; not sure how analogous your project is to any other [open] hardware design project where the "software" is the "design" or you have something unique. I'd

[2022-01-22 22:13] #933 closed, assigned to nobody

[2022-01-23 04:46] vhscom commented on #932
Thanks for considering the inclusion of the SSPL license. While it may not conform to the OSI or FSF definitions of "approved" licenses it's intention is to protect users from gaps in AGPL. Sometimes it's necessary to break the mold in order to improve the future.

[2022-01-23 04:46] vhscom commented on #932
Thanks for considering the inclusion of the SSPL license. While it may not conform to the OSI or FSF definitions of "approved" licenses its intention is to protect users from gaps in AGPL. Sometimes it's necessary to break the mold in order to improve the future.

[2022-02-23 18:20] #904 closed, assigned to nobody

[2022-03-08 03:26] samusz commented on #68
So how should go about starting a translation, eg for the French language ?

Licence issues need to get wider audience ; I believe l10n of this project is a good way to
start this process.

[2022-03-15 14:28] MrRawes opened #944 "add BSD-2-Clause Plus Patent License"
https://spdx.org/licenses/BSD-2-Clause-Patent.html
(Duplicate of #603)

[2022-03-15 16:12] mlinksva commented on #944
Please continue to progress in #603

[2022-03-15 16:12] #944 closed, assigned to nobody

[2022-03-24 18:50] Wallby opened #946 "No LGPL-2.0"
E.g. [gtk 3 is licensed w. the library GPL](https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/COPYING) so it seems relevant.

[2022-03-24 22:56] mlinksva commented on #946
Yes https://choosealicense.com/licenses/lgpl-3.0/

[2022-03-24 22:59] mlinksva commented on #946
Oh I see you mean LGPL-2.0 prior to being renamed "Lesser"; fine with me to add, feel free to submit a PR.

[2022-04-01 19:53] karam72 commented on #238
It could be great if you can include Warranty disclaimers/liability term with one simple sentence.

[2022-04-01 19:55] karam72 commented on #805
What is happening when I don't put any license on my project?

[2022-04-01 20:22] Aspie96 commented on #805
@karam72 if you are the copyright holder of a project (you automatically are if you are the author) then there are certain things only you can do, and are illegal for everyone else without your authorization.

A license is that: an authorization. It allows others to do those things, subject to the conditions of the license.

So if you don't add a license to your project than all rights are reserve

[2022-04-02 20:01] mlinksva commented on #805
@karam72 we have a [page](https://choosealicense.com/no-permission/) for that question, though @Aspie96's answer above is more concise.

Related to the main topic of this issue, yesterday there was a [largish discussion](https://news.ycombinator.com/item?id=30885078) of MIT-0 and other instruments mentioned above.

[2022-04-06 15:15] Suriyakaenjanya opened #980 "Kaenjanya"
Kaenjanya

[2022-04-06 15:41] #980 closed

[2022-04-25 21:06] mlinksva commented on #822
The version of Jekyll being used by GitHub Pages no longer uses pathutil https://github.com/envygeeks/pathutil/pull/5#issuecomment-1109033080=

[2022-04-25 21:06] #822 closed, assigned to nobody

[2022-04-26 13:52] jamesgeddes opened #983 "Add OGL"
Could the [OGL](https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/) be added to GitHub?

I am happy to contribute this if others are happy for me to proceed.

[2022-04-26 14:00] nschonni commented on #983
https://github.com/github/choosealicense.com/blob/gh-pages/CONTRIBUTING.md#adding-a-license

[2022-04-26 14:54] #983 closed, assigned to nobody

[2022-04-28 06:54] ghoul652 opened #985 "https://etherscan.io/address/0x17e347aad89B30b96557BCBfBff8a14e75CC88a1#code#L1"

[2022-05-04 17:02] ghoul652 opened #986 "Copyright © https://t.me/legalmuidem"
~~[]()![Screenshot_20220504-050127.png](https://user-image@Amarcellos.githubusercontent.com/103838290/166740339-793776bc-9f9e-4b02-8066-97632283c460.png)~~[]()[]() jcrosier26@gmail.com~~~~

[2022-05-04 19:19] ghoul652 opened #987 "> []()@![Screenshot_20220504-120850.png](https://user-images.githubusercontent.com/103838290/166741867-7120af4d-414b-43ec-99ad# -11f7ce8cb60c.png)~~~~~~~~~~~~~~~~~~~~**_[]- ()_**~~~~~~~~~~~~~~~~~~~~https://t.me/legalmuidem/9https://telesco.pe/legalmuidem/8https://t.me/legalmuidem g1tyMrl3pPxSpytjJ6tcuHBpyfRxCmnsTOLzbvWathjUqkfJi7jY"
Please
~~[]()~~

_Originally posted by @ghoul652 in https://github.com/github/balanced-employee-ip-agreement/issues/88#issuecomment-1117721083_

[2022-05-05 01:07] ghoul652 opened #988 "@ghoul652/VaporFacebookBot"
https://github.com/renproject

[2022-05-06 03:18] ghoul652 opened #989 "Perfecticity)@ghoul652 [bot] pr:"
https://discord.gg/xZXe6xgg[]()

[2022-05-06 21:24] ghoul652 opened #990 "universal music grouPPP"
- [x] # [](j)~~~~[]()[]()[]()[]()[]()[]()[]()

[2022-05-08 17:51] MrRawes commented on #805
just wondering where in the unlicense does it grant patent use

[2022-05-09 01:08] ghoul652 opened #992 "https://t.me/legalmuidem/53https://t.me/legalmuidem/54"
Kristina Lambert
Jennifer Crosier
Sponsored j52trecs the whole way.[]- [ ] - ()~~![Screenshot_20220508-183234.png](https://user-images.githubusercontent.com/103838290/167324381-4d89f8ba-a8d7-4076-aa7c-0a9f435fcbe8.png)~~

[2022-05-09 11:29] landley commented on #805
On 5/8/22 12:51, MrRawes wrote:

The advantage of copyleft was that it let you stop thinking about licensing.
Unfortunately, that was a "there can be only one" situation, and once GPLv3 cut
off GPLv2's head the resulting lighting show poisoned the entire space.

The advantage of public domain equivalent licensing is it lets you stop thinking
about licensing because you can relicense AFTER THE FACT

[2022-05-17 13:01] Adicz345 commented on #992
0xa0b9bb05da11e3b19ffd64554400f59d4a378515

[2022-05-17 13:02] Adicz345 commented on #985
0xa0b9bb05da11e3b19ffd64554400f59d4a378515

[2022-05-17 13:02] Adicz345 commented on #985
[]()@Adicz345

[2022-05-20 16:50] Kamranwew70 opened #996 "Homt"

[2022-05-20 16:51] #996 closed, assigned to nobody

[2022-05-23 17:52] ghost opened #997 "Switching GNU GPLv3 to GNU AGPLv3 on the main page"
Currently the license mentioned under the "I care about sharing improvements" situation is the GNU GPLv3. While this may seem like the right choice for most who fit this situation, some people who use this license [regret doing so and would have used the GNU AGPLv3 instead if they knew about it](https://github.com/dani-garcia/vaultwarden/discussions/1681#discussioncomment-715320) and due to it bei

[2022-05-28 01:40] #985 closed

[2022-05-28 01:40] #986 closed

[2022-05-28 01:40] #987 closed

[2022-05-28 01:40] #988 closed

[2022-05-28 01:40] #989 closed

[2022-05-28 01:40] #990 closed

[2022-05-28 01:40] #992 closed

[2022-06-01 12:16] Dong1999heo opened #998 "Pol"

[2022-06-01 12:16] Dong1999heo commented on #998
Clm

[2022-06-01 14:58] #998 closed

[2022-06-04 18:56] osfanbuff63 commented on #997
Personally, I think the best way to take care of this is to use "I care about sharing improvements? Use the GNU GPL v3 or the AGPLv3!", with the differences outlined.

[2022-06-04 19:15] mlinksva commented on #997
By the same token, "simple and permissive" should recommend Unlicense/0BSD/MIT-0 rather than MIT. But, the the options on the home page are also cognizant of existing practice (and that's why the first/left option is the first) and these licenses (unconditional and network copyleft) are still relatively marginal. Happy to revisit at some point in the future.

[2022-06-04 19:15] #997 closed, assigned to nobody

[2022-06-04 19:23] mlinksva commented on #816
Since I just made a [similar point](https://github.com/github/choosealicense.com/issues/997#issuecomment-1146671601) on another issue let me agree with @Aspie96's point:

Like I wrote a year ago:

Feel free to submit a PR.

Closing this issue as changing "recommendation" is a long way off.

[2022-06-04 19:23] #816 closed, assigned to nobody

[2022-06-05 10:18] ghost commented on #997
Many people when they click on the licenses from the homepage, just read the summany with the coloured dots at the top of the page, especially with licenses with lots of text, such as the GPLv3. What this means is that when people look at the coloured dots, they can see the conditions, permissions and limitations that act upon that license, but because it does not display what conditions, permissi

[2022-06-05 17:03] mahmodalimohamadi opened #1002 "I think the license data comes from https://github.com/spdx/license-list"
I think the license data comes from https://github.com/spdx/license-list

_Originally posted by @bkeepers in https://github.com/github/choosealicense.com/issues/489#issuecomment-284271101_

[2022-06-10 17:49] #1002 closed, assigned to nobody

[2022-06-24 19:38] nickserv opened #1007 "Consider replacing MIT with ISC"
I know the name MIT is more popular, but from what I understand these licenses are legally equivalent, and I think it's easier to use the ISC because it's shorter and more direct.

FWIW npm has also been using it by default, and I also use it for my repositories.

[2022-06-26 02:26] mlinksva commented on #1007
But MIT is still far more popular even for npm. Of course you should use it but the benefit of saving a few words in the text is far outweighed by much stronger recognition for a general audience.

[2022-06-26 02:26] #1007 closed, assigned to nobody

[2022-07-09 18:55] #853 closed, assigned to nobody

[2022-07-29 22:50] 89z opened #1015 "add NonCommercial license"
It seems the current list:

https://choosealicense.com/appendix

does not offer a NonCommercial license. Examples:

- https://creativecommons.org/licenses/by-nc/4.0/legalcode.txt
- https://polyformproject.org/licenses/noncommercial

These type licenses are unpopular and have downsides, but regardless, I think at least one should be on the list. People should be able to make an informed choice of w

[2022-07-31 05:36] nschonni commented on #1015
https://github.com/github/choosealicense.com/blob/gh-pages/CONTRIBUTING.md#adding-a-license

[2022-07-31 17:17] mlinksva commented on #1015
Yeah, as the link @nschonni points to says, they are currently out of scope for the project.

[2022-07-31 17:17] #1015 closed

[2022-07-31 17:33] 89z commented on #1015
@mlinksva not sure how you were able to reach that conclusion:

https://spdx.org/licenses/CC-BY-NC-4.0.html

https://www.gnu.org/licenses/license-list.en.html#CC-BY-NC

https://github.com/search?q=filename%3ALICENSE+NonCommercial+&type=Code

[2022-07-31 17:41] mlinksva commented on #1015
2. Each of those lists preclude NC.

[2022-08-04 00:41] 89z commented on #1015
previous comment from @mlinksva is correct. For anyone interested, I found another one as well:

https://fair.io

[2022-08-13 09:04] rdehuyss opened #1017 "Support for Climate Strike License?"
Hi - thanks for this great initiative.

I would like to relicense my project [JobRunr](https://github.com/jobrunr/jobrunr) to LGPL with the addition of the climate strike addendum.

What is the climate strike license:

The idea would be that companies that are still interested in using JobRunr would pay for using the software. That money would go to charity projects like https://teamtrees.org/.

I

[2022-08-13 15:45] nschonni commented on #1017
https://github.com/github/choosealicense.com/blob/gh-pages/CONTRIBUTING.md#adding-a-license

[2022-08-13 20:23] mlinksva commented on #1017
Out of scope for this project, read the link Nick posted above.

To make the concept more consumable by meta-licensing projects like this though, I'd suggest contributing to fixing https://github.com/climate-strike/license/issues/21

[2022-08-13 20:23] #1017 closed, assigned to nobody

[2022-08-21 06:21] alfiomy opened #1019 "I'd be interested in having a go at this, but is there an idea as to how to handle columns that have more than two possibilities (yes/no) being filtered?"
I'd be interested in having a go at this, but is there an idea as to how to handle columns that have more than two possibilities (yes/no) being filtered?

One possibility, that lacks some of the elegance of @sebbes333 solution, would be to use a filter button along with a modal popup.
* In cases where there are only two possibilities (yes or no) a user can select one or none.
* In cases where ther

[2022-08-21 13:38] FredQSWang opened #1020 "Need Attribution-NonCommercial-ShareAlike 4.0 International"
_Attribution-NonCommercial-ShareAlike 4.0 International (**CC BY-NC-SA 4.0**)_

I'm very sorry. I need [_Attribution-NonCommercial-ShareAlike 4.0 International_](https://creativecommons.org/licenses/by-nc-sa/4.0/) on my Github.
I hope you can add it to your website. I think you can do it.
Many thanks.

[2022-08-21 14:18] nschonni commented on #1020
Probably a duplicate of https://github.com/github/choosealicense.com/issues/481, but if you want a license added https://github.com/github/choosealicense.com/blob/gh-pages/CONTRIBUTING.md#adding-a-license

[2022-08-21 15:20] #1019 closed, assigned to nobody

[2022-08-21 15:24] mlinksva commented on #1020
No need to apologize. Out of scope for this project per the link Nick posted, but you can use whatever license you want, as you've done https://github.com/TangelScratchStudio/TangelStudio-OfficialWeb/blob/57524dc5734990203c2f08bebde8b42551d3c2cc/LICENSE (though note you've specified a different CC license in that project's README; I'd guess you'd want those to match).

[2022-08-21 15:24] #1020 closed, assigned to nobody

[2022-08-24 09:23] alfiomy opened #1021 "Ok"
Ok

_Originally posted by @Hiwko7879 in https://github.com/github/choosealicense.com/pull/918#pullrequestreview-1071884760_

[2022-08-24 10:26] alfiomy opened #1022 "Fff"
https://github.com/alfiomy/alfiomy/commit/5648f9cf29a3fdaf6c6d0ccd5106db98fc72b515

[2022-08-24 13:30] alfiomy commented on #389
Good

[2022-08-24 23:07] alfiomy opened #1023 "Yuy"
https://github.com/alfiomy

[2022-08-24 23:27] #1023 closed, assigned to nobody

[2022-08-24 23:27] #1022 closed, assigned to nobody

[2022-08-24 23:28] #1021 closed, assigned to nobody

[2022-08-25 00:23] alfiomy opened #1024 "No"
https://etherscan.io/token/0x426ca1ea2406c07d75db9585f22781c096e3d0e0#writeContract

[2022-08-25 18:52] #1024 closed, assigned to nobody

[2022-08-26 05:49] alfiomy opened #1026 "Remix"
https://github.com/OpenZeppelin/openzeppelin-solidity/blob/67bca857eedf99bf44a4b6a0fc5b5ed553135316/contracts/access/Roles.sol

[2022-08-26 20:18] alfiomy opened #1027 "https://geth.ethereum.org/docs/install-and-build/installing-geth"
https://geth.ethereum.org/docs/install-and-build/installing-geth

[2022-08-26 22:12] wxolp commented on #1015
https://github.com/golang/go/issues/54683

[2022-09-04 07:50] akubaragas opened #1029 "Terminated"

[2022-09-04 22:45] #1029 closed, assigned to nobody

[2022-09-12 04:21] ghost opened #1031 "OSL 3.0 should be Same license (library) instead of Same license"
The problem with Open Software License 3.0 license document is that it does not explain important terminologies, so one has to also refer to[ Lawrence Rosen's website](https://rosenlaw.com/OSL3.0-explained.htm) to fully understand this license.

§ 1(c) in the document says:

But what is "Derivative Works"? § 1(b) in the document says:

This is informative, but does not tell us if a larger project

[2022-09-14 10:09] brylie opened #1032 "Cannot propose new LICENSE file in PR for repost without write permission despite forking"
When trying to open a license pull request on projects that I don’t own, I have encountered the following error.

At that point, I am unable to propose the new file since the primary repository is still selected instead of my fork, which was automatically created. How can I select my fork instead of the primary repository so I can submit the pull request?

Steps to reproduce

1. choose a repositor

[2022-09-14 15:04] mlinksva commented on #1032
Thanks, I'm able to reproduce this. Seems like step 6 is a behavior (presumably a bug) that did not occur at some point in the past. I'll see what I can figure out.

In the meantime you could just go to the target repo, click "add file", name the file LICENSE, paste in the relevant license text -- and the "propose new file" button will be green (also just tested). That's all the steps above _shoul

[2022-09-23 14:45] MaddyGuthridge opened #1033 "Provide more clarity about the virality of GPL, in particular with respect to libraries"
If someone creates a library that can be used by others in their projects and that library uses a GPL license, any code that links to that library must also be GPL. Although this is briefly mentioned in the description of the GPL licenses, it could be worded a little more clearly, and perhaps link to the equivalent LGPL licenses, which have an exception for linking (which is useful for software li

[2022-09-24 21:54] Pukimaa commented on #946
The official name is "GNU Library General Public License v2 **or later**". So I guess the rules of LGPL3 and 2 are the same?

[2022-09-26 00:45] mlinksva commented on #1033
Feel free to make a concrete suggestion. The current descriptions which one can see all at once for a range of licenses at https://choosealicense.com/licenses/ aim to be accurate, brief, and neutral, which is challenging. "Viral" for example would not be considered neutral. 😆

[2022-09-26 00:45] #1033 closed, assigned to nobody

[2022-09-26 00:46] #1027 closed, assigned to nobody

[2022-09-26 04:42] mlinksva commented on #1031
`same-license - Modifications must be released under the same license when distributing the software. In some cases a similar or related license may be used` as used here is intentionally broad. `--library` and `--file` are used where the license is question is explicit.

[2022-09-26 04:42] #1031 closed, assigned to nobody

[2022-09-26 04:43] #1026 closed, assigned to nobody

[2022-10-11 03:51] Dadkilll commented on #703
https://github.com/alfiomy

I thinks just put none license or mit licences

[2022-10-12 16:11] darkmorpher commented on #636
RE: @mlinksva

(If still an issue) As a test case, Can you add one of these [GitHub Actions](https://github.com/marketplace?type=actions&query=File+diff) to compare plaintext license and spdx data files in a new branch? Granted, all required files will have to be copied there too and repo will end up with duplicate files.

<p><details><summary>↔️ Spoiler (Click here)</summary></p>

(Previous discu

[2022-10-16 01:59] gorset666 opened #1047 "Forblitz"
https://github.com/github/choosealicense.com/issues/1047#tasklist-block-6b85ba16-9988-4131-95cd-a1fc4a553135

[2022-10-16 02:03] gorset666 commented on #1047
[]()

[2022-10-16 02:04] gorset666 commented on #1047
#1034

[2022-10-16 02:13] #1047 closed

[2022-11-02 08:41] S1983tt opened #1056 "> This is a test issue created by the REST API"
_Originally posted by @bitcras in https://github.com/octocat/Spoon-Knife/issues/28428#issuecomment-1296103269_

[2022-11-13 21:02] Omidjamali023 commented on #314
Very Nice

[2022-11-23 00:32] DimaJah opened #1060 "Install and Win 10$"
Ethereum 2.0 | Cloud Mining app for Free Download from here

http://play.google.com/store/apps/details?id=com.ethereum.cloudmining.etherminer

earn free $10 worth of ethereum instantly when you're using my invitation code

My Code is: Ee1Y42